<app-nav></app-nav>
<div class="animate__animated animate__fadeIn animate__delay-1s">

  <div class="content">
    <div class="content-left">
      <span class="inter-bold title">
        Laboratories
      </span>
      <div class="img-float"></div>

      <ul style="margin-left: 50px; margin-top: 50px; line-height: 1.5;">
        <li>Biological Oceanography and Modeling of Ecosystem Laboratory</li>
        <li>Marine Biogeochemistry Laboratory</li>
        <li>Community Ecology Laboratory</li>
        <li>Coral Reef Ecology Laboratory</li>
        <li>Ecosystem Dynamics Laboratory</li>
        <li>Fish Ecology Laboratory</li>
        <li>Geological Oceanography Laboratory</li>
        <li>Harmful Algal Bloom Laboratory </li>
        <li>Interactions of Marine Bionts ang Benthic Ecosystems Laboratory</li>
        <li>Marine Chemistry and Pollution Laboratory</li>
        <li>Marine Genomics and Molecular Genetics Laboratory</li>
        <li>Marine Invertebrate Ecology Laboratory</li>
        <li>Marine Molecular Biology Laboratory</li>
        <li>Marine Molecular Ecology and Evolution Laboratory</li>
        <li>Marine Natural Products Laboratory </li>
        <li>Marine Pharmacognosy  Laboratory</li>
        <li>Marine Phycology Laboratory </li>
        <li>Ocean Color and Coastal Oceanography Laboratory</li>
        <li>Organic and Stable Isotope Geochemistry Laboratory</li>
        <li>Physical Oceanography Laboratory</li>
        <li>Quantitative Genetics Laboratory</li>
        <li>Seaweed Laboratory</li>
      </ul>
    </div>
    <div class="content-right"></div>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
