<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a;">LABORATORIES</p>
      <p class="lab-desc atlas-light">The Marine Science Institute comprises of laboratories that specialize on their own perspective
        field of research. Research is the primary function of the institute. These programs nre geared towards
        generating information for understanding the marine and coastal environment, and planning for their conversation and sustainable use.
      </p>
    </div>
  </div>

  <div class="lab-img1">
    <img src="../../../../assets/photos/lab2.jpg"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">
        <p class="title atlas-bold">PHYSICAL OCEANOGRAPHY</p>
        <span class="bottom-bor"></span>
        <div class="context">
          <p class="atlas-light right-body" [routerLink]="['/Research/laboratories', 'biological-oceanography-and-modeling-of-ecosystem-laboratory']" >
            Biological Oceanography and Modeling of Ecosystem Laboratory
          </p>
          <p class="atlas-light right-body">
            Marine Biochemistry Laboratory
          </p>
          <p class="atlas-light right-body">
            Community Ecology Laboratory
          </p>
          <p class="atlas-light right-body">
            Coral Reef Ecology Laboratory
          </p>
          <p class="atlas-light right-body">
            Ecosystem Dynamics Laboratory
          </p>
          <p class="atlas-light right-body">
            Fish Ecology Laboratory
          </p>
          <p class="atlas-light right-body">
            Geological Oceanography Laboratory
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-image2">
    <img src="../../../../assets/photos/lab1.jpg"/>
    <div class="lab-img2">
      <div class="left2">
        <p class="title atlas-bold">MARINE BIOLOGY</p>
        <span class="bottom-bor"></span>
        <div class="context">
          <p class="atlas-light right-body">
            Harmful Algal Bloom Laboratory
          </p>
          <p class="atlas-light right-body">
            Interactions of Marine Boints and Benthic Ecosystems Laboratory
          </p>
          <p class="atlas-light right-body">
            Marine Chemistry and Pollution Laboratory
          </p>
          <p class="atlas-light right-body">
            Marine Genomics and Molecular Genetics Laboratory
          </p>
          <p class="atlas-light right-body">
            Marine Invertebrate Ecology Laboratory
          </p>
          <p class="atlas-light right-body">
            Marine Molecular Biology Laboratory
          </p>
        </div>
      </div>
      <div class="right2">

      </div>
    </div>
  </div>

  <div class="lab-image3">
    <img src="../../../../assets/photos/lab3.png"/>
    <div class="lab-img3">
        <div class="left1"></div>
        <div class="right1">
          <p class="title atlas-bold">MARINE BIOTECHNOLOGY</p>
          <span class="bottom-bor"></span>
          <div class="context">
            <p class="atlas-light right-body">
              Marine Phycology Laboratory
            </p>
            <p class="atlas-light right-body">
              Ocean Color and Coastal
            </p>
            <p class="atlas-light right-body">
              Oceanography Laboratory
            </p>
            <p class="atlas-light right-body">
              Organic and Stable Isotope
            </p>
            <p class="atlas-light right-body">
              Geochemistry Laboratory
            </p>
            <p class="atlas-light right-body">
              Physical Oceanography Laboratory
            </p>
            <p class="atlas-light right-body">
              Quantitative Genetics Laboratory
            </p>
            <p class="atlas-light right-body">
              Seaweed Laboratory
            </p>
          </div>
        </div>
    </div>
  </div>

    <div class="facilities-next">
      <mat-icon class="arrow">arrow_forward</mat-icon>
      <span style="line-height: 1.3;">
        <p class="atlas-bold">Next</p>
        <p class="atlas-light">FACILITIES</p>
      </span>
    </div>
  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
