<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a;">LABORATORIES</p>
      <p class="lab-desc atlas-light">The UP Marine Science Institute houses laboratories led by some of the country's brightest scientists. With Dr. Deo Florence Onda as the Institute's Deputy Director of Research, twenty-two research groups work together to push the frontiers of marine science. The laboratories fall under three divisions: the Marine Physical Sciences Division (headed by Dr. Caroline Marie B. Jaraula), the Marine Biotechnology Division (headed by Dr. Irene B. Rodriguez), and the Marine Biology Division (headed by Dr. Wilfred John E. Santiañez).
      </p>
    </div>
  </div>
​
  <div class="lab-img1">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628147551/Research/Laboratories/1-division-cover_zl58ul.png"/>
    <!-- <p class="atlas-light photo-by">Photo: Jue Lalas</p> -->
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">
        <p class="title atlas-bold" style="text-transform: uppercase;">Marine Physical Sciences Division</p>
        <span class="bottom-bor"></span>
        <p class="title atlas-bold">Dr. Caroline Marie B. Jaraula</p> <!-- edited12 : edited the name -->
        <p class="sub-title atlas-light">Division Head</p> <!-- edited -->
        <div class="context">
          <div>
            <p class="atlas-light right-body">
              Physical Oceanography
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/the-ocean-color-and-coastal-oceanography-laboratory">
              Ocean Color and Coastal Oceanography
            </p>
            <p class="atlas-light right-body">
              Geological Oceanography
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/Marine-Biogeochemistry-Laboratory">
              Marine Biogeochemistry
            </p>
            <p class="atlas-light right-body active-lab">
              <a href="https://mcpl31.wixsite.com/mcpl" target="_blank">Marine Chemistry and Pollution</a>
            </p>
​
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/organic-and-stable-isotope-geochemistry">
              Organic and Stable Isotope Geochemistry
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
​
  <div class="lab-image2">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628147561/Research/Laboratories/2-division-cover_hgs8t4.png"/>
    <!-- <p class="atlas-light photo-by">Photo: UP MRO</p> -->
    <div class="lab-img2">
      <div class="left2">
        <p class="title atlas-bold" style="text-transform: uppercase;">Marine Biotechnology Division</p>
        <span class="bottom-bor"></span>
        <p class="title atlas-bold">Dr. Irene B. Rodriguez</p> <!-- edited12 : edited the name -->
        <p class="sub-title atlas-light">Coordinator</p> <!-- edited -->
        <div class="context">
          <div>
            <p class="atlas-light right-body">
              Marine Genomics and Molecular Genetics
            </p>
​
            <p class="atlas-light right-body">
              Quantitative Genetics
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/marine-pharmacognosy-laboratory">
              Marine Pharmacognosy
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/protein-biochemistry-and-biotechnology-laboratory">
              Protein Biochemistry and Biotechnology
            </p>
            <p class="atlas-light right-body">
              Inorganic Biogeochemistry and Biotechnology Research
            </p>
          </div>
        </div>
      </div>
      <div class="right2">
​
      </div>
    </div>
  </div>
​
  <div class="lab-image3">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628147550/Research/Laboratories/3-division-cover_l3plq4.png"/>
    <!-- <p class="atlas-light photo-by">Photo: Dr. Michael Roleda</p> -->
    <div class="lab-img2">
      <div class="left3">
        <p class="title atlas-bold" style="text-transform: uppercase;">Marine Biology Division</p>
        <span class="bottom-bor"></span>
        <p class="title atlas-bold">Dr. Wilfred John E. Santiañez</p> <!-- edited -->
        <p class="sub-title atlas-light">Division Head</p> <!-- edited -->
        <div class="context">
          <div class="context-left">
​
            <p class="atlas-light right-body">
              Harmful Algal Bloom Laboratory
            </p>
​
            <p class="atlas-light right-body">
              Community Ecology
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/ecosystem-dynamics">
              Ecosystem Dynamics
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/Interactions-of-Marine-Bionts-and-Benthic-Ecosystems">
              Interactions of Marine Bionts and Benthic Ecosystems
            </p>
            <p class="atlas-light right-body active-lab" [routerLink]="['/Research/laboratories', 'marine-invertebrate-ecology-lab']">
              Marine Invertebrate Ecology
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/coral-reef-ecology-laboratory">
              Coral Reef Ecology
            </p>
            <p class="atlas-light right-body active-lab" [routerLink]="['/Research/laboratories', 'marine-molecular-biology-lab']">
              Marine Molecular Biology
            </p>
          </div>
​
          <div class="context-right">
​
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/Biological-Oceanography-and-Modeling-of-Ecosystem-laboratory">
              Biological Oceanography and Modeling of Ecosystem
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/Marine-Phycology-Laboratory">
              Marine Phycology
            </p>
            <p class="atlas-light right-body active-lab" [routerLink]="['/Research/laboratories', 'microbial-oceanography-lab']">
              Microbial Oceanography
            </p>
            <p class="atlas-light right-body active-lab" routerLink="/Research/laboratories/marine-molecular-ecology-and-evolution-laboratory">
              Marine Molecular Ecology and Evolution
            </p>
            <p class="atlas-light right-body active-lab" [routerLink]="['/Research/laboratories', 'algal-eco-physiology-lab']">
              Algal Eco-Physiology
            </p>
          </div>
        </div>
      </div>
      <div class="right2">
​
      </div>
    </div>
  </div>
​
  </div>
​
  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" routerLink="/Research/Research-projects-and-highlights">
      <p class="atlas-light"><span class="navi">TO RESEARCH PROGRAMS & PROJECTS</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>
​
<div>
  <app-footer></app-footer>
</div>
