.content{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.lab-desc{
  margin-top: 20px;
  line-height: 1.5;
  font-size: 18px;
}

.lab-img1{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

img:hover{
  transform: scale(1.1);
}

.lab-img{
  position: absolute;
  bottom: 8px;
  right: 16px;
  height: 100%;
  width: 40%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.lab-image3{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.lab-img3{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 8px;
  right: 16px;
  height: 100%;
  width: 40%;
  z-index: 1;
}


.right1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right1 .title{
  font-size: 35px;
  color: white;
  width: 80%;
  line-height: 1.3;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

.right1 .right-body{
  width: 70%;
  font-size: 18px;
  line-height: 1.3;
  color: white;
}


.lab-image2{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.lab-img2{
  position: absolute;
  top: 8px;
  left: 16px;
  height: 100%;
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  /* background-image: url('../../../../assets/photos/lab1.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.left2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.left2 .title{
  font-size: 35px;
  color:#384e8a;
  width: 80%;
  line-height: 1.3;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

.left2 .right-body{
  width: 70%;
  font-size: 18px;
  line-height: 1.3;
  color: #384e8a;
}

.facilities-next{
  color: #384e8a;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  gap: 20px;
}
