<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">GRADUATE STUDENTS' NOOK</p>

  <div class="image-content">
    <div *ngFor="let item of vacancies; let i = index;">
      <img [src]="item.image" (click)="moreContent(i)" style="cursor: pointer;">
      <div style="line-height: 1.4;">
        <p class="atlas-bold header" (click)="moreContent(i)">{{item.title}}</p>
        <p class="atlas-light date">{{item.date}}</p>
      </div>
    </div>

  </div>
</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" routerLink="/Academics">
    <p class="atlas-light"><span class="navi">TO RESEARCH</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>


<div>
  <app-footer></app-footer>
</div>
