<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="bebas title">CONTACT US</p>

  <div class="content">
    <div class="left-content">
      <div class="content1">
        <p class="inter-medium address">
          MAILING ADDRESS
        </p>

        <p class="content-address">
          <span style="color: #6abf8c;">The Marine Science Institute</span> <br>
          Velasquez St. <br>
          University of the Philippines <br>
          Diliman, Quezon City 1101 <br>
          Philippines
        </p>
      </div>
      <div class="content2">
        <p class="inter-medium email">
          EMAIL
        </p>

        <p class="content-email">
          msiadmin@msi.upd.edu.ph
        </p>
      </div>
    </div>

    <div class="right-content">
      <p class="inter-medium phone">
        PHONE NUMBERS
      </p>

      <div class="phone-content">
        <p class="content-phone1">
          <span style="color: #6abf8c;">Director's Office</span> <br>
          (632) 922-3962 <br>
          (632) 981-8500 local 2902 <br>
          <br>
          <span style="color: #6abf8c;">Administrative Office</span> <br>
          (632) 922-3959 <br>
          (632) 981-8500 local 2903 <br>
          Fax: (632) 924-7678 <br>
          <br>
          <span style="color: #6abf8c;">Library</span> <br>
          (632) 981-8500 local 2913
        </p>

        <p class="content-phone2">
          <span style="color: #6abf8c;">Bolinao Marine Laboratory</span> <br>
          (63 75) 541 8022 local 102
          <br> <br>
          <span style="color: #6abf8c;">Marine Environment Resources</span> <br>
          Foundation, Inc (MERF): <br>
          Telefax: (632) 433-3645 <br>
        </p>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
