* {
  font-size: 1.171vw;
}

.container{
  margin-left: 9%;
  margin-right: 9%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.container .title{
  font-size: 2.928vw;
  margin-top: 3.660vw;
  margin-bottom: 3.660vw;
  color: #384e8a;
}

.content {
  width: 58.565vw; display: flex;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.banner1 {
  height: 36.603vw;
  background-image: url('https://res.cloudinary.com/dqs7gg03v/image/upload/v1623322137/Contact/01-banner_onm6p4.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; place-items: center;
}

.banner2 {
  margin-top: 3.660vw;
  height: 36.603vw;
  background-image: url('https://res.cloudinary.com/dqs7gg03v/image/upload/v1623322139/Contact/02-banner_ckajnz.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; place-items: center;
}

.footer{
  margin-top: 9%;
}
