<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <p class="atlas-blackReg title">CONTACT US</p>

  <div class="banner1">
    <div class="content">
      <div style="border-right: 1px solid white; width: 33.3%; padding-right: 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <p class="atlas-bold">Mailing Address</p>
        <p class="atlas-light">The Marine Science Institute</p>
        <p class="atlas-light">Velasquez Street</p>
        <p class="atlas-light">University of the Philippines</p>
        <p class="atlas-light">Diliman, Quezon City 1101</p>
        <p class="atlas-light">Philippines</p>
      </div>

      <div style="border-right: 1px solid white; width: 33.3%; padding: 0 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <p class="atlas-bold">Email Address</p>
        <p class="atlas-light">msiadmin@msi.upd.edu.ph</p>
        <p class="atlas-light" style="margin-top: 10%;"><a href="https://www.google.com/maps/d/embed?mid=1roDvEksbZOPbIxlwwN5AJI5WwOs" target="_blank">Directions via Google Maps</a></p>
      </div>

      <div style="width: 33.3%; padding-left: 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <p class="atlas-bold">Administrative Office</p>
        <p class="atlas-light">(632) 922-3959 (632)</p>
        <p class="atlas-light">981-8500 local 2903</p>
        <p class="atlas-light">Fax: (632) 924-7678</p>
      </div>
    </div>
  </div>

  <div class="banner2">
    <div class="content">
      <div style="border-right: 1px solid white; width: 33.3%; padding-right: 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <p class="atlas-bold">Director’s Office</p>
        <p class="atlas-light">(632) 922-3962 (632)</p>
        <p class="atlas-light">981-8500 local 2902</p>
      </div>

      <div style="border-right: 1px solid white; width: 33.3%; padding: 1% 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <a href="https://www.facebook.com/msilib/" target="_blank"><p class="atlas-bold">Library</p>
        <p class="atlas-light">(632) 981-8500 local 2913</p></a>

        <a href="https://sites.google.com/a/msi.upd.edu.ph/bml/" target="_blank"><p class="atlas-bold" style="margin-top: 10%;">Bolinao Marine Laboratory</p>
        <p class="atlas-light">(632) 981-8500 local 2913</p></a>
      </div>

      <div style="width: 33.3%; padding-left: 5%; display: flex; flex-direction: column; line-height: 1.4; color: white; justify-content: center;">
        <a href="https://web.facebook.com/Marine-Environment-and-Resources-Foundation-Inc-412427882751082/" target="_blank"><p class="atlas-bold">MERF | Marine Environment Resources Foundation, Inc.</p>
        <p class="atlas-light">Telefax: (632) 433-3645</p></a>
      </div>
    </div>
  </div>

</div>


<div class="footer">
  <app-footer></app-footer>
</div>
