.container{
  margin-left: 9%;
  margin-right: 9%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.container .title{
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #384e8a;
}

.content {
  width: 800px; display: flex;
}

.hr-line{
  margin: 15px 9% 30px 9%;
}

.banner1 {
  height: 500px;
  background-image: url('https://res.cloudinary.com/dqs7gg03v/image/upload/v1623322137/Contact/01-banner_onm6p4.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; place-items: center;
}

.banner2 {
  margin-top: 50px;
  height: 500px;
  background-image: url('https://res.cloudinary.com/dqs7gg03v/image/upload/v1623322139/Contact/02-banner_ckajnz.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; place-items: center;
}

.footer{
  margin-top: 9%;
}

@media (min-width: 1600px) {
  *{
    font-size: 19px;
  }

  .container .title{
    font-size: 47px;
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .content {
    width: 937px;
  }

  .hr-line{
    margin: 18px 9% 35px 9%;
  }

  .banner1 {
    height: 586px;
  }

  .banner2 {
    margin-top: 59px;
    height: 586px;
  }
}

@media (min-width: 1900px) {
  *{
    font-size: 23px;
  }

  .container .title{
    font-size: 56px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .content {
    width: 1113px;
  }

  .hr-line{
    margin: 21px 9% 42px 9%;
  }

  .banner1 {
    height: 696px;
  }

  .banner2 {
    margin-top: 70px;
    height: 696px;
  }
}
