<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s" style="margin: 15px 120px 30px 120px">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <p class="atlas-blackReg title">CONTACT US</p>

  <div class="content">
    <div class="left-content">
      <div class="content1">
        <img src="../../../assets/photos/map.png" height="400px" width="450px"/>
      </div>
      <div class="content2">
        <div>
          <p class="atlas-bold address">
            Mailing Address:
          </p>

          <p class="content-address">
            <span>The Marine Science Institute</span> <br>
            Velasquez St. <br>
            University of the Philippines <br>
            Diliman, Quezon City 1101 <br>
            Philippines
          </p>
        </div>

        <div>
          <span style="text-decoration: underline; color: #384e8a; font-weight: 100;"> SEE IN MAPS</span>
        </div>

        <div>
          <p class="atlas-bold email">
            Email Address:
          </p>

          <p class="content-email">
            msiadmin@msi.upd.edu.ph
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="office animate__animated animate__fadeIn animate__delay-1s">
  <div class="left">

  </div>

  <div class="right">
    <div class="top-content">
      <div class="office-title atlas-bold">
        <span>
          DIRECTORS'
        </span>
        <span>
          OFFICE
        </span>
      </div>

      <div class="tel-num">
        <span>(632) 922-3962</span>
        <span>(632) 981-8500 local 2902</span>
      </div>
    </div>

    <div class="top-content">
      <div class="office-title atlas-bold">
        <span>ADMINISTRATIVE</span>
        <span>OFFICE</span>
      </div>

      <div class="tel-num">
        <span>(632) 922-3959</span>
        <span>(632) 981-8500 local</span>
        <span>2903</span>
      </div>

      <div class="tel-num">
        <span>Fax: (632) 924-7678</span>
      </div>
    </div>
  </div>
</div>

<div class="lab animate__animated animate__fadeIn animate__delay-1s">
  <div class="left">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div class="top-content">
        <div class="office-title atlas-bold">
          <span>
            LIBRARY
          </span>
        </div>

        <div class="tel-num">
          <span>(632) 981-8500 local 2913</span>
        </div>
      </div>

      <img style="margin-right: 50px;" src="../../../assets/photos/fb2.png" height="50" width="50"/>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div class="top-content">
        <div class="office-title atlas-bold">
          <span>BOLINAO MARINE</span>
          <span>LABORATORY</span>
        </div>

        <div class="tel-num">
          <span>(63 75) 541 8022 local 102</span>
        </div>
      </div>

      <img style="margin-right: 50px;" src="../../../assets/photos/fb2.png" height="50" width="50"/>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div class="top-content">
        <div class="office-title atlas-bold">
          <span>MARINE ENVIRONMENT</span>
          <span>RESOURCES FOUNDATION, INC</span>
          <span>(MERF)</span>
        </div>

        <div class="tel-num">
          <span>(Telefax: (632) 433-3645</span>
        </div>
      </div>

      <img style="margin-right: 50px;" src="../../../assets/photos/fb2.png" height="50" width="50"/>
    </div>
  </div>

  <div class="right">

  </div>
</div>
<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
