<div class="container">
  <img [src]="imgSrc">
  <div class="right">
    <div class="content">
      <p class="atlas-bold title">Sample Title</p>
      <p class="atlas-light context">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, pariatur consectetur architecto voluptatem, provident soluta inventore aperiam esse incidunt, voluptatum vitae facilis saepe ratione minima? Accusamus fugiat accusantium ea, mollitia, atque ut dicta quo sit in eveniet molestiae voluptatem sequi?</p>
    </div>

    <p class="atlas-light photo-by">Photo by: Marine Science Institute</p>
  </div>
</div>
