<app-nav></app-nav>

<div class="container">
  <div class="content-header">
    <img src="../../../../assets/photos/about/admin/01-banner.jpg">
    <div class="left-content">
      <p class="atlas-blackReg title">ADMINISTRATIVE OFFICE</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The UPMSI Admin Group, composed of staff from both the main building complex and the Bolinao Marine Laboratory, provides strong support in addressing administrative functions and needs for research and extension works of UP Marine Science Institute (UPMSI).
      </p>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image"></div>

    <div class="right-content">
      <p class="right-content-p">Composed of dynamic team members headed by the Admin Officer, the UPMSI Admin group continues to support the research and extension team despite the pressing demands of the new normal set-up. To implement the operational administrative needs of the Institute’s research and extension in Diliman and Bolinao Marine Laboratory, we have an admin group in both sites. The administrative group plays an important role in the implementation of externally funded research projects and the marine laboratory alongside executing regular administrative functions of any office in the University. Currently, the admin team works on the implementation of 48 research projects, thereby supporting 146 REPS and graduate students.</p>
    </div>
  </div>

  <p class="right-content-p2">This is done, in addition, to the assistance of 22 Faculty members. The administration staff’s enabling support and adherence to a culture of excellence are major factors in MSI’s continued growth and development.</p>

  <app-admin-msi-staff></app-admin-msi-staff>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>


