<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div class="inter-bold title">
      <p>The MSI in the News</p>
    </div>
    <div style="margin: 20px 120px;">
      <div class="news">
        <div class="first-content">
          <div class="left-fc1">
            <div class="news-left">

            </div>
            <div class="news-right">
              <div style="display:flex; flex-direction: column; gap:5px;">
                <p class="inter-bold" style="color: #6abf8c; font-size: 18px;">
                  Place Your Headline Text Here
                </p>

                <p class="inter-medium" style="color: #94979c; font-size: 10px; line-height: 1.3;">
                  Feb 17, 2020, 10:04 AM by Yvette Geroleo <br>
                  [ Updated Feb 17, 2020, 10:07 AM ]
                </p>
              </div>

              <p class="inter-medium" style="color: #4c515a; font-size: 14px; line-height: 1.3;">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
            </div>
          </div>
          <div class="right-fc1">
            <div class="news-left">

            </div>
            <div class="news-right">
              <div style="display:flex; flex-direction: column; gap:5px;">
                <p class="inter-bold" style="color: #6abf8c; font-size: 18px;">
                  Place Your Headline Text Here
                </p>

                <p class="inter-medium" style="color: #94979c; font-size: 10px; line-height: 1.3;">
                  Feb 17, 2020, 10:04 AM by Yvette Geroleo <br>
                  [ Updated Feb 17, 2020, 10:07 AM ]
                </p>
              </div>

              <p class="inter-medium" style="color: #4c515a; font-size: 14px; line-height: 1.3;">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
            </div>
          </div>
        </div>

        <div class="sec-content">
          <div class="left-fc1">
            <div class="news-left">

            </div>
            <div class="news-right">
              <div style="display:flex; flex-direction: column; gap:5px;">
                <p class="inter-bold" style="color: #6abf8c; font-size: 18px;">
                  Place Your Headline Text Here
                </p>

                <p class="inter-medium" style="color: #94979c; font-size: 10px; line-height: 1.3;">
                  Feb 17, 2020, 10:04 AM by Yvette Geroleo <br>
                  [ Updated Feb 17, 2020, 10:07 AM ]
                </p>
              </div>

              <p class="inter-medium" style="color: #4c515a; font-size: 14px; line-height: 1.3;">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
            </div>
          </div>
          <div class="right-fc1">
            <div class="news-left">

            </div>
            <div class="news-right">
              <div style="display:flex; flex-direction: column; gap:5px;">
                <p class="inter-bold" style="color: #6abf8c; font-size: 18px;">
                  Place Your Headline Text Here
                </p>

                <p class="inter-medium" style="color: #94979c; font-size: 10px; line-height: 1.3;">
                  Feb 17, 2020, 10:04 AM by Yvette Geroleo <br>
                  [ Updated Feb 17, 2020, 10:07 AM ]
                </p>
              </div>

              <p class="inter-medium" style="color: #4c515a; font-size: 14px; line-height: 1.3;">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="inter-bold title">
      <p>Announcement</p>
    </div>
    <div class="content1">
      <div class="upper">
        <div class="upper-left">
          <div class="left">
            <img src="../../../assets/photos/ancmntImage1.png" height="180px" width="200px"/>
          </div>

          <div class="right">
            <span class="inter-bold" style="color: #5da563;">
              A letter for Dr. Ed Gomez on his first death
              anniversary
            </span>
            <div style="display: flex; flex-direction: column;">
              <span>
                Please join us in saying a prayer and
                remembering our dear founding Director/
                National Scientist/University Professor
                Emeritus Edgardo D. Gomez who passed
                away a year ago on Dec 1, 2019
              </span>
              <span style="text-decoration: underline; color: #384e8a; margin-top: 20px; display: flex; flex-direction: row; justify-content: flex-end;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left">
            <img src="../../../assets/photos/ancmntImg2.png" height="180px" width="200px"/>
          </div>

          <div class="right">
            <span class="inter-bold" style="color: #5da563;">
              The UP MSI
              Official Statement
            </span>
            <div style="display: flex; flex-direction: column;">
              <span>
                This is to clarify the statement made by
                Department of Environment and Natural
                Resources (DENR) Undersecretary Benny
                Antiporda accusing the University of the
                Philippines...
              </span>
              <span style="text-decoration: underline; color: #384e8a; margin-top: 20px; display: flex; flex-direction: row; justify-content: flex-end;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="upper">
        <div class="upper-left">
          <div class="left">
            <img src="../../../assets/photos/ancmntImg3.png" height="180px" width="200px"/>
          </div>

          <div class="right">
            <span class="inter-bold" style="color: #5da563;">
              Crushed Dolomite sand will not help solve
              the root of environmental problems in
              Manila Bay
            </span>
            <div style="display: flex; flex-direction: column;">
              <span>
                Manila Bay is strategically located in the
                heart of the most densely populated area in
                the Philippines. It has a long history of use
                for shipping, navigation, and port services...
              </span>
              <span style="text-decoration: underline; color: #384e8a; margin-top: 20px; display: flex; flex-direction: row; justify-content: flex-end;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left">
            <img src="../../../assets/photos/ancmntImg4.png" height="180px" width="200px"/>
          </div>

          <div class="right">
            <span class="inter-bold" style="color: #5da563;">
              The UP MSI congratulates its 2020
              graduates!
            </span>
            <div style="display: flex; flex-direction: column;">
              <span>
                The UP Marine Science Institute (MSI)
                congratulates its graduates and takes pride
                for the highest number of graduated MS
                students (15) within the College of Science
                this year.
              </span>
              <span style="text-decoration: underline; color: #384e8a; margin-top: 20px; display: flex; flex-direction: row; justify-content: flex-end;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="  margin-left: 120px; margin-right: 120px; text-decoration: underline; color: #5da563; float: right; margin-top: 5px;">READ MORE ABOUT ANNOUNCEMENT</div>
    <div class="content2">
      <div class="content2-left">

      </div>

      <div class="content2-right">
        <div style="display: flex; flex-direction: column; line-height: 1.2;">
          <span class="inter-bold" style="color: white; font-size: 32px;">VACANCIES and</span>
          <span class="inter-bold" style="color: white; font-size: 32px;">OPPORTUNITIES</span>
        </div>

        <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: space-between; color: white;" class="inter-semibold">
          <span>Job Opportunity: Marine Scientist</span>
          <span>Dec. 20, 2020</span>
        </div>
        <div style="color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
          The Marine Science Institute, College of Science, University of the Philippines
          Diliman, invites applications for a full-time tenure-track faculty position in chemical
          oceanography or marine chemistry, starting in August 2021. Rank and salary are
          commensurate with qualifications and experience.
        </div>

        <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: space-between; color: white;" class="inter-semibold">
          <span>Call for Abstracts: HAB Symposium Conference</span>
          <span>Dec. 15, 2020</span>
        </div>
        <div style="color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
          The Marine Science Institute, College of Science, University of the Philippines
          Diliman, invites applications for a full-time tenure-track faculty position in chemical
          oceanography or marine chemistry, starting in August 2021. Rank and salary are
          commensurate with qualifications and experience.
        </div>

        <div style="text-decoration: underline; color: white; float: right; margin-top: 10px; font-weight: 100;">MORE ABOUT OPPORTUNITIES</div>

      </div>

    </div>

    <div class="content3">
      <div class="content3-left">
        <div style="display: flex; flex-direction: column; line-height: 1.2;">
          <span class="inter-bold" style="color: white; font-size: 32px;">RESEARCH PROJECTS</span>
          <span class="inter-bold" style="color: white; font-size: 32px;">and HIGHLIGHTS</span>
        </div>
        <div style="margin-top: 30px; color: white;" class="inter-semibold">
          <span>Meet the giant clam fam</span>
        </div>

        <div style="margin-top: 5px;font-weight: 100; display: flex; flex-direction: row; justify-content: space-between; color: white;">
          <span>June 22, 2018</span>
          <span>Stephanie Cabigao</span>
        </div>

        <div style="color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
          It is impossible to miss those electric colors—shifting from olive
          green to brown or dark green to violet; those shining in brilliant
          shades of blue and green; or the ones freckling in mixed colors
          of yellow, green, and brown; and especially those looking regal in
          mottled patterns of yellow-brown, green or gray...
        </div>

        <div style="text-decoration: underline; color: white; float: right; margin-top: 10px; font-weight: 100;">CONTINUE READING</div>

        <div style="text-decoration: underline; color: white; float: right; margin-top: 100px; font-weight: 100;">MORE ABOUT RESEARCH PROJECTS/HIGHLIGHTS</div>

      </div>

      <div class="content3-right">

      </div>

    </div>
  </div>
</div>

<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
