<app-nav></app-nav>
<hr class="hr-line animate__animated animate__fadeIn animate__delay-1s">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content">
    <div class="atlas-bold title">
      <p>MSI NEWS</p>
    </div>
    <div class="news-box">
      <app-news-branch></app-news-branch>
    </div>
    <div style="color: #5da563;" class="more-about" (click)="moreNews()">Read More About MSI News</div>


    <div class="atlas-bold title title-margin">
      <p>ANNOUNCEMENTS</p>
    </div>
    <div class="content1">
      <app-announcement-branch></app-announcement-branch>
    </div>

    <div style="color: #5da563;" class="more-about" (click)="announcement()">Read More About Announcements</div>

    <div class="atlas-bold title title-margin">
      <p>PRESS COVERAGE</p>
    </div>
    <div class="news-box">
      <app-press-branch></app-press-branch>
    </div>

    <div style="color: #5da563;" class="more-about" (click)="press()" >Read More Press Coverage</div>


<!--edited12 : start -->
    <div class="atlas-bold title title-margin">
      <p>FEATURES</p>
    </div>
    <div class="news-box">
      <app-scicomm-branch></app-scicomm-branch>
    </div>

    <div style="color: #5da563;" class="more-about scicomm-about" (click)="moreScicomm()" >Read More About Features</div>

  </div>

    


   <div class="content2">
      <div class="content2-left">

      </div>

      <div class="content2-right">
        <div>
          <div class="atlas-blackReg" style="display: flex; flex-direction: column; line-height: 1.2;">
            <span style="color: white;" class="title-vac">VACANCIES &</span>
            <span style="color: white;" class="title-vac">OPPORTUNITIES</span>
          </div>

          <div class="atlas-light content3-content vac-font">
            The Marine Science Institute, College of Science, University of the Philippines, continuously aims to provide job opportunities, mentorship and research achievements in the field of marine sciences. Watch out for openings here.
          </div>
          <div class="position-a">
        <button class="more-vac" (click)="moreVacancies()">LEARN MORE</button>
      </div>
        </div>
        <br>
        </div>



    </div>


<div class="footer">
  <app-footer></app-footer>
</div>
