<app-nav></app-nav>
<hr class="hr-line animate__animated animate__fadeIn animate__delay-1s">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content">
    <div class="atlas-bold title">
      <p>MSI NEWS</p>
    </div>
    <div class="news-box">
      <app-news-branch></app-news-branch>
    </div>
    <div style="color: #5da563;" class="more-about" (click)="moreNews()">Read More About MSI News</div>


    <div class="atlas-bold title title-margin">
      <p>ANNOUNCEMENTS</p>
    </div>
    <div class="content1">
      <app-announcement-branch></app-announcement-branch>
    </div>

    <div style="color: #5da563;" class="more-about" (click)="announcement()">Read More About Announcements</div>

    <div class="atlas-bold title title-margin">
      <p>PRESS COVERAGE</p>
    </div>
    <div class="content1">
      <app-press-branch></app-press-branch>
    </div>

    <div style="color: #5da563;" class="more-about" (click)="press()" >Read More Press Coverage</div>


   <div class="content2">
      <div class="content2-left">

      </div>

      <div class="content2-right">
        <div>
          <div class="atlas-blackReg" style="display: flex; flex-direction: column; line-height: 1.2;">
            <span style="color: white;" class="title-vac">VACANCIES &</span>
            <span style="color: white;" class="title-vac">OPPORTUNITIES</span>
          </div>

          <div class="atlas-light content3-content vac-font">
            The Marine Science Institute, College of Science, University of the Philippines, continuously aims to provide job opportunities, mentorship and research achievements in the field of marine sciences. Watch out for openings here.
          </div>
          <div class="position-a">
        <button class="more-vac" (click)="moreVacancies()">LEARN MORE</button>
      </div>
        </div>
        <br>
        </div>



    </div>

    <!--<div class="content3">
      <div  style="background-color: #5da563;" class="content2-right">
        <div>
          <div class="atlas-blackReg" style="line-height: 1.2;">
            <span style="color: white;" class="title-vac">RESEARCH PROJECTS & HIGHLIGHTS</span>
          </div>

          <div class="vac-font">
            <!-- <div class="content3-header">
              <span class="atlas-bold">Meet the giant clam fam</span>
            </div>

            <div class="content3-subheader">
              <span>June 22, 2018</span>
              <span>Stephanie Cabigao</span>
            </div> 

            <div class="atlas-light content3-content">
              Research is the primary role of the UP Marine Science Institute. Topics of interest include natural products, pollution, marine culture and productivity, genetics and genomics, and marine chemistry. Aside from contributing to the knowledge gaps in the science, UPMSI projects also aim to develop tools, facilities, and biobanks.
            </div>
            <!--<div class="content3-readmore">CONTINUE READING</div>
          </div>
        </div>
        <br><br>
        <button class="b-more-vac" (click)="moreResearchOpp()">LEARN MORE</button>
      </div>
      <div class="content3-right">
      </div>
    </div> -->

<div class="footer">
  <app-footer></app-footer>
</div>
