.container{
  margin-left: 120px;
  margin-right: 120px;
}

.container .title{
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #4c515a;
}

.container .content{
  height: 1500px;
}

.content .content1{
  height: 40%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content1 .left-content1{
  height: 100%;
  width: 50%;
  border-top: 1px solid #94979c;
  border-bottom: 1px solid #94979c;
}

.left-content1 .subcontent1{
  height: 40%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.subcontent1 .left-subcontent1{
  width: 50%;
  margin: 20px 0;
  background-color: #94979c;
}

.subcontent1 .right-subcontent1{
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.left-content1 .subcontent2{
  height: 60%;
  display: flex;
  flex-direction: column;
}

.subcontent2 .upper-subcontent2{
  height: 55%;
  margin-top: 20px;
  background-color: #94979c;
}

.subcontent2 .lower-subcontent2{
  height: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.content1 .right-content1{
  height: 100%;
  width: 50%;
}

.right-content1 .upper-rightcontent1{
  height: 55%;
  border-bottom: 1px solid #94979c;
}

.upper-rightcontent1 .upper-subcontent1{
  height: 60%;
  background-color: #94979c;
}

.upper-rightcontent1 .lower-subcontent1{
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.right-content1 .lower-rightcontent1{
  height: 45%;
  border-bottom: 1px solid #94979c;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lower-rightcontent1 .left-lowerrc1{
  margin: 20px 0;
  width: 50%;
  background-color: #94979c;
}

.lower-rightcontent1 .right-lowerrc1{
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

/* Lowerpart of news */
.content .content2{
  height: 60%;
}

.content2 .first-content{
  height: 30%;
  display: flex;
  flex-direction: row;
  gap:20px;
}

.first-content .left-fc1{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px
}

.left-fc1 .left{
  width: 50%;
  margin: 20px 0;
  background-color: #94979c;
}

.left-fc1 .right{
  height: 100%;
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.first-content .right-fc1{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap:20px;
}

.right-fc1 .left{
  width: 50%;
  margin: 20px 0;
  background-color: #94979c;
}

.right-fc1 .right{
  height: 100%;
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content2 .second-content{
  height: 60%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.second-content .left{
  width: 50%;
}

.second-content .left .upper-left{
  height: 70%;
  background-color: #94979c;
}

.second-content .left .lower-left{
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-content .right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.second-content .right .upper{
  height: 55%;
  border-top: 1px solid #94979c;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.second-content .right .upperleft{
  width: 50%;
  margin: 20px 0;
  background-color: #94979c;;
}

.second-content .right .upperright{
  height: 100%;
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-content .right .lower{
  height: 45%;

}

.content2 .third-content{
  height: 10%;
}

.load-more{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
