<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content1">

    <div class="atlas-bold title">
      <p>TRAININGS</p>
    </div>
    <div style="margin: 0 9%;">
      <app-trainings-branch></app-trainings-branch>
    </div>
    <div style="color: #5da563;" class="more-about" routerLink="/Extension/trainings">Read More About Trainings</div>


    <div class="content2-container">
      <div class="left">

      </div>

      <div class="right">
        <div class="right-title atlas-blackReg ">
          <span>COMMUNITY OUTREACH</span>
        </div>

        <div class="content2-context">
          Summer Camps for marine science and climate change are held annually in partnership with the Department of Science and Technology Science Education Institute (DOST-SEI). Each year, 40 students and 20 teachers from public high schools are invited to join the camp so they can immerse and develop a deeper understanding of the importance of the oceans in our lives, especially as a maritime country.
        </div>

        <!--<img class="advo" src="../../../assets/photos/qoute1.JPG" />-->
        <div class="position">
           <button class="learn-more-a" routerLink="/Extension/community-outreach">LEARN MORE</button>
         </div>
      </div>
    </div>

    <div class="content3-container">
      <div class="left">
        <div style="margin: 0 20%;">
          <div class="right-title atlas-blackReg">
            <span>GALLERY</span>
          </div>

          <div class="content2-context">
            Look through the UP Marine Science Institute’s  gallery for photos and documentation of its people, events, expeditions,  and other features.
          </div>

         <div class="position" routerLink="/Extension/gallery">
             <button class="learn-more-b">SEE MORE</button>
           </div>
        </div>

      </div>

      <div class="right">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of images">
            <img [src]="item.path" style="cursor: pointer;" (click)="galleryPage(item.name)">
          </ng-template>
        </owl-carousel-o>

        <!-- <carousel
      [height]="'100%'"
      [margin]="0"
      [freeScroll]="false"
      [transitionTimingFunction]="'ease-in-out'"
      [transitionDuration]="'1500'"
      [cellsToShow]="1"
      [cellsToScroll]="1"
      [cellWidth]="'100%'"
      [arrowsOutside]="false"
      [objectFit]="'cover'"
      [autoplay]="true"
      [autoplayInterval]="'3000'"
      [loop]="true"
      [overflowCellsLimit]="1"
      [dots]="true"
      >
        <div class="carousel-cell" *ngFor="let item of images">
          <img [src]="item.path">
        </div>
      </carousel> -->
      </div>
    </div>
  </div>


</div>

<div class="footer">
  <app-footer></app-footer>
</div>
