<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="bebas title">EXTENSION</p>

  <div class="content">
    <div class="content1">
      <span class="left-content1">

      </span>
      <span class="right-content1">
        <p class="inter-medium">
          The MSI also organizes and conducts workshops,
          conferences, and training courses for local and
          international participants, both in the country and abroad.
          Topics include resource survey and monitoring techniques,
          coastal zone management, habitat restoration, mariculture,
          and analytical techniques, and development of
          science-based decision support system. The MSI staff
          serve as trainors and resource speakers for these training
          courses. In addition and in partnership with other sciences,
          MSI offers technical services to both public and private
          agencies concerned with marine protection and
          management in relation to local and global environmental
          changes, biotechnology and product development.
        </p>
      </span>
    </div>

    <div class="content2">
      <span class="left-content2">

      </span>
      <span class="right-content2">

      </span>
    </div>

    <div class="content3">
      <span class="left-content3">

      </span>
      <span class="right-content3">

      </span>
    </div>
  </div>
</div>
<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
