.container .title{
  font-size: 2.928vw;
  margin-top: 2.928vw;
  margin-bottom: 2.196vw;
  color: #394e8a;
  margin-left: 9%;
  margin-right: 9%;
}

.content1{
  margin-top: 2.196vw;
}


.more-about{
  margin-left: 9%;
  margin-right: 9%;
  /*text-decoration: underline;*/
  float: right;
  margin-top: 2.196vw;
  cursor: pointer;
  font-size: 1.171vw;
}

.more-about:hover{
  text-decoration: underline;
}

.content2-container{
  margin: 6.589vw 9% 0 9%;
  height: 36vw;
  display: flex;
  flex-direction: row;
}

.content2-container .left{
  width: 55%;
  background-image: url(https://dc585.4shared.com/img/W48gGQK8ea/s24/179b15dbcc8/01-community-outreach?async&rand=0.8560387916270125);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2-container .right{
  width: 45%;
  background-color: #394e8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.857vw;
}

.right-title{
  color: white;
  font-size: 2.928vw;
  margin-bottom: 1.464vw;
}

.position{
  margin-top: 2.343vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-more-a{
  width: 18.302vw;
  font-size: 1.171vw;
  padding: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
  margin-top: 1.098vw;
}

.learn-more-b{
  width: 18.302vw;
  font-size: 1.171vw;
  padding: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #384e8a;
  color: white;
  margin-top: 1.098vw;
}

.content3-container{
  margin: 3.660vw 9% 0 9%;
  height: 36vw;
  display: flex;
  flex-direction: row;
}

.content3-container .left{
  width: 40%;
  background-color: #5ca361;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 5.857vw; */
}

.content3-container .right{
  width: 60%;
}

.content3-container .right img{
  height: 36vw !important;
  width: 100% !important;
  object-fit: cover !important;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.img-context{
  margin-top: 2.196vw;
  font-size: 1.171vw;
  line-height: 1.2;
}

/* content 2 */

.content2-context{
  color: white;
  line-height: 1.3;
  font-size: 1.171vw;
}

.content2-container .advo{
  margin-top: 2.196vw;
  height: 18.302vw;
  width: 100%;
}

.know-about{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin-top: 1.098vw;
}

/* content 3 */
.see-more{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin-top: 2.196vw;
}

.footer{
  margin-top: 9%;
}
