.container .title{
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #394e8a;
  margin-left: 120px;
  margin-right: 120px;
}

.content1{
  margin-top: 30px;
}

.content1-container{
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  margin-right: 120px;
}

.content1-container img{
  height: 170px !important;
  width: 180px !important;
}

.up{
  height: 50%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.up .up-l{
  width: 44%;
  height: 183px;
  display: flex;
  flex-direction: row;
  margin-left: 120px !important;
}

.left-a{
  width: 40%;
  height: 85%;
  background-image: url(../../../assets/photos/ext1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.left-b{
  width: 40%;
  height: 85%;
  background-image: url(../../../assets/photos/ext2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.left-c{
  width: 40%;
  height: 85%;
  background-image: url(../../../assets/photos/ext3.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.left-d{
  width: 40%;
  height: 85%;
  background-image: url(../../../assets/photos/ext1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.rig{
 height: 70%;
  width: 44%;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: space-evenly;
  margin-top: 10px;

}

.up .up-r{
  width: 43%;
  height: 183px;
  display: flex;
  flex-direction: row;
}

.headline-text{
  color: #5da563;
  cursor: pointer;
}

.date-text-a{
  color: #94979c;
  font-size: 10px;
  line-height: 1.3;
  margin-top: -3px;
}

.date-text-b{
    font-size: 10px;
    color: #94979c;
    line-height: 1.3;
    margin-top: -3px;
  }

  .date-text-c{
    font-size: 10px;
    color: #94979c;
    line-height: 1.3;
    margin-top: -3px;
  }

  .date-text-d{
    font-size: 10px;
    color: #94979c;
    line-height: 1.3;
    margin-top: -3px;
  }

.content-text-a{
  color: #4c515a;
  font-size: 14px;
  line-height: 1.3;
}

.content-text-b{
    font-size: 14px;
    line-height: 1.3;
    color: #4c515a;
  }

  .content-text-c{
    font-size: 14px;
    line-height: 1.3;
    color: #4c515a;
  }

  .content-text-d{
    font-size: 14px;
    line-height: 1.3;
    color: #4c515a;
  }


.bottom-announce{
  margin-top: 30px;
}


.more-about{
  margin-left: 120px;
  margin-right: 128px;
  /*text-decoration: underline;*/
  float: right;
  margin-top: 30px;
  cursor: pointer;
}

.more-about:hover{
  text-decoration: underline;
}

.content2-container{
  margin: 90px 120px 0 120px;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.content2-container .left{
  width: 55%;
  background-image: url(../../../assets/photos/ext4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2-container .right{
  width: 45%;
  background-color: #394e8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.right-title{
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.position{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-more-a{
  width: 250px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
  margin-top: 15px;
}

.learn-more-b{
  width: 250px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #384e8a;
  color: white;
  margin-top: 15px;
}

.content3-container{
  margin: 50px 120px 0 120px;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.content3-container .left{
  width: 30%;
  background-color: #5ca361;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.content3-container .right{
  width: 55%;
}

.content3-container .right img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.hr-line{
  margin: 15px 120px 30px 120px;
}

.img-context{
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.2;
}

/* content 2 */

.content2-context{
  color: white;
  line-height: 1.3;
}

.content2-container .advo{
  margin-top: 30px;
  height: 250px;
  width: 100%;
}

.know-about{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin-top: 15px;
}

/* content 3 */
.see-more{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin-top: 30px;
}

.footer{
  margin-top: 120px;
}

