<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content1">
    <p class="atlas-blackReg title">TRAININGS</p>

    <div class="content1-container">
      <div class="image-content">
        <div style="width: 80%; height: 100%;">
          <div class="img1">

          </div>
          <div class="title-date">
            <span class="atlas-bold">Giant Clam Training</span>
            <span>January 12, 2020</span>
          </div>

          <div class="atlas-light img-context">
            <span>The Marine Science Institute, College of Science, University starting in August 2021</span>
            <span style="color: #374c8a; text-decoration: underline;">See More...</span>
          </div>
        </div>
      </div>

      <div class="image-content">
        <div style="width: 80%; height: 100%;">
          <div class="img2">

          </div>
          <div class="title-date">
            <span class="atlas-bold">Scuba Diving</span>
            <span>March 12, 2020</span>
          </div>

          <div class="atlas-light img-context">
            <span>The Marine Science Institute, College of Science, University starting in August 2021</span>
            <span style="color: #374c8a; text-decoration: underline;">See More...</span>
          </div>
        </div>
      </div>

      <div class="image-content">
        <div style="width: 80%; height: 100%;">
          <div class="img3">

          </div>
          <div class="title-date">
            <span class="atlas-bold">Cleaning, Deboning, Drying</span>
            <span style="font-weight: 100;">March 12, 2020</span>
          </div>

          <div class="atlas-light img-context">
            <span>The Marine Science Institute, College of Science, University starting in August 2021</span>
            <span style="color: #374c8a; text-decoration: underline;">See More...</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content2-container">
      <div class="left">

      </div>

      <div class="right">
        <div class="right-title atlas-blackReg ">
          <span>COMMUNITY OUTREACH</span>
        </div>

        <div class="content2-context">
          The Marine Science Institute, College of Science, University of the philippines Diliman,
          invites applications for a full-time tenure-trac faculty position in chemical
          oceanography or marine chemistry, starting in August 2021. Rank and salary are
          commensurate with qualifications and experience.
        </div>

        <img class="advo" src="../../../assets/photos/qoute1.JPG" />

        <span class="know-about">KNOW ABOUT OUR ADVOCACIES</span>
      </div>
    </div>

    <div class="content3-container">
      <div class="left">
        <div class="right-title atlas-blackReg">
          <span>GALLERY</span>
        </div>

        <div class="content2-context">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rerum harum dolores sed exercitationem? Adipisci esse quisquam ex omnis quaerat necessitatibus totam tempora non, quas itaque quia fugit fugiat voluptas cum. Asperiores ab, ducimus qui fugiat cum accusantium et iure aperiam, natus dolor saepe perferendis harum quibusdam animi maiores quis.
        </div>

        <span class="see-more">SEE MORE PHOTOS</span>

      </div>

      <div class="right">
        <img src="../../../assets/photos/ext5.JPG">
      </div>
    </div>
  </div>


</div>

<div class="footer">
  <app-footer></app-footer>
</div>
