<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a; text-transform: uppercase;">SPECIMEN AND CULTURE COLLECTIONS</p> <!-- EDITED TEXT-->
      <p class="lab-desc atlas-light">
        The UP MSI houses several exhibits that showcase marine flora and fauna collections. The exhibits feature locally- and internationally-procured specimens of fish, seaweeds, sea grass, corals, and microbes.
      </p>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1629018782/Resources/4%20Collections/01-fish_wl4dwr.png"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              FISH AND INVERTEBRATE COLLECTION
            </p> <!-- edited12 : edited the name -->
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
              For inquiries regarding this collection,<br>
              you may contact  Dr. Maria Vanessa B. Rodriguez<br>
              at vrodriguez@msi.upd.edu.ph.
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1629018787/Resources/4%20Collections/02-coral_clfrxa.png"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              CORAL COLLECTION
            </p>
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
              For inquiries regarding this collection,<br>
              you may contact Dr. Patrick C. Cabaitan<br>
              at pcabaitan@msi.upd.edu.ph.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-with-content" style="cursor: pointer;" routerLink="/Resources/collections/herbarium">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1629018780/Resources/4%20Collections/03-GT_Velazquez_mezm0o.png"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body" >
              The G.T. Velasquez Phycological Herbarium
            </p>
            <p class="atlas-light body-text body-text-right" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              The UP MSI Herbarium was established in the early 1970s by Dr. Gavino Trono, Jr. as a tribute to the late Dr. Gregorio T. Velasquez, Professor Emeritus of Botany of the University of the Philippines. It houses 55,000 dried and mounted specimens in 500 genera of more than 1,100 seaweed and seagrass species collected from 70 countries. It is the largest collection of marine macrobenthic algae and seagrasses in the country and the ASEAN region.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-with-content2" routerLink="/Resources/collections/RVA-Marine-Microalgal-Culture-collection-RVA-MMCC" style="cursor: pointer;">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1629018879/Resources/RVA/Collections_banner_zs2sag.png"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              RV Azanza Micro-algal Culture Collection
            </p>
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
             In 1998, Dr. Rhodora V. Azanza founded the RVA-Marine Microalgal Culture Collection (RVA-MMCC). The collection includes 54 strains of 39 microalgal species isolated from various parts of the country, like Anda and Bolinao, Pangasinan, Masinloc, Zambales, Manila Bay, and Anilao, Batangas. These cultures are critical for experiments that promote understanding about ocean productivity and threats such as harmful algal blooms, as well as on biotechnological applications. Various components of multidisciplinary and inter-collaborative harmful algal bloom (HAB) programs, related research and teaching activities of the institute, and other institutes/agencies have been served through the collection.

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-with-content3" routerLink="/Resources/collections/marine-natural-products-legacy-collection" style="cursor: pointer;">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1629018756/Resources/4%20Collections/05-MNPL_2_krd1dg.png"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context"  style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              Marine Natural Products Legacy Collection
            </p>
            <p class="atlas-light body-text body-text-right" style="line-height: 1.4; color: white; margin-top: 1.7%; ">
              The Marine Natural Products Legacy collection highlights the bio- and chemodiversity of the Philippine Seas. It consists of a microbial biobank and chemical library of extracts and pure compounds housed at the UP Marine Science Institute. To date, it contains 6,106 microorganisms isolated from marine sponges, shipworms, and Conoidean snails. The chemical library consists of 5,052 extracts and fractions and 237 pure compounds in assay-ready format for future discovery campaigns.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="toWebinar()">
      <p class="atlas-light"><span class="navi">TO WEBINAR</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>

  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
