<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a; text-transform: uppercase;">Marine Natural Products Legacy Collection</p>
      <p class="lab-desc atlas-light">
        The waters surrounding the archipelago are valuable resources to the Philippines. The UP Marine Science Institute empowers the marine sector by addressing various research gaps and by promoting the sustainable use of marine and coastal resources. From the surveillance of oceanic ecosystems to the development of marine-based technologies, the UPMSI designs and implements research programs that fall under the fields of ecology, oceanography, biology and biochemistry, geology, and conservation.
      </p>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc697.4shared.com/img/Nk-mGkC8ea/s24/179c0426ba8/01-fish?async&rand=0.3233521007291791"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              FISH COLLECTION
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc628.4shared.com/img/edbxnVUhea/s24/179c0427b48/02-coral?async&rand=0.8317598675133788"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              CORAL COLLECTION
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc628.4shared.com/img/RqmgaEA0ea/s24/179c0428700/03-GT_Velazquez?async&rand=0.8266336124925391"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body" style="cursor: pointer;" routerLink="/Resources/collections/herbarium">
              The G.T. Velasquez Phycological Herbarium
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc697.4shared.com/img/clZ6TRNpiq/s24/179c04296a0/04-RV_Azanza?async&rand=0.5115924503330607"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              RV Azanza Micro-algal Culture Collection
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc628.4shared.com/img/5JKVd0eviq/s24/179c0429a88/05-GP_Concepcion?async&rand=0.041116995706882875"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context"  style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              GP Concepcion Microbial Culture Collection
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%; margin-left: 5%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="toContact()">
      <p class="atlas-light">TO CONTACT</p>
    </span>
    <mat-icon class="arrow" style="padding-left: .5%;" (click)="toContact()">arrow_forward</mat-icon>
  </div>

  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
