<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a; text-transform: uppercase;">SPECIMEN AND CULTURE COLLECTIONS</p> <!-- EDITED TEXT-->
      <p class="lab-desc atlas-light">
        The UPMSI houses several exhibits that showcase marine flora and fauna collections. The exhibits feature locally- and internationally-procured specimens of fish, seaweeds, sea grass, corals, and microbes.
      </p>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc697.4shared.com/img/Nk-mGkC8ea/s24/179c0426ba8/01-fish?async&rand=0.3233521007291791"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              FISH COLLECTION
            </p>
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
              For inquiries regarding this collection,<br>
              you may contact the UPMSI Library<br>
              at library@msi.upd.edu.ph.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc628.4shared.com/img/edbxnVUhea/s24/179c0427b48/02-coral?async&rand=0.8317598675133788"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              CORAL COLLECTION
            </p>
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
              For inquiries regarding this collection,<br>
              you may contact the UPMSI Library<br>
              at library@msi.upd.edu.ph.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc628.4shared.com/img/RqmgaEA0ea/s24/179c0428700/03-GT_Velazquez?async&rand=0.8266336124925391"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context" style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body" style="cursor: pointer;" routerLink="/Resources/collections/herbarium">
              The G.T. Velasquez Phycological Herbarium
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1" routerLink="/Resources/collections/RVA-Marine-Microalgal-Culture-collection-RVA-MMCC" style="cursor: pointer;">
    <img src="https://dc697.4shared.com/img/clZ6TRNpiq/s24/179c04296a0/04-RV_Azanza?async&rand=0.5115924503330607"/>
    <div class="lab-img2">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              RV Azanza Micro-algal Culture Collection
            </p>
            <p class="atlas-light body-text" style="line-height: 1.5; color: white; margin-top: 1.7%;">
              For inquiries regarding this collection,<br>
              you may contact the UPMSI Library<br>
              at library@msi.upd.edu.ph.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1" routerLink="/Resources/collections/marine-natural-products-legacy-collection" style="cursor: pointer;">
    <img src="https://dc570.4shared.com/img/Pv-DMKKDiq/s24/179d4862e10/05-MNPL?async&rand=0.5141134180852069"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context"  style=" text-align: right;">
          <div>
            <p class="atlas-bold right-body">
              Marine Natural Products Legacy Collection
            </p>
            <p class="atlas-light body-text" style="line-height: 1.4; color: white; margin-top: 1.7%; margin-left: 5%;">
              The Marine Natural Products Legacy collection highlights the bio- and chemodiversity of the Philippine Seas. It consists of a microbial biobank and chemical library of extracts and pure compounds housed at the UP Marine Science Institute. To date, it contains 6,106 microorganisms isolated from marine sponges, shipworms, and Conoidean snails. The chemical library consists of 5,052 extracts and fractions and 237 pure compounds in assay-ready format for future discovery campaigns.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="toContact()">
      <p class="atlas-light">TO CONTACT</p>
    </span>
    <mat-icon class="arrow" style="padding-left: .5%;" (click)="toContact()">arrow_forward</mat-icon>
  </div>

  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
