.container{
  font-size: 1.171vw;
}

.content{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 3.660vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.photo-by {
  font-size: 0.805vw;
  color: #fff;
  position: absolute;
  bottom: 3%;
  left: 1.5%;
}

.lab-desc{
  margin-top: 1.464vw;
  line-height: 1.5;
  font-size: 1.171vw;
}

.lab-img1{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 3.660vw;
  height: 36.603vw;
  position: relative;
  overflow: hidden;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

img:hover{
  transform: scale(1.1);
}

.lab-img{
  position: absolute;
  bottom: 0.586vw;
  right: 8%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.lab-img2{
  position: absolute;
  bottom: 0.586vw;
  left: 8%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}


.right1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 1.171vw;
  color: white;
  width: 25.622vw;
  line-height: 1.3;
}

.sub-title {
  font-size: 1.171vw;
  margin-top: 0.732vw;
  color: white;
  margin-bottom: 2.196vw;
}


.right-body{
  font-size: 1.611vw;
  color: white;
  outline: none;
  text-transform: uppercase;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
}


.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.title-header{
  font-size: 2.562vw;
}

.context{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.body-text {
  width: 58.565vw; /*edited */

}
