<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div class="container">

    <div style="display: flex; flex-direction: row; margin-bottom: 10px; margin-top: 20px;">
      <p class="atlas-bold title">{{dataGallery[0].name}}</p> &nbsp;
      <p class="atlas-light photo-length">({{dataGallery[2].gallery.length}} photos)</p>
    </div>

    <p class="atlas-light header">{{dataGallery[1].content}}</p>
    <p class="atlas-light header">{{dataGallery[1].content2}}</p>
    <p class="atlas-light header">{{dataGallery[1].content3}}</p>

    <!-- <div class="img-container">
      <div *ngFor="let img of dataGallery[2].gallery; let i = index;">
        <img [src]="img.image" (click)="openDialog(dataGallery[2].gallery, i)">
      </div>
    </div> -->

    <div class="img-container">
      <div class="img-content">
        <div  *ngFor="let img of dataGallery[2].gallery; let i = index;">
          <div class="photo-cont">
            <img [src]="img.image" (click)="openDialog(dataGallery[2].gallery, i)">
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="galleryTab()">
      <p class="atlas-light"><span class="navi">TO MUSEUM & EXHIBITS</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>

</div>
<div class="footer">
  <app-footer></app-footer>
</div>
