.news .first-content{
  margin-top: 2.928vw;
  height: 10.981vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-content .left-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.first-content .left-fc1 .news-left{
  width: 50%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1630638350/News/Features/pirs/01-header_y6d9oj.png);
  background-repeat: no-repeat;
  background-size: cover; 
  cursor: pointer;
}


.left-fc1 .news-right{
  margin-left: 2.196vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-content .right-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.first-content .right-fc1 .news-left{
  width: 50%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1632297254/News/Features/charlon/banner-thumbnail_xibgye.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.right-fc1 .news-right{
  margin-left: 2.196vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news .sec-content{
  margin-top: 3.660vw;
  height: 10.981vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-content .left-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.sec-content .left-fc1 .news-left{
  width: 50%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1635907412/News/Features/HABS/Bloom_of_diatoms_jamqyb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.sec-content .right-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.sec-content .right-fc1 .news-left{
  width: 50%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1628066287/News/Features/01-final-header_hjud3l.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

}

/* news */
.news-box{
  margin: 0 9%;
}

.date-headline{
  display:flex;
  flex-direction: column;
}

.headline-text{
  color: #5da563;
  cursor: pointer;
  line-height: 1.3;
  font-size: 1.171vw;
}

.date-text{
  color: #94979c;
  font-size: 0.732vw;
  line-height: 1.3;
  margin-top: 0.366vw;
}

.content-text{
  color: #4c515a;
  font-size: 1.025vw;
  line-height: 1.3;
  margin-top: 0.732vw;
}

.read-more{
  font-size: 1.171vw;
  margin-right: 1.464vw;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .news .first-content{
    margin-top: 2.928vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .first-content .left-fc1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .first-content .left-fc1 .news-left{
    width: 100%;
    /* background-image: url(../../../../assets/photos/acad2.JPG);
    background-repeat: no-repeat;
    background-size: cover; */
    cursor: pointer;
  }


  .left-fc1 .news-right{
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
  }

  .first-content .right-fc1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
  }

  .first-content .right-fc1 .news-left{
    width: 100%;
    height: 52.267vw;
    background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1632297254/News/Features/charlon/banner-thumbnail_xibgye.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .right-fc1 .news-right{
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
  }

  .news .sec-content{
    margin-top: 2.928vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
  }

  .sec-content .left-fc1{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sec-content .left-fc1 .news-left{
    width: 100%;
    height: 52.267vw;
    background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1635907412/News/Features/HABS/Bloom_of_diatoms_jamqyb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .sec-content .right-fc1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
  }

  .sec-content .right-fc1 .news-left{
    width: 100%;
    height: 52.267vw;
    background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1628066287/News/Features/01-final-header_hjud3l.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

  }

  /* news */
  .news-box{
    margin: 0 9%;
  }

  .date-headline{
    display:flex;
    flex-direction: column;
  }

  .headline-text{
    color: #5da563;
    cursor: pointer;
    line-height: 1.3;
    font-size: 5vw;
  }

  .date-text{
    color: #94979c;
    font-size: 3vw;
    line-height: 1.3;
    margin-top: 0.366vw;
  }

  .content-text{
    color: #4c515a;
    font-size: 4vw;
    line-height: 1.3;
    margin-top: 0.732vw;
  }

  .read-more{
    font-size: 1.171vw;
    margin-right: 1.464vw;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

}
