<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1628066287/News/Features/01-final-header_hjud3l.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
            Against the Current: How the giant clams of the Philippines escaped extinction with the help of science and the community
          </p>

          <p class="atlas-light date-text">

          </p>
        </div>

        <p class="atlas-light content-text">
          In the Earth's oceans, various life forms experience...
        </p>

  
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">

      </div>
      <!--<div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
            A Revived Pag-asa Island Research Station Strengthens Philippine Marine Scientific Research in the West Philippine Sea
          </p>

          <p class="atlas-light date-text">
          
          </p>
        </div>

        <p class="atlas-light content-text">
         Years of neglect have led to the facility becoming run-down. The Upgrade CIA program...
        </p>

        <<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>
      </div>-->
    </div>
  </div>