<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1628066287/News/01-final-header_hjud3l.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
            Against the Current: How the giant clams of the Philippines escaped extinction with the help of science and the community
          </p>

          <p class="atlas-light date-text">

          </p>
        </div>

        <p class="atlas-light content-text">
          In the Earth's oceans, various life forms experience...
        </p>

</div>
