<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1644400743/News/Features/kig/thumbnail-1_lwwpci.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
           The First Of Many: UP MSI’s Most Important Expedition Yet  

          </p>
        </div>

        <p class="atlas-light content-text">
          A new year of Science is to be kicked off with the UP Marine Science Institute’s (UP MSI) first research expedition to Pag-asa...
        </p>
      </div>
    </div>


     <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">
      
      </div>
     
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
             Lights Off: How does light pollution affect a coral’s little inhabitants?
          </p>

        </div>

        <p class="atlas-light content-text">
          Good bacteria roam the human skin freely, forming an additional protective layer against pathogens. They make up a part  of the human microbiota...
        </p>

      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
          In Full Bloom: Predicting HAB events using A.I.
          </p>

          <p class="atlas-light date-text">
          
          </p>
        </div>

        <p class="atlas-light content-text">
         When the monsoon winds take over and the conditions are right, algae can multiply like crazy. In their recently published collaborative work, Dr. Aletta Yñiguez and Ms. Zheina Ottong... 
        </p>

      </div>
    </div>


    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
           Underwater Cities: Studying coral propagation to rehabilitate coral communities
          </p>
        </div>

        <p class="atlas-light content-text">
           We often revere outer space as an expanse of wonder and mystery and look up at the...
        </p>

      </div>
    </div>
  </div>
</div> 

