<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">ANNOUNCEMENTS</p>

  <div class="img-container">
    <div class="img-content" *ngFor="let item of researchOpp; let i = index">
      <div class="left">
        <img [src]="item.image" [routerLink]="['/News/Announcement/content']" (click)="announcementContent(i)">
      </div>
      <div class="right">
        <div>
          <p class="atlas-bold header" [routerLink]="['/News/Announcement/content']" (click)="announcementContent(i)">{{item.title}}</p>
          <!-- <p class="atlas-light subtitle">{{item.subtitle}}</p> -->
          <p class="atlas-light item-content">{{item.content}}</p>
        </div>
        <!--<p class="atlas-light continue-reading" >CONTINUE READING</p>-->
      </div>
    </div>

  </div>

</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" routerLink="/News/press-coverage-headlines">
    <p class="atlas-light">TO PRESS COVERAGE</p>
  </span>
  <mat-icon class="arrow" style="padding-left: .5%;" routerLink="/News/press-coverage-headlines">arrow_forward</mat-icon>
</div>

<div>
  <app-footer></app-footer>
</div>
