.container{
  margin-left: 120px;
  margin-right: 120px;
}

.container .content{
  height: 550px;
  display: flex;
  flex-direction: row;
}

.content .left-content{
  background-image: url(../../../assets/photos/about1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 25%;
}

.content .right-content{
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.right-content .title{
  font-size: 60px;
  color: #264d8e;
  height: 15%;
  padding: 0 40px;
}
.right-content .lower-content{
  height: 75%;

}

.right-content p{
  padding-left: 40px;
  line-height: 1.5;
}

.right-content .aboutWork{
  height: 19%;
  cursor: pointer;
  font-size: 18px;
  text-decoration: underline;
  color: #384e8a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
