<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <!-- <p class="bebas title">ABOUT MSI</p> -->
  <div class="content">
    <div class="left-content">

    </div>
    <div class="right-content">
      <span class="inter-bold title">
        WHAT WE DO
      </span>

      <div class="lower-content">
        <p class="inter-medium">
          <strong class="inter-bold">The UP Marine Science Institute (UPMSI)</strong> is one of seven academic institutes of the University of the
          Philippines’ College of Science. It is housed in its own building complex within the UP Diliman Campus in
          Quezon City. UPMSI was originally established as the Marine Sciences Center (MSC) with the approval of
          its charter by the Board of Regents on 28 March 1974.
        </p>
        <br>
        <p class="inter-medium">
          MSC served as the University’s coordinating base for marine research. In June of the same year, the first
          Advisory Executive Council of the Center was formed with the appointment of Dr. Edgardo D. Gomez as
          acting Director. The Center commenced its operations in February 1975 at the building of the U.P. Natural
          Sciences Research Institute. With its transformation into an institute on 23 April 1985, UPMSI began
          offering graduate programs
        </p>
        <br>
        <p class="inter-medium">
          It is now tasked to pursue research, teaching, and extension work in marine biology, marine chemistry,
          physical oceanography, marine geology, and related disciplines.
        </p>
        <br>
        <p class="inter-medium">
          The UPMSI offers MSc and PhD degrees in Marine Science and the Professional Masters in Tropical
          Marine Ecosystems Management (PM-TMEM). Students taking either degree are asked to choose to
          specialize in a specific field, either Marine Biology, Marine Physical Science or Marine Biotechnology
        </p>
      </div>
      <span class="aboutWork">LEARN MORE ABOUT OUR WORK</span>
    </div>
  </div>
</div>
<app-msc></app-msc>
<app-footer></app-footer>
