<app-nav></app-nav>

<hr class="hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <!-- <p class="bebas title">ABOUT MSI</p> -->
  <div class="content">
    <div class="left-content">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1627980300/About/01-who_we_are_mxuxet.jpg">
    </div>
    <div class="right-content">
      <span class="atlas-blackReg title">
        WHO WE ARE AND WHAT WE DO
      </span>

      <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%; margin-top: 2%;">

        <div class="lower-content">
          <p class="atlas-light">
            The UP Marine Science Institute (UP MSI) is one of seven academic institution of the University of the Philippines’ College of Science. It is housed in its own building complex within the UP Diliman Campus in Quezon City. UP MSI was originally established as the Marine Sciences Center (MSC) with the approval of its charter by the Board of Regents on 28 March 1974.
          </p>
          <br>
          <p class="atlas-light">
            MSC served as the University’s coordinating base for marine research. In June of the same year, the first Advisory Executive Council of the Center was formed with the appointment of Dr. Edgardo D. Gomez as acting Director. The Center commenced its operations in February 1975 at the building of the U.P. Natural Sciences Research Institute. With its transformation into an institute on 23 April 1985, UP MSI began offering graduate programs.
          </p>
          <br>
          <p class="atlas-light">
            At present, it pursues research, teaching, and extension work in marine biology, marine chemistry, physical oceanography, marine geology, and other related disciplines.
          </p>
          <br>
          <p class="atlas-light">
            The UP MSI offers MSc and PhD degrees in Marine Science and the Professional Masters in Tropical Marine Ecosystems Management (PM-TMEM). Students taking either degree choose to specialize in any of the fields of Marine Biology, Marine Physical Science, or Marine Biotechnology.
          </p>
        </div>
        <span class="aboutWork atlas-light"><a [routerLink]="['/About/about-msi']"> Learn More About Our Work </a></span>
      </div>
    </div>
  </div>
</div>
<app-msc></app-msc>


<div class="footer">
  <app-footer></app-footer>
</div>


