.content-header{
  height: 21.742vw;
  position: relative;
}

a {
  text-decoration: none;
}

.content {
  line-height: 1.4;
  margin: 0 4.5%;
  padding-top: 2.855vw;
  font-size: 1.171vw;
}

.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 1.171vw;
  margin-top: 0.952vw;
  width: 50.073vw;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 42.460vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.660vw;
  color: white;
}

.title{
  font-size: 2.123vw;
}


@media (max-width: 756px) {
  * {
    font-size: 4vw;
  }

  .container {
    margin: 3% 9% 0 9%;
  }

  .content-header{
    height:  40vw;
  }

  .banner-content{
    display: none;
  }

  .mobile-banner-content{
    margin: 4% 0 0 0;
    display: block;
    font-size: 4vw !important;
    line-height: 1.5 !important;
  }

  .left-content{
    width: 80%;
    padding: 0 6vw;
  }

  .title{
    font-size: 5vw;
  }

  .content {
    margin: 0 0%;
  }


  .more-vacancies{
      margin-left: 9%;
      margin-right: 0%;
      height: 20vw;
      margin-top: 0;
      margin-bottom: 0;
    }
  .arrow{
    font-size: 2.1875vw;
    margin-left: 0.72916vw;
  }

}


