.content-header{
  height: 297px;
  position: relative;
}

a {
  text-decoration: none;
}

.content {
  line-height: 1.4;
  margin: 0 4.5%;
  padding-top: 39px;
}

.container{
  margin: 0 9%;
  margin-top: 20px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 16px;
  margin-top: 13px;
  width: 684px;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 1px;
  width: 580px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
}

.title{
  font-size: 29px;
}


/* .footer{
  margin-top: 9%;
} */



@media (min-width: 1600px) {
  * {
    font-size: 19px;
  }

  .container {
    margin-top: 23px;
  }

  .content-header{
    height: 348px;
  }

  .banner-content{
    font-size: 18px;
    margin-top: 15px;
    width: 801px;
  }

  .left-content{
    width: 679px;
    padding: 0 59px;
  }

  .title{
    font-size: 34px;
  }

  .more-vacancies{
    margin-top: 47px;
    width: 1171px;
    height: 141px;
  }

  .arrow{
    font-size: 35px;
    margin-left: 12px;
  }

}

@media (min-width: 1900px) {
  * {
    font-size: 23px;
  }

  .container {
    margin-top: 27px;
  }

  .content-header{
    height: 418px;
  }

  .banner-content{
    font-size: 22px;
    margin-top: 18px;
    width: 961px;
  }

  .left-content{
    width: 806px;
    padding: 0 71px;
  }

  .title{
    font-size: 41px;
  }

  .more-vacancies{
    margin-top: 56px;
    width: 1391px;
    height: 167px;
  }

  .arrow{
    font-size: 42px;
    margin-left: 14px;
  }

}
