<div class="container">
  <div class="left">
    <img [src]="myArr[0].image" />
  </div>

  <div class="content">
    <p class="atlas-bold sub-title" style="color: #5da563;">{{myArr[0].name}}</p>
    <div style="line-height: 1.3;">
      <p class="atlas-bold" style="margin-top: 3%; color: #4D525B;" >{{myArr[0].title1}}</p>
      <p class="atlas-bold" style="color: #4D525B;" >{{myArr[0].title2}}</p>
      <p class="atlas-bold" style="color: #4D525B;" >{{myArr[0].title3}}</p>
      <p class="atlas-light">Academician of the National Academy of Science and Technology | NAST</p>
    </div>
  </div>
</div>
