<app-admin-nav>
  <div class="container">
    <div class="content">
      <div class="upper">
        <div class="upper-left">
          <img src="../../../../assets/photos/news-dash.png" height="90"/>
        </div>

        <div class="upper-right">
          <p style="font-size: 40px;">14</p>
          <p style="font-size: 18px; font-weight: 100; margin-top: 5px;">Total news</p>
        </div>
      </div>
      <div class="lower">
        <span style="margin-left: 10px;">View Details</span>
      </div>
    </div>

    <div class="content">
      <div class="upper">
        <div class="upper-left">
          <img src="../../../../assets/photos/webpages-dash.png" height="90"/>
        </div>

        <div class="upper-right">
          <p style="font-size: 40px;">17</p>
          <p style="font-size: 18px; font-weight: 100; margin-top: 5px;">Site Pages</p>
        </div>
      </div>
      <div class="lower">
        <span style="margin-left: 10px;">View Details</span>
      </div>
    </div>

    <div class="content">
      <div class="upper">
        <div class="upper-left">
          <img src="../../../../assets/photos/webvisit-dash.png" height="90" width="120"/>
        </div>

        <div class="upper-right">
          <p style="font-size: 40px;">29</p>
          <p style="font-size: 18px; font-weight: 100; margin-top: 5px;">Website visitors</p>
        </div>
      </div>
      <div class="lower">
        <span style="margin-left: 10px;">View Details</span>
      </div>
    </div>
  </div>
</app-admin-nav>
