<!--Contact Section-->
<div class="contact-container animate__animated animate__fadeIn animate__delay-1s">
    <!-- <div style="opacity: .4; border-left: 1px solid #fafafa; height: 200px; z-index: 1; margin-left: 560px; position: absolute;"></div>
    <div style="opacity: .4; border-left: 1px solid #fafafa; height: 200px; z-index: 1; margin-left: 790px; position: absolute;"></div>
    <div style="opacity: .4; border-left: 1px solid #fafafa; height: 200px; z-index: 1; margin-left: 1000px; position: absolute;"></div> -->

  <div class="box-container">
    <div class="first-box" style="border-right: 1px solid rgba(255, 255, 255, .4);">
      <div class="first-column">
        <p class="atlas-bold">CONTACT US</p>
        <p class="atlas-light" style="display: flex; flex-direction: column; line-height: 1.4; color: #eee;">
          <span> The Marine Science</span>
          <span>Institute Velasquez St.</span>
          <span>University of the Philippines</span>
          <span>Diliman, Quezon City 1101</span>
          <span>Philippines</span>
        </p>
        <p class="atlas-light">msiadmin@msi.upd.edu.ph</p>
      </div>

      <div class="second-column atlas-light" style="color: #eee;">
        <p>Administrative Office:</p>
        <p style="display: flex; flex-flow: column; line-height: 1.4;" class=" ad-top">
          <span>(632) 922-3959</span>
          <span>(632) 981-8500 local 2903</span>
          <span>Fax: (632) 924-7678</span>
        </p>
      </div>

    </div>

    <div class="second-box">
      <div style="width: 85%; display: flex; flex-direction: row;">
        <div class="first-column" style="border-right: 1px solid rgba(255, 255, 255, .4);">
          <p class="atlas-bold">ABOUT UP MSI</p>
          <div class="links" style="color: #eee;">
            <p class="atlas-light">Who We Are</p>
            <p class="atlas-light">Our Courses</p>
            <p class="atlas-light">Areas of Research</p>
            <p class="atlas-light">Extension</p>
            <p class="atlas-light">Faculty</p>
            <p class="atlas-light">Staff</p>
          </div>
        </div>

        <div class="second-column" style="border-right: 1px solid rgba(255, 255, 255, .4);">
          <p class="atlas-bold">RESOURCES</p>
          <div class="links" style="color: #eee;">
            <p class="atlas-light">Publications</p>
            <p class="atlas-light">Library</p>
            <p class="atlas-light">Forms</p>
            <p class="atlas-light">Links</p>
          </div>
        </div>
      </div>

      <div class="image-content">
        <img style="cursor: pointer;" src="../../../assets/photos/fb.png"/>
        <img style="cursor: pointer;" src="../../../assets/photos/twitter.png"/>
        <img style="cursor: pointer;" src="../../../assets/photos/insta.png"/>
      </div>

    </div>
  </div>
</div>



<footer class="animate__animated animate__fadeIn animate__delay-1s atlas-bold">
  <p>	&copy; University of the Philippines Marine Science Institute. All rights reserved. 2021</p>
</footer>
