<!--Contact Section-->
<div class="contact-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="first-content">
    <p class="inter-bold">ABOUT UP MSI</p>
    <p class="inter-medium">Who We Are</p>
    <p class="inter-medium">Our Courses</p>
    <p class="inter-medium">Areas of Research</p>
    <p class="inter-medium">Extension</p>
    <p class="inter-medium">Faculty</p>
    <p class="inter-medium">Staff</p>
  </div>

  <div class="second-content">
    <p class="inter-bold">RESOURCES</p>
    <p class="inter-medium">Publications</p>
    <p class="inter-medium">Library</p>
    <p class="inter-medium">Forms</p>
    <p class="inter-medium">Links</p>
    <a href="https://www.google.com" target="_blank">
      <p style="font-size: 20px;margin-top: 40px; text-decoration: underline; color: white;">MSI sample link</p>
    </a>
  </div>

  <div class="third-content">
    <div class="left-third">
      <p class="inter-bold">CONTACT US</p>
      <p class="inter-medium" style="display: flex; flex-flow: column;width: 70%;">
        <span>
          The Marine Science Institute
          Velasquez St.
        </span>
        <span>
          University of the Philippines
          Diliman, Quezon City 1101
          Philippines
        </span>
      </p>
      <p class="inter-medium">Email: msiadmin@msi.upd.edu.ph</p>
      <p class="inter-medium" style="display: flex; flex-flow: column;">
        <span>Administrative Office:</span>
        <span>(632) 922-3959</span>
        <span>(632) 981-8500 local 2903</span>
        <span>Fax: (632) 924-7678</span>
      </p>
    </div>

    <div class="right-third">
      <img src="../../../assets/photos/fb.png" height="75px" width="75px"/>
      <img src="../../../assets/photos/twitter.png" height="75px" width="75px"/>
      <img src="../../../assets/photos/insta.png" height="75px" width="75px"/>
    </div>
  </div>
</div>



<footer class="inter-medium animate__animated animate__fadeIn animate__delay-1s">
  <p>	&copy; University of the Philippines Marine Science Institute. All rights reserved. 2021</p>
</footer>
