<app-nav></app-nav>
<div class="container">
  <div class="content-header">
    <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623341293/About/about%20msi/01-the-institute-banner_c70gzu.jpg">
    <div class="left-content">
      <p class="atlas-blackReg title">MARINE SCIENCE FOR PEOPLE AND THE PLANET</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The UP Marine Science Institute (UP MSI) is one of seven academic institutes of the University of the Philippines College of Science. It is housed in its own building complex within the UP Diliman Campus in Quezon City. UP MSI was originally established as the Marine Sciences Center (MSC) with the approval of its charter by the Board of Regents on 28 March 1974.
      </p>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image"></div>

    <div class="right-content">
      <p class="atlas-blackReg title" style="color: #384e8a;">WHAT WE DO</p>
      <p class="right-content-p">MSC served as the University’s coordinating base for marine research. In June of the same year, the first Advisory Executive Council of the Center was formed with the appointment of Dr. Edgardo D. Gomez as acting Director. The Center commenced its operations in February 1975 at the building of the U.P. Natural Sciences Research Institute. With its transformation into an institute on 23 April 1985, UP MSI began offering graduate programs.</p>
    </div>
  </div>

  <div class="the-founder">
    <div class="left-image"></div>

    <div class="right-content">
      <div class="right-content-box">
        <p class="atlas-blackReg title" style="color: #384e8a;">THE FOUNDING DIRECTOR</p>
        <!-- <p class="atlas-bold sub-title" style="color: #384e8a;">DR. EDGARDO D. GOMEZ</p> -->
        <p class="right-content-p">In June 1974, the first Advisory Executive Council of the Center was formed with the appointment of Dr. Edgardo D. Gomez as acting Director. As a national scientist, Dr. Edgardo D. Gomez pioneered coral research in the Philippines, the world’s first national-scale assessment of damage to coral reefs which led to widespread public awareness and conservation efforts around the world. He was a prominent researcher, scientist, conservation advocate, and mentor who specialized in giant clam restoration, coral reef assessment, and marine conservation.</p>
        <p class="right-content-p">The founding director of MSI also contributed to the baseline mapping of the Philippines in the West Philippine Sea, laying the foundation of the UP System’s Archipelagic Studies Program.</p>

      </div>
    </div>
  </div>


  <app-institute-focus></app-institute-focus>
  <app-institute-objectives></app-institute-objectives>

</div>
<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" routerLink="/About/About-the-director">
    <p class="atlas-light">ABOUT THE DIRECTOR</p>
  </span>
  <mat-icon class="arrow" style="padding-left: .5%;" routerLink="/About/About-the-director">arrow_forward</mat-icon>
</div>

<div>
  <app-footer></app-footer>
</div>


