<div class="news-container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="news-align-center">
    <p class="atlas-blackReg title" routerLink="/News">NEWS</p>
    <div class="news-content">
      <div routerLink="/News/content/Blue-Beat-Initiative" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1667897146/News/Announcements%20Icons/msr_thumbnail_dicdtj.png" alt="">
        <p class="atlas-bold content-title">
         Blue Beat Initiative
        </p>
        <p class="title-content">
          Blue Beat Initiative...
        </p>
      </div>

      <span class="top-2" routerLink="/News/Announcement/Marine-Scientific-Research" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1667897146/News/Announcements%20Icons/msr_thumbnail_dicdtj.png" alt="">
        <p class="atlas-bold content-title">
         Dialogue 3: PH MSR Framework and West Philippine Sea
        <p class="title-content">
         The UP Marine Science Institute (UP MSI) together with the Foundation for National Interest (FNI) and the Embassy of the United States of America...
        </p>
      </span>

      <span routerLink="//News/content/2022-Golden-Goose-Award" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1663818835/News/News%20Icons/thumbnail_1_aes5ms.png" alt="">
        <p class="atlas-bold content-title">
         Conotoxin research wins 2022 Golden Goose Award
        </p>
        <p class="title-content">
          2022 Golden Goose Award: UP MSI Scientist Dr. Lourdes J. Cruz
        </p>

      </span>
    </div>
  </div>

</div>
