.news-container{
  margin: 70px 169px 112px 169px;
  display: flex;
  justify-content: center;
}

.news-container img{
  height: 281px;
  width: 100%;
  object-fit: cover;
}

.title{
  color: #384e8a;
  font-size: 56px;
}

.content-title{
  color: #274d8b;
  padding-top: 14px;
}

.title-content{
  font-size: 20px;
  color: #666666;
  margin-top: 7px;
  line-height: 1.3;
}

.news-container .news-content{
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 28px;
}

.see-more{
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.see-more:hover{
  color: rgb(0, 0, 0, .8);
}

.news-content #news1{
  font-size: 28px;
}

@media (min-width: 1366px) {
  .news-container{
    margin: 50px 120px 80px 120px;
  }

  .news-container img{
    height: 200px;
  }

  .title{
    font-size: 40px;
  }

  .content-title{
    padding-top: 10px;
  }

  .title-content{
    font-size: 14px;
    margin-top: 5px;
  }

  .news-container .news-content{
    margin-top: 30px;
  }

  .news-content #news1{
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  .news-container{
    margin: 59px 141px 94px 141px;
  }

  .news-container img{
    height: 234px;
  }

  .title{
    font-size: 47px;
  }

  .content-title{
    padding-top: 12px;
  }

  .title-content{
    font-size: 16px;
    margin-top: 9px;
  }

  .news-container .news-content{
    margin-top: 35px;
  }

  .news-content #news1{
    font-size: 23px;
  }
}

@media (min-width: 1920px) {
  .news-container{
    margin: 70px 169px 112px 169px;
  }

  .news-container img{
    height: 281px;
  }

  .title{
    font-size: 56px;
  }

  .content-title{
    padding-top: 14px;
  }

  .title-content{
    font-size: 20px;
    margin-top: 7px;
  }

  .news-container .news-content{
    margin-top: 42px;
    gap: 28px;
  }

  .news-content #news1{
    font-size: 28px;
  }
}
