<div class="news-container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="news-align-center">
    <p class="atlas-blackReg title" routerLink="/News">NEWS</p>
    <div class="news-content">
      <div routerLink="/News/content/2022-Golden-Goose-Award" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1663816990/News/News%20Icons/1_3_i2eeud.png" alt="">
        <p class="atlas-bold content-title">
         Conotoxin research wins 2022 Golden Goose Award
        </p>
        <p class="title-content">
         2022 Golden Goose Award: UP MSI Scientist Dr. Lourdes J. Cruz
        </p>
      </div>

      <span class="top-2" routerLink="/News/press-coverage-headlines/Balik-Scientist-names-6-Seaweed-Genera" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1627980994/About/03%20Faculty/19-Wilfred_John_E._Santia%C3%B1ez_Ph.D._fm2i0o.jpg" alt="">
        <p class="atlas-bold content-title">
         Balik Scientist names 6 Seaweed Genera, holds a record by a Filipino Scientist
        </p>
        <p class="title-content">
         A Balik Scientist, Dr. Wilfred John E. Santiañez of the University of the Philippines-Marine Science Institute...
        </p>
      </span>

      <span routerLink="/News/content/The-Case-For-Marine-Scientific-Research" style="cursor: pointer;">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1646965737/News/News%20Icons/webinar/final-banner-3_s9fwux.png" alt="">
        <p class="atlas-bold content-title">
         The Case For Marine Scientific Research in the Philippines
        </p>
        <p class="title-content">
          Experts discussed challenges and opportunities in the approval process and framework for marine scientific research (MSR)...
        </p>

      </span>
    </div>
  </div>

</div>
