<div class="news-container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="news-align-center">
    <p class="atlas-blackReg title">NEWS</p>
    <div class="news-content">
      <div id="news1">
        <img src="../assets/photos/news1.jpeg" alt="">
        <p class="atlas-bold content-title">
          Mass Incarceration In
          Sustainable Challenge
        </p>
        <p class="title-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>
      </div>

      <span id="news1">
        <img src="../assets/photos/news2.jpeg" alt="">
        <p class="atlas-bold content-title">
          The Collective Impact of Needle Green Space
        </p>
        <p class="title-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>
      </span>

      <span id="news1">
        <img src="../assets/photos/news3.jpeg" alt="">
        <p class="atlas-bold content-title">
          Deep Dive Environmental Rights
        </p>
        <p class="title-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>

      </span>
    </div>
  </div>

</div>
