.container {
  margin-left: 4.5%;
  margin-right: 4.5%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  margin-top: 5.124vw;
  height: 10.981vw;
}

.title{
  font-size: 2.123vw;
}

.content-p {
  font-size: 1.171vw;
  margin-top: 2.123vw;
  font-family: 'Atlas-light';
  line-height: 1.4;
}

.card {
  height: 17.496vw;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.318vw;
}

.card .left {
  width: 31%;
  margin: 0.586vw;
}

.card .right {
  width: 62.2%;
  /* border: 1px solid black; */
  margin-right: 2.928vw;
  font-size: 1.171vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  font-family: 'atlas-light';
  font-size: 1.171vw;
  margin-top: 1.098vw;
  line-height: 1.3;
}

.box-card { /* editted: removed margin-top;*/
  height: 55.124vw;
  margin-right: -3.7%;
  overflow: hidden;
}


.bottom-header {
  margin-top: 1.391vw;
  font-size: 1.171vw;
}

.bottom-header img {
  height: 18.302vw;
  width: 32.943vw;
  float: left;
  padding-right: 2.5%;
  padding-bottom: 1.3%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.about {
  font-size: 1.171vw;
}
