<meta charset="utf-8">
  <!-- Primary Meta Tags -->
  <title>UP Marine Science Institute</title>
  <meta name="title" content="Filipino scientist makes history by reaching the 3rd deepest spot on Earth">
  <meta name="description" content="ilipino scientist Dr. Deo Florence L. Onda from the University of the Philippines is one of the first humans to reach the third deepest spot on Earth.">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.msi.upd.edu.ph/News/content/filipino-scientist-makes-history-by-reaching-the-3rd-deepest-spot-on-earth">
  <meta property="og:title" content="Filipino scientist makes history by reaching the 3rd deepest spot on Earth">
  <meta property="og:description" content="Filipino scientist Dr. Deo Florence L. Onda from the University of the Philippines is one of the first humans to reach the third deepest spot on Earth.">
  <meta property="og:image" content="https://res.cloudinary.com/upmsi/image/upload/v1628147196/News/News%20Icons/News-01-scientist_pshtv5.png">

<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">{{myArr[0].title}}</p>
  <p class="atlas-light date">{{myArr[0].date}}</p>
  <p class="atlas-light date-name">{{myArr[0].author}}</p>
  <div class="center-content">
    <div class="box-content">
      <img [src]="myArr[0].thumbnail">
      <div class="photo-box">
      <p class="atlas-light photo-content" *ngIf="!clamsBool && nastBool">{{myArr[0].photoContent}}</p>
      <p class="atlas-light photo-content" *ngIf="clamsBool" >Two <em>Tridacna Gigas</em> specimens from the BML nursery: Efforts to grow the giant clam population are gaining momentum. Giant clams are still vulnerable and remain endangered due to poor management, unregulated harvesting, and illegal possession and trade.</p>
      <p class="atlas-light photo-content" *ngIf="clamsBool" >Two <em>Tridacna Gigas</em> specimens from the BML nursery: Efforts to grow the giant clam population are gaining momentum. Giant clams are still vulnerable and remain endangered due to poor management, unregulated harvesting, and illegal possession and trade.</p>
      <p class="atlas-light photo-content" *ngIf="myArr[0].enarfleetbool">The <em>MY Panata</em> has set sail in many Philippine locations, including the WPS, Visayas Seas, and Sulu Sea.</p>
      <p class="atlas-bold photo-courtesy">{{myArr[0].courtesy}}</p>
      </div>
    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-bold location">{{myArr[0].location}}</p>
      <img class="fb" src="../../../../assets/photos/fblink.png">
      <img class="twitter" src="../../../../assets/photos/twitter-link.png">
      <p class="atlas-light location-content">{{myArr[0].locationContent}}</p>

      <p class="atlas-light location-content" *ngIf="myArr[0].gclambool">More commonly known as "taklobo" in Filipino, giant clams <em>(Tridacna Gigas)</em> with electric green, brown, and violet colors that are impossible to miss are being grown in the waters surrounding Silaqui Island, the northernmost tip of the town of Bolinao, Pangasinan.</p>
 
      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool"><em>Established as a response to limited ocean research capacity, the National Academic Research Fleet (NARFleet) program aims to provide better access to ocean research for the academe, private institutions, and the Philippine government. To achieve this, participating research groups will address problems such as reef protection and productivity, mapping the pelagic zone, and maximizing the use of bio resources. The University of the Philippines Visayas (UPV), Bicol University, and Mindanao State University - Iligan Institute of Technology (MSU-IIT) join the UP Marine Science Institute as collaborators and vessel hosts. </em></p>
     

      <hr *ngIf="myArr[0].enarfleetbool">

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">In light of new and emerging issues such as climate change, plastics pollution, and the growing tensions in our national waters, ocean research has become a priority. Locally, the capacity to perform scientific activities in coastal and open water regions remains limited and is in dire need of upgrading and expansion. For this, the UP Marine Science Institute (MSI) has begun the establishment of the NARFleet, a group of vessels dedicated to marine science research (MSR), with the support of the National Security Council (NSC).</p>
      
      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Headed by Dr. Deo Florence Onda, the project component NARFleet (Project 2) is implemented under the program “Upgrading Capacity, Infrastructure, and Assets for Marine Scientific Research in the Philippines (Upgrade CIA)” led by the UP MSI Director, Dr. Laura T. David. The project aims to distribute the assets throughout the country and to empower state universities and colleges (SUCs) and other higher educational institutions (HEIs) outside Metro Manila to do ocean studies. Three collaborating SUCs were identified to be Bicol University (northeast Philippines), UP Visayas (Eastern Philippines/Visayan Seas), and the Mindanao State University – Iligan Institute of Technology (Sulu Sea/Southern Seas). </p>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">The NARFleet’s long-term sustainability plan spans 16 years and is divided into three phases. Logistics planning and procurement of assets are currently underway as part of the first phase and capacity building for partner host universities (2019 to 2022). The second phase (2023 to 2028) focuses on local MSRs and expanding the scope of research activities, as well as training more researchers and institutions to conduct ocean-based studies. Finally, the last phase (2029 to 2035) will help expand the MSR efforts to include international collaborators.</p>

      <div class="center-content" *ngIf="myArr[0].enarfleetbool">
         <div class="box-content">
          <img style="object-fit: contain;width: 100%; height: 100%;overflow: hidden; position: relative;" [src]="myArr[0].thumbnail3">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 15px;" *ngIf="myArr[0].enarfleetbool">The three existing vessels of the fleet, from left to right: <em>MY Panata, RV Kalayaan, RV Mandaragat</em>.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="myArr[0].enarfleetbool">Photo: MSI Contributors</p>
          </div>
        </div>
       </div>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">There are seven vessels in the current list of assets, including the existing <em>MY Panata</em> of UP MSI and four other vessels that are still being procured. <em>MY Panata</em>, one of the active vessels funded by the UP System, has already accomplished several missions in the West Philippine Sea (2019 & 2021), the Visayan Seas (2019), and the Tubbataha Reefs and Sulu Sea (2019 & 2021) since its maiden voyage in 2019. It has significantly increased UP MSI’s capacity in performing fieldwork in the different maritime regions of the country. Its accomplishments also emphasize the need for dedicated floating assets for research.</p>


      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Currently, the NARFleet coordination and management group is facilitating the procurement of the four new vessels, with a total budget of PhP 110 million granted by the Philippine Government. These include a used sail or power catamaran which will be deployed in inner seas, including the Verde Island Passage, for oceanographic work, habitat monitoring, and marine technology testing. One of the  research vessels will also be stationed in the Visayas waters and the Bohol Sea, while another one will be dedicated to the exploration of the Mindanao waters, like the Sulu Sea and Sulawesi. Lastly, the third research vessel will be based in the Pacific Seaboard and the West Philippine Sea for diving and oceanographic work. The bidding process for the used sail or power catamaran has been completed and the awarding is being finalized, while the research vessels are still undergoing bidding.</p>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Two other anticipated developments are the NARFleet website launch and the participation of <em>MY Panata</em> in the upcoming cruise in the Kalayaan Island Group (KIG). The cruise, which will run from late September to the majority of October, focuses on the refurbishment of the Pagasa Island Research Station (PIRS), setting up of AIS and Ocean Monitoring System, and survey of reef fish and fisheries in the area and pollution, such as plastics. Meanwhile, the website is scheduled to be released within the year.</p>

       <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">With these vessels that make up a whole fleet dedicated to research and the support of NSC, other government agencies, and partner universities/institutions, the UP MSI hopes to scale up Philippine MSRs and ocean research programs, inspiring more young scientists to participate in research addressing contemporary climate and national security issues.</p>

       <p class="atlas-bold location-content" style="font-size: 20px" *ngIf="myArr[0].enarfleetbool">Related news:</p>

       <p class="atlas-light location-content" style= "margin-top: 1%;" *ngIf="myArr[0].enarfleetbool"><a href="https://www.philstar.com/headlines/2021/03/21/2085878/experts-call-better-west-philippine-sea-marine-and-coastal-protection" target="_blank" style="color: #384e8a">Experts call for better West Philippine Sea marine and coastal protection</a></p>


       <iframe class="atlas-light pdf location-content" *ngIf="wpsBool" src="https://drive.google.com/file/d/1m1EtefEk-0FQClJiCKaUrED3DWuev1no/preview?usp=sharing&embedded=true"frameborder="0">
       </iframe>

      
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;" *ngIf="!nastBool">Dr. Rachel June R. Gotanco was conferred the Eduardo A. Quisumbing Medal for Basic Research alongside co-author Andrew F. Torres during the National Science and Technology Week (NSTW). The award recognizes the study entitled, "Rarity of the 'common' coral <em>Pocillopora damicornis</em> in the western Philippine Archipelago."</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph2}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph3}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph4}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph5}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph6}}</p>
    </div>
  </div>

  <p class="atlas-bold news">MSI IN THE NEWS</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of myArr[0].news">
        <div class="left" (click)="nextNews(item.url)">
          <img [src]="item.image">
        </div>
        <div class="right" (click)="nextNews(item.url)">
          <div>
            <p class="atlas-bold news-title">{{item.title}}</p>
            <p class="atlas-light news-content">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreMsiNews()">
    <p class="atlas-light"><span class="navi">MORE MSI NEWS</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
