<meta charset="utf-8">
  <!-- Primary Meta Tags -->
  <title>UP Marine Science Institute</title>
  <meta name="title" content="Filipino scientist makes history by reaching the 3rd deepest spot on Earth">
  <meta name="description" content="ilipino scientist Dr. Deo Florence L. Onda from the University of the Philippines is one of the first humans to reach the third deepest spot on Earth.">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.msi.upd.edu.ph/News/content/filipino-scientist-makes-history-by-reaching-the-3rd-deepest-spot-on-earth">
  <meta property="og:title" content="Filipino scientist makes history by reaching the 3rd deepest spot on Earth">
  <meta property="og:description" content="Filipino scientist Dr. Deo Florence L. Onda from the University of the Philippines is one of the first humans to reach the third deepest spot on Earth.">
  <meta property="og:image" content="https://res.cloudinary.com/upmsi/image/upload/v1628147196/News/News%20Icons/News-01-scientist_pshtv5.png">

<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">{{myArr[0].title}}</p>
  <p class="atlas-light date">{{myArr[0].date}}</p>
  <p class="atlas-light date-name">{{myArr[0].author}}</p>
  <div class="center-content">
    <div class="box-content">
      <img [src]="myArr[0].thumbnail">
      <div class="photo-box">
      <p class="atlas-light photo-content" *ngIf="!clamsBool && nastBool">{{myArr[0].photoContent}}</p>
      <p class="atlas-light photo-content" *ngIf="clamsBool" >Two <em>Tridacna Gigas</em> specimens from the BML nursery: Efforts to grow the giant clam population are gaining momentum. Giant clams are still vulnerable and remain endangered due to poor management, unregulated harvesting, and illegal possession and trade.</p>
      <p class="atlas-light photo-content" *ngIf="!nastBool" >Closeup of a <em>Kappaphycus alvarezii</em> specimen: Much of UP MSI’s research benefits the algae and corals of the Philippines. The dedication of UP MSI scientists to studying these organisms has earned them recognition over the years.</p>
      <p class="atlas-bold photo-courtesy">{{myArr[0].courtesy}}</p>
      </div>
    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-bold location">{{myArr[0].location}}</p>
      <img class="fb" src="../../../../assets/photos/fblink.png">
      <img class="twitter" src="../../../../assets/photos/twitter-link.png">
      <p class="atlas-light location-content">{{myArr[0].locationContent}}</p>
      <p class="atlas-light location-content" *ngIf="myArr[0].gclambool">More commonly known as "taklobo" in Filipino, giant clams <em>(Tridacna Gigas)</em> with electric green, brown, and violet colors that are impossible to miss are being grown in the waters surrounding Silaqui Island, the northernmost tip of the town of Bolinao, Pangasinan.</p>

       <iframe class="atlas-light pdf location-content" *ngIf="wpsBool" src="https://drive.google.com/file/d/1m1EtefEk-0FQClJiCKaUrED3DWuev1no/preview?usp=sharing&embedded=true"frameborder="0">
       </iframe>

      
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;" *ngIf="!nastBool">Dr. Rachel June R. Gotanco was conferred the Eduardo A. Quisumbing Medal for Basic Research alongside co-author Andrew F. Torres during the National Science and Technology Week (NSTW). The award recognizes the study entitled, "Rarity of the 'common' coral <em>Pocillopora damicornis</em> in the western Philippine Archipelago."</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph2}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph3}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph4}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph5}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph6}}</p>
    </div>
  </div>

  <p class="atlas-bold news">MSI IN THE NEWS</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of myArr[0].news">
        <div class="left" (click)="nextNews(item.url)">
          <img [src]="item.image">
        </div>
        <div class="right" (click)="nextNews(item.url)">
          <div>
            <p class="atlas-bold news-title">{{item.title}}</p>
            <p class="atlas-light news-content">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreMsiNews()">
    <p class="atlas-light"><span class="navi">MORE MSI NEWS</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
