<app-nav></app-nav>
<div class="center-content3" id="content-desktop" *ngIf="merfBool" style="margin-top: 1.5vw;">
         <div class="box-content2" id="content-desktop">
           <img  [src]="myArr[0].thumbnail">
          
        </div>

        </div>

<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line" *ngIf="!merfBool">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">{{myArr[0].title}}</p>
  <p class="atlas-light date">{{myArr[0].date}}</p>
  <p class="atlas-light date-name">{{myArr[0].author}}</p>
  <div class="center-content">
    <div class="box-content" >
      <img [src]="myArr[0].thumbnail"  *ngIf="!merfBool"> <!-- *ngIf="clamsBool && !nastBool && deepestSpotBool && !wpsBool && !narfleetBool"-->
      <div class="photo-box" *ngIf="!merfBool" >
      <p class="atlas-light photo-content" *ngIf="!clamsBool && nastBool">{{myArr[0].photoContent}}</p>
      <p class="atlas-light photo-content" *ngIf="clamsBool" >Two <em>Tridacna Gigas</em> specimens from the BML nursery: Efforts to grow the giant clam population are gaining momentum. Giant clams are still vulnerable and remain endangered due to poor management, unregulated harvesting, and illegal possession and trade.</p>
      <p class="atlas-light photo-content" *ngIf="clamsBool" >Two <em>Tridacna Gigas</em> specimens from the BML nursery: Efforts to grow the giant clam population are gaining momentum. Giant clams are still vulnerable and remain endangered due to poor management, unregulated harvesting, and illegal possession and trade.</p>
      <p class="atlas-light photo-content" *ngIf="myArr[0].enarfleetbool">The <em>MY Panata</em> has set sail in many Philippine locations, including the WPS, Visayas Seas, and Sulu Sea.</p>
      <p class="atlas-bold photo-courtesy">{{myArr[0].courtesy}}</p>
      </div>
    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-bold location" *ngIf="!merfBool">{{myArr[0].location}}</p>
      <p class="atlas-bold location2" *ngIf="merfBool">{{myArr[0].location}}</p>
      <img class="fb" src="../../../../assets/photos/fblink.png">
      <img class="twitter" src="../../../../assets/photos/twitter-link.png">
      <p class="atlas-light location-content">{{myArr[0].locationContent}}</p>

      <p class="atlas-light location-content" *ngIf="myArr[0].gclambool">More commonly known as "taklobo" in Filipino, giant clams <em>(Tridacna Gigas)</em> with electric green, brown, and violet colors that are impossible to miss are being grown in the waters surrounding Silaqui Island, the northernmost tip of the town of Bolinao, Pangasinan.</p>
 
      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool"><em>Established as a response to limited ocean research capacity, the National Academic Research Fleet (NARFleet) program aims to provide better access to ocean research for the academe, private institutions, and the Philippine government. To achieve this, participating research groups will address problems such as reef protection and productivity, mapping the pelagic zone, and maximizing the use of bio resources. The University of the Philippines Visayas (UPV), Bicol University, and Mindanao State University - Iligan Institute of Technology (MSU-IIT) join the UP Marine Science Institute as collaborators and vessel hosts. </em></p>
     

      <hr *ngIf="myArr[0].enarfleetbool">

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">In light of new and emerging issues such as climate change, plastics pollution, and the growing tensions in our national waters, ocean research has become a priority. Locally, the capacity to perform scientific activities in coastal and open water regions remains limited and is in dire need of upgrading and expansion. For this, the UP Marine Science Institute (MSI) has begun the establishment of the NARFleet, a group of vessels dedicated to marine science research (MSR), with the support of the National Security Council (NSC).</p>
      
      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Headed by Dr. Deo Florence Onda, the project component NARFleet (Project 2) is implemented under the program “Upgrading Capacity, Infrastructure, and Assets for Marine Scientific Research in the Philippines (Upgrade CIA)” led by the UP MSI Director, Dr. Laura T. David. The project aims to distribute the assets throughout the country and to empower state universities and colleges (SUCs) and other higher educational institutions (HEIs) outside Metro Manila to do ocean studies. Three collaborating SUCs were identified to be Bicol University (northeast Philippines), UP Visayas (Eastern Philippines/Visayan Seas), and the Mindanao State University – Iligan Institute of Technology (Sulu Sea/Southern Seas). </p>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">The NARFleet’s long-term sustainability plan spans 16 years and is divided into three phases. Logistics planning and procurement of assets are currently underway as part of the first phase and capacity building for partner host universities (2019 to 2022). The second phase (2023 to 2028) focuses on local MSRs and expanding the scope of research activities, as well as training more researchers and institutions to conduct ocean-based studies. Finally, the last phase (2029 to 2035) will help expand the MSR efforts to include international collaborators.</p>

      <div class="center-content" *ngIf="myArr[0].enarfleetbool">
         <div class="box-content">
          <img style="object-fit: contain;width: 100%; height: 100%;overflow: hidden; position: relative;" [src]="myArr[0].thumbnail3">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 15px;" *ngIf="myArr[0].enarfleetbool">The three existing vessels of the fleet, from left to right: <em>MY Panata, RV Kalayaan, RV Mandaragat</em>.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="myArr[0].enarfleetbool">Photo: MSI Contributors</p>
          </div>
        </div>
       </div>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">There are seven vessels in the current list of assets, including the existing <em>MY Panata</em> of UP MSI and four other vessels that are still being procured. <em>MY Panata</em>, one of the active vessels funded by the UP System, has already accomplished several missions in the West Philippine Sea (2019 & 2021), the Visayan Seas (2019), and the Tubbataha Reefs and Sulu Sea (2019 & 2021) since its maiden voyage in 2019. It has significantly increased UP MSI’s capacity in performing fieldwork in the different maritime regions of the country. Its accomplishments also emphasize the need for dedicated floating assets for research.</p>


      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Currently, the NARFleet coordination and management group is facilitating the procurement of the four new vessels, with a total budget of PhP 110 million granted by the Philippine Government. These include a used sail or power catamaran which will be deployed in inner seas, including the Verde Island Passage, for oceanographic work, habitat monitoring, and marine technology testing. One of the  research vessels will also be stationed in the Visayas waters and the Bohol Sea, while another one will be dedicated to the exploration of the Mindanao waters, like the Sulu Sea and Sulawesi. Lastly, the third research vessel will be based in the Pacific Seaboard and the West Philippine Sea for diving and oceanographic work. The bidding process for the used sail or power catamaran has been completed and the awarding is being finalized, while the research vessels are still undergoing bidding.</p>

      <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">Two other anticipated developments are the NARFleet website launch and the participation of <em>MY Panata</em> in the upcoming cruise in the Kalayaan Island Group (KIG). The cruise, which will run from late September to the majority of October, focuses on the refurbishment of the Pagasa Island Research Station (PIRS), setting up of AIS and Ocean Monitoring System, and survey of reef fish and fisheries in the area and pollution, such as plastics. Meanwhile, the website is scheduled to be released within the year.</p>

       <p class="atlas-light location-content" *ngIf="myArr[0].enarfleetbool">With these vessels that make up a whole fleet dedicated to research and the support of NSC, other government agencies, and partner universities/institutions, the UP MSI hopes to scale up Philippine MSRs and ocean research programs, inspiring more young scientists to participate in research addressing contemporary climate and national security issues.</p>

       <p class="atlas-bold location-content" style="font-size: 20px" *ngIf="myArr[0].enarfleetbool">Related news:</p>

       <p class="atlas-light location-content" style= "margin-top: 1%;" *ngIf="myArr[0].enarfleetbool"><a href="https://www.philstar.com/headlines/2021/03/21/2085878/experts-call-better-west-philippine-sea-marine-and-coastal-protection" target="_blank" style="color: #384e8a">Experts call for better West Philippine Sea marine and coastal protection</a></p>


       <iframe class="atlas-light pdf location-content" *ngIf="wpsBool" src="https://drive.google.com/file/d/1m1EtefEk-0FQClJiCKaUrED3DWuev1no/preview?usp=sharing&embedded=true"frameborder="0">
       </iframe>

      
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;" *ngIf="!nastBool">Dr. Rachel June R. Gotanco was conferred the Eduardo A. Quisumbing Medal for Basic Research alongside co-author Andrew F. Torres during the National Science and Technology Week (NSTW). The award recognizes the study entitled, "Rarity of the 'common' coral <em>Pocillopora damicornis</em> in the western Philippine Archipelago."</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph2}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph3}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph4}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph5}}</p>
      <p class="atlas-light" style="line-height: 1.5; margin-top: 2%;">{{myArr[0].paragraph6}}</p>

      <p class="atlas-light location-content" *ngIf="pirsBool">While world leaders from developed countries are slowly enacting environmental policies to reach their climate targets and transition into a fully carbon-neutral society to combat climate change, small island nations everywhere are proving to be more adept.</p>

         <p class="atlas-light location-content" *ngIf="pirsBool">In the Philippines, there’s an island that is set out to make an example for many others.</p>

         <p class="subtitle atlas-bold location-content" style="font-size: 20px;" *ngIf="pirsBool"><br><em>Where it all begins</em></p>

         <p class="atlas-light location-content" *ngIf="pirsBool">The Pagasa Island Research Station (PIRS) in Pagasa Island was first established in 1997 with support from the Department of Science and Technology (DOST) - Philippine Council for Aquatic and Marine Research and Development (PCAMRD)  and in cooperation with the Western Command of the Armed Forces of the Philippines (WESCOM).</p>

         <p class="atlas-light location-content" *ngIf="pirsBool">According to Dr. Rene Abesamis, who was then a research assistant and part of the original team that established the research center PIRS oon Pag-asa island, the structure was prefabricated and initially meant for Tubbataha Reef. Through arrangements made with the Department of National Defense (DND), it was transferred to its current location. </p>

         <div class="center-content" *ngIf="pirsBool" style="margin-bottom: 50px;">
         <div class="box-content">
          <img style="object-fit: contain;width: 95%; height: 95%;overflow: hidden; position: relative; margin-left: 15px;" [src]="myArr[0].thumbnail5">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px; margin-left: 15px;" *ngIf="pirsBool" >The Pag-asa Island Research Station (PIRS) in 1997 when it was first constructed.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px; margin-left: 15px;" *ngIf="pirsBool"> Photo: UP MSI Library</p>
          </div>
        </div>
       </div>

         <p class="atlas-light location-content" *ngIf="pirsBool">However, due to a lack of sustainable funding and accessibility to the area, the utilization of the research station was not maximized and was limited only for the use of  divers from the Philippine Navy. They later called it Frogman’s Quarters because of the animal’s webbed feet that resembled a diver’s fins. </p>

         <p class="atlas-light location-content" *ngIf="pirsBool">The structure had not been occupied for some time after its inauguration in 2000, leaving the dome-shaped building in a damaged state and thus is in need of repairs for it to be fully functional again. Now, it is being reclaimed as the marine science research station it once was. </p>

        <div class="center-content" *ngIf="pirsBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail1">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="pirsBool" >Mary Rose Gabuyo, a UP MSI RA, points out damaged portions of the PIRS ceiling.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="pirsBool"> Photo: Dr. Charissa M. Ferrera</p>
          </div>
        </div>
       </div>

        <p class="atlas-light location-content" *ngIf="pirsBool">One of the components of the University of the Philippines Marine Science Institute’s (UP MSI) Upgrading Capability, Infrastructure and Assets (UPGRADE CIA) program is to conduct ocular inspection and assessment to identify what needs to be done for the restoration of PIRS.</p>

        <p class="atlas-light location-content" *ngIf="pirsBool">This project is also known as the Initial Repair and Refurbishment of the Pagasa station or iRARE Pagasa</p>

        <p class="atlas-light location-content" *ngIf="pirsBool">“Mula noong na-inaugurate siya, hindi na siya nabalikan ng MSI. Part of the reason was that there was a sudden shift in the priorities for funding by the national government. Alam natin na hindi madaling makapunta doon, but the interest of putting up a laboratory there remains the same,” shares iRARE Project Leader Dr. Fernando Siringan, who is a professor at UP MSI and a NAST academician.</p>


        <p class="atlas-light location-content" *ngIf="pirsBool">From the latest assessment during the 2021 WPS expeditions, PIRS was found to be in a sorry state with a significant number of cracks on its walls, visible signs of water leaks, and corroded electrical lines.</p>

        <p class="atlas-light location-content" *ngIf="pirsBool">The iRARE team with the Physical Oceanography group began the refurbishment efforts during the WPS Summer 2021 expeditions by installing a 1 kW solar panel system to power up the station. An Automatic Identification System (AIS) for tracking the movement of ships in the area was also installed.</p>



       <div class="center-content" *ngIf="pirsBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail4">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="pirsBool" >The iRARE team together with the Philippine Navy installing  a 1 kW solar panel system to power up the station. This is part of the project’s vision to make Pag-asa island self-sustaining.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="pirsBool" > Photo: MRose Gabuyo</p>
          </div>
        </div>
       </div>

        <p class="atlas-light location-content" *ngIf="pirsBool">The repairs and installation of new features, including an Automatic Identification System (AIS) for tracking the movement of ships in the area are scheduled to be conducted in October 2021</p>

         <p class="atlas-bold location-content" style="font-size: 20px;" *ngIf="pirsBool"><br><em>Marine Science Research as the core of future plans</em></p>

         <p class="atlas-light location-content" *ngIf="pirsBool">Sea level changes have been affecting small islands, including the coral reefs that surround them. The rate by which the sea level rises has varying effects on the marine environment: a slow rate allows the reef to keep pace through vertical accretion, while a fast rate can drown reefs.</p>

         <p class="atlas-light location-content" *ngIf="pirsBool">Sea level rise due to climate change compounded by long-term subsidence poses a huge threat to Pagasa Island and other similarly small and low lying landforms in the West Philippine Sea. Coastal erosion and salinization of limited groundwater resources are major concerns.</p>

         <p class="atlas-light location-content" *ngIf="pirsBool">This, along with other needs of the Philippines, make Marine Science Research (MSR) programs more relevant than ever as they can enable the protection of our lands and waters, especially those in the West Philippine Sea (WPS). </p>

          <p class="atlas-light location-content" *ngIf="pirsBool">As a maritime nation, the establishment of a marine science research center on the island is key in understanding the WPS’ marine resources and their sustainable utilization. Since the area is geographically isolated, many of its features are different from the mainland and neighboring islands, so there is much more to discover. According to Siringan, the establishment and full utilization of PIRS affirms the Philippine sovereignty in Pagasa Island.</p>


       <div class="center-content" *ngIf="pirsBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail2">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="pirsBool">Dr. Fernando Siringan, iRARE project leader, conducts bathymetry and scan surveys around Pag-asa island.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="pirsBool" >Photo: MRose Gabuyo</p>
          </div>
        </div>
       </div>

        <p class="subtitle atlas-bold location-content" style="font-size: 20px;" *ngIf="pirsBool"><br><em>Upcoming WPS expeditions</em></p>

        <p class="atlas-light location-content" *ngIf="pirsBool">The 2021 WPS expeditions are scheduled to resume in September, and Siringan’s team is prioritizing the completion of PIRS refurbishment tasks so that it will be available for use by next year.</p>

        <p class="atlas-light location-content" *ngIf="pirsBool">Aside from the repairs, the team has also been studying relative sea level changes around the island through bathymetry and side scan surveys, looking at geomorphic indicators of previous sea level stands using single beam systems. This will improve their understanding of the geological changes in the Kalayaan Island Group  and aid the local and national government in designing ways to address the expected mal-impacts of relative sea level rise. They will be moving forward with their study on the upcoming second leg of the expeditions.</p>

        <p class="atlas-light location-content" *ngIf="pirsBool">“If the sea would allow us then we will do a multibeam bathymetric survey. If we have time, we will also do some groundwater surveys using electrical resistivity. And then, we will go around the island and look at the state of the coastline and the materials of the beach. We will also estimate the island’s elevation by using the Emery (1961) method for beach profiling,” he says.</p>

        <p class="subtitle atlas-bold location-content" style="font-size: 20px;" *ngIf="pirsBool"><br><em>Pag-asa island in the years to come</em></p>

        <p class="atlas-light location-content" *ngIf="pirsBool">Siringan also mentioned a proposed research program called Small Island Life Sustenance in the WPS (SmILeS WPS) to transform islands like Pagasa into regenerative islands that sustain life while also reassuring the integrity of the environment through sustainable means.</p>

         <p class="atlas-light location-content" *ngIf="pirsBool">“He ruminates by saying, “Bakit hindi natin gamitin ang Pagasa as a platform for the use of renewable energy? Gulay sa maliliit na isla—ano ang pwedeng maitanim? Pwede bang mag-alaga ng mga hayop? Gamitin ang dumi ng manok, kambing at baboy para [maging fertilizer]. Napakakaunti ng tubig tabang doon ngayon. Kailangan din maghanap ng paraan para masustain ang kalidad at availability ng tubig tabang doon.”</p>

         <div class="center-content" *ngIf="pirsBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail3">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="pirsBool" >Many species can be found in the waters of the KIG, prompting scientists to come up with robust and sustainable conservation practices.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="pirsBool" >Photo: Marine Phycology Lab</p>
          </div>
        </div>
       </div>  

         <p class="atlas-light location-content" *ngIf="pirsBool">Through research and development, renewable energy, farming, and groundwater protection are among many other possible future projects under SmILeS WPS,  The iRARE team is also considering application technology for the institute’s successful studies, such as seaweed culture, sea ranching of sea cucumbers, and integrated multitrophic aquaculture in the adjacent atoll lagoon. Partnership with the Pagasa community will be forged to enhance buy-in and adoption of research results. Results of research in PIRS can direct development in similar small islands.</p>

       <p class="atlas-light location-content" *ngIf="pirsBool">PIRS will be open to any Filipino researcher looking to work within the island or the WPS area. It will also be opened to foreign researchers in the near future. </p>

       <p class="atlas-bold location-content" style="font-size: 20px" *ngIf="pirsBool">Related news:</p>

       <p class="atlas-light location-content" style= "margin-top: 1%; text-decoration: underline;" *ngIf="pirsBool"><a href="https://globalnation.inquirer.net/188410/holding-ground-building-hope-on-pag-asa-island" target="_blank" style="color: #384e8a">Holding Ground, Building Hope on Pag-Asa Island </a></p>

       <p class="atlas-light location-content" style= "margin-top: 1%; text-decoration: underline;" *ngIf="pirsBool"><a href="https://globalnation.inquirer.net/188510/pag-asa-gets-upgrade-amid-china-objection" target="_blank" style="color: #384e8a">Pag-Asa Gets Upgrade Amid China Objection</a></p>

       <p class="atlas-light location-content" style= "margin-top: 1%; text-decoration: underline;" *ngIf="pirsBool"><a href="https://www.gmanetwork.com/news/news/nation/801067/philippines-to-reactivate-west-philippine-sea-marine-research-center-esperon/story/" target="_blank" style="color: #384e8a">Philippines to Reactive West Philippine Sea Marine Research Center - Esperon</a></p>

       <p class="atlas-light location-content" style= "margin-top: 1%; text-decoration: underline;" *ngIf="pirsBool"><a href="https://www.philstar.com/headlines/2021/08/28/2123143/philippines-reactivating-marine-research-center-pagasa" target="_blank" style="color: #384e8a">Philippines Reactivating Marine Research Center in Pagasa</a></p>



       <p class="atlas-light location-content2" *ngIf="merfBool">The UP Marine Science Institute (UP MSI) and the Marine Environment and Resources Foundation, Inc. (MERF) prepared and hosted a short course for the Philippine Coast Guard (PCG), their long-time partner in protecting Philippine waters.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">The online workshop, entitled “Short Course on Skills Development:  Water Quality Monitoring, Data Collection Methods for Coastal and Marine Resources, Analysis of Data and Valuation Process for Coral Damage Case in the Philippines,” was held for five days, with each day dedicated to a specific topic in marine science.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">As part of UP MSI and PCG’s partnership, which began in 2019 with in-person workshops that included open water dive course certifications, this workshop was designed to increase awareness on several issues in fisheries and the marine environment, like pollution and declining water quality. Participants from the PCG learned the fundamental principles of ocean monitoring and related practical skills useful in taking care of marine protected areas (MPAs) around the country.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">A total of 58 participants joined the workshop.</p>

        <div class="center-content2" *ngIf="merfBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail2">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="merfBool">The collaborative efforts among UP MSI, MERF, Inc., and the PCG are integral to ensuring the protection of our marine resources. Pictured here are the participants of the diving courses held in 2019 at Bauan, Batangas.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >Photo: Junie Aguirre</p>
          </div>
        </div>
       </div>

      <div class="center-content2" *ngIf="merfBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail3">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 10px;" *ngIf="merfBool">Part of the 2019 diving courses is the Open Water Diving Course. </p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >Photo: Junie Aguirre</p>
          </div>
        </div>
       </div>

       <p class="subtitle atlas-light location-content2" *ngIf="merfBool"><br>An Exchange of Knowledge</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Researchers and professors from UP MSI gave in-depth lectures and held exercises on water quality monitoring; aerial, surface, and underwater data gathering techniques for coastal and ocean resources; and the valuation process from an actual case of local coral damage.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Day 1 tackled phytoplankton, their importance as primary producers, and the threats they face from climate change and (micro)plastics pollution. Ms. Erika Grace Gernato, a researcher, discussed the methods involved in phytoplankton monitoring, such as the plankton net, microscopic imaging, and plankton identification. Her lecture was complemented by Ms. Norchel Gomez’s discussion on plastics monitoring and how it can help us address and mitigate pollution.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Water quality monitoring was the focus of Day 2. Marine chemist Dr. Charissa Ferrera shared her expertise on measuring different parameters related to water quality, including how to use the Conductivity Temperature and Pressure (CTD) system, Acoustic Doppler Current Profiler (ADCP), and multiparameter sensor.</p>


       <div class="center-content2" *ngIf="merfBool" >
         <div class="box-content5">
          <video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1637802509/News/News%20Icons/merf/niskin-video_xt6nuh.mov"></video>
         </div>
         <div class="box-content4b" style="margin-top: .5vw! important;">
          <div class="mob4">
           <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 0px;" *ngIf="merfBool" >Dr. Charissa Ferrera’s lecture on water quality monitoring included a video demonstration about Niskin sampling, a plastic bottle device used to take water samples at chosen depths.</p>
           <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >Video: Dr. Charissa Ferrera</p>
          </div>
        </div>
       </div>

       <p class="atlas-light location-content2" *ngIf="merfBool">Days 3 and 4 tackled a variety of topics. Mr. Aldwin Almo’s lecture and exercise on Geographic Information Systems (GIS) and aerial imaging are sure to aid the PCG in monitoring coastlines and the changes that occur in those areas.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Mr. Mark Edison Raquino, the Research and Development Coordinator of Daloy ng Buhay, Inc. (DALUHAY), also demonstrated how to perform the Manta Tow survey, a coral reef survey method conducted by “towing” a snorkel diver, who then surveys the reef directly and reports observations at specific intervals.</p>

       <div class="center-content2" *ngIf="merfBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail4">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >A demonstration of the manta tow technique: The diver hangs onto the manta board that leads them  along the coral reefs.</p>
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >Photo: Michael J. Emslie, Australian Institute of Marine Science</p>
          </div>
        </div>
       </div>

       <p class="subtitle atlas-light location-content2" *ngIf="merfBool"><br>Motivation for better marine protection</p>

        <p class="atlas-light location-content2" *ngIf="merfBool">Not only was the workshop an opportunity to learn, but it also served to remind the participants of the importance of their work and cause. Dr. Deo Florence Onda, Deputy Director for Research (DDR) of UP MSI and Project Leader of the activity, opened the workshop with a presentation on the connectivity of the ecosystems in the Philippines, as well as the challenges its coastal and marine environment are experiencing.</p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Project coordinator and workshop moderator Ms. Miraflor Sanchez followed with a talk on the United Nations Sustainable Development Goals to set the motivation and rationale behind the workshop. Her talk included the United Nations Decade of Ocean Science for Sustainable Development, which started this year and goes by the theme, “The Science We Need for the Ocean We Want.”</p>

        <p class="atlas-light location-content2" *ngIf="merfBool">On the last day, Atty. Jay Batongbacal gave a lecture on the history, significance, and current state of Philippine sovereignty in the WPS, rightfully concluding the week-long online workshop.</p>

        <div class="center-content2" *ngIf="merfBool" >
         <div class="box-content5">
          <video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1637808412/News/News%20Icons/merf/Lawak_-_Santia%C3%B1ez_2_s1z4lf.mp4"></video>
         </div>
         <div class="box-content4b" style="margin-top: .5vw! important;">
          <div class="mob4">
           <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 0px;" *ngIf="merfBool" >Various colorful fish roam a coral reef near Lawak Island that boasts many types of soft and hard corals. This year’s workshop can help the PCG develop key skills on monitoring and interpreting data that can be used to improve policies on Philippine marine biodiversity.</p>
           <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >Video: Dr. Wilfred John Santiañez</p>
          </div>
        </div>
       </div>

       <p class="atlas-light location-content2" *ngIf="merfBool">In the end, CG RADM Rolando Lizor N. Punzalan was called on to provide a response on behalf of the PCG. He talked about the tasks PCG has been carrying out in different parts of the country to protect its waters and the need for more collaboration among all stakeholders.</p>

        <p class="atlas-light location-content2" *ngIf="merfBool">LTJG Gerald L. Cordero also took the time to thank all the organizers and members of the PCG, expressing appreciation for their active participation and interest to learn. "Kayo po yung andito from the first to last day. Kayo din po mismo ang nagtatanong ano ang mga kailangan gawin, ano yung mga software na makakabilis sa pagtrabaho at ano ang mga best way sa pagsasagawa nito. We're all excited that a part of our training will be physical at actual na gagawin," he says. </p>

       <p class="atlas-light location-content2" *ngIf="merfBool">Dr. Onda also shared the future plans of the national government and UP MSI to further strengthen and upgrade our capacity to do  more marine scientific research activities (MSRs) in the country. He further stressed the importance of interagency cooperation and collaboration in carrying out such activities. “Hindi dito natatapos ang collaboration ng UPMSI, MERF, at PCG. At hindi rin po dito natatapos ang pagpapalawig natin ng karanasan ng ating mga tanod dagat,” he says.</p>

        <p class="atlas-light location-content2" *ngIf="merfBool">He ended his message by saying that these workshops and the work being done are a continuation of a long-term partnership as co-protectors of the sea.</p>

        <div class="center-content2" *ngIf="merfBool">
         <div class="box-content">
          <img [src]="myArr[0].thumbnail5">
           <div >
            <p class="atlas-light photo-courtesy" style= "color:#384e8a; margin-top: 5px;" *ngIf="merfBool" >The organizers and participants were all smiles as the workshop ended. All groups learned substantial ideas from each other.</p>
          
          </div>
        </div>
       </div>


       
    </div>
  </div>

  <p class="atlas-bold news">MSI IN THE NEWS</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of myArr[0].news">
        <div class="left" (click)="nextNews(item.url)">
          <img [src]="item.image">
        </div>
        <div class="right" (click)="nextNews(item.url)">
          <div>
            <p class="atlas-bold news-title">{{item.title}}</p>
            <p class="atlas-light news-content">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreMsiNews()">
    <p class="atlas-light"><span class="navi">MORE MSI NEWS</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
