<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="(https://res.cloudinary.com/upmsi/image/upload/v1632297254/News/Features/charlon/banner-thumbnail_xibgye.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
            Underwater Cities: Studying coral propagation to rehabilitate coral communities
          </p>

          <p class="atlas-light date-text">

          </p>
        </div>

        <p class="atlas-light content-text">
          We often revere outer space as an expanse of wonder and mystery and look up at the...
        </p>

  
      </div>
    </div>
     

</div>
</div>