.container{
  margin: 0 9%;
  margin-top: 2.928vw;
}

img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  cursor: pointer !important;
  background-color: black;
}


.title{
  font-size: 1.830vw;
  color: #394e8a;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

carousel{
  margin-top: 1.464vw;
}

.content1{
  padding: 0 7.321vw;
  margin-top: 3.660vw;
}

.content1 carousel {
  height: 12.079vw;
}


.title-header{
  font-size: 2.928vw;
  color: #394e8a;
  margin-bottom: 1.464vw;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.content-marg{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.732vw;
  margin-top: 1.464vw;
}

.photo-length{
  font-size: 1.098vw;
  align-self: flex-end;
  margin-bottom: 0.220vw;
}

.context{
  margin-top: 0.732vw;
  line-height: 1.4;
  font-size: 1.171vw;
}

.content2{
  padding: 0 7.321vw;
  margin-top: 5.124vw;
}

.content2 carousel {
  height: 12.079vw;
}

.footer{
  margin-top: 9%;
}

.acknowledgement {
  height: 100%;
  background-color: white;
  margin-top: 7%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ack-right {
  font-size: 1.171vw;
  color: #384e8a;
  margin-left: 3%;
  padding-left: 3%;
  border-left: 0.146vw solid #384e8a;
  line-height: 1.4;
  height: fit-content;
}

.top-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-box {
  margin-top: 6%;
  width: 100%;
}

.bottom-box .bottom-names:nth-child(n+2) {
  margin-top: 2.3%;
}

.bottom-names {
  font-size: 1.171vw;
  display: flex;
  justify-content: center;
}

.bottom-names p:nth-child(n+2) {
  border-left: 0.073vw solid black;
  margin-left: 2.6%;
  padding-left: 2.6%;
}

.ack-title {
  color: #384e8a;
  font-size: 2.196vw;
}

.lab {
  margin-top: 6%;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
}
