.container{
  margin: 0 9%;
  margin-top: 2.928vw;
  margin-bottom: 0.732vw;
}

img{
  width: 25.622vw;
  height: 16.105vw;
}

.image-content{
  margin-top: 2.196vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1.464vw;
}

.hr-line{
  margin: 4.5% 9% 2% 9%;
}

.title{
  font-size: 2.928vw; color: #394e8a;
}

.header{
  color: #394e8a;
  margin-top: 1.098vw;
  cursor: pointer;
  font-size: 1.171vw;
}

.date{
  font-size: 1.171vw;
  color: #394e8a;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
}

@media (max-width: 768px) {
  .container{
    margin: 0 9%;
    margin-top: 6%;
    margin-bottom: 0.732vw;
  }

  img{
    width: 100%;
    height: 52.267vw;
  }

  .image-content{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  .hr-line{
    margin: 4.5% 9% 2% 9%;
  }

  .title{
    font-size: 5vw; color: #394e8a;
    line-height: 1.3;
  }

  .header{
    color: #394e8a;
    margin-top: 1.098vw;
    cursor: pointer;
    font-size: 4vw;
  }

  .date{
    font-size: 4vw;
    color: #394e8a;
    margin-bottom: 5%;
  }

  .arrow{
    font-size: 7vw;
    padding-left: .5vw;
    text-decoration: none !important;
  }

  .navi:hover {
    text-decoration: underline;
  }

  .more-vacancies{
    display: flex;
    height: 15vw;
    margin-bottom: 5%;
    font-size: 4vw;
  }

}
