<div class="box-card">
  <div class="box-card-content">
    <div class="card">

      <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/facilities%2Fpuerto%2F08-components-education-classes.JPG?alt=media&token=b98eeada-6feb-4714-b744-d6a21881d008" />

      <div class="right">
        <div>
          <p class="atlas-bold" style="color: #384e8a; text-transform: uppercase;">Education & Conservation Classes</p>
          <div class="card-content" [ngClass]="{'limitTextHeight2': isReadMore2}">
            <p *ngIf="isReadMore2">{{ "The BML maintains a dive locker which houses a compressor room, two shower rooms with locker facilities (male and female), a central rinsing area, and a locker compartments for the storage of diving equipment. Individual users under the various MSI projects which have Bolinao-based activities are awarded specific assignments." | slice:0:405}}...</p>
            <p *ngIf="!isReadMore2">The BML maintains a dive locker which houses a compressor room, two shower rooms with locker facilities (male and female), a central rinsing area, and a locker compartments for the storage of diving equipment. Individual users under the various MSI projects which have Bolinao-based activities are awarded specific assignments.<p>
            <p *ngIf="!isReadMore2" style="margin-top: 2%;">There exists a compressor room, where two (2) compressor units are used alternately: (one which is diesel-powered, and a second one run by electricity). Approximately 50 scuba tanks for rental are filled and stored in the compressor room, to be readily used for fieldwork.</p>
          </div>
        </div>

        <div *ngIf="isReadMore2" class="read-more">
          <p class="atlas-light" style="color: #384e8a;" (click)="showText2()">READ MORE</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="box-card">
  <div class="box-card-content">
    <div class="card">

      <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/facilities%2Fpuerto%2F09-components-training-outreach.jpg?alt=media&token=6d343724-e417-495b-9fd6-e882b862b3b8" />

      <div class="right">
        <div>
          <p class="atlas-bold" style="color: #384e8a; text-transform: uppercase;">Outreach and Training</p>
          <div class="card-content" [ngClass]="{'limitTextHeight3': isReadMore3}">
            <p *ngIf="isReadMore3">Puerto Galera is a prime spot for research for biodiversity and a variety of terrestrial and aquatic ecosystems, as well as conservation and management initiatives. It is also nearby to indigenous cultures. Long‐term monitoring program is established that enables better understanding and management of the health of the ecosystems of Puerto Galera.<p>
            <p *ngIf="!isReadMore3">Puerto Galera is a prime spot for research for biodiversity and a variety of terrestrial and aquatic ecosystems, as well as conservation and management initiatives. It is also nearby to indigenous cultures. Long‐term monitoring program is established that enables better understanding and management of the health of the ecosystems of Puerto Galera.<p>
            <!-- <p *ngIf="!isReadMore3"  style="margin-top: 2%;"> Books, journals, training manuals, photographs, brochures and other research materials are available in the library located beside the administration office where the admin officer, institutional research assistant and the admin aide works. The Office of the DDML is also located beside the library. The BML Cafeteria is also located at the 2nd floor of the Administration building.</p> -->
          </div>
        </div>

        <div *ngIf="isReadMore3" class="read-more">
          <p class="atlas-light" style="color: #384e8a;" (click)="showText3()">READ MORE</p>
        </div>
      </div>
    </div>

  </div>
</div>

