.component1 {
  background-color: #F5F5F5;
  margin-top: 2.123vw;
  height: 100%;

}

.component1 img {
  padding: 1.464vw;
  margin-left: 2.5%;
  width: 27.818vw !important;
  height: 16vw !important;
  object-fit: cover;
}

.right {
  width: 60%;
  margin: 1.464vw 0; /*edited */
  padding-right: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*edited : added css */;
.content-title1{
  margin-top: 1.684vw;
}

/*edited : addded css */
.content-title2{
  margin-top: 2.196vw;
}

.content {
  margin-top: 0.732vw;
  line-height: 1.5;
}

.read-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.6%;
  cursor: pointer;
  margin-top: 6% !important; /*edited */
}

.read-more3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.6%;
  cursor: pointer;
  margin-top: 10% !important; /*edited */
}


.component1-bottom {
  margin: 0 1.464vw;

  padding-left: 2.5%;
}

.panel-title{
  color: white;
  padding: 1.098vw 0;
  font-size: 1.025vw; /*edited */
}

mat-expansion-panel{
  border-color: white;
  background-color: #F5F5F5;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 3.660vw;
}

.grad-offering{
  background-color: #F5F5F5;
  margin-left: 3%;
  margin-right: 5.5%;
  margin-top: 3.294vw !important;
  padding: 0 6.955vw; /*edited */
}

.grad-offering1{
  background-color: #F5F5F5;
  margin-left: 3%;
  margin-right: 5.5%;
  margin-top: 1.464vw !important;
  padding: 0 6.955vw; /*edited */
}


.closed-main-head{
  background-color: #384e8a;
  border-radius: 3.660vw;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.732vw;
  font-size: 1.171vw;
}

.regular-content .left div{
  margin-top: 0.732vw;
  line-height: 1.4;
}

ul {
  margin: 0 9%;
  padding-bottom: 3%; /* edited */
  font-size: 1.171vw;
  font-family: 'atlas-light';
}

li {
  margin-top: 1.464vw;
  line-height: .5; /* edited */
  color: #384e8a;
}

li span {
  color: black;
}
