<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div class="left-content">
      <p class="helvetica">
        MSC served as the University’s coordinating base for marine research. In
        June of the same year, the first Advisory Executive Council of the Center
        was formed with the appointment of Dr. Edgardo D. Gomez as acting
        Director. The Center commenced its operations in February 1975 at the
        building of the U.P. Natural Sciences Research Institute. With its
        transformation into an institute on 23 April 1985, UPMSI began offering
        graduate programs.
      </p>
    </div>

    <div class="right-content">
      <img src="../../../assets/photos/profile.png"/>
    </div>
  </div>

  <div class="content2">
    <p class="inter-medium">
      Today, MSI is tasked to pursue research, teaching, and extension work in
      marine biology, marine chemistry, physical oceanography, marine geology,
      and related disciplines.
    </p>
  </div>

  <div class="content3">
    <div class="left-content3">

    </div>
    <div class="right-content3">
      <p class="helvetica">
        The UPMSI offers MSc and PhD degrees in Marine Science
        and the Professional Masters in Tropical Marine Ecosystems
        Management (PM-TMEM). Students taking either degree are
        asked to choose to specialize in a specific field, either Marine
        Biology, Marine Physical Science or Marine Biotechnology.
      </p>

      <button mat-flat-button class="helvetica">LEARN MORE</button>
    </div>
  </div>

  <div class="content4">
    <div class="helvetica mission">
      <p>Our Mission</p>
    </div>
    <div class="mission-content">
      <span>
        <img src="../../../assets/photos/circle.png" height="90" width="90"/>
        <p class="inter-medium">
          To generate basic information
          necessary for optimal and
          sustained utilization, management,
          and conservation of the marine
          environment and its resources.
        </p>
      </span>
      <span>
        <img src="../../../assets/photos/circle.png" height="90" width="90"/>
        <p class="inter-medium">
          To provide graduate-level training
          and extension services to develop
          human resource requirements in
          the marine sciences.
        </p>
      </span>

      <span>
        <img src="../../../assets/photos/circle.png" height="90" width="90"/>
        <p class="inter-medium">
          To develop appropriate and
          environmentally-sound
          marine-based technologies for
          industrial and economic
          development.
        </p>
      </span>
    </div>
  </div>
</div>
