<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content">
    <div class="right-content">
      <img src="../../../assets/photos/about2.png"/>
    </div>

    <div class="left-content">
      <span class="title atlas-blackReg">
        INSTITUTE DIRECTOR
      </span>
      <br>
      <span class="sub-title atlas-bold">
        Laura T. David, Ph.D.
      </span>
      <p class="atlas-bold content-title">
        Research Interests:
      </p>
      <p class="atlas-light">
        Coastal Oceanography, remote sensing of coastal and marine environment, ocean energy, coastal
        ecosystems and climate change, climate change adaptation and disaster risk reduction management,
        science communication on biodiversity, interconnectivity and climate resilience.
      </p>
      <p class="more-about">
        MORE ABOUT THE DIRECTOR
      </p>


    </div>
  </div>

  <div class="content2">
    <div class="left-content2">
      <div class="padding-80">
        <p class="atlas-blackReg title">FACULTY</p>
        <br>
        <div class="sub-content">
          <p>Residents</p>
          <p>Professors Emeriti</p>
          <p>Retired</p>
        </div>
      </div>

    </div>
    <div class="right-content2">

    </div>
  </div>

  <div class="content3">
    <div class="left-content3">


    </div>
    <div class="right-content3 title" style="line-height: 1.2;">
      <p class="atlas-blackReg">ADMINISTRATIVE <br><span>OFFICE</span></p>
    </div>
  </div>
</div>
