.container{
}

.content{
  margin-top: 100px;
  height: 350px;
  display: flex;
  flex-direction: row;
  background-color: #384e8a;
}
.content .left-content{
  width: 55%;
  display: flex;
  flex-direction: column ;
  align-content: center;
  padding: 50px 0;
  justify-content: space-around;
}

.left-content p{
  color: white;
  line-height: 1.5;
}

.left-content .title{
  font-size: 35px;
  color: white;
}
.left-content .sub-title{
  font-size: 30px;
  color: white;
}

.content .right-content{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-about{
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.content2{
  margin: 100px 0;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.content2 .left-content2{
  width: 30%;
  background-color: #5da563;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.left-content2 p{
  color: white;
  font-size: 30px;
  margin: 10px;
}

.content2 .right-content2{
  width: 70%;
  background-image: url(../../../assets/photos/about3.JPG);
  background-repeat: repeat;
  background-size: cover;
}
