<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light" >
  <div class="content" >
    <div class="right-content"> <!-- kate: edited about to About -->
      <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623340708/About/02-institute-director_o6ufqm.png"/>
    </div>

    <div class="left-content"> <!-- kate: edited about to About -->
      <span class="title atlas-blackReg">
        INSTITUTE DIRECTOR
      </span>
      <br>
      <span class="sub-title atlas-bold">
        Laura T. David, Ph.D.
      </span>
      <p class="atlas-bold content-title">
        Research Interests:
      </p>
      <p class="atlas-light">
        Coastal Oceanography, remote sensing of coastal and marine environment, ocean energy, coastal
        ecosystems and climate change, climate change adaptation and disaster risk reduction management,
        science communication on biodiversity, interconnectivity and climate resilience.
      </p>


    </div>
  </div>

  <div class="content2" routerLink="/About/faculty">
    <div class="left-content2">
      <div class="padding-80">
        <p class="atlas-blackReg title">FACULTY</p>
        <br>
        <div class="sub-content">
          <p>
            The faculty of the Marine Science Institute (MSI) are composed of residents, professors emeriti, and retired professors. As the University’s center for marine research, faculty members not only teach, but also conduct research across different marine specializations, including marine biology, marine chemistry, physical oceanography, marine genealogy,  and other related disciplines. They are lauded as among the best in the country, both in the academe and research community.
          </p>
        </div>
      </div>

    </div>
    <div class="right-content2">

    </div>
  </div>

  <div class="content3" routerLink="/About/admin">
    <div class="left-content3">


    </div>

    <div class="right-content3">
      <div>
        <p class="atlas-blackReg title" style="line-height: 1.2;">ADMINISTRATIVE <br><span>OFFICE</span></p>
      </div>
      <div class="sub-content">
        <p>
          The faculty of the Marine Science Institute (MSI) are composed of residents, professors emeriti, and retired professors. As the University’s center for marine research, faculty members not only teach, but also conduct research across different marine specializations, including marine biology, marine chemistry, physical oceanography, marine genealogy,  and other related disciplines. They are lauded as among the best in the country, both in the academe and research community.
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  this.router.events.subscribe((path) => {
      if (path.url != this.url) {
        window.scrollTo(0, 0);
      }
 });
</script>
