<mat-drawer-container class="container">
  <mat-drawer class="sidenav" mode="side" opened>
     <div style="text-align: center;">
       UPMSI ADMIN
     </div>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/admin/admin-home']"><mat-icon >home</mat-icon>&nbsp; Home</a>
      <a mat-list-item ><mat-icon>subject</mat-icon>&nbsp; About</a>
      <a mat-list-item [routerLink]="['/admin/admin-news']"><mat-icon>feed</mat-icon>&nbsp; News</a>
      <a mat-list-item ><mat-icon>school</mat-icon>&nbsp; Academics</a>
      <a mat-list-item ><mat-icon>find_in_page</mat-icon>&nbsp; Research</a>
      <a mat-list-item ><mat-icon>account_balance</mat-icon>&nbsp; Facilities</a>
      <a mat-list-item ><mat-icon>extension</mat-icon>&nbsp; Extension</a>
      <a mat-list-item ><mat-icon>eco</mat-icon>&nbsp; Resources</a>
      <a mat-list-item ><mat-icon>contact_page</mat-icon>&nbsp; Contact</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>

    <div class="navbar">
      <mat-toolbar-row>
        <button mat-button [routerLink]="['/Home']">Logout</button>
      </mat-toolbar-row>
    </div>

    <!-- admin-content -->
    <ng-content></ng-content>

  </mat-drawer-content>
</mat-drawer-container>
