<div class="container">
  <div class="atlas-blackReg title border-green">LOCATION</div>
  <p class="atlas-light" style="line-height: 1.4; margin-top: 1.7%;">Located in this expanse of WPS is the Kalayaan Island Group (KIG), comprising a group of offshore continental and ocean reefs and islands among the Spratlys Islands. The KIG has an approximate area of 600-1000 km2 that extends from the northwestern flank of Luzon archipelago to the southwest of the island of Palawan.</p>
  <div class="box-card">
    <div class="box-card-content">
      <div class="card" *ngFor="let item of ourFocus">
        <div class="left">
          <img [src]="item.img" />
        </div>
        <div class="right">
          <p class="atlas-bold" style="color: #384e8a; text-transform: uppercase;">{{item.title}}</p>
          <p class="card-content">{{item.content}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
