<div class="content-header2">
  <div class="bml-complex">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146299/Facilities/1%20Bolinao%20Marine%20Laboratory%20-%20Elements-20210527T051358Z-001/5-BML-complex-banner_clralf.jpg">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-light">INFRASTRUCTURES AND FACILITIES</p>
        <p class="atlas-blackReg top-15 title">THE 5-HECTARE BML COMPLEX</p>
      </div>
      <div class="position">
        <button class="learn-more" [routerLink]="['/Facilities/bolinao-marine-lab/bml-complex']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
