<div class="content-header2">
  <div class="bml-complex">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/facilities%2Fbml%2F5-BML-complex-banner.jpg?alt=media&token=b2fc3962-245f-4267-a38b-887bcd41f694">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-light">INFRASTRUCTURES AND FACILITIES</p>
        <p class="atlas-blackReg top-15 title">THE 5-HECTARE BML COMPLEX</p>
      </div>
      <div class="position">
        <button class="learn-more" [routerLink]="['/Facilities/bolinao-marine-lab/bml-complex']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
