<div class="content-header2">
  <div class="bml-complex">
    <img src="https://dc592.4shared.com/img/RqrgVixGiq/s24/179ac7afd60/5-BML-complex-banner?async&rand=0.7358503239380647">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-light">INFRASTRUCTURES AND FACILITIES</p>
        <p class="atlas-blackReg top-15 title">THE 5-HECTARE BML COMPLEX</p>
      </div>
      <div class="position">
        <button class="learn-more" [routerLink]="['/Facilities/bolinao-marine-lab/bml-complex']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
