

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 25px;
}

.bml-complex{
  height: 300px;
  overflow: hidden;
}

.bml-complex img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.bml-complex img:hover{
  transform: scale(1.1);
}


.bml-complex .right-content{
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 16px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.content-header2{
  height: 270px;
  position: relative;
  width: 1000px !important;
}

.bml-border{
  border-left: 5px solid #5ca361;
  padding-left: 20px;
  margin-top: 90px;
}

.top-15{
  margin-top: 15px;
}

.learn-more{
  margin-top: 80px;
  margin-left: 25px;
  text-decoration: underline;
}

@media (min-width: 1466px){
  .title{
    font-size: 28px;
  }
  .content-header2{
    height: 310px;
    width: 1120px !important;
  }

  .bml-border{
    border-left: 6px solid #5ca361;
    padding-left: 25px;
    margin-top: 95px;
  }

  .top-15{
    margin-top: 20px;
  }

  .learn-more{
    margin-top: 85px;
    margin-left: 30px;
    text-decoration: underline;
  }

  .bml-complex{
    height: 340px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}


@media (min-width: 1666px){
  .title{
    font-size: 31px;
  }
  .content-header2{
    height: 350px;
    width: 1240px !important;
  }

  .bml-border{
    border-left: 6px solid #5ca361;
    padding-left: 30px;
    margin-top: 100px;
  }

  .top-15{
    margin-top: 25px;
  }

  .learn-more{
    margin-top: 90px;
    margin-left: 35px;
  }

  .bml-complex{
    height: 380px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}

@media (min-width: 1866px){
  .title{
    font-size: 34px;
  }
  .content-header2{
    height: 390px;
    width: 1360px !important;
  }

  .bml-border{
    border-left: 7px solid #5ca361;
    padding-left: 35px;
    margin-top: 105px;
  }

  .top-15{
    margin-top: 30px;
  }

  .learn-more{
    margin-top: 95px;
    margin-left: 40px;
  }

  .bml-complex{
    height: 420px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}


@media (min-width: 2066px){
  .title{
    font-size: 37px;
  }
  .content-header2{
    height: 430px;
    width: 1480px !important;
  }

  .bml-border{
    border-left: 7px solid #5ca361;
    padding-left: 40px;
    margin-top: 110px;
  }

  .top-15{
    margin-top: 35px;
  }

  .learn-more{
    margin-top: 100px;
    margin-left: 45px;
  }

  .bml-complex{
    height: 460px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}


@media (min-width: 2266px){
  .title{
    font-size: 40px;
  }
  .content-header2{
    height: 470px;
    width: 1600px !important;
  }

  .bml-border{
    border-left: 8px solid #5ca361;
    padding-left: 45px;
    margin-top: 115px;
  }

  .top-15{
    margin-top: 40px;
  }

  .learn-more{
    margin-top: 105px;
    margin-left: 50px;
  }

  .bml-complex{
    height: 500px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}


@media (min-width: 2466px){
  .title{
    font-size: 43px;
  }
  .content-header2{
    height: 510px;
    width: 1720px !important;
  }

  .bml-border{
    border-left: 9px solid #5ca361;
    padding-left: 50px;
    margin-top: 120px;
  }

  .top-15{
    margin-top: 45px;
  }

  .learn-more{
    margin-top: 110px;
    margin-left: 55px;
  }

  .bml-complex{
    height: 540px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}


@media (min-width: 2560px){
  .title{
    font-size: 47px;
  }

  .content-header2{
    height: 550px;
    width: 1840px !important;
  }

  .bml-border{
    border-left: 10px solid #5ca361;
    padding-left: 55px;
    margin-top: 125px;
  }

  .top-15{
    margin-top: 50px;
  }

  .learn-more{
    margin-top: 115px;
    margin-left: 60px;
  }

  .bml-complex{
    height: 580px;
  }

  .bml-complex .right-content{
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 16px;
  }
}
