<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">{{myArr[0].title}}</p>
  <p class="atlas-light date">{{myArr[0].date}}</p>
  <p class="atlas-light date-name">{{myArr[0].author}}</p>
  <div class="center-content">
    <div class="box-content" *ngIf="myArr[0].thumbnail">
      <iframe [src]="myArr[0].thumbnail | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="photothumb" *ngIf="myArr[0].Pthumbnail">
      <a *ngIf="press9Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1626222672/News/Press%20Coverage/thumbnail-16_kgvqlv.jpg" /></a>

      <a *ngIf="press04Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644303123/News/press/manilanews_mdqq1d.jpg" /></a>

      <a *ngIf="press03Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644304858/News/press/inquirernews-1_py0bky.png" /></a>

      <a *ngIf="press05Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1643947924/News/press/palawannews_oetc57.jpg" /></a>

      <a *ngIf="press6Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644303122/News/press/esquirenews_trarhb.jpg" /></a>

      <a *ngIf="press01Bool" href="https://www.dost.gov.ph/knowledge-resources/news/74-2022-news/2898-balik-scientist-names-6-seaweed-genera-holds-record-by-a-filipino-scientist.html" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1627980994/About/03%20Faculty/19-Wilfred_John_E._Santia%C3%B1ez_Ph.D._fm2i0o.jpg" /></a>

      <a *ngIf="press02Bool" href="https://ph.news.yahoo.com/west-philippine-sea-up-experts-set-sail-for-3-year-study-seeking-opportunities-082938065.html" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1663125465/News/press/Press-1_mzjfwd.jpg" /></a>

    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <div class="photo-box">
      <p class="atlas-light photo-content" >{{myArr[0].photoContent}}</p>

      <p class="atlas-light photo-content" *ngIf="press03Bool">Kindly visit the <a href="https://globalnation.inquirer.net/199379/team-of-ph-scientists-now-headed-to-pag-asa-island"  style="color:white" target="_blank">article here.</a></p>
      <p class="atlas-light photo-content" *ngIf="press04Bool">Kindly visit the <a href="https://manilanews.ph/of-science-and-sovereignty-research-station-opens-in-pag-asa-island/"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="press01Bool">Kindly visit the <a href="https://www.dost.gov.ph/knowledge-resources/news/74-2022-news/2898-balik-scientist-names-6-seaweed-genera-holds-record-by-a-filipino-scientist.html"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="press02Bool">Kindly visit the <a href="https://ph.news.yahoo.com/west-philippine-sea-up-experts-set-sail-for-3-year-study-seeking-opportunities-082938065.html"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="press05Bool">Kindly visit the <a href="https://palawan-news.com/pag-asa-island-sets-up-scientific-research-station/"  style="color:white" target="_blank">article here.</a></p>
      
      <p class="atlas-light photo-content" *ngIf="press6Bool">Kindly visit the <a href="https://www.esquiremag.ph/politics/news/u-p-scientists-are-headed-to-pag-asa-a00293-20211004"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="press9Bool">Kindly visit the <a href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content">{{myArr[0].photoContent2}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent3}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent4}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent5}}</p>
      <p class="atlas-bold photo-courtesy">{{myArr[0].courtesy}}</p>
      </div>
    </div>
  </div>

  <p class="atlas-bold news">PRESS COVERAGE</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of myArr[0].news">
        <div class="left" (click)="nextNews(item.url)">
          <img [src]="item.image">
        </div>
        <div class="right" (click)="nextNews(item.url)">
          <div>
            <p class="atlas-bold news-title">{{item.title}}</p>
            <p class="atlas-light news-content">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>


<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreMsiNews()">
    <p class="atlas-light"><span class="navi">MORE PRESS COVERAGE</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
