<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">{{myArr[0].title}}</p>
  <p class="atlas-light date">{{myArr[0].date}}</p>
  <p class="atlas-light date-name">{{myArr[0].author}}</p>
  <div class="center-content">
    <div class="box-content" *ngIf="myArr[0].thumbnail">
      <iframe [src]="myArr[0].thumbnail | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="photothumb" *ngIf="myArr[0].Pthumbnail">
      <a *ngIf="pagasa1Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1626222672/News/Press%20Coverage/thumbnail-16_kgvqlv.jpg" /></a>

      <a *ngIf="pagasa4Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644303123/News/press/manilanews_mdqq1d.jpg" /></a>

      <a *ngIf="pagasa7Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644304858/News/press/inquirernews-1_py0bky.png" /></a>

      <a *ngIf="pagasa5Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1643947924/News/press/palawannews_oetc57.jpg" /></a>

      <a *ngIf="pagasa2Bool" href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1644303122/News/press/esquirenews_trarhb.jpg" /></a>

      <a *ngIf="seaweedBool" href="https://www.dost.gov.ph/knowledge-resources/news/74-2022-news/2898-balik-scientist-names-6-seaweed-genera-holds-record-by-a-filipino-scientist.html" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1627980994/About/03%20Faculty/19-Wilfred_John_E._Santia%C3%B1ez_Ph.D._fm2i0o.jpg" /></a>

      <a *ngIf="westBool" href="https://ph.news.yahoo.com/west-philippine-sea-up-experts-set-sail-for-3-year-study-seeking-opportunities-082938065.html" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1663125465/News/press/Press-1_mzjfwd.jpg" /></a>

      <a *ngIf="pagasa3Bool" href="https://ph.news.yahoo.com/west-philippine-sea-up-experts-set-sail-for-3-year-study-seeking-opportunities-082938065.html" target="_blank"><img src="https://res.cloudinary.com/upmsi/image/upload/v1643947924/News/press/palawannews_oetc57.jpg" /></a>

      <a *ngIf="dagatBool" ><img src="https://ucarecdn.com/49f03321-2423-46bf-8f9c-5b6ea3ff3363/Joselito2.png" /></a>

      <a *ngIf="plasticBool" ><img src="https://ucarecdn.com/0fdb5b6a-5f01-4008-b23e-9f5e2cc2b9a0/Krixia.jpg" /></a>

      <a *ngIf="swfamBool" ><img src="https://ucarecdn.com/275f7c57-c7ed-45e4-9984-0bc613c6cb2a/Christa.jpg" /></a>

      <a *ngIf="cucumberBool" ><img src="https://ucarecdn.com/4389b639-b39d-4838-830c-85ca009ad670/Ryan.png" /></a>

      <a *ngIf="coralsBool" ><img src="https://ucarecdn.com/b81aaff0-07bf-4ec9-a1a2-651f8185bc9c/Aie.jpeg" /></a>

    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <div class="photo-box">
      <p class="atlas-light photo-content" >{{myArr[0].photoContent}}</p>

      <p class="atlas-light photo-content" *ngIf="pagasa5Bool">Kindly visit the <a href="https://globalnation.inquirer.net/199379/team-of-ph-scientists-now-headed-to-pag-asa-island"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="pagasa4Bool">Kindly visit the <a href="https://manilanews.ph/of-science-and-sovereignty-research-station-opens-in-pag-asa-island/"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="seaweedBool">Kindly visit the <a href="https://www.dost.gov.ph/knowledge-resources/news/74-2022-news/2898-balik-scientist-names-6-seaweed-genera-holds-record-by-a-filipino-scientist.html"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="westBool">Kindly visit the <a href="https://ph.news.yahoo.com/west-philippine-sea-up-experts-set-sail-for-3-year-study-seeking-opportunities-082938065.html"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="pagasa3Bool">Kindly visit the <a href="https://palawan-news.com/pag-asa-island-sets-up-scientific-research-station/"  style="color:white" target="_blank">article here.</a></p>
      
      <p class="atlas-light photo-content" *ngIf="pagasa2Bool">Kindly visit the <a href="https://www.esquiremag.ph/politics/news/u-p-scientists-are-headed-to-pag-asa-a00293-20211004"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="lauraBool">Kindly visit the <a href="https://www.worldbank.org/en/news/feature/2020/06/03/meet-the-innovator-protecting-our-oceans-in-the-philippines-dr-laura-t-david"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="dagatBool">Kindly visit the <a href="https://www.rappler.com/voices/thought-leaders/umaasim-ang-dagat/?fbclid=IwAR0gK0BapDU0233P6n022UY_0jKC10ddrVZ7P1KehWswZovr-92rXuUGKnY"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="plasticBool">Kindly visit the <a href="https://newsinfo.inquirer.net/1706277/up-scientists-race-to-find-plastic-eating-microbes?utm_medium=Social&utm_source=Twitter&fbclid=IwAR2RtkJGgktRces48uT-cxzNWCwu5sWkEiRj6CyV7wI_9cjEQkhfDKsYpXs#Echobox=1671319865-1"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="swfamBool">Kindly visit the <a href="https://www.spot.ph/newsfeatures/culture/103181/new-seaweed-genus-named-by-filipino-scientist-a833-20221220-lfrm?fbclid=IwAR13oKZHsF9uYc20eOjDcpAOaWXHF8adCBgEl9xTWq0THTnnn0z7nhgtfwg"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content" *ngIf="cucumberBool">Kindly visit the <a href="https://pressone.ph/maarte-sea-cucumber-bring-hope-for-stronger-covid-vax-cancer-treatment/?fbclid=IwAR3XDetmJ8cghwzKHG1DAOrIK-Ju0XxtcWLSaWQjxClQFz2oYVUxpc7XC2c"  style="color:white" target="_blank">article here.</a></p>

       <p class="atlas-light photo-content" *ngIf="coralsBool">Kindly visit the <a href="https://www.benarnews.org/english/news/philippine/coral-discovery-12192022150945.html?fbclid=IwAR2H84aQePaqdtx2N1GdTF7QfHb_zfMJsFqKHZw-Lh5g8QmRwx6ys4ooTus"  style="color:white" target="_blank">article here.</a></p>

      <p class="atlas-light photo-content">{{myArr[0].photoContent2}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent3}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent4}}</p>
      <p class="atlas-light photo-content">{{myArr[0].photoContent5}}</p>
      <p class="atlas-bold photo-courtesy">{{myArr[0].courtesy}}</p>
      </div>
    </div>
  </div>

  <p class="atlas-bold news">PRESS COVERAGE</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of myArr[0].news">
        <div class="left" (click)="nextNews(item.url)">
          <img [src]="item.image">
        </div>
        <div class="right" (click)="nextNews(item.url)">
          <div>
            <p class="atlas-bold news-title">{{item.title}}</p>
            <p class="atlas-light news-content">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>


<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreMsiNews()">
    <p class="atlas-light"><span class="navi">MORE PRESS COVERAGE</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
