<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold" style="font-size: 30px; color: #394e8a;">Sample Title Here</p>
  <p class="atlas-light" style="color: #394e8a; margin-top: 17px;">Updated Feb 17, 2020, 10:07 AM</p>
  <p class="atlas-light" style="color: #394e8a; margin-top: 7px;">Yvette Geroleo</p>
  <div style="display: grid; place-content: center; margin-top: 60px;">
    <div class="box-content">
      <img src="../../../../../assets/photos/a6.JPG">
      <div style="height: 100%; background-color: #394e8a; color: white;padding: 20px;">
      <p class="atlas-light" style="color: #eee; line-height: 1.3;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, unde asperiores adipisci nostrum quod maxime nemo odit possimus nam, aut fugit. Assumenda dignissimos esse impedit necessitatibus cum mollitia maxime! Delectus tenetur tempora ducimus voluptate quia cum dolores incidunt adipisci, debitis sapiente iusto rerum quaerat corporis nostrum nobis atque rem suscipit!</p>
      <p class="atlas-bold" style="font-size: 14px; margin-top: 30px;">PHOTO COURTESY OF MARTINA SALAZAR</p>
      </div>
    </div>

  </div>

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-bold" style="margin-top: 175px">QUEZON CITY, PHILIPPINES</p>
      <img class="fb" src="../../../../assets/photos/fblink.png">
      <img class="twitter" src="../../../../assets/photos/twitter-link.png">
      <p class="atlas-light" style="margin-top: 30px; line-height: 1.5;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus repudiandae ducimus, cum voluptatem id sunt, accusantium cupiditate atque corrupti quasi accusamus eius similique placeat deleniti nulla labore ipsa veniam hic sint aperiam veritatis ut. Sequi, recusandae sed enim quae saepe, assumenda animi autem illo nam et reiciendis ipsa quia.</p>
    </div>
  </div>

  <p class="atlas-bold" style="margin-top: 50px; font-size: 30px; color: #394e8a;">RESEARCH PROJECTS/HIGHLIGHTS</p>

    <div class="img-container">
      <div class="img-content" *ngFor="let item of project">
        <div class="left">
          <img [src]="item.image">
        </div>
        <div class="right">
          <div>
            <p class="atlas-bold">{{item.title}}</p>
            <p class="atlas-light" style="color: #4c515a; margin-top: 10px; padding-right: 10px; font-size: 14px;">{{item.content}}</p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s" (click)="moreMsiNews()">
  <mat-icon style="font-size: 30px;">arrow_forward</mat-icon>
  <span style="margin-top: 8px;">
    <p class="atlas-light">MORE RESEARCH PROJECT/HIGHLIGHTS</p>
  </span>
</div>
<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
