.container{
  margin: 0 120px;
}

.box-content{
  height: 370px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.bottom-content{
  margin-top: 50px;
  width: 700px;
}

.fb{
  height: 35px !important;
  width: 35px !important;
  cursor: pointer;
  position: absolute;
  margin-top: -15px;
  margin-left: -55px;
}

.twitter{
  height: 35px !important;
  width: 35px !important;
  cursor: pointer;
  position: absolute;
  margin-top: 27px;
  margin-left: -55px;
}

img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.more-vacancies{
  color: #384e8a;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  gap: 8px;
}

.more-vacancies:hover{
  text-decoration: underline;
}

.img-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.img-content{
  display: flex;
  flex-direction: column;
}

.left{
  width: 100%;
}

.right{
  width: 100%;
  margin-top: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.hr-line{
  margin: 15px 120px 30px 120px;
}

.title{
  font-size: 40px;
  color: #394e8a;
}

.date{
  color: #394e8a;
  margin-top: 17px;
}

.date-name{
  color: #394e8a;
  margin-top: 7px;
}

.center-content{
  display: grid;
  place-content: center;
  margin-top: 60px;
}

.photo-box{
  height: 100%;
  background-color: #394e8a;
  color: white;padding: 20px;
}

.photo-content{
  line-height: 1.3;
}

.photo-courtesy{
  font-size: 14px;
  margin-top: 30px;
}

.location{
  margin-top: 175px
}

.location-content{
  margin-top: 30px;
  line-height: 1.5;
}

.news{
  margin-top: 50px;
  font-size: 30px;
  color: #394e8a;
}

.news-title{
  font-size: 16px;
}

.news-content{
  color: #4c515a;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.arrow{
  font-size: 30px;
}

.arrow-text{
  margin-top: 8px;
}

.footer{
  margin-top: 120px;
}


@media (min-width: 1466px){
  .container{
    margin: 0 130px;
  }

  .box-content{
    height: 440px;
    width: 780px;
  }

  .bottom-content{
    margin-top: 55px;
    width: 780px;
    font-size: 18px;
  }

  .fb{
    height: 39px !important;
    width: 39px !important;
    position: absolute;
    margin-top: -17px;
    margin-left: -60px;
  }

  .twitter{
    height: 39px !important;
    width: 39px !important;
    position: absolute;
    margin-top: 29px;
    margin-left: -60px;
  }

  .img-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }


  .right{
    margin-top: 22px;
  }

  .hr-line{
    margin: 20px 130px 35px 130px;
  }

  .title{
    font-size: 45px;
  }

  .date{
    margin-top: 20px;
    font-size: 18px;
  }

  .date-name{
    margin-top: 9px;
    font-size: 18px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 70px;
  }

  .photo-box{
    padding: 20px;
  }

  .photo-content{
    font-size: 18px;
  }

  .photo-courtesy{
    font-size: 16px;
    margin-top: 30px;
  }

  .location{
    margin-top: 180px
  }

  .location-content{
    margin-top: 35px;
  }

  .news{
    margin-top: 55px;
    font-size: 32px;
  }

  .news-title{
    font-size: 18px;
  }

  .news-content{
    margin-top: 13px;
    padding-right: 13px;
    font-size: 16px;
  }

  .arrow{
    font-size: 32px;
  }

  .arrow-text{
    font-size: 18px;
  }

  .more-vacancies{
    margin-top: 35px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .footer{
    margin-top: 130px;
  }
}

@media (min-width: 1666px){
  .container{
    margin: 0 140px;
  }

  .box-content{
    height: 510px;
    width: 880px;
  }

  .bottom-content{
    margin-top: 60px;
    width: 880px;
    font-size: 20px;
  }

  .fb{
    height: 43px !important;
    width: 43px !important;
    position: absolute;
    margin-top: -19px;
    margin-left: -65px;
  }

  .twitter{
    height: 43px !important;
    width: 43px !important;
    position: absolute;
    margin-top: 31px;
    margin-left: -65px;
  }

  .img-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
  }


  .right{
    margin-top: 24px;
  }

  .hr-line{
    margin: 25px 140px 35px 140px;
  }

  .title{
    font-size: 50px;
  }

  .date{
    margin-top: 23px;
    font-size: 20px;
  }

  .date-name{
    margin-top: 11px;
    font-size: 20px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 80px;
  }

  .photo-box{
    padding: 25px;
  }

  .photo-content{
    font-size: 20px;
  }

  .photo-courtesy{
    font-size: 18px;
    margin-top: 35px;
  }

  .location{
    margin-top: 185px
  }

  .location-content{
    margin-top: 40px;
  }

  .news{
    margin-top: 60px;
    font-size: 34px;
  }

  .news-title{
    font-size: 20px;
  }

  .news-content{
    margin-top: 16px;
    padding-right: 16px;
    font-size: 18px;
  }

  .arrow{
    font-size: 34px;
  }

  .arrow-text{
    font-size: 20px;
  }

  .more-vacancies{
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }

  .footer{
    margin-top: 140px;
  }
}


@media (min-width: 1866px){
  .container{
    margin: 0 150px;
  }

  .box-content{
    height: 580px;
    width: 980px;
  }

  .bottom-content{
    margin-top: 65px;
    width: 980px;
    font-size: 22px;
  }

  .fb{
    height: 47px !important;
    width: 47px !important;
    position: absolute;
    margin-top: -21px;
    margin-left: -70px;
  }

  .twitter{
    height: 47px !important;
    width: 47px !important;
    position: absolute;
    margin-top: 33px;
    margin-left: -70px;
  }

  .img-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }


  .right{
    margin-top: 26px;
  }

  .hr-line{
    margin: 30px 150px 40px 150px;
  }

  .title{
    font-size: 55px;
  }

  .date{
    margin-top: 25px;
    font-size: 22px;
  }

  .date-name{
    margin-top: 13px;
    font-size: 22px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 90px;
  }

  .photo-box{
    padding: 30px;
  }

  .photo-content{
    font-size: 22px;
  }

  .photo-courtesy{
    font-size: 20px;
    margin-top: 40px;
  }

  .location{
    margin-top: 190px
  }

  .location-content{
    margin-top: 45px;
  }

  .news{
    margin-top: 65px;
    font-size: 36px;
  }

  .news-title{
    font-size: 22px;
  }

  .news-content{
    margin-top: 19px;
    padding-right: 19px;
    font-size: 20px;
  }

  .arrow{
    font-size: 36px;
  }

  .arrow-text{
    font-size: 22px;
  }

  .more-vacancies{
    margin-top: 45px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
  }

  .footer{
    margin-top: 150px;
  }
}

@media (min-width: 2066px){
  .container{
    margin: 0 160px;
  }

  .box-content{
    height: 680px;
    width: 1080px;
  }

  .bottom-content{
    margin-top: 70px;
    width: 1080px;
    font-size: 24px;
  }

  .fb{
    height: 51px !important;
    width: 51px !important;
    position: absolute;
    margin-top: -23px;
    margin-left: -75px;
  }

  .twitter{
    height: 51px !important;
    width: 51px !important;
    position: absolute;
    margin-top: 35px;
    margin-left: -75px;
  }

  .img-container{
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
  }


  .right{
    margin-top: 28px;
  }

  .hr-line{
    margin: 35px 160px 45px 160px;
  }

  .title{
    font-size: 60px;
  }

  .date{
    margin-top: 30px;
    font-size: 24px;
  }

  .date-name{
    margin-top: 15px;
    font-size: 24px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 100px;
  }

  .photo-box{
    padding: 35px;
  }

  .photo-content{
    font-size: 24px;
  }

  .photo-courtesy{
    font-size: 22px;
    margin-top: 45px;
  }

  .location{
    margin-top: 195px
  }

  .location-content{
    margin-top: 50px;
  }

  .news{
    margin-top: 70px;
    font-size: 38px;
  }

  .news-title{
    font-size: 24px;
  }

  .news-content{
    margin-top: 22px;
    padding-right: 22px;
    font-size: 22px;
  }

  .arrow{
    font-size: 38px;
  }

  .arrow-text{
    font-size: 24px;
  }

  .more-vacancies{
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  .footer{
    margin-top: 160px;
  }
}

@media (min-width: 2266px){
  .container{
    margin: 0 170px;
  }

  .box-content{
    height: 760px;
    width: 1180px;
  }

  .bottom-content{
    margin-top: 75px;
    width: 1180px;
    font-size: 26px;
  }

  .fb{
    height: 55px !important;
    width: 55px !important;
    position: absolute;
    margin-top: -25px;
    margin-left: -80px;
  }

  .twitter{
    height: 55px !important;
    width: 55px !important;
    position: absolute;
    margin-top: 37px;
    margin-left: -80px;
  }

  .img-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }


  .right{
    margin-top: 30px;
  }

  .hr-line{
    margin: 40px 170px 50px 170px;
  }

  .title{
    font-size: 65px;
  }

  .date{
    margin-top: 35px;
    font-size: 26px;
  }

  .date-name{
    margin-top: 17px;
    font-size: 26px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 110px;
  }

  .photo-box{
    padding: 40px;
  }

  .photo-content{
    font-size: 26px;
  }

  .photo-courtesy{
    font-size: 24px;
    margin-top: 50px;
  }

  .location{
    margin-top: 200px
  }

  .location-content{
    margin-top: 55px;
  }

  .news{
    margin-top: 75px;
    font-size: 40px;
  }

  .news-title{
    font-size: 26px;
  }

  .news-content{
    margin-top: 25px;
    padding-right: 25px;
    font-size: 24px;
  }

  .arrow{
    font-size: 40px;
  }

  .arrow-text{
    font-size: 26px;
  }

  .more-vacancies{
    margin-top: 55px;
    margin-left: 170px;
    margin-right: 170px;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
  }

  .footer{
    margin-top: 170px;
  }
}

@media (min-width: 2466px){
  .container{
    margin: 0 180px;
  }

  .box-content{
    height: 840px;
    width: 1280px;
  }

  .bottom-content{
    margin-top: 80px;
    width: 1280px;
    font-size: 28px;
  }

  .fb{
    height: 59px !important;
    width: 59px !important;
    position: absolute;
    margin-top: -27px;
    margin-left: -85px;
  }

  .twitter{
    height: 59px !important;
    width: 59px !important;
    position: absolute;
    margin-top: 39px;
    margin-left: -85px;
  }

  .img-container{
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
  }


  .right{
    margin-top: 32px;
  }

  .hr-line{
    margin: 45px 180px 55px 180px;
  }

  .title{
    font-size: 70px;
  }

  .date{
    margin-top: 40px;
    font-size: 28px;
  }

  .date-name{
    margin-top: 19px;
    font-size: 28px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 120px;
  }

  .photo-box{
    padding: 45px;
  }

  .photo-content{
    font-size: 28px;
  }

  .photo-courtesy{
    font-size: 26px;
    margin-top: 55px;
  }

  .location{
    margin-top: 205px
  }

  .location-content{
    margin-top: 60px;
  }

  .news{
    margin-top: 80px;
    font-size: 42px;
  }

  .news-title{
    font-size: 28px;
  }

  .news-content{
    margin-top: 30px;
    padding-right: 30px;
    font-size: 26px;
  }

  .arrow{
    font-size: 42px;
  }

  .arrow-text{
    font-size: 28px;
  }

  .more-vacancies{
    margin-top: 60px;
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .footer{
    margin-top: 180px;
  }
}

@media (min-width: 2560px){
  .container{
    margin: 0 190px;
  }

  .box-content{
    height: 920px;
    width: 1380px;
  }

  .bottom-content{
    margin-top: 85px;
    width: 1380px;
    font-size: 30px;
  }

  .fb{
    height: 63px !important;
    width: 63px !important;
    position: absolute;
    margin-top: -29px;
    margin-left: -90px;
  }

  .twitter{
    height: 63px !important;
    width: 63px !important;
    position: absolute;
    margin-top: 41px;
    margin-left: -90px;
  }

  .img-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }


  .right{
    margin-top: 34px;
  }

  .hr-line{
    margin: 50px 190px 60px 190px;
  }

  .title{
    font-size: 75px;
  }

  .date{
    margin-top: 45px;
    font-size: 30px;
  }

  .date-name{
    margin-top: 21px;
    font-size: 30px;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 130px;
  }

  .photo-box{
    padding: 50px;
  }

  .photo-content{
    font-size: 30px;
  }

  .photo-courtesy{
    font-size: 28px;
    margin-top: 60px;
  }

  .location{
    margin-top: 210px
  }

  .location-content{
    margin-top: 65px;
  }

  .news{
    margin-top: 85px;
    font-size: 44px;
  }

  .news-title{
    font-size: 30px;
  }

  .news-content{
    margin-top: 33px;
    padding-right: 33px;
    font-size: 28px;
  }

  .arrow{
    font-size: 44px;
  }

  .arrow-text{
    font-size: 30px;
  }

  .more-vacancies{
    margin-top: 65px;
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    justify-content: flex-end;
    gap: 22px;
  }

  .footer{
    margin-top: 190px;
  }
}
