<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1639465218/News/press/press_12_fprwjz.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
             UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

          <!-- <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p> -->
        </div>

        <p class="atlas-light content-text">
          UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">
      <img src="../../../assets/photos/press-coverage/thumbnail-01.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
           Dr. Deo Florence Onda, unang Pinoy na nakarating sa Emden Deep, na ikatlong... | Saksi
          </p>

          <!-- <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p> -->
        </div>

        <p class="atlas-light content-text">
        Dr. Deo Florence Onda, unang Pinoy na nakarating sa Emden Deep, na ikatlong pinakamalalim na bahagi ng mundo | Saksi
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">
      <img src="../../../../assets/photos/press-coverage/thumbnail-08.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
            SONA: UP Marine Science Institute, nanawagan na protektahan ang ating EEZ
          </p>

          <!-- <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p> -->
        </div>

        <p class="atlas-light content-text">
            Matapos tumambad ang mga sira-sirang bahura sa West Philippine Sea, nanawagan ang UP Marine Science Institute na dapat protektahan ang ating...
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">
      <img src="../../../../assets/photos/press-coverage/thumbnail-11.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
             Manila Bay - Rehabilitasyon o Reklamasyon? (Ika-2 Yugto) | Failon Ngayon
          </p>
          

          <!-- <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p> -->
        </div>

        <p class="atlas-light content-text">
          "Failon Ngayon" explains how human settlement and urbanization contributed to the pollution of the waterways connected to Manila Bay...
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

</div>
