<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1643956812/News/press/tvpatrol_giksmr.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
             Research facility sa Pag-asa Island, West PH Sea binuksan ng Pinoy experts
        </p>

          <p class="atlas-light date-text">
            October 25, 2021 | TV Patrol
          </p> 
        </div>

        <p class="atlas-light content-text">
          UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1643956573/News/press/siringan-anc_anitfe.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
          Research station on West PH Sea's Pag-asa island unveiled
          </p>

           <p class="atlas-light date-text">
            October 25, 2021 | ANC 24/7
          </p> 
        </div>

        <p class="atlas-light content-text">
        UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">
      <img src="../../../../assets/photos/press-coverage/thumbnail-08.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
            Team of PH scientists now headed to Pag-asa Island
          </p>

          <p class="atlas-light date-text">
            October 4, 2021 | Inquirer.net
          </p> 
        </div>

        <p class="atlas-light content-text">
          A team of scientists from the University of the Philippines Marine Science Institute (UP MSI) is bound to Pag-asa...
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">
      <img src="../../../../assets/photos/press-coverage/thumbnail-11.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
            Of science and sovereignty: Research station opens in Pag-asa Island
          </p>
          

          <p class="atlas-light date-text">
            October 25, 2021 | Manila News
          </p>
        </div>

        <p class="atlas-light content-text">
          Pag-asa Research Station or PIRS, the hub is envisioned to be an innovative center of scientific research in the middle of the West Philippine Sea.
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

</div>
