<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1627980994/About/03%20Faculty/19-Wilfred_John_E._Santia%C3%B1ez_Ph.D._fm2i0o.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
             Balik Scientist names 6 Seaweed Genera, holds a record by a Filipino Scientist
        </p>

          <p class="atlas-light date-text">
            September 7, 2022 | DOST.GOV
          </p> 
        </div>

        <p class="atlas-light content-text">
           Balik Scientist, Dr. Wilfred John E. Santiañez of the University of the Philippines-Marine Science Institute (UP-MSI)...
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1663125465/News/press/Press-1_mzjfwd.jpg">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
          West Philippine Sea: UP experts set sail for 3-year study seeking opportunities
          </p>

           <p class="atlas-light date-text">
            June 6, 2022 | Yahoo! News
          </p> 
        </div>

        <p class="atlas-light content-text">
       The West Philippine Sea (WPS) remains threatened by both 
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1643956812/News/press/tvpatrol_giksmr.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
            Team of PH scientists now headed to Pag-asa Island
          </p>

          <p class="atlas-light date-text">
           October 25, 2021 | TV Patrol
          </p> 
        </div>

        <p class="atlas-light content-text">
           UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1643956573/News/press/siringan-anc_anitfe.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
             Research facility sa Pag-asa Island, West PH Sea binuksan ng Pinoy experts
          </p>
          

          <p class="atlas-light date-text">
             October 25, 2021 | ANC 24/7
          </p>
        </div>

        <p class="atlas-light content-text">
          UP Marine Science Institute opens research hub on Pag-asa Island
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>

</div>
