.container{
  margin-top: 2.562vw;
  margin-left: 4.5%;
  margin-right: 4.5%;
}


mat-expansion-panel{
  margin-bottom: -1.464vw;
}

.panel-title{
  color: white;
  padding: 1.098vw 0px; /*edited*/
  font-size: 1.025vw; /*edited*/
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
  border-width: 0 0.146vw 0.146vw 0 !important;
  padding: 0.220vw !important;
}

.specific-class{
  border-radius: 3.660vw;
}

.grad-offering{
  margin-top: 3.660vw !important;
  padding: 0 9%; /*added*/
}


.closed-main-head{
  background-color: #384e8a;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.732vw; /*edited*/
  font-size: 1.025vw; /*edited*/
}

.regular-content p {
  margin: 0px 1.464vw;
  font-family: 'atlas-light';
  font-size: 1.025vw; /*edited*/
  border-bottom: 1.5px solid #5CA361;
  padding: 0.732vw 0px; /*edited*/
  line-height: 2.196vw;

}
