.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

.content-header{
  height: 21.742vw;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 1.171vw;
  margin-top: 0.952vw;
}

.left-content{
  position: absolute;
  z-index: 1;
  top: 0.366vw; /*edited */
  width: 53.001vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.660vw;
  color: white;
}

.title{
  font-size: 2.123vw;
  width: 70vw !important; /*edited7 */
}

.title-2{
  font-size: 1.611vw;
  margin-left: 4.5%;
  position: relative;
  top: 3.660vw;
  letter-spacing: 1px;
}

.title3{
  font-size: 2.123vw;
  border: none;
}


.what-we-do {
  margin-left: 4.5%;
  margin-right: 4.5%;
  height: 19.766vw;
  margin-top: 5.490vw;
  display: flex;
  justify-content: space-between;
}

.left-image {
  background-image: url(https://dc570.4shared.com/img/fkUOjixwiq/s24/179d4c630c8/02_online?async&rand=0.23037159108046468);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
}

.left-image2 {
  background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1624852384/Resources/RVA/The_Culture_Collection_xgt9dm.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
}

.left-image3 {
  background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1625567721/Resources/RVA/IMG_20210706_155159_100_zjjfkb.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
}

.right-content {
  width: 48.5%;
  display: flex;
  flex-direction: column;
}

.right-content2 {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content-p {
  font-size: 1.171vw;
  font-family: 'Atlas-light';
  line-height: 1.5;
}

.the-founder {
  margin: 5.124vw 4.5% 1.830vw 4.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.the-founder .left-image {
  background-image: url(https://dc570.4shared.com/img/MTfvcsI0ea/s24/179d4c63898/03_online?async&rand=0.39985390008232824);
  background-repeat: no-repeat;
  background-size: cover;
  height: 17.570vw;
  width: 17.570vw;
  z-index: 999;
}

/*
.the-founder .right-content-box {
  width: 53%;

  position: absolute;
}*/

.the-founder .right-content {
  width: 70%;
  margin-left: 3.148vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.the-founder .right-content-p {
  font-size: 1.171vw;
  margin-top: 1.391vw;
  font-family: 'Atlas-light';
  line-height: 1.5;

}

.sub-title{
  font-size: 1.391vw;
  margin-top: 21px;
}

.read-more{
  color: #394e8a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.171vw;
  justify-content: flex-end;
  margin-top: 5%;
}
.read-more:hover{
  text-decoration: underline;
}

.bottom-content{
  font-size: 1.171vw;
  line-height: 1.5;
  margin: 0px 4.5%;
}

.bottom-content-container{
  margin-top: 2%;
}

.library-contanct-container{
  position: relative;
  margin-top: 5%;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  display: flex;
  height: 15vw;
  margin-top: 5%;
  margin-bottom: -3%;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
}


/* CONTACT */
.center-box{
  display: grid;
  place-content: center;
  margin-top: 5.124vw;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 1.830vw;
}

.bml-complex{
  height: 21.962vw;
  overflow: hidden;
}

.bml-complex img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 /* transition: transform .5s ease; COMMENTED OUT */
}

/*COMMENTED OUT
.bml-complex img:hover{
  transform: scale(1.1);
} */

.content-header-contact2{
  margin-top: 5.124vw;
  /* height: 220px; */
  position: relative;
}

.content-header-contact{
  margin-top: 5.124vw;
  height: 16.105vw;
  position: relative;
}

.contact-marg{
  margin-top: 1.464vw;
  line-height: 1;
  font-size: 1.171vw;
}

.contact-marg p:nth-child(2){
  margin-top: 0.586vw;
}

.bml-complex .right-content1{
  position: absolute;
  z-index: 1;
  left: 3.660vw;
  bottom: -2.269vw;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.right-content2{
  position: absolute;
  z-index: 1;
  left: 3.660vw;
  bottom: -2.269vw;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.171vw;
}

.font-20{
  font-size: 1.464vw;
}

.position{
  margin-top: 1.464vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-more{
  width: 18.302vw;
  font-size: 1.171vw;
  padding: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #384e8a;
  color: white;
}

.what-we-do2 {
  margin-left: 4.5%;
  margin-right: 4.5%;
  height: 19.766vw;
  display: flex;
  justify-content: space-between;
}

.bottom-title {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-top: 5.490vw;
}

.mobile-banner-content{
  display: none;
}

@media (max-width: 768px) {
  .container{
    margin: 0 9%;
    margin-top: 5%;
  }

  .content-header{
    height: 40vw;
    position: relative;
  }

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .banner-content{
    display: none;
  }

  .mobile-banner-content {
    display: block;
    line-height: 1.4;
    margin-top: 3%;
    font-size: 4vw;
  }

  .left-content{
    position: absolute;
    z-index: 1;
    top: 0.366vw; /*edited */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3.660vw;
    color: white;
  }

  .title{
    font-size: 5vw;
    line-height: 1.2;
    width: 100% !important; /*edited7 */
  }

  .title-2{
    font-size: 5vw;
    margin-left: 0;
    position: relative;
    top: 3.660vw;
    letter-spacing: 1px;
  }

  .title3{
    font-size: 5vw;
    border: none;
  }


  .what-we-do {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    margin-top: 5.490vw;
    display: flex;
    flex-direction: column;
  }

  .left-image {
    background-image: url(https://dc570.4shared.com/img/fkUOjixwiq/s24/179d4c630c8/02_online?async&rand=0.23037159108046468);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 52vw;
    margin-bottom: 5%;
  }

  .left-image2 {
    background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1624852384/Resources/RVA/The_Culture_Collection_xgt9dm.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 48.5%;
  }

  .left-image3 {
    background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1625567721/Resources/RVA/IMG_20210706_155159_100_zjjfkb.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 52vw;
    margin: 5% 0;
  }

  .right-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-content2 {
    width: 48.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-content-p {
    font-size: 4vw;
    font-family: 'Atlas-light';
    line-height: 1.5;
  }

  .the-founder {
    margin: 8% 4.5% 1.830vw 4.5%;
    display: flex;
    flex-direction: column;
  }

  .the-founder .left-image {
    background-image: url(https://dc570.4shared.com/img/MTfvcsI0ea/s24/179d4c63898/03_online?async&rand=0.39985390008232824);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    width: 45vw;
    z-index: 999;
  }

  .the-founder .right-content {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .the-founder .right-content-p {
    font-size: 4vw;
    margin-top: 3%;
    font-family: 'Atlas-light';
    line-height: 1.5;

  }

  .sub-title{
    font-size: 41vw;
    margin-top: 21px;
  }

  .read-more{
    color: #394e8a;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 1.171vw;
    justify-content: flex-end;
    margin-top: 5%;
  }
  .read-more:hover{
    text-decoration: underline;
  }

  .bottom-content{
    font-size: 4vw;
    line-height: 1.5;
    margin: 0;
  }

  .bottom-content-container{
    margin-top: 2%;
  }

  .library-contanct-container{
    position: relative;
    margin-top: 5%;
  }

  /* CONTACT */
  .center-box{
    display: grid;
    place-content: center;
    margin-top: 5.124vw;
  }

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .bml-complex{
    height: 100%;
    overflow: hidden;
  }

  .bml-complex img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   /* transition: transform .5s ease; COMMENTED OUT */
  }

  /*COMMENTED OUT
  .bml-complex img:hover{
    transform: scale(1.1);
  } */

  .content-header-contact2{
    margin-top: 5.124vw;
    height: 65vw;
    position: relative;
  }

  .content-header-contact{
    margin-top: 5.124vw;
    height: 70vw;
    position: relative;
  }

  .contact-marg{
    margin-top: 1.464vw;
    line-height: 1.3;
    font-size: 4vw;
  }

  .contact-marg p:nth-child(2){
    margin-top: 0.586vw;
  }

  .bml-complex .right-content1{
    position: absolute;
    z-index: 1;
    left: 3.660vw;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .right-content2{
    position: absolute;
    z-index: 1;
    left: 3.660vw;
    bottom: -2.269vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 4vw;
  }

  .font-20{
    font-size: 4vw;
  }

  .position{
    margin-top: 1.464vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .learn-more{
    width: 44vw;
    font-size: 3.5vw;
    padding: 2vw 0;
  }

  .what-we-do2 {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .bottom-title {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5.490vw;
  }

  .arrow{
    font-size: 7vw;
  }

  .arrow-text{
    font-size: 4vw;
  }

  .more-vacancies{
    margin-left: 16%;
    margin-right: 0;
    width: 100%;
    height: 30vw;
    margin-top: 7%;
    margin-bottom: 0;
  }
}
