<app-nav></app-nav>
<div class="container">
  <div class="content-header">
    <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1624852385/Resources/RVA/RVA_Subage_Banner_fix9ig.png">
    <div class="left-content">
      <p class="atlas-blackReg title">RVA-MARINE MICROALGAL CULTURE COLLECTION RVA-MMCC</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        Microalgal culture collection plays an essential role in the field of marine science. These collections serve as an avenue to implement teaching, research and development, and technological development programs successfully and effectively.
      </p>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="atlas-blackReg title" style="color: #384e8a; margin-bottom: 2.5%;">THE FACILITY</p>
      <p class="right-content-p">The microalgal cultures are collected and isolated from various sites in the country (e.g., Anda and Bolinao, Pangasinan, Masinloc, Zambales, Manila Bay, and Anilao, Batangas). Other cultures were provided by collaborating institutes, like the Center for Culture of Marine Phytoplankton (CCMP), the National Oceanographic and Atmospheric Administration (NOAA, through Dr. Vera Trainer), the Southeast Asian Fisheries Development Center (SEAFDEC) and Central Luzon State University (CLSU, through Dr. Garry Benico).</p>
        <!-- <p class="atlas-bold read-more"(click)="readMore = true" *ngIf="!readMore">READ MORE</p> -->
    </div>
  </div>
  <div class="bottom-content-container" style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-light">The microalgal collection is housed in purpose-built, controlled environment rooms and chambers designed by Prof. Azanza using models in established culture collections abroad. Algal cultures are being maintained through semi-continuous culture methods following algal culturing techniques and protocols developed for local species.</p>
    </div>
  </div>


  <div class="the-founder">
    <div class="left-image"></div>
    <div class="right-content">
      <div>
       <p class="atlas-blackReg title" style="color: #384e8a;">ABOUT RHODARA V. AZANZA</p>
        <!-- <p class="atlas-bold sub-title" style="color: #384e8a;">JOSELYN O. RAZAL</p> -->
        <p class="right-content-p atlas-light">After being trained by experts on microalgal isolation and culture technologies abroad (U.S. Food and Drug Administration and University of Tokyo) with funding from the Department of Science and Technology (DOST), Professor Rhodora Azanza founded the RVA-Marine Microalgal Culture Collection (RVA-MMCC) in 1998. Until now, the RVA-MMCC is an integral part of the University of the Philippines Marine Science Institute.</p>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image2"></div>
    <div class="right-content">
      <p class="atlas-blackReg title" style="color: #384e8a; margin-bottom: 2.5%;">THE CULTURE COLLECTION</p>
      <p class="right-content-p">The laboratory currently maintains 54 strains of 39 microalgal species isolated from various parts of the country. There are three diatom Orders (Bacillariales, Chaetocerotaceae, and Thalassiosirales) and five Dinoflagellates Orders (Gonyaulacales, Gymnodiniales, Peridiniales, Prorocentrales, and Thoracosphaeraceae) represented. Some of the dinoflagellate collection species are toxic and potentially toxic (e.g., Pyrodinium bahamense, Alexandrium spp., Gymnodinium catenatum, Prorocentrum rhatymum, Ostreopsis ovata, Amphidinium carterae, Karenia mikimotoi, and Karlodinium azanzae).</p>
        <!-- <p class="atlas-bold read-more"(click)="readMore = true" *ngIf="!readMore">READ MORE</p> -->
    </div>
  </div>
  <div class="bottom-content-container" style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-light">Aside from diatoms and dinoflagellates, the RVA-MMCC has other phytoplankton collections under Chlorellales, Chlorodendrales, Chlorophyceae, Cryptophyceae, Haptophyceae, and Raphidophyte. Chattonella subsalsa (Raphidophyte) is classified as a harmful alga because it can cause fish kills when in massive bloom.</p>
    </div><br>
    <div class="bottom-content">
      <p class="atlas-light">Twelve new cultures were provided by Dr. Garry Benico from the Algal Biodiversity and Bioresource Laboratory in Central Luzon State University (CLSU). These include Asterodinium gracile, Chattonella subsalsa, Cochlodinium polykrikoides, Heterocapsa philippiniana, Heterocapsa pygmaea, K. ballantium, Karenia mikimotoi, Karenia papilionacea, Karlodinium australe, K. azanzae, K. zhouanum, and Takayama.</p>
    </div>
  </div>

    <div class="content-header-contact2" style="border: 1px solid black;">
      <div class="bml-complex">
        <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1624852384/Resources/RVA/Karlodinum_azanzae_ajcata.png">
        <div class="right-content2">
          <div class="column">
              <p class="atlas-light" style="color: white; line-height: 1.5; margin-top: -8%;"><span class="atlas-bold font-20">Karlodinium azanzae</span> is a fascinating new species from Manila Bay. It was discovered by Dr. Benico and his team, who named it after the “super red tide queen of the Philippines” Dr. Rhodora V. Azanza.</p>

              <div class="position">
                <a href="https://onlinelibrary.wiley.com/doi/10.1111/jpy.13030" target="_blank"><button class="learn-more">LEARN MORE</button></a>
              </div>
          </div>

        </div>

      </div>
    </div>

    <div>
      <div class="bottom-title">
        <p class="atlas-blackReg title" style="color: #384e8a; text-transform: uppercase;">Significance of the RVA-MMCC</p>
        <p class="atlas-light" style="line-height: 1.4; margin: 1.5% 0">Various components of multidisciplinary and inter-collaborative harmful algal bloom (HAB) programs, related research and teaching activities of the UP MSI, and other institutes/agencies have been served through the collection.</p>
      </div>
      <div class="what-we-do2">
        <div class="left-image3"></div>
        <div class="right-content">
          <p class="right-content-p">The Collection is a one-of-a-kind resource in the Philippines. It provides culture strains for research, extension, and educational purposes in the institute. These cultures are critical for experiments that promote understanding about ocean productivity and threats (e.g., harmful algal blooms), as well as experiments on biotechnological applications. Through the years, it has been used in class activities, educational modules, and theses or dissertations from the high school to graduate levels. Research involving the cultures has been published in different scientific journals in physiology, ecology, toxin chemistry, genomics, proteomics, and bioengineering.</p>
            <!-- <p class="atlas-bold read-more"(click)="readMore = true" *ngIf="!readMore">READ MORE</p> -->
        </div>
      </div>
      <div class="bottom-content-container" style="display: grid; place-content: center;">
        <div class="bottom-content">
          <p class="atlas-light">The collection houses the predominant HAB-causative species in the Philippines, the dinoflagellate Pyrodinium bahamense. These cultures have been valuable in extracting and optimizing protocols to purify Paralytic Shellfish toxins that can be used as analytical standards for environmental monitoring. Cultures of the benthic HAB species Gambierdiscus spp. are also being used to extract and isolate ciguatoxins, which can also be developed as analytical standards to monitor Ciguatera Poisoning, apart from other potential applications.</p>
        </div>
      </div>
    </div>

    <div class="content-header-contact">
      <div class="bml-complex">
        <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1624852384/Resources/RVA/Footer_vw2s1v.png">
        <div class="right-content1 row">
          <div class="column">
              <p class="atlas-blackReg title" style="color: white;">CONTACT US</p>
              <div class="contact-marg" style="color: white;">
                <p class="atlas-light">MSI Library Facebook Page</p>
              </div>
              <div class="contact-marg" style="color: white;">
                <p class="atlas-light"><span class="atlas-bold">Email:</span> library@msi.upd.edu.ph</p>
                <p class="atlas-light"><span class="atlas-bold">Tel No:</span> (632) 8981-8500 loc 2913</p>
              </div>
           </div>

        </div>

      </div>
    </div>



  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text">
      <p class="atlas-light" routerLink="/Resources/collections/marine-natural-products-legacy-collection" style="text-transform: uppercase;">TO Marine Natural Products Legacy Collection</p>
    </span>
    <mat-icon class="arrow" style="padding-left: .5%;" routerLink="/Resources/collections/marine-natural-products-legacy-collection">arrow_forward</mat-icon>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>


