<div class="container1">
  <div>
    <div class="content1">
      <p class="atlas-blackReg title">VISION</p>
      <p class="atlas-light context">MSI: A global center of excellence in marine science research, education, and development;</p>
    </div>
    <ul>
      <li>
        <span>
          Highest quality graduate programs providing advanced scientific training and an excellent learning experience in interdisciplinary research and development;
        </span>
      </li>

      <li>
        <span>
          Institutionalized hub for national or global interdisciplinary scientific research and forms on coastal and marine concerns;
        </span>
      </li>

      <li>
        <span>
          Recognized expertise in applications of science-based knowledge in technology development, resources and environmental management, and manpower development.
        </span>
      </li>

    </ul>
  </div>
</div>

<div class="container2">
  <div>
    <div class="content1">
      <div class="title" style="text-align: right;">
        <p class="atlas-blackReg">MISSION&nbsp;&</p>
        <p class="atlas-blackReg">MANDATE</p>
      </div>
      <p class="atlas-light context">The Marine Science Institute shall serve as a center of excellence for the advancement, dissemination, and application of knowledge in the marine sciences. It shall undertake the three-fold mission of research and development, and public service and extension in the marine sciences and related disciplines. The institute intends:</p>
    </div>
    <ul>
      <li>
        <span>
          To generate basic information necessary for optimal and sustained utilization, management, and conservation of the marine environment and its resources;
        </span>
      </li>

      <li>
        <span>
          To provide graduate-level training and extension services to develop human resource requirements in the marine sciences;
        </span>
      </li>

      <li>
        <span>
          To develop appropriate and environmentally sound marine-based technologies for industrial and economic development.
        </span>
      </li>

    </ul>
  </div>
</div>
