.container1 {
  height: 36.603vw;
  margin-top: 5.564vw;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1627981244/About/about%20msi/04-vision_j3mw8g.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  padding: 0 14%;
  color: white;
}

.container2 {
  height: 36.603vw;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1627981266/About/about%20msi/4.2-mission-mandate_huygvc.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5.564vw;
  display: grid;
  place-items: center;
  padding: 0 14%;
  color: white;
}

.content1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.928vw;
  padding-right: 1.464vw;
}

.context {
  border-left: 0.073vw solid white;
  padding-left: 1.464vw;
  line-height: 1.4;
  font-size: 1.171vw;
}

ul {
  margin-left: 2.5%;
  font-size: 1.171vw;
  font-family: 'atlas-light';
}

li {
  margin-top: 1.464vw;
  line-height: 1.5;
  color: white;
}

li span {
  color: white;
}

.mobile-title {
  display: none;
}

.mobile-ul {
  display: none;
}

@media (max-width: 768px) {
  .container1 {
    height: 50vw;
    margin-top: 5.564vw;
    background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1623341294/About/about%20msi/04-vision_e9q6ah.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 0 14%;
    color: white;
  }

  .container2 {
    height: 100%;
    background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1623341296/About/about%20msi/4.2-mission-mandate_ojlbti.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5.564vw;
    display: grid;
    place-items: center;
    padding: 14%;
    color: white;
  }

  .content1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 5vw;
    padding-right: 0;
  }

  .mobile-title {
    display: block;
  }

  .mission {
    display: none;
  }

  .context {
    border-left: none;
    padding-left: 0;
    margin-top: 5%;
    line-height: 1.4;
    font-size: 4vw;
  }

  .mobile-ul {
    display: block;
  }

  .mobile-ul ul {
    margin-left: 4%;
    font-size: 4vw;
    font-family: 'atlas-light';
  }

  .mobile-ul li {
    margin-top: 5%;
    line-height: 1.5;
    color: black;
  }

  .mobile-ul li span {
    color: black;
  }

  .container1 ul {
    display: none;
    /* margin-left: 2.5%;
    font-size: 1.171vw;
    font-family: 'atlas-light'; */
  }

  .container2 ul {
    display: none;
  }
}
