
*{
  margin: 0;
  padding: 0;
}


/* Learn more Button */
#learn-more{
  width: 250px;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
}

#learn-more-a{
  width: 250px;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #384e8a;
  color: white;
}


/* Education CSS Section */
.educ-container{
  height: 600px;
  background-image: url(../../../assets/photos/home/03-academics.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.educ-title{
  color: white; font-size: 40px;
}

.educ-p{
  color: white;
}

.educ-container .educ-content{
  padding-left: 120px;
  width: 45%;
  /* width: 600px; */
  line-height: 1.5;
}


.banner-margin{
  margin: 0 9%;
}

/* Extension CSS Section */
.extension-container{
  display: flex;
  flex-flow: row;
  margin-top: 5%;
}

.extension-container .extension-left{
  height: 100%;
  width: 45%;
  background-image: url(../../../assets/photos/home/04-extension.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.extension-container .extension-right{
  height: 100%;
  width: 55%;
  background-color: #384e8a;
  display: flex;
  flex-flow: column;
  justify-content: center;
}


/* Research CSS Section */
.research-container{
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.research-container .research-content{
  padding-top: 100px;
  padding-left: 120px;
  width: 45%;
  line-height: 1.5;
}


/* Resources CSS Section */
.resources-container{
  margin-top: 5%;
  display: flex;
  flex-flow: row;
}

.resources-container .resources-left{
  height: 100%;
  width: 55%;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.resources-container .resources-right{
  height: 100%;
  width: 45%;
  background-image: url(../../../assets/photos/home/4.2-resources.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.resources-content{
  padding: 80px;
  line-height: 1.5;
}

.msiOffice-container{
  display: flex;
  flex-flow: row;
  margin-top: 5%;
  margin-bottom: 9%;
}

.msiOffice-container .msiOffice-left{
  height: 100%;
  width: 45%;
  background-image: url(../../../assets/photos/home/4.3-office.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.msiOffice-container .msiOffice-right{
  height: 100%;
  width: 55%;
  background-color: #5da563;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.msiOffice-content{
  padding: 80px;
  line-height: 1.5;
}

.res-banner{
  height: 500px;
}

.res-banner-content{
  font-size: 16px;
}

@media (min-width: 1600px) {

  /* Learn more Button */
  #learn-more{
    width: 293px;
    font-size: 19px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 47px;
    padding-right: 47px;
  }


  /* Education CSS Section */
  .educ-container{
    height: 703px;
  }

  .educ-title{
    font-size: 47px;
  }


  .educ-container .educ-content{
    padding-left: 141px;
    font-size: 19px;
  }

  /* Research CSS Section */
  .research-container{
    height: 703px;
    font-size: 19px;
  }

  .research-container .research-content{
    padding-top: 117px;
    padding-left: 141px;
  }

  .resources-content{
    padding: 93px;
  }


  .msiOffice-content{
    padding: 93px;
  }

  .res-banner{
    height: 586px;
  }

  .res-banner-content{
    font-size: 19px;
  }
}


@media (min-width: 1920px) {
  /* Learn more Button */
  #learn-more{
    width: 352px;
    font-size: 23px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 56px;
    padding-right: 56px;
  }


  /* Education CSS Section */
  .educ-container{
    height: 843px;
  }

  .educ-title{
    font-size: 56px;
  }


  .educ-container .educ-content{
    padding-left: 169px;
    font-size: 23px;
  }

  /* Research CSS Section */
  .research-container{
    height: 843px;
    font-size: 23px;
  }

  .research-container .research-content{
    padding-top: 140px;
    padding-left: 169px;
  }

  .resources-content{
    padding: 112px;
  }


  .msiOffice-content{
    padding: 112px;
  }

  .res-banner{
    height: 703px;
  }

  .res-banner-content{
    font-size: 23px;
  }
}
