<div class="container">
  <app-nav></app-nav>

  <div class="img-bg animate__animated animate__fadeIn animate__delay-1s">
    <div class="slider">
      <div class="sliderchild">
        <div class="imagecon">
          <img [src]="bgImage1">
          <div class="left-content img-container">
            <div class="img-content">
              <p class="capital-words atlas-blackReg">{{headline1}}</p>
              <br><br>
              <p class="second-p atlas-light">{{content1}}</p>
              <br><br>
              <button id="learn-more" [routerLink]="[link1]">LEARN MORE</button>
            </div>
          </div>
        </div>

        <!-- <div class="imagecon" [style.backgroundImage]="'url('+bgImage2+')'">
          <div style="color: white; height: 100%; width: 700px; margin-left: 120px; display: flex; flex-direction: column; align-self: center; justify-content: center;">
            <p class="capital-words atlas-bold">{{headline2}}</p>
            <br><br>
            <p style="line-height: 1.5; text-shadow: 2px 2px 3px black;" class="atlas-light">{{content2}}</p>
            <br><br>
            <button id="learn-more" [routerLink]="[link2]">LEARN MORE</button>
          </div>
        </div> -->

        <div class="imagecon">
          <img [src]="bgImage2">
          <div class="left-content img-container">
            <p class="capital-words atlas-blackReg">{{headline2}}</p>
            <br><br>
            <p class="second-p atlas-light">{{content2}}</p>
            <br><br>
            <button id="learn-more" [routerLink]="[link2]">LEARN MORE</button>
          </div>
        </div>

        <div class="imagecon">
          <img [src]="bgImage3">
          <div class="left-content img-container">
            <p class="capital-words atlas-blackReg">{{headline3}}</p>
            <br><br>
            <p class="second-p atlas-light">{{content3}}</p>
            <br><br>
            <button id="learn-more" [routerLink]="[link3]">LEARN MORE</button>
          </div>
        </div>

        <div class="imagecon">
          <img [src]="bgImage4">
          <div class="left-content img-container">
            <p class="capital-words atlas-blackReg">{{headline4}}</p>
            <br><br>
            <p class="atlas-light second-p">{{content4}}</p>
            <br><br>
            <button id="learn-more" [routerLink]="[link4]">LEARN MORE</button>
          </div>
        </div>

        <div class="imagecon">
          <img [src]="bgImage1">
          <div class="left-content img-container">
            <p class="capital-words atlas-blackReg">{{headline1}}</p>
            <br><br>
            <p class="second-p atlas-light">{{content1}}</p>
            <br><br>
            <button id="learn-more" [routerLink]="[link1]">LEARN MORE</button>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>

<!--News Section-->

<app-homepage-news></app-homepage-news>


<!--Education Section-->
<div class="educ-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="educ-content">
    <p class="atlas-blackReg educ-title">
      ACADEMICS AT THE MSI
    </p>

    <p class="atlas-light educ-p">
      The Institute grants M.S. and Ph.D. degrees in Marine Science with
      specializations in Marine Biology, Marine Physical Science, or Marine
      Biotechnology . MSI also offers the Professional Masters in Tropical
      Marine Ecosystems Management (PM-TMEM) program for managers
      and practitioners, with its initial focus on Marine Protected Areas
      (MPAs). These graduate programs provide students with opportunities for advanced multidisciplinary training enriched with integrated
      research, development and extension. Research assistantships in
      various projects are available to students. A limited number of scholarships are available through special grants.
    </p>
  </div>
</div>


<!--Research Section-->
<div class="educ-container animate__animated animate__fadeIn animate__delay-1s" style=" background-image: url(../../../assets/photos/research.jpg);
background-repeat: no-repeat;
background-size: cover;">
  <div class="educ-content">
    <p class="atlas-blackReg educ-title">
      RESEARCH
    </p>

    <p class="atlas-light educ-p">
      Expose the truth problem-solvers leverage social return on investment revolutionary activate unprecedented challenge scalable bandwidth data synergy move the needle we must stand up big data.
      Agile; compelling segmentation; dynamic triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive.
    </p>
  </div>
</div>


<div class="banner-margin">
  <!--Extension Section-->
  <div class="extension-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="extension-left">

    </div>

    <div class="extension-right">
      <div class="resources-content">
        <p class="atlas-blackReg educ-title">
          EXTENSION
        </p>

        <p class="atlas-light res-banner-content" style="color: white;">
          The MSI also organizes and conducts workshops, conferences, and training courses for local and international participants, both in the country and abroad. Topics include
          resource survey and monitoring techniques, coastal zone
          management, habitat restoration, mariculture, and analytical techniques, and development of science-based decision support system.
        </p>
        <br> <br>
        <button id="learn-more">LEARN MORE</button>
      </div>
    </div>
  </div>


  <!--Resources Section-->
  <div class="resources-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="resources-left">
      <div class="resources-content">
        <p class="atlas-blackReg educ-title" style="color: #384e8a;">
          RESOURCES
        </p>

        <p class="atlas-light res-banner-content" style="color: #666666;">
          Expose the truth problem-solvers leverage social return on
          investment revolutionary activate unprecedented challenge
          scalable bandwidth data synergy move the needle we must
          stand up big data. Agile; compelling segmentation; dynamic
          triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive, and bandwidth.     </p>
        <br> <br>
        <button id="learn-more">LEARN MORE</button>
      </div>
    </div>

    <div class="resources-right">

    </div>
  </div>


  <!--UPMSI Office Section-->
  <div class="resources-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="msiOffice-left">

    </div>

    <div class="msiOffice-right">
      <div class="resources-content">
        <p class="atlas-blackReg educ-title">
          UP MSI OFFICE
        </p>

        <p class="atlas-light res-banner-content" style="color: white;">
          Expose the truth problem-solvers leverage social return on investment revolutionary activate unprecedented challenge scalable bandwidth data synergy move the needle we must stand up big data.
          Agile; compelling segmentation; dynamic triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive,
          and bandwidth but social capital.
       </p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
