<app-nav></app-nav>

<app-home-banner></app-home-banner>

<!--News Section-->

<app-homepage-news></app-homepage-news>


<!--Education Section-->
<div class="educ-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="educ-content">
    <p class="atlas-blackReg educ-title">
      ACADEMICS AT THE UP MSI
    </p>

    <p class="atlas-light educ-p">
      The UP MSI fosters aspiring marine scientists and professionals through advanced, multidisciplinary graduate programs. For research-oriented students, UP MSI grants M.S. and Ph.D. degrees in Marine Science with different specializations. For professionals outside academia, it  offers the Professional Masters in Tropical Marine Ecosystems Management (PM-TMEM) program, with an initial focus on Marine Protected Areas (MPAs). Graduate students receive support in the form of research assistantships and scholarships.
    </p>
    <br><br>
    <button id="learn-more" routerLink="/Academics">LEARN MORE</button>

  </div>
</div>


<!--Research Section-->
<div class="educ-container animate__animated animate__fadeIn animate__delay-1s" style=" background-image: url(https://res.cloudinary.com/dqs7gg03v/image/upload/v1623340908/Home/3.2-research-section-banner_fuiu2x.png);
background-repeat: no-repeat;
background-size: cover;">
  <div class="educ-content">
    <p class="atlas-blackReg educ-title">
      RESEARCH
    </p>

    <p class="atlas-light educ-p">
      The UP MSI empowers the Philippine marine sector through its research work. Research programs are designed to generate information to improve the current understanding of marine and coastal environments. The goal is to conduct the conservation and sustainable use of marine resources more effectively.
    </p>
    <br><br>
    <button id="learn-more-a" routerLink="/Research">LEARN MORE</button>
  </div>
</div>


<div class="banner-margin">
  <!--Extension Section-->
  <div class="extension-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="extension-left">

    </div>

    <div class="extension-right">
      <div class="resources-content">
        <p class="atlas-blackReg educ-title">
          EXTENSION
        </p>

        <p class="atlas-light res-banner-content" style="color: white;">
          Extension work is integral to the objectives of the UP MSI. Training activities and technical services allow the Institute to share its expertise with local and international audiences. The UP MSI regularly hosts workshops, conferences, and training courses on survey and monitoring techniques, coastal zone management, habitat restoration, mariculture, and science-based decision support systems. Public and private agencies can also consult the UP MSI for projects related to marine protection and management, biotechnology, and product development.
        </p>
        <br> <br>
        <button id="learn-more-b" routerLink="/Extension">LEARN MORE</button>
      </div>
    </div>
  </div>


  <!--Resources Section-->
  <div class="resources-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="resources-left">
      <div class="resources-content">
        <p class="atlas-blackReg educ-title" style="color: #384e8a;">
          RESOURCES
        </p>

        <p class="atlas-light res-banner-content" style="color: #666666;">
          The UP MSI offers numerous resources in support of staff and graduate students. Laboratories are readily equipped for synthetic and analytical experiments in marine biology, oceanography, ecology, environmental management, fisheries, and aquaculture. Additionally, the UP MSI Library maintains a collection of books, scientific publications, theses and dissertations, audio-visual and cartographic materials, and reprints.</p>
        <br> <br>
        <button id="learn-more-b" routerLink="/Resources">LEARN MORE</button>
      </div>
    </div>

    <div class="resources-right">

    </div>
  </div>


  <!--UP MSI Office Section-->
  <div class="msiOffice-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="msiOffice-left">

    </div>

    <div class="msiOffice-right">
      <div class="msiOffice-content">
        <p class="atlas-blackReg educ-title">
          UP MSI ADMIN <!-- edited -->
        </p>

        <p class="atlas-light res-banner-content" style="color: white;">
          The administrative office operates at the heart of the Institute. It handles the concerns of more than 100 full-time regular and contractual personnel. Communications and paperwork related to academics, research projects, collaborations, and expeditions are carried out here daily.
       </p>
       <br><br>
      <button id="learn-more-c"  [routerLink]="['/About/admin']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
