<div class="container">
  <app-nav></app-nav>

  <div class="img-bg animate__animated animate__fadeIn animate__delay-1s">
    <div class="img-container">
      <div class="img-content">
        <p class="capital-words bebas">WE ARE THE UP MARINE SCIENCE INSTITUTE</p>
        <br><br>
        <p class="second-p inter-medium">
          The UP Marine Science Institute UPMSI is one of seven academic institutes of the University of
          the Philippines’ College of Science. It is housed in its own building complex within the UP Diliman
          Campus in Quezon City. It is tasked to pursue research, teaching, and extension work in marine
          biology, marine chemistry, physical oceanography, marine geology, and related disciplines.
        </p>
        <br><br>
        <button id="learn-more">LEARN MORE</button>
      </div>
    </div>
    <carousel
    [images]="images"
    [autoplay]="true"
    [loop]="true"
    [pauseOnHover]="false"
    [freeScroll]="false"
    [autoplayInterval]="'7000'"
    [transitionTimingFunction]="'ease-in-out'"
    [transitionDuration]="'3000'"
    [height]="'100%'"
    [cellWidth]="'100%'"
    [arrows]="false"
    [objectFit]="'cover'"
    [overflowCellsLimit]="1"
    [dots]="true"
    >
    </carousel>

  </div>
</div>

<!--News Section-->
<div class="news-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="news-align-center">
    <div class="news-content">
      <span id="news1">
        <p class="bebas" style="color: #20578E; font-size: 72px;">News</p>
        <img src="../assets/photos/news1.jpeg" alt="" height="250px">
        <p class="inter-bold" style="color: #274d8b; padding-top: 5px;width: 75%;">
          Mass Incarceration In
          Sustainable Challenge
        </p>
        <p style="font-size: 14px; color: #666666; width: 85%; margin-top: 10px; line-height: 1.3;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>
      </span>

      <span id="news1">
        <p class="bebas" style="color:transparent; font-size: 72px;">News</p>
        <img src="../assets/photos/news2.jpeg" alt="" height="250px">
        <p class="inter-bold" style="color: #274d8b; padding-top: 5px; width: 75%;">
          The Collective Impact of Needle Green Space
        </p>
        <p style="font-size: 14px; color: #666666; width: 85%; margin-top: 10px; line-height: 1.3;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>
      </span>

      <span id="news1">
        <p class="bebas" style="color:transparent; font-size: 72px;">News</p>
        <img src="../assets/photos/news3.jpeg" alt="" height="250px">
        <p class="inter-bold" style="color: #274d8b; padding-top: 5px;width: 75%;">
          Deep Dive Environmental Rights
        </p>
        <p style="font-size: 14px; color: #666666; width: 85%; margin-top: 10px; line-height: 1.3;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem esse
          sapiente repudiandae magnam deleniti amet. <span class="see-more">See more...</span>
        </p>

      </span>
    </div>
  </div>
</div>


<!--Education Section-->
<div class="educ-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="educ-content">
    <p class="bebas" style="color: white; font-size: 72px;">
      EDUCATION AT MSI
    </p>

    <p class="inter-medium" style="color: white;">
      The Institute grants M.S. and Ph.D. degrees in Marine Science with
      specializations in Marine Biology, Marine Physical Science, or Marine
      Biotechnology . MSI also offers the Professional Masters in Tropical
      Marine Ecosystems Management (PM-TMEM) program for managers
      and practitioners, with its initial focus on Marine Protected Areas
      (MPAs). These graduate programs provide students with opportunities for advanced multidisciplinary training enriched with integrated
      research, development and extension. Research assistantships in
      various projects are available to students. A limited number of scholarships are available through special grants.
    </p>
  </div>
</div>


<!--Research Section-->
<div class="research-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="research-content">
    <p class="bebas" style="color: white; font-size: 72px;">
      RESEARCH
    </p>

    <p class="inter-medium" style="color: white;">
      Expose the truth problem-solvers leverage social return on investment revolutionary activate unprecedented challenge scalable bandwidth data synergy move the needle we must stand up big data.
      Agile; compelling segmentation; dynamic triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive.
    </p>
  </div>
</div>


<!--Extension Section-->
<div class="extension-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="extension-left">

  </div>

  <div class="extension-right">
    <div class="extension-content">
      <p class="bebas" style="color: white; font-size: 72px;">
        EXTENSION
      </p>

      <p class="inter-medium" style="color: white;">
        The MSI also organizes and conducts workshops, conferences, and training courses for local and international participants, both in the country and abroad. Topics include
        resource survey and monitoring techniques, coastal zone
        management, habitat restoration, mariculture, and analytical techniques, and development of science-based decision support system.
      </p>
      <br> <br>
      <button id="learn-more">LEARN MORE</button>
    </div>
  </div>
</div>


<!--Resources Section-->
<div class="resources-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="resources-left">
    <div class="resources-content">
      <p class="bebas" style="color: #20578E; font-size: 72px;">
        RESOURCES
      </p>

      <p class="inter-medium" style="color: #666666;">
        Expose the truth problem-solvers leverage social return on
        investment revolutionary activate unprecedented challenge
        scalable bandwidth data synergy move the needle we must
        stand up big data. Agile; compelling segmentation; dynamic
        triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive, and bandwidth.     </p>
      <br> <br>
      <button id="learn-more">LEARN MORE</button>
    </div>
  </div>

  <div class="resources-right">

  </div>
</div>


<!--UPMSI Office Section-->
<div class="msiOffice-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="msiOffice-left">

  </div>

  <div class="msiOffice-right">
    <div class="msiOffice-content">
      <p class="bebas" style="color: white; font-size: 72px;">
        UP MSI OFFICE
      </p>

      <p class="inter-medium" style="color: white;">
        Expose the truth problem-solvers leverage social return on investment revolutionary activate unprecedented challenge scalable bandwidth data synergy move the needle we must stand up big data.
        Agile; compelling segmentation; dynamic triple bottom line philanthropy human-centered. Storytelling thought provoking deep dive,
        and bandwidth but social capital.
     </p>
    </div>
  </div>
</div>


<!--Contact Section-->
<div class="contact-container animate__animated animate__fadeIn animate__delay-1s">
  <div class="first-content">
    <p class="inter-bold">ABOUT UP MSI</p>
    <p class="inter-medium">Who We Are</p>
    <p class="inter-medium">Our Courses</p>
    <p class="inter-medium">Areas of Research</p>
    <p class="inter-medium">Extension</p>
    <p class="inter-medium">Faculty</p>
    <p class="inter-medium">Staff</p>
  </div>
  <div class="second-content">
    <p class="inter-bold">RESOURCES</p>
    <p class="inter-medium">Publications</p>
    <p class="inter-medium">Library</p>
    <p class="inter-medium">Forms</p>
    <p class="inter-medium">Links</p>
  </div>
  <div class="third-content">
    <p class="inter-bold">CONTACT US</p>
    <p class="inter-medium" style="display: flex; flex-flow: column;width: 50%;">
      <span>
        The Marine Science Institute
        Velasquez St.
      </span>
      <span>
        University of the Philippines
        Diliman, Quezon City 1101
        Philippines
      </span>
    </p>
    <p class="inter-medium">Email: msiadmin@msi.upd.edu.ph</p>
    <p class="inter-medium" style="display: flex; flex-flow: column;">
      <span>Administrative Office:</span>
      <span>(632) 922-3959</span>
      <span>(632) 981-8500 local 2903</span>
      <span>Fax: (632) 924-7678</span>
    </p>
  </div>
</div>


<!--Footer Section-->
<footer class="inter-medium animate__animated animate__fadeIn animate__delay-1s">
  <p>	&copy; University of the Philippines Marine Science Institute. All rights reserved. 2021</p>
</footer>

