<div class="content-header">
  <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623942221/Facilities/Pag-asa/Banner_psfncr.png">
  <div class="left-content">
    <p class="atlas-blackReg title">PAGASA MARINE STATION</p>
    <p class="atlas-light banner-content" style="line-height: 1.3;">
      A working and operational marine station in Pagasa Island capable of supporting basic lab and field- based studies in marine sciences. There is a need to continue and even expand existing efforts to develop, refurbish and upgrade facilities that will help in understanding the processes in the West Philippine Sea, which would be helpful in framing policy recommendations that may aid in the sustainable utilization and conservation of the Kalayaan Island Group resources in the context of increasing threats of human activities and climate change.
    </p>
  </div>
</div>
