.content-header{
  height: 21.7708vw;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 1.1458vw;
  margin-top: 2%;
  width: 50.05208vw;
}

.mobile-banner-content{
  display: none;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.7vw;
  color: white;
}

.title{
  font-size: 2.135416vw;
}


@media (max-width: 768px) {

  .content-header{
    height: 40vw;
  }

  .banner-content{
    display: none;
  }

  .mobile-banner-content{
    margin-top: 4%;
    font-size: 4vw;
    display: block;
    line-height: 1.5 !important;
  }

  .title{
     font-size: 5vw;
  }
}

