<div class="content-header">
  <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146283/Facilities/1%20Bolinao%20Marine%20Laboratory%20-%20Elements-20210527T051358Z-001/2-banner-bml_f6iczg.jpg">
  <div class="left-content">
    <p class="atlas-blackReg title">THE BOLINAO MARINE LABORATORY</p>
    <p class="atlas-light banner-content" style="line-height: 1.3;">
      The Bolinao Marine Laboratory (BML) is the main research station of the UP Marine Science Institute and is one of the leading scientific institutions in Southeast Asia. The BML is located in the municipality of Bolinao, province of Pangasinan on the northern corner of the Lingayen Gulf in the northern Philippines.
    </p>
  </div>
</div>

    <p class="atlas-light mobile-banner-content" style="line-height: 1.3;">
      The Bolinao Marine Laboratory (BML) is the main research station of the UP Marine Science Institute and is one of the leading scientific institutions in Southeast Asia. The BML is located in the municipality of Bolinao, province of Pangasinan on the northern corner of the Lingayen Gulf in the northern Philippines.
    </p>
