.content-header{
  height: 270px;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 8px;
  left: 16px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
}

.title{
  font-size: 25px;
}

@media (min-width: 1466px){
  .content-header{
    height: 310px;
  }

  .left-content{
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 60px;
  }

  .title{
    font-size: 28px;
  }
}


@media (min-width: 1666px){
  .content-header{
    height: 350px;
  }

  .left-content{
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 0 70px;
  }

  .title{
    font-size: 31px;
  }
}

@media (min-width: 1866px){
  .content-header{
    height: 390px;
  }

  .left-content{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    padding: 0 80px;
  }

  .title{
    font-size: 34px;
  }
}


@media (min-width: 2066px){
  .content-header{
    height: 430px;
  }

  .left-content{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 90px;
  }

  .title{
    font-size: 37px;
  }
}


@media (min-width: 2266px){
  .content-header{
    height: 470px;
  }

  .left-content{
    width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 0 100px;
  }

  .title{
    font-size: 40px;
  }
}


@media (min-width: 2466px){
  .content-header{
    height: 510px;
  }

  .left-content{
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 110px;
  }

  .title{
    font-size: 43px;
  }
}


@media (min-width: 2560px){
  .content-header{
    height: 550px;
  }

  .left-content{
    width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    padding: 0 120px;
  }

  .title{
    font-size: 47px;
  }
}
