<div class="content-header">
  <img src="../../../../assets/photos/BML-photos/1-banner-photo-highlights-2.jpg">
  <div class="left-content">
    <div>
      <p class="atlas-blackReg title">BOLINAO MARINE LABORATORY</p>
    </div>
    <p class="atlas-light" style="line-height: 1.4;">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorem quos assumenda ipsam laborum facilis, eos fugit adipisci molestias quam odit praesentium accusamus impedit rerum nulla reprehenderit et sint deserunt.
    </p>
  </div>
</div>
