<div class="container">
  <div class="atlas-blackReg title border-green">EXPECTED OUTPUT</div>
  <p class="atlas-light" style="line-height: 1.4; margin-top: 1.7%;">A working and operational marine station in Pag-asa Island capable of supporting basic lab and field- based studies in marine sciences.</p>

  <div class="bml-complex">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/pag-asa%2F06-expected%20output.png?alt=media&token=33cf35a5-3134-495d-b5b7-2251c4bb861a">

  </div>
</div>
