<app-nav></app-nav>
<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div class="content1">
    <div class="content1-left">
      <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
        <span class="inter-bold" style="color: white; font-size: 40px;">BOLINAO MARINE</span>
        <span class="inter-bold" style="color: white; font-size: 40px;">LABORATORY</span>
      </div>
      <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
        The Marine Science Institute, College of Science, University of the Philippines Diliman,
        invites applications for a full-time tenure-track faculty position in chemical oceanography
        or marine chemistry, starting in August 2021. Rank and salary are commensurate with
        qualifications and experience.
      </div>

      <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
        The Marine Science Institute, College of Science, University of the Philippines Diliman,
        invites applications for a full-time tenure-track faculty position in chemical oceanography
        or marine chemistry, starting in August 2021. Rank and salary are commensurate with
        qualifications and experience.
      </div>

      <div style="margin:0 50px; text-decoration: underline; color: white;  display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px; font-weight: 100;">KNOW MORE ABOUT BML</div>

    </div>

    <div class="content1-right">

    </div>
  </div>

  <div class="content2">
    <div class="content2-left">
      <div class="left"></div>
      <div class="right">
        <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
          <span class="inter-bold" style="color: white; font-size: 35px;">PUERTO</span>
          <span class="inter-bold" style="color: white; font-size: 35px;">GALERA</span>
          <span class="inter-bold" style="color: white; font-size: 35px;">STATION</span>
        </div>

        <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
          The Marine Science
          Institute, College of
          Science, University of the
          Philippines Diliman
        </div>
      </div>
    </div>

    <div class="content2-right">
      <div class="left"></div>
      <div class="right">
        <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
          <span class="inter-bold" style="color: white; font-size: 35px;">PAGASA</span>
          <span class="inter-bold" style="color: white; font-size: 35px;">MARINE</span>
          <span class="inter-bold" style="color: white; font-size: 35px;">STATION</span>
        </div>

        <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100;">
          The Marine Science
          Institute, College of
          Science, University of the
          Philippines Diliman
        </div>
      </div>
    </div>
  </div>

  <div class="content3">
    <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
      <span class="inter-bold" style="color: #394e8a; margin-top: 20px; font-size: 38px;">FLOATING ASSETS</span>
    </div>

    <div style="margin:0 50px;color: #394e8a; width: 23%; line-height: 1.5; margin-top: 20px; font-weight: 100">
      The Marine Science Institute, College
      of Science, University of the Philippines
      Diliman, invites applications for a fulltime tenure-track.
    </div>

    <div style="margin:0 50px; text-decoration: underline; color: #394e8a;
    margin-top: 20px; width: 23%; font-size: 18px;">
    CHECK OUR LIST
    </div>
    <div style="margin:5px 50px; text-decoration: underline; color: #394e8a; width: 23%; font-size: 18px">
    OF FLOATING ASSETS
    </div>

  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>

