<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content1">
    <div class="content1-left">
      <div style=" display: flex; flex-direction: column; line-height: 1.2;">
        <span class="atlas-blackReg title" style="color: white;">BOLINAO MARINE</span>
        <span class="atlas-blackReg title" style="color: white;">LABORATORY</span>
      </div>
      <div class="context">
        The Marine Science Institute, College of Science, University of the Philippines Diliman,
        invites applications for a full-time tenure-track faculty position in chemical oceanography
        or marine chemistry, starting in August 2021. Rank and salary are commensurate with
        qualifications and experience.
      </div>

      <div class="context">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quibusdam eius? Sapiente, autem suscipit? Ex.
      </div>

      <div class="know-more">KNOW MORE ABOUT BML</div>

    </div>

    <div class="content1-right">

    </div>
  </div>

  <div class="content2">
    <div class="content2-left">
      <div class="left"></div>
      <div class="right">
        <div class="subtitle">
          <span class="atlas-bold">PUERTO</span>
          <span class="atlas-bold">GALERA</span>
          <span class="atlas-bold">STATION</span>
        </div>

        <div class="subtitle-content">
          The Marine Science
          Institute, College of
          Science, University of the
          Philippines Diliman
        </div>
      </div>
    </div>

    <div class="content2-right">
      <div class="left"></div>
      <div class="right">
        <div class="subtitle">
          <span class="atlas-bold">PAGASA</span>
          <span class="atlas-bold">MARINE</span>
          <span class="atlas-bold">STATION</span>
        </div>

        <div class="subtitle-content">
          The Marine Science
          Institute, College of
          Science, University of the
          Philippines Diliman
        </div>
      </div>
    </div>
  </div>

  <div class="content3">
    <div class="header-content3">
      <span class="atlas-blackReg title-content3">FLOATING ASSETS</span>
    </div>

    <div class="content3-context">
      The Marine Science Institute, College
      of Science, University of the Philippines
      Diliman, invites applications for a fulltime tenure-track.
    </div>

    <div class="check-our-list">
    CHECK OUR LIST OF FLOATING ASSETS
    </div>

  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>

