<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content1">
    <div class="content1-left">
      <div style=" display: flex; flex-direction: column; line-height: 1.2;">
        <span class="atlas-blackReg title" style="color: white;">BOLINAO MARINE</span>
        <span class="atlas-blackReg title" style="color: white;">LABORATORY</span>
      </div>
      <div class="context">
        The Bolinao Marine Laboratory (BML) is the main research station of the Marine Science Institute.
      </div>

      <div class="context">
        BML maintains outdoor culture facilities and experimental areas with flow-through seawater and continuous aeration, as well as facilities for microalgae culture. Laboratories are equipped with analytical instruments, while SCUBA and snorkeling gear and small watercraft are available for fieldwork. To ensure 24/7 power supply,  the research station is equipped with generators.
      </div>
       <div class="position">
         <button class="learn-more">LEARN MORE</button>
        </div>

    </div>

    <div class="content1-right">

    </div>
  </div>

  <div class="content2">
    <div class="content2-left">
      <div class="left"></div>
      <div class="right">
        <div class="subtitle">
          <span class="atlas-bold">PUERTO</span>
          <span class="atlas-bold">GALERA</span>
          <span class="atlas-bold">STATION</span>
        </div>

        <div class="subtitle-content">
          Located at the Verde Island Passage, the Puerto Galera Biodiversity and Environmental Research and Outreach Center.
        </div>
      </div>
    </div>

    <div class="content2-right">
      <div class="left"></div>
      <div class="right">
        <div class="subtitle">
          <span class="atlas-bold">PAGASA</span>
          <span class="atlas-bold">MARINE</span>
          <span class="atlas-bold">STATION</span>
        </div>

        <div class="subtitle-content">
          The Pag-Asa Marine Station in Pag-Asa Island, Palawan supports basic lab and field-based research in marine science.
        </div>
      </div>
    </div>
  </div>

  <div class="content3">
    <div class="header-content3">
      <span class="atlas-blackReg title-content3">FLOATING ASSETS</span>
    </div>

    <div class="content3-context">
      To increase the country’s capacity for ocean research, the UP SYSTEM operates research vessels for coastal and seasonal open ocean expeditions. Among them are the RV Kasarinlan and the RV Kalayaan. Their activities range from seismic surveys to oceanographic and plastics research.

      <div class="position">
         <button class="learn-more">LEARN MORE</button>
     </div>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>

