
      <div class="upper">
        <div class="upper-left">
          <div class="left" (click)="gotoAnnouncement()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1636436433/News/Announcements%20Icons/Icon_tohvww.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement()">
            Statement of the University of the Philippines-Marine Science Institute (UPMSI) on Lingayen Gulf Offshore Mining
            </span>
            <!-- <p class="atlas-light date-text-a">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-a
              ">
              Seabed magnetite mining threatens Lingayen Gulf. The proposed mining project plans to start in the second half of 2022...
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left" (click)="gotoAnnouncement1()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1632464161/News/Announcements%20Icons/Announcements_Icon_1_zvfgi3.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement1()">
              Statement of the University of the Philippines-Marine Science Institute (UPMSI) on coral restoration technologies
            </span>
            <!-- <p class="atlas-light date-text-b" >
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column; margin-top: 3%;">
              <p class="atlas-light content-text-b">
               Coral restoration is the process of assisting the recovery of a portion of a reef ecosystem that has been degraded... 
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>
      </div>

      <div class="upper bottom-announce">
        <div class="upper-left">
          <div class="left" (click)="gotoAnnouncement2()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1628147111/News/Announcements%20Icons/anc1_supmp6.png"/>
          </div>
           
          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement2()">
             A letter for Dr. Ed Gomez on his first death anniversary 
            </span>
            <!-- <p class="atlas-light date-text-c">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-c">
               Today, we pause from our seemingly harried life because of the COVID-19 pandemic and remember you with much gratitude for your extraordinary contributions and the rich legacy you leave us behind. 
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left" (click)="gotoAnnouncement3()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1628147108/News/Announcements%20Icons/anc2_okxsof.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement3()">
              UP MSI Official Statement on DENR Claims
            </span>
            <!-- <p class="atlas-light date-text-d">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-d">
                This is to clarify the statement made by Department of Environment and Natural Resources (DENR) Undersecretary Benny Antiporda accusing the University of the Philippines Marine Science Institute (UP MSI)...
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>
      </div>
