
      <div class="upper">
        <div class="upper-left">
          <div class="left" (click)="gotoAnnouncement()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1667897309/News/Announcements%20Icons/msr_thumbnail-modified_igfknz.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement()">
           Dialogue 3: PH MSR Framework and West Philippine Sea
            </span>
            <!-- <p class="atlas-light date-text-a">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-a
              ">
              The UP Marine Science Institute (UP MSI) together with the Foundation for National Interest (FNI) and the Embassy of the United States of America...
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left" (click)="gotoAnnouncement1()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1647946483/News/Announcements%20Icons/f2f-thumbnail-modified_pigs31.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement1()">
              GPS para sa F2F
            </span>
            <!-- <p class="atlas-light date-text-b" >
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column; margin-top: 3%;">
              <p class="atlas-light content-text-b">
               Gabay sa pag-aalaga sa sarili sa face-to-face class activities.
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>
      </div>

      <div class="upper bottom-announce">
        <div class="upper-left">
          <div class="left" (click)="gotoAnnouncement2()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1647509486/News/Announcements%20Icons/thumbnail-modified_bz3mwl.png"/>
          </div>
           
          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement2()">
              The Call for Abstract Submissions for the 3rd Graduate Student Research Conference
            </span>
            <!-- <p class="atlas-light date-text-c">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-c">
              The Call for Abstract Submissions for the 3rd Graduate Student Research Conference is now open.
               </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left" (click)="gotoAnnouncement3()">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1638436114/News/Announcements%20Icons/EDG_Icon_zo9iey.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text" (click)="gotoAnnouncement3()">
              A tribute to EDG
            </span>
            <!-- <p class="atlas-light date-text-d">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
            </p> -->
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text-d">
                On his second death anniversary, we honor the man behind the UP Marine Science Institute (UP MSI) by remembering...
           
              </p>
              <!--<span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>-->
            </div>
          </div>
        </div>
      </div>
