img{
  height: 170px !important;
  width: 180px !important;
}

.upper{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper .upper-left{
  width: 47%;
  height: 183px;
  display: flex;
  flex-direction: row;
}

.left{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.upper .upper-right{
  width: 47%;
  height: 183px;
  display: flex;
  flex-direction: row;
}

/* news */

.date-headline{
  display:flex;
  flex-direction: column;
}

.headline-text{
  color: #5da563;
}

.date-text{
  color: #94979c;
  font-size: 10px;
  line-height: 1.3;
}

.content-text{
  color: #4c515a;
  font-size: 14px;
  line-height: 1.3;
}


.read-more2{
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.bottom-announce{
  margin-top: 30px;
}


@media (min-width: 1466px){

  .headline-text{
    font-size: 18px;
  }

  .date-text{
    font-size: 12px;
  }

  .content-text{
    font-size: 16px;
  }


  .read-more2{
    font-size: 16px;
    margin-top: 25px;
  }

  .right{
    margin-left: 12px;
  }

  img{
    height: 195px !important;
    width: 205px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 203px;
  }

  .bottom-announce{
    margin-top: 35px;
  }

}

@media (min-width: 1666px){

  .headline-text{
    font-size: 20px;
  }

  .date-text{
    font-size: 14px;
  }

  .content-text{
    font-size: 18px;
  }

  .read-more2{
    font-size: 18px;
    margin-top: 30px;
  }

  .right{
    margin-left: 14px;
  }

  img{
    height: 220px !important;
    width: 230px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 223px;
  }

  .bottom-announce{
    margin-top: 40px;
  }
}

@media (min-width: 1866px){

  .headline-text{
    font-size: 22px;
  }

  .date-text{
    font-size: 16px;
  }

  .content-text{
    font-size: 20px;
  }

  .read-more2{
    font-size: 20px;
    margin-top: 35px;
  }

  .right{
    margin-left: 16px;
  }

  img{
    height: 245px !important;
    width: 255px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 243px;
  }


  .bottom-announce{
    margin-top: 45px;
  }
}

@media (min-width: 2066px){

  .headline-text{
    font-size: 24px;
  }

  .date-text{
    font-size: 18px;
  }

  .content-text{
    font-size: 22px;
  }

  .read-more2{
    font-size: 22px;
    margin-top: 40px;
  }

  .right{
    margin-left: 18px;
  }

  img{
    height: 270px !important;
    width: 280px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 263px;
  }

  .bottom-announce{
    margin-top: 50px;
  }
}

@media (min-width: 2266px){

  .headline-text{
    font-size: 26px;
  }

  .date-text{
    font-size: 20px;
  }

  .content-text{
    font-size: 24px;
  }

  .read-more2{
    font-size: 24px;
    margin-top: 45px;
  }

  .right{
    margin-left: 20px;
  }

  img{
    height: 295px !important;
    width: 305px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 283px;
  }

  .bottom-announce{
    margin-top: 55px;
  }
}

@media (min-width: 2466px){

  .headline-text{
    font-size: 28px;
  }

  .date-text{
    font-size: 22px;
  }

  .content-text{
    font-size: 26px;
  }

  .read-more2{
    font-size: 26px;
    margin-top: 50px;
  }

  .right{
    margin-left: 22px;
  }

  img{
    height: 320px !important;
    width: 330px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 303px;
  }


  .bottom-announce{
    margin-top: 60px;
  }
}

@media (min-width: 2560px){

  .headline-text{
    font-size: 30px;
  }

  .date-text{
    font-size: 24px;
  }

  .content-text{
    font-size: 28px;
  }

  .read-more2{
    font-size: 28px;
    margin-top: 55px;
  }

  .right{
    margin-left: 24px;
  }

  img{
    height: 345px !important;
    width: 355px !important;
  }

  .upper .upper-left, .upper .upper-right{
    height: 323px;
  }

  .bottom-announce{
    margin-top: 65px;
  }
}
