
      <div class="upper">
        <div class="upper-left">
          <div class="left">
            <img src="../../../assets/photos/ancmntImage2.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text">
              A letter for Dr. Ed Gomez on his first death
              anniversary
            </span>
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam expedita ipsa maxime et doloremque nemo doloribus vero rerum voluptatibus?
              </p>
              <span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left">
            <img src="../../../assets/photos/ancmntImage1.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text">
              The UP MSI
              Official Statement
            </span>
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
              <span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="upper bottom-announce">
        <div class="upper-left">
          <div class="left">
            <img src="../../../assets/photos/ancmntImage3.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text">
              Header Announcement Here
            </span>
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
              <span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>

        <div class="upper-right">
          <div class="left">
            <img src="../../../assets/photos/ancmntImage4.png"/>
          </div>

          <div class="right">
            <span class="atlas-bold headline-text">
              The UP MSI congratulates its 2020
              graduates!
            </span>
            <div style="display: flex; flex-direction: column;">
              <p class="atlas-light content-text">
                Short introduction of news here.
                The quick brown fox jumps over the
                lazy dog. She sell seashells by the
                seashore. Short introduction of
                news here.
              </p>
              <span (click)="gotoAnnouncement()" class="read-more2" style="color: #384e8a;">
                CONTINUE READING
              </span>
            </div>
          </div>
        </div>
      </div>
