.container{
  margin-top: 35px;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.title{
  font-size: 29px;
  color: #384e8a;
  margin-bottom: -1.5%;
}

.title2{
  font-size: 29px;
  padding-top: 45px;
  padding-left: 54px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


mat-expansion-panel{
  margin-bottom: -20px;
}

.panel-title{
  color: white;
  padding: 15px 0;
  font-size: 16px;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 50px;
}

.grad-offering{
  margin-top: 50px !important;
}


.closed-main-head{
  background-color: #384e8a;
  border-radius: 50px;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 16px;
}

.left{
  width: 50%;
}

.left div{
  margin-top: 10px;
  line-height: 1.4;
}

.right div{
  margin-top: 10px;
  line-height: 1.4;
}


.right{
  width: 50%;
}

.contact-banner {
  margin-top: 82px;
  height: 297px;
  background-image: url(../../../../../assets/photos/about/admin/03-footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-content {
  width: 708px;
  color: white;
  margin-top: 15px;
  padding-left: 54px;
  line-height: 1.5;
  font-family: 'atlas-light';
}

@media (min-width: 1600px) {
  .container{
    margin-top: 41px;
  }

  .title{
    font-size: 34px;
  }

  .title2{
    font-size: 34px;
    padding-top: 53px;
    padding-left: 63px;
  }


  mat-expansion-panel{
    margin-bottom: -23px;
  }

  .panel-title{
    padding: 18px 0;
    font-size: 18px;
  }

  .specific-class{
    border-radius: 58px;
  }

  .grad-offering{
    margin-top: 58px !important;
  }


  .closed-main-head{
    border-radius: 58px;
  }

  .regular-content{
    margin-top: 23px;
    font-size: 19px;
  }

  .left div{
    margin-top: 12px
  }

  .right div{
    margin-top: 12px
  }

  .contact-banner {
    margin-top: 96px;
    height: 348px;
  }

  .contact-content {
    width: 829px;
    margin-top: 18px;
    padding-left: 63px;
    font-size: 19px;
  }
}

@media (min-width: 1920px) {
  .container{
    margin-top: 49px;
  }

  .title{
    font-size: 41px;
  }

  .title2{
    font-size: 41px;
    padding-top: 64px;
    padding-left: 76px;
  }


  mat-expansion-panel{
    margin-bottom: -27px;
  }

  .panel-title{
    padding: 22px 0;
    font-size: 22px;
  }

  .specific-class{
    border-radius: 70px;
  }

  .grad-offering{
    margin-top: 70px !important;
  }


  .closed-main-head{
    border-radius: 70px;
  }

  .regular-content{
    margin-top: 28px;
    font-size: 13px;
  }

  .left div{
    margin-top: 14px
  }

  .right div{
    margin-top: 14px
  }

  .contact-banner {
    margin-top: 115px;
    height: 418px;
  }

  .contact-content {
    width: 995px;
    margin-top: 22px;
    padding-left: 76px;
    font-size: 23px;
  }
}
