<div class="container">
  <p class="atlas-blackReg title">THE MSI STAFF</p>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">EXECUTIVE COMMITTEE</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">David, Laura Tenmatay</p>
            <p class="atlas-light">Professor 7</p>
            <p class="atlas-light">Director</p>
          </div>

          <div>
            <p class="atlas-bold">Gotanco, Rachel June Ravago</p>
            <p class="atlas-light">Associate Professor</p>
            <p class="atlas-light">Deputy Director for Instruction</p>
          </div>

          <div>
            <p class="atlas-bold">Onda, Deo Florence Llacuna</p>
            <p class="atlas-light">Associate Professor I</p>
            <p class="atlas-light">Deputy Director for Research</p>
          </div>
        </div>

        <div class="right">
          <div>
            <p class="atlas-bold">Pante, Ma. Josefa Rull</p>
            <p class="atlas-light">Professor 7</p>
            <p class="atlas-light">Deputy Director for BML</p>
          </div>
          <div>
            <p class="atlas-bold">Roleda, Michael YuDeputy</p>
            <p class="atlas-light">Associate Professor I</p>
            <p class="atlas-light">Director for Facilities and Resources</p>
          </div>
          <div>
            <p class="atlas-bold">Caro, Maricel C.</p>
            <p class="atlas-light">Administrative Officer V (AO III)</p>
            <p class="atlas-light">Admin Officer</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">REGULAR EMPLOYEES</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState4 = true"
        (closed)="panelOpenState4 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState4 ? 'atlas-bold' : 'atlas-light'">MSI STAFF</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Amihan, Hannah Eunice L.</p>
                <p class="atlas-light">Almenario, Rallion Gilbert B.</p>
                <p class="atlas-light">Bides, Romeo T.</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">Admin. Aide VI</p>
                <p class="atlas-light">Adm. Aide VI (Electrician II)</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState5 = true"
        (closed)="panelOpenState5 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState5 ? 'atlas-bold' : 'atlas-light'">BML STAFF</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <!-- <p class="atlas-light">Amihan, Hannah Eunice L.</p>
                <p class="atlas-light">Almenario, Rallion Gilbert B.</p>
                <p class="atlas-light">Bides, Romeo T.</p> -->
              </div>

            </div>

            <div class="right2">
              <div>
                <!-- <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">Admin. Aide VI</p>
                <p class="atlas-light">Adm. Aide VI (Electrician II)</p> -->
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState6 = true"
        (closed)="panelOpenState6 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState6 ? 'atlas-bold' : 'atlas-light'">SHIP CREW</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <!-- <p class="atlas-light">Amihan, Hannah Eunice L.</p>
                <p class="atlas-light">Almenario, Rallion Gilbert B.</p>
                <p class="atlas-light">Bides, Romeo T.</p> -->
              </div>

            </div>

            <div class="right2">
              <div>
                <!-- <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">Admin. Aide VI</p>
                <p class="atlas-light">Adm. Aide VI (Electrician II)</p> -->
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState7 = true"
        (closed)="panelOpenState7 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState7 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">IN-HOUSE RESEARCH ASSISTANTS</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion style="line-height: 2.5;">
        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState8 = true"
        (closed)="panelOpenState8 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState8 ? 'atlas-bold' : 'atlas-light'">MARINE PHYCOLOGY LAB – Santiañez</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">John Michael L. Lastimoso</p>
                <p class="atlas-light">Eunice Joy R. Milante</p>
                <p class="atlas-light">Julius Diyeng D. Canja</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState9 = true"
        (closed)="panelOpenState9 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState9 ? 'atlas-bold' : 'atlas-light'">Biological Oceanography and Modeling of Ecosystem Laboratory –– Yñiguez</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Gianina Cassandra May B. Apego</p>
                <p class="atlas-light">Paolo Carlo Calalang</p>
                <p class="atlas-light">Patrick Lawrence P. Cadeliña</p>
                <p class="atlas-light">Aya B. Cariño-Valdez Bayosa </p>
                <p class="atlas-light">Ma. Rica Teresa B. Dungog</p>
                <p class="atlas-light">Rodrigo Narod C. Eco</p>
                <p class="atlas-light">Estrelita D. Flores</p>
                <p class="atlas-light">Eunice Lois D. Gianan</p>
                <p class="atlas-light">Jennifer Mary Maister</p>
                <p class="atlas-light">Jenelyn T. Mendoza</p>
                <p class="atlas-light">Julius T. Mendoza </p>
                <p class="atlas-light">Janina Mae L. Novelero</p>
                <p class="atlas-light">Andalus Julie T. Punongbayan</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Education and Outreach Program Officer</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Computer Programmer III</p>
                <p class="atlas-light">Laboratory Technician II</p>
                <p class="atlas-light">University Researcher I</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Laboratory Technician II</p>
                <p class="atlas-light">Laboratory Technician II</p>
                <p class="atlas-light">Program Assistant III</p>
                <p class="atlas-light">University Research Associate II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState10 = true"
        (closed)="panelOpenState10 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState10 ? 'atlas-bold' : 'atlas-light'">Marine Invertebrate Ecology Laboratory –– Juinio-Meñez</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Jewrin G. Baure</p>
                <p class="atlas-light">Olivier Josh C. Caasi</p>
                <p class="atlas-light">Maryjune M. Cabiguin</p>
                <p class="atlas-light">Tomilyn Jan S. Garpa</p>
                <p class="atlas-light">Glaiza S. Ibañez</p>
                <p class="atlas-light">Rona C. Soy</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">Research Assistant (ACIAR)</p>
                <p class="atlas-light">University Research Associate II (DOST)</p>
                <p class="atlas-light">Research Assistant (ACIAR)</p>
                <p class="atlas-light">University Research Associate II (DOST)</p>
                <p class="atlas-light">University Research Associate II (DOST)</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState11 = true"
        (closed)="panelOpenState11 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState11 ? 'atlas-bold' : 'atlas-light'">Organic and Stable Isotope (OASIS) Geochemistry Laboratory –– Jaraula</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Keith Limuel C. Bejasa</p>
                <p class="atlas-light">Peter Paul P. Bucsit</p>
                <p class="atlas-light">Aljon Francis Koji P. Elegado</p>
                <p class="atlas-light">Mary Antoinette G. Limen</p>
                <p class="atlas-light">Iris Marie C. Mabanta</p>
                <p class="atlas-light">Shyrill Mae F. Mariano</p>
                <p class="atlas-light">Refeim M. Miguel</p>
                <p class="atlas-light">Mishel Valery V. Rañada</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Project Development Officer</p>
                <p class="atlas-light">Science Research Specialist I</p>
                <p class="atlas-light">Project Assistant</p>
                <p class="atlas-light">Research Assistant</p>
                <p class="atlas-light">Science Research Specialist I</p>
                <p class="atlas-light">University Research Assistant I</p>
                <p class="atlas-light">Research Assistant</p>
                <p class="atlas-light">Research Assistant</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState12 = true"
        (closed)="panelOpenState12 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState12 ? 'atlas-bold' : 'atlas-light'">Marine Molecular Biology Laboratory –– Conaco</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Jake Ivan P. Baquiran</p>
                <p class="atlas-light">Michael Angelou L. Nada</p>
                <p class="atlas-light">Niño Dan G. Posadas</p>
                <p class="atlas-light">Keana Dehnielle P. Tan</p>
                <p class="atlas-light">Kuselah Mae M. Tayaban</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant I</p>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState13 = true"
        (closed)="panelOpenState13 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState13 ? 'atlas-bold' : 'atlas-light'">Geological Oceanography Laboratory –– Siringan</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Sarahmae C. Buen</p>
                <p class="atlas-light">Edwin Dumalgan Jr.</p>
                <p class="atlas-light">Anne Drew Carillo</p>
                <p class="atlas-light">Mary Rose Gabuyo</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">University Research Assistant II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState14 = true"
        (closed)="panelOpenState14 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState14 ? 'atlas-bold' : 'atlas-light'">Marine Pharmacognosy Laboratory (MPL) –– Salvador-Reyes</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Melfeb O. Chicote</p>
                <p class="atlas-light">Leonard D.A. Oca</p>
                <p class="atlas-light">Irene O. Pamisan</p>
                <p class="atlas-light">Eliza L. Belen</p>
                <p class="atlas-light">Meljune O. Chicote</p>
                <p class="atlas-light">Hazel M. Cano</p>
                <p class="atlas-light">Jacquelyn Peran</p>
                <p class="atlas-light">Shalice Susana </p>
                <p class="atlas-light">Jeremiah D. Batucan</p>
                <p class="atlas-light">Zabrina L. Malto </p>
                <p class="atlas-light">Regina Belen P. Callanta</p>
                <p class="atlas-light">Rae Joseph Louis Tinao</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Laboratory Technician II</p>
                <p class="atlas-light">Laboratory Technician II</p>
                <p class="atlas-light">Project Assistant II</p>
                <p class="atlas-light">Project Assistant II</p>
                <p class="atlas-light">Project Assistant II</p>
                <p class="atlas-light">Project Assistant II</p>
                <p class="atlas-light">University Research Assistant I</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">University Research Assistant II</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Science Research Specialist I</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState15 = true"
        (closed)="panelOpenState15 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState15 ? 'atlas-bold' : 'atlas-light'">Marine Natural Products Laboratory (MNPL) –– Lluisma</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Charmaine B. Mendoza</p>
                <p class="atlas-light">Abe Ernest Johann E. Isagan</p>
                <p class="atlas-light">Cydee Marie V. Ramones</p>
                <p class="atlas-light">Jessa Mae M. Laude</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">University Research Assistant II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState16 = true"
        (closed)="panelOpenState16 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState16 ? 'atlas-bold' : 'atlas-light'">Interactions of Marine Bionts and Benthic Ecosystems (IMBiBE) Laboratory ––M.V.B. Rodriguez</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Christine C. Baran</p>
                <p class="atlas-light">Katy C. Bonilla</p>
                <p class="atlas-light">Ma. Czarmayne Victoria Jude T. Escoro</p>
                <p class="atlas-light">Jue Alef A. Lalas</p>
                <p class="atlas-light">Charlon A. Ligson</p>
                <p class="atlas-light">Rhea Mae A. Luciano</p>
                <p class="atlas-light">Joana Andrea Maningas</p>
                <p class="atlas-light">Geminne Manzano</p>
                <p class="atlas-light">Maxine Stephanie M. Prado</p>
                <p class="atlas-light">Christine S. Segumalian</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Science Research Specialist</p>
                <p class="atlas-light">Senior Research Associate</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Graduate Assistant</p>
                <p class="atlas-light">University Research Associate I</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState17 = true"
        (closed)="panelOpenState17 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState17 ? 'atlas-bold' : 'atlas-light'">Inorganic Biogeochemistry and Biotechnology Research Laboratory –– I.B. Rodriguez</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Riza A. Magbitang</p>
                <p class="atlas-light">Dolly M. Manic</p>
                <p class="atlas-light">Richard A. Redil</p>
                <p class="atlas-light">Eymard John P. Sy</p>
                <p class="atlas-light">Paolo C. Calalang</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">University Research Associate II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState18 = true"
        (closed)="panelOpenState18 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState18 ? 'atlas-bold' : 'atlas-light'">Algal Ecophysiology Laboratory (AlgaE lab) –– Roleda</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Lourie Ann R. Hinaloc</p>
                <p class="atlas-light">Bienson Ceasar V. Narvarte</p>
                <p class="atlas-light">Bea A. Crisostomo</p>
                <p class="atlas-light">Tom Gerald T. Genovia</p>
                <p class="atlas-light">April Mae T. Tabonda</p>
                <p class="atlas-light">Flora Maye Palecpe</p>
                <p class="atlas-light">Helen M. Dayao</p>
                <p class="atlas-light">Jerry Arboleda</p>
                <p class="atlas-light">Guillermo Valenzuela</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Laboratory Aide II</p>
                <p class="atlas-light">Laboratory Aide II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState19 = true"
        (closed)="panelOpenState19 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState19 ? 'atlas-bold' : 'atlas-light'">Protein Biochemistry and Biotechnology Laboratory –– Yu</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Renato Carpina</p>
                <p class="atlas-light">Joan Catherine Chua</p>
                <p class="atlas-light">Lyle Ijssel De Guzman</p>
                <p class="atlas-light">Corazon Ericka Mae Itang</p>
                <p class="atlas-light">Darlene Joy Monton</p>
                <p class="atlas-light">John Aidan Resoles</p>
                <p class="atlas-light">Jeremie Jane Rivera</p>
                <p class="atlas-light">Vicenzo Torreno</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Graduate Student Assistant</p>
                <p class="atlas-light">Senior Research Specialist</p>
                <p class="atlas-light">Graduate Student Assistant</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Job Order</p>
                <p class="atlas-light">Science Research Specialist I</p>
                <p class="atlas-light">Project Assistant II</p>
                <p class="atlas-light">University Research Associate II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState20 = true"
        (closed)="panelOpenState20 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState20 ? 'atlas-bold' : 'atlas-light'">Ocean Color and Coastal Oceanography Laboratory –– David</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Hannah Eunice Amihan</p>
                <p class="atlas-light">Aldwin Almo</p>
                <p class="atlas-light">Mark Joh Manalo</p>
                <p class="atlas-light">Recebba Yu</p>
                <p class="atlas-light">Justin Jose Dela Cruz</p>
                <p class="atlas-light">Justine Carlos Doctolero</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate I</p>
                <p class="atlas-light">Senior Science Research Specialist</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Research Associate</p>
                <p class="atlas-light">Research Associate</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState21 = true"
        (closed)="panelOpenState21 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a; text-transform: uppercase;"  [ngClass]="panelOpenState21 ? 'atlas-bold' : 'atlas-light'">Microbial Oceanography Laboratory –– Onda</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Erika Grace M. Gernato</p>
                <p class="atlas-light">Maria Anna Michaela R. Dela Cruz</p>
                <p class="atlas-light">Norchel Corcia F. Gomez</p>
                <p class="atlas-light">Sammy Santos</p>
                <p class="atlas-light">Exequiel Gabriel Dizon</p>
                <p class="atlas-light">Justine Marey S. Bitalac</p>
                <p class="atlas-light">Daniel John E. Purganan</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Project Assistant</p>
                <p class="atlas-light">University Research Associate II</p>
                <p class="atlas-light">Science Research Specialist II</p>
                <p class="atlas-light">Science Research Specialist II</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState22 = true"
        (closed)="panelOpenState22 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState22 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">DRIVERS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-light">De Guzman, Wilfredo V.</p>
          </div>
          <div>
            <p class="atlas-light">Rabe, Mariano C.</p>
          </div>
          <div>
            <p class="atlas-light">Villafuerte, Eduardo</p>
          </div>
        </div>

        <div class="right">
          <div>
            <p class="atlas-light">Admin Aide VI (Mechanic II)</p>
          </div>
          <div>
            <p class="atlas-light">Admin. Asst. III (Mechanic III)</p>
          </div>
          <div>
            <p class="atlas-light">Administrative Aide VI</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="contact-banner">
    <p class="atlas-blackReg title2" style="color: white;">CONTACT US</p>
    <div class="contact-content">
      <p><span class="atlas-bold">Mailing Address:</span> The Marine Science Institute, Velasquez St., University of the Philippines-Diliman, Quezon City 1101 Philippines</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Email:</span> msiadmin@msi.upd.edu.ph</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Administrative Office:</span> (632) 922-3959(632) 981-8500 local 2903 Fax: (632) 924-7678</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Office Hours:</span> 8AM - 5PM, Monday to Friday</p>
    </div>
  </div>
</div>
