<div class="container">
  <p class="atlas-blackReg title">THE MSI STAFF</p>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">EXECUTIVE COMMITTEE</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">David, Laura Tenmatay</p>
            <p class="atlas-light">Professor</p> <!-- edited  -->
            <p class="atlas-light">Director</p>
          </div>

          <div>
            <p class="atlas-bold">Gotanco, Rachel June Ravago</p>
            <p class="atlas-light">Associate Professor</p>
            <p class="atlas-light">Deputy Director for Instruction</p>
          </div>

          <div>
            <p class="atlas-bold">Onda, Deo Florence Llacuna</p>
            <p class="atlas-light">Associate Professor</p> <!-- edited  -->
            <p class="atlas-light">Deputy Director for Research</p>
          </div>
        </div>

        <div class="right">
          <div>
            <p class="atlas-bold">Pante, Ma. Josefa Rull</p>
            <p class="atlas-light">Professor</p> <!-- edited  -->
            <p class="atlas-light">Deputy Director for BML</p>
          </div>
          <div>
            <p class="atlas-bold">Roleda, Michael YuDeputy</p>
            <p class="atlas-light">Associate Professor</p> <!-- edited  -->
            <p class="atlas-light">Director for Facilities and Resources</p>
          </div>
          <div>
            <p class="atlas-bold">Caro, Maricel C.</p>
            <p class="atlas-light">Administrative Officer (AO III)</p>  <!-- edited  -->
            <p class="atlas-light">Admin Officer</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">REGULAR EMPLOYEES</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState4 = true"
        (closed)="panelOpenState4 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState4 ? 'atlas-bold' : 'atlas-light'">MSI STAFF</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Rallion B. Almenario.</p>
                <p class="atlas-light">Romeo T. Bides.</p>
                <p class="atlas-light">Maricel C. Caro</p>
                <p class="atlas-light">Talna Lorena Dela Cruz</p>
                <p class="atlas-light">Wilfredo V. De Guzman</p>
                <p class="atlas-light">Rafel L. Gipaya</p>
                <p class="atlas-light">Monica T. Mendoza</p>
                <p class="atlas-light">Robert A. Murial</p>
                <p class="atlas-light">Nelia N. Nieto</p>
                <p class="atlas-light">Orlando M. Olivar</p>
                <p class="atlas-light">Mariano C. Rabe</p>
                <p class="atlas-light">Jocelyn O. Razal</p>
                <p class="atlas-light">Eduardo Villafuerte</p>
                <p class="atlas-light">Rizza G. Yabes</p>
                <p class="atlas-light">Manzano, Geminne</p> <!--edited: added -->
                <p class="atlas-light">Santiago, Viviene S.</p> <!--edited: added -->
                <p class="atlas-light">De Guzman, Wilfredo V.</p> <!--edited: added -->
                <p class="atlas-light">Rabe, Mariano C.</p> <!--edited: added -->
                <p class="atlas-light">Villafuerte, Eduardo</p> <!--edited: added -->

              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Administrative Aide VI</p>
                <p class="atlas-light">Administrative Aide VI (Electrician II)</p>
                <p class="atlas-light">Administrative Officer III</p>
                <p class="atlas-light">Administrative Officer</p>
                <p class="atlas-light">Administrative Aide VI (Mechanic II)</p>
                <p class="atlas-light">Administrative Officer I (Supply Officer)</p>
                <p class="atlas-light">Administrative Assistant II (Accounting Clerk III)</p>
                <p class="atlas-light">Administrative Assistant II (Aircon Technician II)</p>
                <p class="atlas-light">Administrative Officer III (Records Officer II)</p>
                <p class="atlas-light">Administrative Aide IV (Reproduction Machine Operator II)</p>
                <p class="atlas-light">Administrative III (Mechanic III)</p>
                <p class="atlas-light">College Librarian III</p>
                <p class="atlas-light">Administrative Aide VI</p>
                <p class="atlas-light">Administrative Assistant II</p>
                <p class="atlas-light">Science Research Specialist II</p> <!--edited: added -->
                <p class="atlas-light"> Research Associate</p> <!--edited: added -->
                <p class="atlas-light">Admin Aide VI (Mechanic II)</p> <!--edited: added -->
                <p class="atlas-light">Admin. Asst. III (Mechanic III)</p> <!--edited: added -->
                <p class="atlas-light">Admin. Asst. III (Mechanic III)</p> <!--edited: added -->
          </div>
              </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (click)="scrollUp($event)" id="panel-1"  class="mat-elevation-z0 staff-content" (opened)="panelOpenState5 = true"
        (closed)="panelOpenState5 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;" [ngClass]="panelOpenState5 ? 'atlas-bold' : 'atlas-light'">BML STAFF</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
            <div class="left2">
              <div>
                <p class="atlas-light">Allan B. Abuan</p>
                <p class="atlas-light">Charina C. Caalim</p>
                <p class="atlas-light">Julio M. Curiano Jr.</p>
                <p class="atlas-light">Gabriel P. De Guzman</p>
                <p class="atlas-light">Christopher C. Diolazo</p>
                <p class="atlas-light">Andrew C. Dumaran</p>
                <p class="atlas-light">Alfonso C. Rubio Jr.</p>
              </div>

            </div>

            <div class="right2">
              <div>
                <p class="atlas-light">Administrative Aide VI (Mechanic II)</p>
                <p class="atlas-light">Administrative Officer II </p>
                <p class="atlas-light">Administrative Aide III</p>
                <p class="atlas-light">Administrative Aide IV</p>
                <p class="atlas-light">Administrative Assistant III (Electric Foreman)</p>
                <p class="atlas-light">Administrative Aide IV</p>
                <p class="atlas-light">Administrative Aide VI (Mechanic II)</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (click)="scrollUp($event)" id="panel-2" class="mat-elevation-z0 staff-content" (opened)="panelOpenState6 = true"
        (closed)="panelOpenState6 = false" hideToggle>
          <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
          <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState6 ? 'atlas-bold' : 'atlas-light'">SHIP CREW</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content2">
                        <!-- edited2: every name-->
            <div class="left2">
              <div>
                <p class="atlas-light">Capt. Edgardo B. Cruz</p>
                <p class="atlas-light">C/O Abraham Q. Quindoy Jr.</p>
                <p class="atlas-light">2/O Reyan S. Maalihan</p>
                <p class="atlas-light">2/E Ricky I Villaruel</p>
                <p class="atlas-light">A/B1 Michael C. Manalo</p>
                <p class="atlas-light">BSN. Leonardo S. Bagtong</p>
                <p class="atlas-light">A/B2 Jeffrey S. Idor</p>
                <p class="atlas-light">OLR Reynald P. Nietes</p>
                <p class="atlas-light">John Rey M. Nepumoceno</p>
              </div>

            </div>
            <!-- edited2: every position-->
            <div class="right2">
              <div>
                <p class="atlas-light">Master</p>
                <p class="atlas-light">Chief Officer</p>
                <p class="atlas-light">Second Officer</p>
                <p class="atlas-light">Second Engineer</p>
                <p class="atlas-light">Able Boadied Seaman</p>
                <p class="atlas-light">Buson</p>
                <p class="atlas-light">Able Boadied Seaman</p>
                <p class="atlas-light">Oiler</p>
                <p class="atlas-light">Chief Cook</p>
               </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>


<!-- edited the entire in-house -->


     <mat-expansion-panel  (click)="scrollUp($event)" id="panel-3" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState30 = true"
        (closed)="panelOpenState30 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState30 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">IN-HOUSE RESEARCH ASSISTANT</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left3">
          <div>
            <p class="atlas-bold">Hannah Eunice Amihan  </p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Ocean Color and Coastal Oceanography Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Sarahmae Buen</p>
            <p class="atlas-light">University Researcher I</p>
            <p class="atlas-light">Geological Oceanography Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Eunice Lois Gianan</p>
            <p class="atlas-light">University Research Associate II</p>
            <p class="atlas-light">Biological Oceanography and Modeling Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Erika Grace Gernato </p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Microbial Oceanography Lab</p>
          </div>

          <div>
            <p class="atlas-bold">John Michael Lastimoso</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Marine Phycology Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Shyrill Mariano </p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Organic and Stable Isotope Geochemistry Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Riza Magbitang</p>
            <p class="atlas-light">University Research Associate II</p>
            <p class="atlas-light">Inorganic Biogeochemistry and Biotechnology Research Lab</p>
          </div>
        </div>

        <div class="right3">

          <div>
            <p class="atlas-bold">Jerwin Baure</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Marine Invertebrate Ecology Lab</p>
          </div>
          <div>
            <p class="atlas-bold">Jose Nickolo Perez</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Marine Biogeochemistry Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Nino Dan Posadas</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Marine Molecular Biology Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Christine Segumalian</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Interactions of Marine Bionts and Benthic Ecosystems Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Joselito Tabardillo </p>
            <p class="atlas-light">University Research I</p>
            <p class="atlas-light">Marine Molecular Ecology and Evolution Lab</p>
          </div>

          <div>
            <p class="atlas-bold">Jacquelyn Peran</p>
            <p class="atlas-light">University Research Associate I</p>
            <p class="atlas-light">Marine Pharmacognosy Lab</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>


<!-- edited: removed the driver drop down panel -->

  </mat-accordion>

  <div class="contact-banner">
    <p class="atlas-blackReg title2" style="color: white;">CONTACT US</p>
    <div class="contact-content">
      <p><span class="atlas-bold">Mailing Address:</span> The Marine Science Institute, Velasquez St., University of the Philippines-Diliman, Quezon City 1101 Philippines</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Email:</span> msiadmin@msi.upd.edu.ph</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Administrative Office:</span> (632) 922-3959(632) 981-8500 local 2903 Fax: (632) 924-7678</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Office Hours:</span> 8AM - 5PM, Monday to Friday</p>
    </div>
  </div>
</div>
