<div class="container">
  <p class="atlas-blackReg title">THE MSI STAFF</p>

  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">ADMINISTRATIVE</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">Dr. Laura T. David</p>
            <p class="atlas-light">Director</p>
          </div>

          <div>
            <p class="atlas-bold">Maricel C. Caro</p>
            <p class="atlas-light">Administrative Officer V</p>
          </div>

          <div>
            <p class="atlas-bold">Nelia N. Nieto</p>
            <p class="atlas-light">Administrative Officer III</p>
          </div>

          <div>
            <p class="atlas-bold">Abigail S. Melendres</p>
            <p class="atlas-light">University Extension Associate I</p>
          </div>

          <div>
            <p class="atlas-bold">Rizza I. Yabes</p>
            <p class="atlas-light">Administrative Assistant II</p>
          </div>

          <div>
            <p class="atlas-bold">Rafael L. Gipaya</p>
            <p class="atlas-light">Supplies Officer</p>
          </div>

          <div>
            <p class="atlas-bold">Romeo T. Bides</p>
            <p class="atlas-light">Administrative Aide VI (BML)</p>
          </div>

          <div>
            <p class="atlas-bold">Monica Mendoza</p>
            <p class="atlas-light">Administrative Assistant II</p>
          </div>
        </div>

        <div class="right">
          <div>
            <p class="atlas-bold">Charina C. Caalim</p>
            <p class="atlas-light">Administrative Officer II (BML)</p>
          </div>

          <div>
            <p class="atlas-bold">Christopher C. Diolazo</p>
            <p class="atlas-light">Administrative Assistant III (BML)</p>
          </div>

          <div>
            <p class="atlas-bold">Andrew C. Dumaran</p>
            <p class="atlas-light">Administrative Aide IV (BML)</p>
          </div>

          <div>
            <p class="atlas-bold">Robert A. Murial</p>
            <p class="atlas-light">Administrative Assistant II</p>
          </div>

          <div>
            <p class="atlas-bold">Orlando M. Olivar</p>
            <p class="atlas-light">Administrative Aide VI</p>
          </div>

          <div>
            <p class="atlas-bold">Mariano C. Rabe</p>
            <p class="atlas-light">Administrative Aide VI</p>
          </div>

          <div>
            <p class="atlas-bold">Jocelyn O. Razal</p>
            <p class="atlas-light">College Librarian III</p>
          </div>

          <div>
            <p class="atlas-bold">Alfonso C. Rubio, Jr.</p>
            <p class="atlas-light">Administrative Aide IV (BML)</p>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">IN-HOUSE RESEARCH ASSISTANTS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">Sherry-lyn Sayco</p>
          </div>

          <div>
            <p class="atlas-bold">Andrew Torres</p>
          </div>

          <div>
            <p class="atlas-bold">Erika Gernato</p>
          </div>

          <div>
            <p class="atlas-bold">Diovanie De Jesus</p>
          </div>

          <div>
            <p class="atlas-bold">Minin Sinsona</p>
          </div>

          <div>
            <p class="atlas-bold">Sarah Mae Buen</p>
          </div>
        </div>

        <div class="right">
          <div>
            <p class="atlas-bold">Anabel Gammaru</p>
          </div>

          <div>
            <p class="atlas-bold">Niño Posadas</p>
          </div>

          <div>
            <p class="atlas-bold">Eunice Gianan</p>
          </div>

          <div>
            <p class="atlas-bold">Hannah Amihan</p>
          </div>

          <div>
            <p class="atlas-bold">Shaira Mendones</p>
          </div>

          <div>
            <p class="atlas-bold">Aldwyn Calaguing</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <div class="contact-banner">
    <p class="atlas-blackReg title2" style="color: white;">CONTACT US</p>
    <div class="contact-content">
      <p><span class="atlas-bold">Mailing Address:</span> The Marine Science Institute, Velasquez St., University of the Philippines-Diliman, Quezon City 1101 Philippines</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Email:</span> msiadmin@msi.upd.edu.ph</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Administrative Office:</span> (632) 922-3959(632) 981-8500 local 2903 Fax: (632) 924-7678</p>
    </div>
    <div class="contact-content">
      <p><span class="atlas-bold">Office Hours:</span> 8AM - 5PM, Monday to Friday</p>
    </div>
  </div>
</div>
