<div class="container">
  <div class="header">
    <div class="left"></div>
    <div class="right">
      <p class="atlas-blackReg title" style="color: #384e8a;">OUR OBJECTIVES</p>
      <p class="content-p">The Marine Science Institute values the conduct of science to harness knowledge for the development of the environment and humanity.</p>
    </div>
  </div>

  <div class="content">
    <p>It seeks to achieve the following:</p>
  </div>

  <ul>
    <li>
      <span>
        To generate basic information necessary for optimal and sustained utilization, management, and conservation of the marine environment and its resources.
      </span>
    </li>

    <li>
      <span>
        To provide graduate-level training and extension services to develop human resource requirements in the marine sciences.
      </span>
    </li>

    <li>
      <span>
        To develop appropriate and environmentally-sound marine-based technologies for industrial and economic development.
      </span>
    </li>

  </ul>
</div>
