<div class="container">
  <div class="header">
    <div class="left"></div>
    <div class="right">
      <p class="atlas-blackReg title" style="color: #384e8a;">INSTITUTE OBJECTIVES</p>
      <p class="content-p">MSC served as the University’s coordinating base for marine research. In June of the same year, the first Advisory Executive Council of the Center was formed with the appointment of Dr. Edgardo D. Gomez as acting Director.</p>
    </div>
  </div>

  <div class="content">
    <p>The Marine Science Institute seeks to achieve the following objectives:</p>
  </div>

  <ul>
    <li>
      <span>
        To generate basic information necessary for optimal and sustained utilization, management, and conservation of the marine environment and its resources.
      </span>
    </li>

    <li>
      <span>
        To provide graduate-level training and extension services to develop human resource requirements in the marine sciences.
      </span>
    </li>

    <li>
      <span>
        To develop appropriate and environmentally-sound marine-based technologies for industrial and economic development.
      </span>
    </li>

  </ul>
</div>
