<app-nav></app-nav>
<div class="container">
  <div class="content-header">
    <img src="https://dc570.4shared.com/img/mbd59sBdiq/s24/179d4b97310/01-banner?async&rand=0.7136966494156298">
    <div class="left-content">
      <p class="atlas-blackReg title" style="text-transform: uppercase;">Marine Natural Products Legacy Collection</p> <!-- EDITED -->
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The Marine Natural Products (MNP) Legacy Collection consists of a microbial biobank and chemical library of extracts and pure compounds housed at the UP Marine Science Institute. Prof. Emeritus Gisela P. Concepcion initiated the establishment of the microbial biobank of marine invertebrate-associated microorganisms in the early 2000, in line with the paradigm shift in marine natural products, where simple organisms such as bacteria were recognized as the true producers of biomedically-important compounds.
      </p>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="atlas-blackReg title" style="color: #384e8a; margin-bottom: 2.5%;">FUNDING AND COLLECTION</p>
      <p class="right-content-p">Through funding from the Department of Science and Technology-Philippine Council for Health Research and Development, through the Philippine PharmaSeas Drug Discovery Program (2007-2012), the infrastructure for the microbial biobank was upgraded and allowed for the development of an extensive microbial collection. Subsequent projects such as the Philippine Mollusk Symbiont International Cooperative Biodiversity Group and Discovery and Development of Health Products - Marine Component (2014 – present) expanded the microbial culture collection. To date, we have 6,106 microorganisms isolated from marine sponges, shipworms,  and Conoidean snails.  </p>
        <!-- <p class="atlas-bold read-more"(click)="readMore = true" *ngIf="!readMore">READ MORE</p> -->
    </div>
  </div>
  <div class="bottom-content-container" style="display: grid; place-content: center;">
    <div class="bottom-content"> <!-- edited the text, some of the bottom content were placed on the right-content-p -->
      <p class="atlas-light">This microbial biobank is mostly host-associated symbionts belonging to Actinobacteria and Teredinidae which have great potential for developing high value products. The Marine Natural Products Legacy Collection serves as one of the foundations of our drug discovery program at MSI. These microorganisms have been screened for antimicrobial, anticancer, anti-pain, anti-inflammatory, and antimalarial activities. Several novel compounds have been identified from these microorganisms such as the antibiotics mindapyrrole B, turneroic acid and 7,8- dideoxygrisheorhodin C; anticancer compound boholamide; and antipain agents nobilamide B and pulicatins. In line with this, we have also established the repository of chemical extracts and pure compounds from microorganisms and sponges. Our chemical library consists of 5,052 extracts and fractions and 237 pure compounds in assay-ready format for future discovery campaigns.</p>
    </div>
    <br />
    <div class="bottom-content">
      <p class="atlas-light">The Marine Natural Products Legacy collection highlights the bio- and chemodiversity of the Philippine Seas. This is a unique resource for the discovery and development of high value products from marine organisms.</p>
    </div>
    <br />
  </div>

    <div class="content-header-contact">
      <div class="bml-complex">
        <img src="https://dc570.4shared.com/img/mfuonNqhea/s24/179d4b98a80/03-contact?async&rand=0.15157521711953614">
        <div class="right-content1 row">
          <div class="column">
            <p class="atlas-blackReg title" style="color: white;">CONTACT US</p>
            <div class="contact-marg" style="color: white;">
              <p class="atlas-light">Dr. Lilibeth A. Salvador- Reyes</p>
            </div> <!-- edited9: name at email -->
            <div class="contact-marg" style="color: white;">
              <p class="atlas-light"><span class="atlas-bold">Email:</span> lsreyes@msi.upd.edu.ph</p>

            </div>
         </div>

        </div>

      </div>
    </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" routerLink="/Resources/collections">
      <p class="atlas-light"><span class="navi">TO SPECIMEN AND CULTURE COLLECTIONS</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>


