
<div class="container">
  <div class="img-bg animate__animated animate__fadeIn animate__delay-1s">
    <div class="slider">
      <div class="sliderchild">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="imagecon">
              <!-- kate : changed all 4 "img src" -->
                <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623727720/Home/1.1-banner_flijvy.png">
                <div class="left-content img-container">
                  <div class="img-content">
                    <p class="capital-words atlas-blackReg">The UP Marine Science Institute</p>
                    <p class="sub-title atlas-blackReg">Empowering People Through Science</p>
                    <p class="second-p atlas-light">{{content1}}</p>
                    <button id="learn-more" routerLink="/About">LEARN MORE</button>
                  </div>
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623727715/Home/1.2-banner_pet637.png">
              <div class="left-content img-container">
                <p class="capital-words2 atlas-blackReg">Filipino scientist makes history by reaching the 3rd deepest spot on Earth
                </p>

                <p class="second-p atlas-light">{{content2}}</p>
                <button id="learn-more" routerLink="/News/content/filipino-scientist-makes-history-by-reaching-the-3rd-deepest-spot-on-earth">LEARN MORE</button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623380010/Home/banner-04-rev_vdyl4k.png">
              <div class="left-content img-container2" style="color: #384e8a;">
                <p class="capital-words atlas-blackReg"> <!--kate: edited -->
                  NARFleet is on its way <br>
                  to prowl Philippine waters
                </p>
                <p class="second-p atlas-light">The National Academic Research Fleet (NARFleet) is set to embark on its first expedition soon. Established as a response to limited ocean research capacity, the NARFleet program aims to provide better access to ocean research for both the academe and the Philippine government. </p> <!-- edite: removed some text -->
                <button id="learn-more" routerLink="/Facilities/floating-assets">LEARN MORE</button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623727718/Home/1.3-banner_ly6dzt.png">
              <div class="left-content img-container4">
                <p class="capital-words atlas-blackReg">The Bolinao Marine Laboratory</p>
                <p class="second-p atlas-light">The Bolinao Marine Laboratory (BML) is the main research station of the UP Marine Science Institute and is one of the leading scientific institutions in Southeast Asia. The BML is located in the municipality of Bolinao, province of Pangasinan on the northern corner of the Lingayen Gulf in the northern Philippines.
                </p>
                <button id="learn-more" routerLink="/Facilities/bolinao-marine-lab">LEARN MORE</button>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
