.container{
  overflow: hidden;
  margin-top: 1.2%;
}

*{
  margin: 0;
  padding: 0;
}

.imagecon{
  height: 45vw;
  width: 100%;
}

.imagecon img{
  object-fit: cover;
  height: 100%;
  width: 101%; /*edited */
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 1px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.imagecon:nth-child(1){
  background-repeat: no-repeat;
  background-size: cover;
}

.imagecon:nth-child(2){
  background-repeat: no-repeat;
  background-size: cover;
}

.imagecon:nth-child(3){
  background-repeat: no-repeat;
  background-size: cover;
}

.imagecon:nth-child(4){
  background-repeat: no-repeat;
  background-size: cover;
}

.imagecon:nth-child(5){
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .img-container{
  height: 100%;
  margin-left: 9%;
  /* width: 583px; */
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.slider .img-container2{
  height: 100%;
  margin-left: 9%;
  margin-top: 6%;
  /* width: 415px; */
  top: 0;
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
}

.slider .img-container4{
  height: 100%;
  margin-left: 9%; /*edited*/
  margin-top: 5%;
  top: 0;
  position: absolute;
  z-index: 1;
  color: white;
  /* width: 700px; */
  display: flex;
  flex-direction: column;
}

.capital-words{
  font-size: 3vw;
  /* width: 8%; */
  margin-bottom: 1.5%;
}

.capital-words2{
  font-size: 3vw;
  width: 68%;
  /* line-height: 1.3; */
  margin-bottom: 1.5%;
}

.sub-title {
  font-family: 'Atlas Grotesk LC Web Reg Italic';
  font-size: 1.53vw;
  margin-bottom: 3%;
}

.second-p{
  font-size: 1.17vw;
  width: 65%;
  line-height: 1.5;
}

.slider .img-container .img-content{
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#learn-more{
  width: 16.5%;
  font-size: .97vw;
  margin-top: 2.5%;
  padding: .9% 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
}





/* @media (min-width: 1600px) {
  .container{
    margin-top: 17px;
  }

  .imagecon{
    height: 818px;
  }

  .slider .img-container{
    margin-left: 168px;
    width: 583px;
  }

  .slider .img-container2{
    margin-left: 149px;
    margin-top: 116px;
    width: 583px;
  }

  .capital-words{
    font-size: 53px;
    width: 1098px;
    margin-bottom: 17px;
  }

  .sub-title {
    font-size: 29px;
    width: 678px;
    margin-bottom: 25px;
  }

  .second-p{
    font-size: 21px;
    width: 1044px;
  }

  #learn-more{
    width: 293px;
    font-size: 18px;
    margin-top: 35px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media (min-width: 1920px) {
  .container{
    margin-top: 20px;
  }

  .imagecon{
    height: 982px;
  }

  .slider .img-container{
    margin-left: 168px;
    width: 700px;
  }

  .slider .img-container2{
    margin-left: 168px;
    margin-top: 140px;
    width: 700px;
  }

  .capital-words{
    font-size: 64px;
    width: 1317px;
    margin-bottom: 20px;
  }

  .sub-title {
    font-size: 35px;
    width: 813px;
    margin-bottom: 30px;
  }

  .second-p{
    font-size: 25px;
    width: 1253px;
  }

  #learn-more{
    width: 351px;
    font-size: 22px;
    margin-top: 42px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 56px;
    padding-right: 56px;
  }
} */
