* {
  font-size: 1.171vw;
}

.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 1.830vw;
}

.box-content{
  height: 21.962vw;
  width: 73.206vw;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
}

.highlights-content{
  margin-top: 0.366vw;
  height: 20.498vw;
  width: 21.962vw;
  display: flex;
  flex-direction: column;
}

.highlights-content .top{
  height: 60%;
}

.highlights-content .top img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.left{
  width: 50%;
  overflow: hidden;
}

.left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /*transition: transform .5s ease; commented out */
}

/*commented out
.bml-complex img:hover{
transform: scale(1.1);
} */

.right{
  width: 50%;
  margin-left: 2.196vw;
}


.bottom-content{
  margin-top: 1.464vw;
  margin-bottom: -1.830vw;
  line-height: 1.5;
  height: 100%;
  width: 73.206vw;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  width: 73.206vw;
  font-size: 1.171vw;
}

.read-more{
  color: #394e8a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
}

.read-more:hover{
  text-decoration: underline;
}

.center-box{
  display: grid;
  place-content: center;
  margin-top: 5.124vw;
}

.center-box2{
  display: grid;
  place-content: center;
  margin-top: 1.464vw;
}

.date{
  color: #394e8a;
  margin-top: 0.366vw;
  padding-left: 1.464vw;
  border-left: 0.220vw solid #5ca361;
}

.location{
  color: #394e8a;
  margin-top: 0.366vw;
  padding-left: 1.464vw;
}

.history-content{
  font-size: 1.171vw;
  margin-top: 1.098vw;
}

.bottom-context{
  line-height: 1.4;
  margin-top: 0.732vw;
}

.top-15{
  margin-top: 10.366vw;
}

.onek-wid2{
  width: 73.206vw !important;
  height: 20.498vw;
}


.top-10{
  margin-top: 0.732vw;
}

.font-14{
  font-size: 1.025vw;
}

@media (max-width: 768px) {
  * {
   font-size: 4vw;
  }

  .container{
    margin-top: 2%;
  }

  .center-box:nth-child(1){
    margin-top: 5%;
    display:  inline-block;
  }

  .center-box:nth-child(2){
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 0vw;
  }

  .center-box:nth-child(3){
    margin-top: 0%;
    display: inline-block;
    margin-bottom: 0vw;
  }

  .center-box2{
    display: inline-block;
    margin-bottom: 5vw;
  }

  .center-box{
    display: block;
    place-content: center;
    margin-top: 5.124vw;
  }


  .box-content {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }

  .left img{
    height: 40vw;
  }

  .left{
    width: 112%;
  }

  .right{
    width: 110%;
    margin-left: 0;
  }

  .title{
    font-size: 5vw;
  }

  .date{
    font-size: 4vw;
  }

  .history-content{
    font-size: 4vw;
    margin-top: 2vw;

  }

  .bottom-content {
    margin-top: 2%;
    margin-bottom: 5%;
    line-height: 1.5;
    height: 100%;
    width: 82vw;
  }

  .highlights-content {
    margin-top: 0.5%;
    height: 10w;
    width: 10vw;
    display: flex;
    flex-direction: column;
  }

  .arrow{
    font-size: 7vw;
  }

  .arrow-text{
    font-size: 4vw;
  }

  .more-vacancies{
    margin-left: 0%;
    margin-right: 0%;
    height: 20vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .date{
    border-left: .5vw solid #5ca361;
  }

}
