
.container{
  margin: 0 9%;
  margin-top: 20px;
}

.content-header{
  height: 297px;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 16px;
  margin-top: 13px;
  width: 850px;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 1px;
  width: 800px; /* edited*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
}

.title{
  font-size: 29px;
}

.what-we-do {
  margin-left: 4.5%;
  margin-right: 4.5%;
  height: 289px;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.what-we-do .left-image {
  background-image: url(../../../../assets/photos/about/about-msi/02-what-we-do.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48.5%;
}

.what-we-do .right-content {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.what-we-do .right-content-p {
  font-size: 16px;
  margin-top: 19px;
  font-family: 'Atlas-light';
  line-height: 1.4;
}

.the-founder {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
}

.the-founder .left-image {
  background-image: url(../../../../assets/photos/about/about-msi/03-the-founderr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 296px;
  width: 296px;
  z-index: 999;
}

.the-founder .right-content-box {
  width: 53%;
  margin-left: 43px;
  position: absolute;
}

.the-founder .right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.the-founder .right-content-p {
  font-size: 16px;
  margin-top: 19px;
  font-family: 'Atlas-light';
  line-height: 1.4;
}

.sub-title{
  font-size: 19px;
  margin-top: 21px;
}

.arrow{
  font-size: 30px;
}

.arrow-text{
  margin-top: 8px;
}

.arrow-text:hover{
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1600px) {
  .container{
    margin-top: 23px;
  }

  .content-header{
    height: 348px;
  }


  .banner-content{
    font-size: 18px;
    margin-top: 15px;
    width: 996px;
  }

  .left-content{
    width: 886px; /* edited */
    padding: 0 59px;
  }

  .title{
    font-size: 34px;
  }

  .what-we-do {
    height: 338px;
    margin-top: 88px;
  }

  .what-we-do .right-content-p {
    font-size: 18px;
    margin-top: 22px;
  }


  .the-founder .left-image {
    height: 347px;
    width: 347px;
  }

  .the-founder .right-content-box {
    margin-left: 50px;
  }

  .the-founder .right-content-p {
    font-size: 18px;
    margin-top: 22px;
  }

  .sub-title{
    font-size: 18px;
    margin-top: 22px;
  }

  .arrow{
    font-size: 35px;
  }

  .arrow-text{
    margin-top: 9px;
  }

  .more-vacancies{
    height: 141px;
  }
}

@media (min-width: 1920px) {
  .container{
    margin-top: 28px;
  }

  .content-header{
    height: 418px;
  }


  .banner-content{
    font-size: 22px;
    margin-top: 18px;
    width: 1183px;
  }

  .left-content{
    width: 1003px; /* edited */
    padding: 0 71px;
  }

  .title{
    font-size: 41px;
  }

  .what-we-do {
    height: 406px;
    margin-top: 106px;
  }

  .what-we-do .right-content-p {
    font-size: 22px;
    margin-top: 26px;
  }


  .the-founder .left-image {
    height: 416px;
    width: 416px;
  }

  .the-founder .right-content-box {
    margin-left: 60px;
  }

  .the-founder .right-content-p {
    font-size: 22px;
    margin-top: 26px;
  }

  .sub-title{
    font-size: 22px;
    margin-top: 26px;
  }

  .arrow{
    font-size: 42px;
  }

  .arrow-text{
    margin-top: 11px;
  }

  .more-vacancies{
    height: 167px;
  }
}
