.container{
  margin: 0 9%;
  margin-top: 40px;
}

.content-header{
  height: 297px;
  position: relative;
}

.banner-content{
  font-size: 16px;
  margin-top: 13px;
  width: 684px;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 8px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
}

.head-title{
  font-size: 29px;
}

img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  cursor: pointer !important;
  background-color: black;
}

/* .md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 250px
} */

.title{
  font-size: 25px;
  color: #394e8a;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

carousel{
  margin-top: 20px;
}

.content1{
  padding: 0 100px;
  margin-top: 50px;
}

.content1 carousel {
  height: 165px;
}


.title-header{
  font-size: 40px;
  color: #394e8a;
  margin-bottom: 20px;
}

.hr-line{
  margin: 15px 9% 30px 9%;
}

.content-marg{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 20px;
}

.photo-length{
  font-size: 15px;
  align-self: flex-end;
  margin-bottom: 3px;
}

.context{
  margin-top: 10px;
  line-height: 1.4;
}

.content2{
  padding: 0 100px;
  margin-top: 70px;
}

.content2 carousel {
  height: 165px;
}

.footer{
  margin-top: 9%;
}

@media (min-width: 1600px) {
  .container{
    margin-top: 47px;
  }

  .title{
    font-size: 29px;
  }

  carousel{
    margin-top: 23px;
  }

  .content1{
    padding: 0 117px;
    margin-top: 59px;
  }

  .content1 carousel {
    height: 193px;
  }


  .title-header{
    font-size: 47px;
    margin-bottom: 23px;
  }

  .hr-line{
    margin: 18px 9% 35px 9%;
  }

  .content-marg{
    margin-bottom: 12px;
    margin-top: 23px;
  }

  .photo-length{
    font-size: 18px;
    margin-bottom: 4px;
  }

  .context{
    margin-top: 12px;
    font-size: 19px;
  }

  .content2{
    padding: 0 117px;
    margin-top: 82px;
  }

  .content2 carousel {
    height: 193px;
  }
}

@media (min-width: 1900px) {
  .container{
    margin-top: 55px;
  }

  .title{
    font-size: 34px;
  }

  carousel{
    margin-top: 27px;
  }

  .content1{
    padding: 0 139px;
    margin-top: 70px;
  }

  .content1 carousel {
    height: 229px;
  }


  .title-header{
    font-size: 56px;
    margin-bottom: 27px;
  }

  .hr-line{
    margin: 21px 9% 42px 9%;
  }

  .content-marg{
    margin-bottom: 14px;
    margin-top: 27px;
  }

  .photo-length{
    font-size: 21px;
    margin-bottom: 5px;
  }

  .context{
    margin-top: 14px;
    font-size: 23px;
  }

  .content2{
    padding: 0 139px;
    margin-top: 97px;
  }

  .content2 carousel {
    height: 229px;
  }
}
