<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div class="container">
    <div class="content-header">
      <img src="https://dc697.4shared.com/img/VlybhYi2iq/s24/179c0eb26f8/01-museums3x?async&rand=0.7583729852412464">
      <div class="left-content">
        <p class="atlas-blackReg head-title">MUSEUMS & EXHIBITS</p>
        <p class="atlas-light banner-content" style="line-height: 1.3;">
          One of the UP MSI objectives is to spread information and awareness about coastal and marine environments. The museum located within the UP MSI building complex showcases fish and corals and other invertebrates. Mobile exhibits on humanitarian and environmental topics like conservation are set up in universities and public spaces around the Philippines.
        </p>
      </div>
    </div>

    <p class="atlas-light mobile-banner-content" style="line-height: 1.3;">
      One of the UP MSI objectives is to spread information and awareness about coastal and marine environments. The museum located within the UP MSI building complex showcases fish and corals and other invertebrates. Mobile exhibits on humanitarian and environmental topics like conservation are set up in universities and public spaces around the Philippines.
    </p>

    <div class="content1">
      <div class="content-marg">
        <p class="atlas-bold title" (click)="mmnc()">Mobile Marine and Naval Centrum (MMNC)</p> &nbsp;
        <p class="atlas-light photo-length">({{photos1.length}} photos)</p>
      </div>
      <p class="atlas-light context">The UP MSI joined forces with the Citizen’s Support Your Navy Foundation Philippines, Inc. (CSYNFPI), the Philippine Navy, and the Department of Science and Technology to produce the Mobile Marine and Naval Centrum (MMNC). The MMNC is a roving museum of interactive exhibits that toured various sites from 2018 to 2019. Constructed to be mobile and transportable, the exhibits aim to raise awareness on ocean and maritime issues, like food security and climate change.</p>
      <carousel
      [height]="'100%'"
      [margin]="20"
      [freeScroll]="false"
      [transitionTimingFunction]="'ease-in-out'"
      [transitionDuration]="'1000'"
      [cellsToShow]="cellToShow"
      [cellsToScroll]="1"
      [cellWidth]="'100%'"
      [arrowsOutside]="true"
      [objectFit]="'cover'"
      [overflowCellsLimit]="1"
      [dots]="false"
      >
        <div class="carousel-cell" *ngFor="let item of photos1; let i = index">
          <img [src]="item.image" (click)="openDialog(photos1, i)">
        </div>
      </carousel>
    </div>

    <!-- <div class="content2">
      <div class="content-marg">
        <p class="atlas-bold title" (click)="BML()">BML Visit of Chancellor Tan & Party, Jan 2016</p> &nbsp;
        <p class="atlas-light photo-length">({{photos2.length}} photos)</p>
      </div>
      <p class="atlas-light context">Bolinao Marine Laboratory (BML) is the main research station of the Marine Science Institute. Last 2016, Chancellor Michael Tan of UP Diliman visited the BML to observe the facility and know more about its projects.</p>
      <carousel
      [height]="'100%'"
      [margin]="20"
      [freeScroll]="false"
      [transitionTimingFunction]="'ease-in-out'"
      [transitionDuration]="'1000'"
      [cellsToShow]="3"
      [cellsToScroll]="1"
      [cellWidth]="'100%'"
      [arrowsOutside]="true"
      [objectFit]="'cover'"
      [overflowCellsLimit]="1"
      [dots]="false"
      >
        <div class="carousel-cell" *ngFor="let item of photos2; let i = index">
          <img [src]="item.image" (click)="openDialog(photos2, i)">
        </div>
      </carousel>
    </div> -->

  </div>


</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" routerLink="/Resources/collections">
    <p class="atlas-light"><span class="navi">TO COLLECTIONS</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>

<div>
  <app-footer></app-footer>
</div>
