.content3{
  height: 500px;
  margin: 50px 120px 0 120px;
  display: flex;
  flex-direction: row;
}

.content3-left{
  width: 50%;
  background-color: #384e8a;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3-right{
  width: 50%;
  background-image: url(../../../assets/photos/r1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}


.content2{
  height: 500px;
  margin: 50px 120px 0 120px;
  display: flex;
  flex-direction: row;
}

.content2-left{
  width: 45%;
  background-image: url(../../../assets/photos/r2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2-right{
  width: 55%;
  background-color: #5da563;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
