<app-nav></app-nav>

<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="content3 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content3-left">
    <div style=" display: flex; flex-direction: column; line-height: 1.2;">
      <span class="atlas-blackReg title" style="color: white;">AREAS OF RESEARCH</span>
    </div>
    <div class="research-context">
      <strong class="atlas-bold">Research is the primary function</strong> of the Institute. Research
      programs are geared towards generating information for
      understanding the marine and coastal environment, and
      planning for their conservation and sustainable use.
    </div>

    <div class="learn-more">LEARN MORE ABOUT OUR AREAS OF RESEARCH</div>
  </div>

  <div class="content3-right">
  </div>
</div>

<div class="content2 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content2-left">

  </div>

  <div class="content2-right">
    <div style="display: flex; flex-direction: column; line-height: 1.2;">
      <span class="atlas-blackReg title" style="color: white; ">LABORATORIES</span>
    </div>
    <div class="research-context">
      <strong class="atlas-bold">Research is the primary function</strong> of the Institute. Research
      programs are geared towards generating information for
      understanding the marine and coastal environment, and planning
      for their conservation and sustainable use.
    </div>

    <div class="research-context">
      Laboratories include Biological Oceanography and Modeling
      of Ecosystem Laboratory, Marine Biogeochemistry Laboratory,
      Community Ecology Laboratory, Coral Reef Ecology Laboratory
      Ecosystem Dynamics Laboratory, Fish Ecology Laboratory...
    </div>

    <div class="learn-more">LEARN MORE ABOUT OUR AREAS OF RESEARCH</div>

  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
