.content3{
  height: 36.603vw;
  margin: 3.660vw 9% 0 9%;
  display: flex;
  flex-direction: row;
}

.content3-left{
  width: 43%;
  background-color: #384e8a;
  padding: 5.124vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3-right{
  width: 57%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1628844368/Research/Research_-_Areas_of_Research_kvuhat.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content4-right{
  width: 57%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1628147304/Research/02-laboratories_p4tc4d.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2{
  height: 36.603vw;
  margin: 5.124vw 9% 0 9%;
  display: flex;
  flex-direction: row;
}

.content2-left{
  width: 53%;
  background-image: url(https://res.cloudinary.com/upmsi/image/upload/v1628147328/Research/updated-research-projects_jzx0w3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2-right{
  width: 47%;
  background-color: #5da563;
  padding: 5.124vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.title{
  font-size: 2.928vw;
}

.research-context{
  color: white;
  line-height: 1.5;
  margin-top: 1.464vw;
  font-size: 1.171vw;
}

.position{
  margin-top: 2.343vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-more-a{
  width: 18.302vw;
  font-size: 1.171vw;
  padding: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
  margin-top: 1.098vw;
}

.learn-more-b{
  width: 18.302vw;
  font-size: 1.171vw;
  padding: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #384e8a;
  color: white;
  margin-top: 1.098vw;
}

.footer{
  margin-top: 9%;
}


@media (max-width: 768px){
  .content3, .content2, .content4{
    height: auto;
    margin: 4% 9% 0 9%;
    font-size: 4vw;
  }

  .content3-left, .content2-right{
    padding: 13%;
    line-height: 1.5;
  }

  .content4-left{
    width: 100%;
  }

  .content4-right{
    width: 0%;
  }


  .content3-left{
    width: 100%;
  }

  .content3-right{
    width: 0%;
  }

  .content2-left{
    width: 0%;
  }

  .content2-right{
    width: 100%;
  }

  .hr-line{
    margin: 4.5% 9% 6% 9%;
  }

  .title{
    font-size: 5vw;
  }

  .learn-more-a,  .learn-more-b{
    width: 43.5vw;
    font-size: 3.5vw;
    padding: 2.2vw 0;
  }

  .research-context{
    margin-top: 1.5vw;
    font-size: 4vw;
  }

  .position{
    margin-top: 1.5vw;
  }

  .footer{
    margin-top: 8%;
  }
}
