<app-nav></app-nav>

<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="content3 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content3-left">
    <div style=" display: flex; flex-direction: column; line-height: 1.2;">
      <span class="atlas-blackReg title" style="color: white;">AREAS OF RESEARCH</span>
    </div>
    <div class="research-context">
      The waters surrounding the archipelago are valuable resources to the Philippines. The UP Marine Science Institute empowers the marine sector by addressing various research gaps and by promoting the sustainable use of marine and coastal resources.
    </div>
    <div class="position">
    <button class="learn-more-a" [routerLink]="['/Research/areas-of-research']">LEARN MORE</button>
  </div>
  </div>

  <div class="content3-right">
  </div>
</div>

<div class="content2 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content2-left">

  </div>

  <div class="content2-right">
    <div style="display: flex; flex-direction: column; line-height: 1.2;">
      <span class="atlas-blackReg title" style="color: white; ">LABORATORIES</span>
    </div>
    <div class="research-context">
      The UP Marine Science Institute houses laboratories led by some of the country's brightest scientists. With Dr. Deo Florence Onda as the Institute's Deputy Director of Research, twenty-two research groups work together to push the frontiers of marine science.
    </div>

    <div class="position">
    <button class="learn-more-b" [routerLink]="['/Research/laboratories']">LEARN MORE</button>
  </div>
  </div>

</div>


<div class="footer">
  <app-footer></app-footer>
</div>
