<app-nav></app-nav>
<div class="content3 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content3-left">
    <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
      <span class="inter-bold" style="color: white; font-size: 40px;">AREAS OF RESEARCH</span>
    </div>
    <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
      <strong class="inter-bold">Research is the primary function</strong> of the Institute. Research
      programs are geared towards generating information for
      understanding the marine and coastal environment, and
      planning for their conservation and sustainable use
    </div>

    <div style="margin:0 50px; color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
      Areas of research include Biology and ecology of harmful algae,
      Plankton ecology, Coral reef, seagrass and mangrove ecosystems,
      Habitat restoration, Invertebrate biology and mariculture
      Seaweed biology and culture Taxonomy and systematics of
      select marine taxa...
    </div>

    <div style="margin:0 50px; text-decoration: underline; color: white;  display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px; font-weight: 100;">LEARN MORE ABOUT OUR AREAS OF RESEARCH</div>
  </div>

  <div class="content3-right">
  </div>
</div>

<div class="content2 animate__animated animate__fadeIn animate__delay-1s">
  <div class="content2-left">

  </div>

  <div class="content2-right">
    <div style="margin:0 50px; display: flex; flex-direction: column; line-height: 1.2;">
      <span class="inter-bold" style="color: white; font-size: 40px;">LABORATORIES</span>
    </div>
    <div style="margin:0 50px;color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
      <strong class="inter-bold">Research is the primary function</strong> of the Institute. Research
      programs are geared towards generating information for
      understanding the marine and coastal environment, and planning
      for their conservation and sustainable use.
    </div>

    <div style="margin:0 50px; color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
      Laboratories include Biological Oceanography and Modeling
      of Ecosystem Laboratory, Marine Biogeochemistry Laboratory,
      Community Ecology Laboratory, Coral Reef Ecology Laboratory
      Ecosystem Dynamics Laboratory, Fish Ecology Laboratory...
    </div>

    <div style="margin:0 50px; text-decoration: underline; color: white;  display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px; font-weight: 100;">LEARN MORE ABOUT OUR AREAS OF RESEARCH</div>

  </div>
</div>

<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
