<div class="content-header2">
  <div class="bml-complex">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146431/Facilities/2%20Puerto%20Galera%20Station%20-%20Elements/07-components-research_jovff3.jpg">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-blackReg title">COMPONENTS</p>
        <p class="atlas-light top-15" style="line-height: 1.4;">Located in the center of marine biodiversity in the world, there is high scientific interest in the Coral Triangle region. The facility is integral as a research, education, and extension hub to support scientists, educators, and trainers in their activities, especially in the further investigation of biodiversity and ecosystem health and disaster risk reduction and management.</p>
      </div>
      <div class="position">
        <button class="learn-more" [routerLink]="['/Facilities/puerto-galera-station/components']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
