<div class="content-header2">
  <div class="bml-complex">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/facilities%2Fpuerto%2F05-components-banner.jpg?alt=media&token=466c9d15-957d-4461-9c3c-3bd69e80468f">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-blackReg title">COMPONENTS</p>
        <p class="atlas-light top-15" style="line-height: 1.4;">This facility will focus on two main themes: Biodiversity and Ecosystem Health; and Disaster Risk Reduction and Management. Each theme would have research, education, and outreach components.</p>
      </div>
      <div class="position">
        <button class="learn-more" [routerLink]="['/Facilities/puerto-galera-station/components']">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
