<div class="content-header">
  <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146384/Facilities/2%20Puerto%20Galera%20Station%20-%20Elements/01-pg-station-banner_gpnbim.jpg">
  <div class="left-content">
    <p class="atlas-blackReg title">UP CENTER FOR RESEARCH AND AWARENESS OF DIVERSE LIVING ENVIRONMENTS</p>
    <p class="atlas-light banner-content" style="line-height: 1.3;">
      The Puerto Galera Biodiversity and Environmental Research and Outreach Center is envisioned as a world‐class research and outreach facility showcasing the Philippines’ remarkable biodiversity; enabling trans-disciplinary and synergistic collaboration between experts across UP campuses as well as local and foreign researchers and practitioners; and demonstrating the mutualism of a public‐private partnership.
    </p>
  </div>
</div>
<p class="atlas-light mobile-banner-content" style="line-height: 1.3;">
  The Puerto Galera Biodiversity and Environmental Research and Outreach Center is envisioned as a world‐class research and outreach facility showcasing the Philippines’ remarkable biodiversity; enabling trans-disciplinary and synergistic collaboration between experts across UP campuses as well as local and foreign researchers and practitioners; and demonstrating the mutualism of a public‐private partnership.
</p>
