.content-header{
  height: 297px;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 16px;
  margin-top: 13px;
  width: 684px;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 2px; /*edited*/
  width: 580px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
}

.title{
  font-size: 29px;
}

@media (min-width: 1600px) {

  .content-header{
    height: 348px;
  }

  .banner-content{
    font-size: 18px;
    margin-top: 15px;
    width: 801px;
  }

  .left-content{
    width: 679px;
    padding: 0 59px;
  }

  .title{
    font-size: 34px;
  }
}

@media (min-width: 1900px) {
  .content-header{
    height: 418px;
  }

  .banner-content{
    font-size: 22px;
    margin-top: 18px;
    width: 961px;
  }

  .left-content{
    width: 806px;
    padding: 0 71px;
  }

  .title{
    font-size: 41px;
  }

}
