<div class="content-header">
  <img src="https://dc606.4shared.com/img/JPjSjDWMiq/s24/179ace8d678/01-pg-station-banner?async&rand=0.06886431490666078">
  <div class="left-content">
    <p class="atlas-blackReg title">PUERTO GALERA STATION</p>
    <p class="atlas-light banner-content" style="line-height: 1.3;">
      The Puerto Galera Biodiversity and Environmental Research and Outreach Center is envisioned as a world‐class research and outreach facility showcasing the Philippines’ remarkable biodiversity; enabling trans-disciplinary and synergistic collaboration between experts across UP campuses as well as local and foreign researchers and practitioners; and demonstrating the mutualism of a public‐private partnership.
    </p>
  </div>
</div>
