.content-header{
  height: 21.742vw;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-content{
  font-size: 1.171vw;
  margin-top: 0.952vw;
  width: 50.073vw;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 0.146vw; /*edited*/
  width: 42.460vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.660vw;
  color: white;
}

.mobile-banner-content{
  display: none;
}

.title{
  font-size: 2.123vw;
}

@media (max-width: 768px) {

  .content-header{
    height: 40vw;
  }

  .banner-content{
    display: none;
  }

  .mobile-banner-content{
    margin-top: 4%;
    font-size: 4vw;
    display: block;
  }

  .title{
     font-size: 5vw;
     line-height: 1.2;
  }
  .left-content{
    padding: 0 5vw;
    width: 80%;
  }
}
