.container{
  font-size: 1.17vw;
}

.content-header{
  height: 21.8vw;
  position: relative;
  margin: 0 9%;
  padding-top: 1.2%;
}

.banner-content{
  font-size: 1.17vw;
  margin-top: 2.5%;
  width: 50vw;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: -1.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4.5%;
  color: white;
}


.content2{
  width: 73.5vw;
  margin-top: 5%;
  height: 100%;
}

.lab-desc{
  margin-top: 2%;
  line-height: 1.5;
  font-size: 1.17vw;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.title{
  font-size: 1.85vw;
}

mat-expansion-panel{
  margin-bottom: -2%;
}

.panel-title{
  color: white;
  padding: 2% 1.5%;
  font-size: 1.05vw; /*edited*/
}

.font-14 {
  font-size: 1.05vw;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
  position: relative;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 3vw;
}

.grad-offering{
  margin-top: 5% !important;
  padding: 0 7%; /*edited again */
}

.closed-main-head{
  background-color: #384e8a;
  border-radius: 3vw;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.17vw;
}

.dd-content {
  width: 100%;
  border-bottom: 1px solid rgba(92, 163, 97, .99);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  column-gap: 2%;
  place-items: center;
  padding: 2% 0;
  line-height: 1.4;
}

.dd-content img {
  height: 4vw;
  width: 4vw;
}

.dd-content .img2 {
  height: 2.2vw !important;
  width: 6.5vw !important;
}

.dd-content .img3 {
  height: 3.5vw !important;
  width: 6.5vw !important;
}
/*
.mat-down {
  position: absolute;
  right: 1.5vw !important;
  top: 30%;
  font-size: 1.5vw;
} */

.arrow{
  font-size: 2.2vw;
}

.arrow-text{
  margin-top: .75%;
  font-size: 1.17vw;
}

.arrow-text:hover{
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 9vw;
  margin-top: 2%;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1600px) {
  .arrow-text{
    margin-top: 1.1%;
  }
}

@media (min-width: 2000px) {
  .arrow-text{
    margin-top: 1.5%;
  }
}

@media (min-width: 2500px) {
  .arrow-text{
    margin-top: 2%;
  }
}

