<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold" style="font-size: 30px; color: #394e8a;">RESEARCH PROJECT AND HIGHLIGHTS</p>

  <div class="img-container">
    <div class="img-content" *ngFor="let item of researchOpp">
      <div class="left">
        <img [src]="item.image">
      </div>
      <div class="right">
        <div>
          <p class="atlas-bold" style="color: #394e8a;">{{item.title}}</p>
          <p class="atlas-light" style="color: #394e8a; font-size: 14px;">{{item.subtitle}}</p>
          <p class="atlas-light" style="margin-top: 10px; padding-right: 10px; font-size: 14px;">{{item.content}}</p>
        </div>
        <p class="atlas-light" style="text-decoration: underline; font-size: 14px; margin-top: 10px; color: #394e8a; display: flex; flex-direction: row; justify-content: flex-end;">CONTINUE READING</p>
      </div>
    </div>

  </div>

</div>

<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
