.container{
  font-size: 16px;
}

.content{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content2{
  width: 1000px;
  margin-top: 70px;
  height: 100%;
}

.lab-desc{
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.hr-line{
  margin: 15px 9% 30px 9%;
}

.title-header{
  font-size: 35px;
}

.box-content{
  height: 300px;
  width: 1000px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
}

.box-content .left{
  width: 50%;
  overflow: hidden;
}

.box-content .left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.box-content .left img:hover{
  transform: scale(1.1);
}

.box-content .right{
  width: 50%;
  margin-left: 30px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-box{
  display: grid;
  place-content: center;
  margin-top: 70px;
}

.title{
  font-size: 25px;
}

.highlight-title {
  color: #394e8a;
  margin-top: 10px;
  padding-right: 20px;
  border-right: 3px solid #5ca361;
}

.year {
  color: #394e8a;
  margin-top: 10px;
  padding-left: 20px;
}

.top-10 {
  margin-top: 10px;
  color: #394e8a;
}

.footer{
  margin-top: 9%;
}

mat-expansion-panel{
  margin-bottom: -20px;
}

.panel-title{
  color: white;
  padding: 15px 0;
  font-size: 16px;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 50px;
}

.grad-offering{
  margin-top: 50px !important;
}


.closed-main-head{
  background-color: #384e8a;
  border-radius: 50px;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 16px;
}

.regular-content .left{
  width: 50%;
}

.regular-content .left div{
  margin-top: 10px;
  line-height: 1.4;
}

.regular-content .right div{
  margin-top: 10px;
  line-height: 1.4;
}


.regular-content .right{
  width: 50%;
}

.more-vacancies{
  color: #384e8a;
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.more-vacancies:hover{
  text-decoration: underline;
}

.arrow{
  font-size: 30px;
}

.arrow-text{
  margin-top: 8px;
}

@media (min-width: 1600px) {
  *{
    font-size: 19px;
  }

  .content{
    margin-top: 59px;
  }

  .content2{
    width: 1171px;
    margin-top: 82px;
  }

  .lab-desc{
    margin-top: 23px;
    font-size: 19px;
  }

  .hr-line{
    margin: 18px 9% 35px 9%;
  }

  .title-header{
    font-size: 41px;
  }

  .box-content{
    height: 351px;
    width: 1171px;
  }

  .box-content .right{
    margin-left: 35px;
    margin-top: -12px;
  }

  .center-box{
    margin-top: 82px;
  }

  .title{
    font-size: 29px;
  }

  .highlight-title {
    margin-top: 12px;
    padding-right: 23px;
    border-right: 4px solid #5ca361;
  }

  .year {
    margin-top: 12px;
    padding-left: 23px;
  }

  .top-10 {
    margin-top: 12px;
  }

  mat-expansion-panel{
    margin-bottom: -23px;
  }

  .panel-title{
    padding: 18px 0;
    font-size: 19px;
  }

  .specific-class{
    border-radius: 58px;
  }

  .grad-offering{
    margin-top: 58px !important;
  }

  .closed-main-head{
    border-radius: 58px;
  }

  .regular-content{
    margin-top: 23px;
    font-size: 19px;
  }

  .regular-content .left div{
    margin-top: 12px;
  }

  .regular-content .right div{
    margin-top: 12px;
  }

  .more-vacancies{
    margin-top: 82px;
  }

  .arrow{
    font-size: 35px;
  }

  .arrow-text{
    margin-top: 9px;
  }
}

@media (min-width: 1900px) {
  *{
    font-size: 23px;
  }

  .content{
    margin-top: 70px;
  }

  .content2{
    width: 1391px;
    margin-top: 97px;
  }

  .lab-desc{
    margin-top: 27px;
    font-size: 23px;
  }

  .hr-line{
    margin: 21px 9% 42px 9%;
  }

  .title-header{
    font-size: 49px;
  }

  .box-content{
    height: 417px;
    width: 1391px;
  }

  .box-content .right{
    margin-left: 42px;
    margin-top: -14px;
  }

  .center-box{
    margin-top: 97px;
  }

  .title{
    font-size: 34px;
  }

  .highlight-title {
    margin-top: 14px;
    padding-right: 27px;
    border-right: 5px solid #5ca361;
  }

  .year {
    margin-top: 14px;
    padding-left: 27px;
  }

  .top-10 {
    margin-top: 14px;
  }

  mat-expansion-panel{
    margin-bottom: -27px;
  }

  .panel-title{
    padding: 21px 0;
    font-size: 23px;
  }

  .specific-class{
    border-radius: 69px;
  }

  .grad-offering{
    margin-top: 69px !important;
  }

  .closed-main-head{
    border-radius: 69px;
  }

  .regular-content{
    margin-top: 27px;
    font-size: 23px;
  }

  .regular-content .left div{
    margin-top: 14px;
  }

  .regular-content .right div{
    margin-top: 14px;
  }

  .more-vacancies{
    margin-top: 97px;
  }

  .arrow{
    font-size: 42px;
  }

  .arrow-text{
    margin-top: 11px;
  }
}
