.container{
  margin: 0 120px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.img-content{
  height: 160px;
  display: flex;
  flex-direction: row;
}

.left{
  width: 55%;
}

.right{
  width: 45%;
  margin-left: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
