<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">

  <div class="content-header">
    <img src="https://dc732.4shared.com/img/ASk6PkM-ea/s24/179c1fdb808/01-banner?async&rand=0.054765963762564596">
    <div class="left-content">
      <p class="atlas-blackReg title">RESEARCH PROGRAMS & PROJECTS</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        Research is the primary role of the UP Marine Science Institute. Topics of interest include natural products, pollution, marine culture and productivity, genetics and genomics, and marine chemistry.
      </p>
    </div>
  </div>

  <div style="display: grid; place-content: center;">
    <div class="content2">
      <div>
        <p class="atlas-blackReg title" style="color: #394e8a;">RESEARCH TYPE</p>
        <p class="lab-desc atlas-light">Aside from contributing to the knowledge gaps in the science, UPMSI projects also aim to develop tools, facilities, and biobanks. These research endeavors are funded by the Department of Science and Technology, the Department of Agriculture, the UP Office of the Vice President for Academic Affairs, and the Commission on Higher Education.
        </p>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
          <mat-panel-title class="atlas-light panel-title">RESEARCH PROJECTS <span *ngIf="panelOpenState"> &nbsp;&nbsp;-&nbsp;&nbsp; PROGRAM TITLE&nbsp;&nbsp; |&nbsp;&nbsp; PROJECT LEADER&nbsp;&nbsp; |&nbsp;&nbsp; FUNDING AGENCY&nbsp;&nbsp; |&nbsp;&nbsp; DURATION</span></mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content">
            <div class="dd-content" *ngFor="let item of researchProj">
              <img *ngIf="item.type !== 'pbbl'" [src]="item.logo">
              <img *ngIf="item.type === 'pbbl'" class="img2" [src]="item.logo">

              <p>{{item.title}}</p>

              <p>{{item.leader}}</p>

              <p>{{item.fundingAgency}}</p>

              <p>{{item.duration}}</p>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
            (closed)="panelOpenState1 = false">
          <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
          <mat-panel-title class="atlas-light panel-title">RESEARCH PROGRAMS <span *ngIf="panelOpenState1"> &nbsp;&nbsp;-&nbsp;&nbsp; PROGRAM TITLE&nbsp;&nbsp; |&nbsp;&nbsp; PROJECT LEADER&nbsp;&nbsp; |&nbsp;&nbsp; FUNDING AGENCY&nbsp;&nbsp; |&nbsp;&nbsp; DURATION</span></mat-panel-title>
          </mat-expansion-panel-header>
          <div class="regular-content">
            <div class="dd-content" *ngFor="let item of researchProg">
              <img *ngIf="item.type !== 'pbbl'" [src]="item.logo">
              <img *ngIf="item.type === 'pbbl'" class="img2" [src]="item.logo">

              <p>{{item.title}}</p>

              <p>{{item.leader}}</p>

              <p>{{item.fundingAgency}}</p>

              <p>{{item.duration}}</p>
            </div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

    <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s" (click)="toAcad()">
      <span class="arrow-text">
        <p class="atlas-light">TO ACADEMICS</p>
      </span>
      <mat-icon class="arrow" style="padding-left: .5%;">arrow_forward</mat-icon>
    </div>
  </div>
  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
