<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">RESEARCH PROJECT AND HIGHLIGHTS</p>

  <div class="img-container">
    <div class="img-content" *ngFor="let item of researchOpp">
      <div class="left">
        <img [src]="item.image">
      </div>
      <div class="right">
        <div>
          <p class="atlas-bold header">{{item.title}}</p>
          <p class="atlas-light subtitle">{{item.subtitle}}</p>
          <p class="atlas-light item-content">{{item.content}}</p>
        </div>
        <p class="atlas-light continue-reading" (click)="projectContent()">CONTINUE READING</p>
      </div>
    </div>

  </div>

</div>

<div class="footer">
  <app-footer></app-footer>
</div>
