* {
  font-size: 1.171vw;
}

.profile{
  height: 21.962vw;
  display: flex;
  margin-top: 1.757vw;
  flex-direction: row;
  margin-right: 2.196vw; /* edited */
}

.title-profile {
  line-height: 1.2;
  color: #384e8a;
  font-size: 2.196vw;
}

.profile-subtitle {
  margin-top: 1.098vw;
  color: #4c4f57;
  font-size: 1.464vw;
}

.profile-content {
  color: #666666;
  margin-top: 1.098vw;
  line-height: 1.4;
}

.title {
  line-height: 1.2;
  margin-top: 2.196vw;
  color: #384e8a;
  font-size: 2.196vw;
  margin-bottom: 1.464vw;
}

.profile .left{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile .left img{
  height: 18.302vw !important;
  width: 18.302vw !important;
}

.profile .right{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container {
  height: 14vw;
}

@media (max-width: 756px) {
  * {
    font-size: 4vw;
  }

  .profile{
    height: 100%;
    margin-top: 10vw;
    margin-right: 2.083vw; /* edited */
    flex-direction: column;
  }

  .title-profile {
    font-size: 5vw;
    text-align: center;
  }

  .profile-subtitle {
    margin-top:  1.09375vw;
    font-size: 4vw;
    text-align: center;
  }

  .profile-content {
    margin-top: 1.09375vw;
  }

  .title {
    margin-top: 5vw;
    font-size: 5vw;
    margin-bottom: 2.1875vw;
  }

  .profile .left img{
    height:  45vw !important;
    width:  45vw !important;
    margin-bottom: 2%;
  }

  .profile .left{
    width: 100%;
  }

  .profile .right{
    width: 100%;
  }

  .img-container {
   margin: 0;
   height: 25vw;
  }

}

