* {
  font-size: 1.171vw;
}

.profile{
  height: 21.962vw;
  display: flex;
  margin-top: 1.757vw;
  flex-direction: row;
  margin-right: 2.196vw; /* edited */
}

.title-profile {
  line-height: 1.2;
  color: #384e8a;
  font-size: 2.196vw;
}

.profile-subtitle {
  margin-top: 1.098vw;
  color: #4c4f57;
  font-size: 1.464vw;
}

.profile-content {
  color: #666666;
  margin-top: 1.098vw;
  line-height: 1.4;
}

.title {
  line-height: 1.2;
  margin-top: 2.196vw;
  color: #384e8a;
  font-size: 2.196vw;
  margin-bottom: 1.464vw;
}

.profile .left{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile .left img{
  height: 18.302vw !important;
  width: 18.302vw !important;
}

.profile .right{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container {
  height: 14vw;
}
