/* edited : added css */
.resources-container{
  display: flex;
  flex-flow: row;
  margin-left: 9.151vw;
  background-color: none; /* edited2 */
  width: 82%;
  height: 8%;
}

/* edited : added css */
.resources-container .resources-left{
  height: 100%;
  width: 55%;
  background-color: none; /* edited2 */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* edited : added css */
.resources-container .resources-right{
  height: 100%;
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2.928vw;
  margin-right: 2.196vw;
}

/* edited : added css */
.resources-content{
  padding: 3.660vw;
  line-height: 1.5;
  margin-top: 1.318vw !important; /*edited2 */
}

.container{
  font-size: 1.171vw;
}

.photo-by {
  font-size: 0.805vw;
  color: #fff;
  position: absolute;
  bottom: 3%;
  left: 1.5%;
}

.lab-desc{
  margin-top: 1.464vw;
  line-height: 1.5;
  font-size: 1.171vw;
}

.lab-img1{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 2.928vw; /* edited3 */
  height: 36.603vw;
  position: relative;
  overflow: hidden;
}

/* edited3: added css */
.lab-img2{
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 0px;
  height: 36.603vw;
  position: relative;
  overflow: hidden;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

img:hover{
  transform: scale(1.1);
}

.diag{
  height: 100%;
  width: 100%;
}

.lab-img{
  position: absolute;
  bottom: 0;
  left: 7%;
  height: 100%;
  width: 45%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}


.right1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 1.171vw;
  color: white;
  width: 25.622vw;
  line-height: 1.3;
}

.sub-title {
  font-size: 1.171vw;
  margin-top: 0.732vw;
  color: white;
  margin-bottom: 2.196vw;
}

.right-body{
  font-size: 1.171vw;
  color: white;
  outline: none;
  text-transform: uppercase;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.title-header{
  font-size: 2.562vw;
}

.bottom-bor{
  border-bottom: 0.220vw solid #5da563;
  width: 19.034vw;
  margin: 0.732vw 0;
}

.bottom-bor2{
  border-bottom: 0.220vw solid #5da563;
  width: 13.909vw;
  margin: 0.732vw 0;
}

.bottom-bor3{
  border-bottom: 0.220vw solid #5da563;
  width: 13.909vw;
  margin: 0.732vw 0;
}

.bottom-bor4{
  border-bottom: 0.220vw solid #5da563;
  width: 8.053vw;
  margin: 0.732vw 0;
}

.context{
  width: 49.780vw;
  display: flex;
  flex-direction: row;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
}
