<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a;">AREAS OF RESEARCH</p>
      <p class="lab-desc atlas-light">The waters surrounding the archipelago are valuable resources to the Philippines. The UP Marine Science Institute empowers the marine sector by addressing various research gaps and by promoting the sustainable use of marine and coastal resources. From the surveillance of oceanic ecosystems to the development of marine-based technologies, the UPMSI designs and implements research programs that fall under the fields of ecology, oceanography, biology and biochemistry, geology, and conservation.
      </p>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/research%2F1st-section-photo.jpg?alt=media&token=47fbed02-8cf4-4462-aba9-0833832be8f3"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-light right-body" [routerLink]="['/Research/laboratories', 'biological-oceanography-and-modeling-of-ecosystem-laboratory']" >
              Biology and ecology of harmful algae
            </p>
            <p class="atlas-light right-body">
              Plankton ecology
            </p>
            <p class="atlas-light right-body">
              Coral reef, seagrass and mangrove ecosystems
            </p>
            <p class="atlas-light right-body">
              Habitat restoration
            </p>
            <p class="atlas-light right-body">
              Invertebrate biology and mariculture
            </p>
            <p class="atlas-light right-body">
              Seaweed biology and culture
            </p>
            <p class="atlas-light right-body">
              Taxonomy and systematics of select marine taxa
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-image2">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/research%2F2nd-section-photo.jpg?alt=media&token=728cdac6-bc98-4480-b646-d6abb00c4eed"/>
    <div class="lab-img2">
      <div class="left2">

        <div class="context">
          <div>
            <p class="atlas-light right-body">
              Coastal oceanography and habitat connectivity
            </p>
            <p class="atlas-light right-body">
              Ocean productivity in marginal basins
            </p>
            <p class="atlas-light right-body">
              Coastal pollution
            </p>
            <p class="atlas-light right-body">
              Coastal biogeochemistry
            </p>
            <p class="atlas-light right-body">
              Climate change impact in the coastal zone
            </p>
            <p class="atlas-light right-body">
              Paleosealevel, paleoclimate, paleoenvironmental reconstructions
            </p>
            <p class="atlas-light right-body">
              Coastal erosion, coastal flooding
            </p>
          </div>
        </div>
      </div>
      <div class="right2">

      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/research%2F3rd-section-photo.jpg?alt=media&token=27f21e8e-0974-4195-adbd-507b05ddca14"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-light right-body">
              Submarine  groundwater discharge in coral reefs
            </p>
            <p class="atlas-light right-body">
              Marine microbiology
            </p>
            <p class="atlas-light right-body">
              Marine biotechnology
            </p>
            <p class="atlas-light right-body">
              Biochemical studies on conotoxins
            </p>
            <p class="atlas-light right-body">
              Natural products in seaweed and invertebrates
            </p>
            <p class="atlas-light right-body">
              Population genetics of marine organisms
            </p>
            <p class="atlas-light right-body">
              Ecological modeling
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <div class="facilities-next">
      <mat-icon class="arrow">arrow_forward</mat-icon>
      <span style="line-height: 1.3; padding-left: 2%;">
        <p class="atlas-bold">Next</p>
        <p class="atlas-light">FACILITIES</p>
      </span>
    </div> -->
  </div>

<div class="footer">
  <app-footer></app-footer>
</div>
