<app-nav></app-nav>
 <hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <!--<div class="content">
    <div>
      <p class="atlas-blackReg title-header" style="color: #394e8a;">AREAS OF RESEARCH</p>
      <p class="lab-desc atlas-light">The waters surrounding the archipelago are valuable resources to the Philippines. The UP Marine Science Institute empowers the marine sector by addressing various research gaps and by promoting the sustainable use of marine and coastal resources. From the surveillance of oceanic ecosystems to the development of marine-based technologies, the UPMSI designs and implements research programs that fall under the fields of ecology, oceanography, biology and biochemistry, geology, and conservation.
      </p>
    </div>
  </div> -->

<!-- edited: made a new div. here: -->
  <div class="resources-container animate__animated animate__fadeIn animate__delay-1s res-banner">
    <div class="resources-left">
      <div class="resources-content">
        <p class="atlas-blackReg title-header" style="color: #384e8a;">
          AREAS OF RESEARCH
        </p>

        <p class="atlas-light lab-desc" style="color: #666666;">
          The waters surrounding the archipelago are valuable resources to the Philippines. The UP Marine Science Institute empowers the marine sector by addressing various research gaps and by promoting the sustainable use of marine and coastal resources. From the surveillance of oceanic ecosystems to the development of marine-based technologies, the UPMSI designs and implements research programs that tackle problems in ecology, oceanography, biology and biochemistry, geology, and conservation. </p>

          <p class="atlas-light lab-desc" style="color: #666666;">For a more integrated approach to solving these problems, the research, development, and extension endeavors of the UPMSI revolve around four multidisciplinary themes: marine biodiversity and ecosystems, archipelagic oceanography, marine biotechnology, and climate change.</p>
        <br> <br>
      </div>
    </div>

    <div class="resources-right" >
            <img style="pointer-events: none;" src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623686327/Research/Areas%20of%20Research/diagram_jweuns.jpg">

    </div>
  </div>
  <!-- edited: until here -->

  <div class="lab-img1">
    <img src="https://dc585.4shared.com/img/TdO8bK0uiq/s24/179acc80038/1st-section-photo?async&rand=0.7675119563049975"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              Marine Biological Diversity & Tropical Ecosystems
            </p>
            <div class="bottom-bor"></div>
            <p class="atlas-light" style="line-height: 1.4; color: white;">
              Marine biodiversity research focuses on assessment, monitoring, and management of marine ecosystems; biology and culture of marine organisms; and genetic diversity and biogeography. These contribute to national and regional directives on marine biodiversity conservation, fisheries management (i.e., capture and mariculture), economic development, disaster  mitigation, and climate change adaptation. The Marine Biodiversity Resources Information System (MBRIS) and its partner BRING (Biodiversity Information Network Group) provide Information from a network of researchers and marine laboratories (Hub of Marine Ecosystems or  HOME) to the public, thereby promoting collaboration among complementary fields of expertise.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc595.4shared.com/img/GVQTS0GFea/s24/179acc80808/2nd-section-photo?async&rand=0.18294735642427096"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              Archipelagic Oceanography
            </p>
            <div class="bottom-bor2"></div>
            <p class="atlas-light" style="line-height: 1.4; color: white;">
              The Philippines is among the most oceanographically complex areas in the world, with the interaction between the North Pacific and the marginal seas (West Philippine Sea and Sulu Sea) occurring throughout the porous Philippine archipelago. The multidisciplinary oceanographic programs of the UPMSI attempt to capture the role of the physical environment in harmful algal blooms, coastal integrity and protection, fisheries (e.g., sardines) dynamics, sustainable mariculture, and ocean acidification. Methods using remote sensing and geographic Information systems (GIS) can evaluate the vulnerability of the marine environment to natural and human-induced impacts, as well as estimate the degree and scale of potential impacts relevant to coastal and marine management.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc585.4shared.com/img/SXFm9H4Zea/s24/179acc80bf0/3rd-section-photo?async&rand=0.7472564966488009"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              marine biotechnology
            </p>
            <div class="bottom-bor3"></div>
            <p class="atlas-light" style="line-height: 1.4; color: white;">
              Through basic and applied research, marine biotechnology connects the evolution, ecology, and biology of marine organisms with underlying genetic, molecular, chemical, and biochemical principles. It showcases marine ecosystems as diverse “biofactories” with key roles in food security, human health and well-being, sustainable energy, and other provisioning services. Through local and international collaborations, UPMSI faculty and researchers aim to understand, protect, and capture the vast potential, of Philippine marine biodiversity.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lab-img1">
    <img src="https://dc595.4shared.com/img/gE2jN7xoiq/s24/179acc813c0/4th-section-photo?async&rand=0.5702164174880129"/>
    <div class="lab-img">
      <div class="left1"></div>
      <div class="right1">

        <div class="context">
          <div>
            <p class="atlas-bold right-body">
              climate change
            </p>
            <div class="bottom-bor4"></div>
            <p class="atlas-light" style="line-height: 1.4; color: white;">
              The UPMSI fosters a strong interdisciplinary team of biophysical experts who conduct vulnerability assessment and develop climate change adaptation strategies. The focus is on determining how coral reef communities (e.g., coral reefs, seagrass, and mangroves) respond to climate hazards and how their coping thresholds affect socio-ecological resilience. Coastal vulnerability assessment (VA) tools have been developed with partner institutions to holistically consider biodiversity conservation, sustainable fisheries, and coastal integrity in building such resilience.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="laboratories()">
      <p class="atlas-light">TO LABORATORIES</p>
    </span>
    <mat-icon class="arrow" style="padding-left: .5%;" (click)="laboratories()">arrow_forward</mat-icon>
  </div>


<div class="footer">
  <app-footer></app-footer>
</div>
