<app-nav></app-nav>
<div class="animate__animated animate__fadeIn animate__delay-1s">

  <div class="content">
    <div class="content-left">
      <span class="inter-bold title">
        Areas of Research
      </span>
      <div class="img-float"></div>
      <p class="inter-medium">
        Research is the primary function of the Institute.  Research programs are geared towards generating information for understanding the marine and coastal environment, and planning for their conservation and sustainable use.
      </p>

      <p style="font-size: 20px;" class="inter-medium">
        Areas of research include:
      </p>

      <ul style="margin-left: 50px; margin-top: 30px; line-height: 1.5;">
        <li>Biology and ecology of harmful algae</li>
        <li>Plankton ecology</li>
        <li>Coral reef, seagrass and mangrove ecosystems</li>
        <li>Habitat restoration</li>
        <li>Invertebrate biology and mariculture</li>
        <li>Seaweed biology and culture</li>
        <li>Taxonomy and systematics of select marine taxa</li>
        <li>Coastal oceanography and habitat connectivity</li>
        <li>Ocean productivity in marginal basins</li>
        <li>Coastal pollution</li>
        <li>Coastal biogeochemistry</li>
        <li>Climate change impact in the coastal zone</li>
        <li>Paleosealevel, paleoclimate, paleoenvironmental reconstructions</li>
        <li>Coastal erosion, coastal flooding</li>
        <li>Submarine  groundwater discharge in coral reefs</li>
        <li>Marine microbiology</li>
        <li>Marine biotechnology</li>
        <li>Biochemical studies on conotoxins</li>
        <li>Natural products in seaweed and invertebrates</li>
        <li>Population genetics of marine organisms</li>
        <li>Ecological modeling</li>
      </ul>
    </div>
    <div class="content-right"></div>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
