<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div class="container">

    <div style="display: flex; flex-direction: row; margin-bottom: 10px; margin-top: 20px;">
      <p class="atlas-bold title">{{dataGallery['name']}}</p> &nbsp;
      <p class="atlas-light photo-length">({{dataGallery['photos'].length}} photos)</p>
    </div>
    <p class="atlas-light header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit enim perspiciatis maiores eaque ad ipsam similique molestiae adipisci voluptatem, doloribus dicta odit expedita placeat dolore hic, nihil voluptatum. Perspiciatis maxime, unde dolor ab accusamus saepe natus debitis. Voluptas sapiente similique placeat quia nemo dolorem reiciendis voluptatem tenetur amet consequatur!</p>

    <div class="img-container">
      <div *ngFor="let img of dataGallery['photos']">
        <!-- <img [src]="img.image" (click)="openDialog(img.image)"> -->


        <div class="image atlas-light" (click)="openDialog(img.image)">
          <img [src]="img.image">
          <div class="image__overlay image__overlay--primary">
              <div class="image__title atlas-bold">Sample title here</div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="see-more" (click)="galleryTab()">
    <mat-icon class="arrow">arrow_forward</mat-icon>
    <span style="margin-top: 8px; text-decoration: underline;">
      <p class="atlas-light">SEE MORE GALLERIES</p>
    </span>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
