<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div class="container">

    <div style="display: flex; flex-direction: row; margin-bottom: 10px; margin-top: 20px;">
      <p class="atlas-bold title">{{dataGallery[0].name}}</p> &nbsp;
      <p class="atlas-light photo-length">({{dataGallery[2].gallery.length}} photos)</p>
    </div>

    <p class="atlas-light header">{{dataGallery[1].content}}</p>

    <div class="atlas-light" style="margin-top: 2%;" *ngIf="upmroBool">
      <p style="font-style: italic;">Read more about our giant clams here:</p>

      <!-- edited: added font color in both href-->
      <p style="margin-top: 2%;"><a href="https://up.edu.ph/meet-the-giant-clam-fam/" style="color: #394e8a; text-decoration: none;" target="_blank">Meet the giant clam fam</a></p>
      <p style="margin-top: 1%;"><a href="https://up.edu.ph/sentinels-of-the-sea/" style="color: #394e8a; text-decoration: none;" target="_blank">Sentinels of the sea</a></p>
    </div>

    <div class="img-container">
      <div class="img-content">
        <div  *ngFor="let img of dataGallery[2].gallery; let i = index;">
          <div class="photo-cont">
            <img [src]="img.image" (click)="openDialog(dataGallery[2].gallery, i)">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" (click)="galleryTab()">
      <p class="atlas-light"><span class="navi">MORE GALLERIES</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>

</div>
<div class="footer">
  <app-footer></app-footer>
</div>
