.container{
  margin: 0 9%;
}

.title{
  font-size: 25px;
  color: #394e8a;
}

img{
  max-width: 100%;
}

img:hover{
  cursor: pointer;
}

.photo-cont {
  height: 185px;
  overflow: hidden;
}

.img-content {
  width: 1000px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.img-container{
  margin-top: 40px;
  display: grid;
  place-items: center;
}

.arrow{
  font-size: 30px;
}

.arrow-text{
  margin-top: 8px;
}

.arrow-text:hover{
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}


.header{
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.hr-line{
  margin: 15px 9% 30px 9%;
}

.photo-length{
  font-size: 15px; align-self: flex-end; margin-bottom: 3px;
}

@media (min-width: 1600px) {
  * {
    font-size: 19px;
  }

  .title{
    font-size: 29px;
  }

  .photo-cont {
    height: 217px;
  }

  .img-content {
    width: 1171px;
    padding-left: 12px;
    row-gap: 23px;
    column-gap: 23px;
  }

  .img-container{
    margin-top: 47px;
  }

  .arrow{
    font-size: 35px;
  }

  .arrow-text{
    margin-top: 9px;
  }

  .more-vacancies{
    height: 141px;
  }

  .header{
    margin-top: 23px;
    font-size: 19px;
  }

  .hr-line{
    margin: 18px 9% 35px 9%;
  }

  .photo-length{
    font-size: 18px;
    margin-bottom: 4px;
  }
}

@media (min-width: 1900px) {
  * {
    font-size: 23px;
  }

  .title{
    font-size: 34px;
  }

  .photo-cont {
    height: 258px;
  }

  .img-content {
    width: 1391px;
    padding-left: 14px;
    row-gap: 27px;
    column-gap: 27px;
  }

  .img-container{
    margin-top: 56px;
  }

  .arrow{
    font-size: 42px;
  }

  .arrow-text{
    margin-top: 11px;
  }

  .more-vacancies{
    height: 167px;
  }

  .header{
    margin-top: 27px;
    font-size: 23px;
  }

  .hr-line{
    margin: 21px 9% 42px 9%;
  }

  .photo-length{
    font-size: 21px;
    margin-bottom: 5px;
  }
}
