<div class="container">
  <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
          (closed)="panelOpenState1 = false" hideToggle>
        <mat-expansion-panel-header class="specific-class">
        <mat-panel-title class="atlas-light panel-title"  style="color: #384e8a;"  [ngClass]="panelOpenState1 ? 'atlas-bold' : 'atlas-light'">PROJECT-BASED RESEARCH ASSISTANTS</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState2 = true"
          (closed)="panelOpenState2 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState2 ? 'atlas-bold' : 'atlas-light'">Project 3 - Possible Influence of Ocean AcidificAtion on Specific Reef Resources</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Kenith Francis Adolfo</p>
                  <p class="atlas-light">Jake Ivan Baquiran</p>
                  <p class="atlas-light">Celine Luisa Campos</p>
                  <p class="atlas-light">Michael Angelou Nada</p>
                  <p class="atlas-light">Bienson Ceasar Narvarte</p>
                  <p class="atlas-light">Robert Valenzuela</p>
                  <p class="atlas-light">Ben Jack Ben Jack</p>
                </div>

                </div>

                <div class="right2">
                  <div>
                    <p class="atlas-light">Research Assistant</p>
                    <p class="atlas-light">URA II</p>
                    <p class="atlas-light">Lab. Tech</p>
                    <p class="atlas-light">URA II</p>
                    <p class="atlas-light">Research Assistant</p>
                    <p class="atlas-light">Laboratory Technician</p>
                    <p class="atlas-light">Hatchery Aide</p>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState3 = true"
          (closed)="panelOpenState3 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;" [ngClass]="panelOpenState3 ? 'atlas-bold' : 'atlas-light'">Project 1 - Evaluating the Status og Giant Clams in Luzon & Visayas</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Lala Grace Calle</p>
                  <p class="atlas-light">Ronaldo De Guzman</p>
                  <p class="atlas-light">Jeremiah Noel Requilme</p>
                  <p class="atlas-light">Eymard John Sy</p>
                  <p class="atlas-light">Kuselah Mae Tayaban</p>
                </div>

                </div>

                <div class="right2">
                  <div>
                    <p class="atlas-light">Research Assistant</p>
                    <p class="atlas-light">Laboratory Technician</p>
                    <p class="atlas-light">Research Assistant</p>
                    <p class="atlas-light">Project Assistant</p>
                    <p class="atlas-light">Research Assistant</p>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState4 = true"
          (closed)="panelOpenState4 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState4 ? 'atlas-bold' : 'atlas-light'">Project 4 - Develoepment of Molecular Resources for Enhancement of Culture and Rearing Techniques</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Keana Dehnielle Tan</p>
                  <p class="atlas-light">Danielle Mae Matriano</p>
                  <p class="atlas-light">Ben Jack Gabuay</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Laboratory Technician</p>
                  <p class="atlas-light">Hatchery Aide</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState5 = true"
          (closed)="panelOpenState5 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState5 ? 'atlas-bold' : 'atlas-light'">Project 2 - Fine-scale Characterization of Plankton Community Composition Dynamics for Enhanced Modelling of harmful Algal Blooms</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Lora Burgos</p>
                  <p class="atlas-light">Kreighton</p>
                  <p class="atlas-light">Cadorna Ragos</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Project Staff</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState6 = true"
          (closed)="panelOpenState6 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState6 ? 'atlas-bold' : 'atlas-light'">Kuroshio Current Observing System in the Philippines "Remote Observation of the Interaction of the Kuroshio with Internal Tides and Mesoscle  of Current in Luzon Strait by High Frequency Doppler Radio Scatterometer"</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Dhon Xean Bobis</p>
                  <p class="atlas-light">Mariel Dela Rosa</p>
                  <p class="atlas-light">Petter Jeffrey Maloles</p>
                  <p class="atlas-light">Matthew Lalim</p>
                  <p class="atlas-light">Aiko Love De Rosario</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Project Staff</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState7 = true"
          (closed)="panelOpenState7 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState7 ? 'atlas-bold' : 'atlas-light'">Project 2. Anti-infective and Anticancer Drug Candidates from Marine Microorganisms and Sponges: Discovery and Development</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Marc Jeremie Punzalan</p>
                  <p class="atlas-light">Geminne Manzano</p>
                  <p class="atlas-light">Shalice Susana</p>
                  <p class="atlas-light">Regina Belen Callanta</p>
                  <p class="atlas-light">Sandrine Quirim</p>
                  <p class="atlas-light">Jue Alef Lalas</p>
                  <p class="atlas-light">Raymond Cristobal</p>
                  <p class="atlas-light">Joshua Veluz</p>
                  <p class="atlas-light">Rae Joseph Louis Tinao</p>
                  <p class="atlas-light">Christine Marie Florece</p>
                  <p class="atlas-light">Leonard Oca</p>
                  <p class="atlas-light">Hazel Jane Cano</p>
                  <p class="atlas-light">Maxine Stephanie Prado</p>
                  <p class="atlas-light">Irene Pamisan</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Laboratory Technician</p>
                  <p class="atlas-light">Project Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Project Development Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState8 = true"
          (closed)="panelOpenState8 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState8 ? 'atlas-bold' : 'atlas-light'">IIID 2017-30 Deploying Unmanned Research Vessels to advance Marine and Environmental Health Monitoring and Data Collection in the Philippines</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Princess Hope Bilgera</p>
                  <p class="atlas-light">Lara Patricia Sotto</p>
                  <p class="atlas-light">Aljon Francis Koji Elegado</p>
                  <p class="atlas-light">Gemelyn Barrogo</p>
                  <p class="atlas-light">Kristine Bantay</p>
                  <p class="atlas-light">Ma. Isabella Rayos Del Sol</p>
                  <p class="atlas-light">Philip Louie Mojica</p>
                  <p class="atlas-light">Philip Ariel Alfonso</p>
                  <p class="atlas-light">Keith Limuel Bejasa</p>
                  <p class="atlas-light">Mishel Valery Rañada</p>
                  <p class="atlas-light">Chris Carl Agustin Toyado</p>
                  <p class="atlas-light">Mark Zoleta</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Admin Assistant</p>
                  <p class="atlas-light">Lab Aide II</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState9 = true"
          (closed)="panelOpenState9 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState9 ? 'atlas-bold' : 'atlas-light'">DDHP Project 1: Anti-Pain and Anti Neurodegeneration Drug Candidates: Discovery and Development</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Emelita Eugenio</p>
                  <p class="atlas-light">Ryoichi Taguchi</p>
                  <p class="atlas-light">Abdul-Rashid Sampaco</p>
                  <p class="atlas-light">Meljune Chicote</p>
                  <p class="atlas-light">Abe Ernest Johann Isagan</p>
                  <p class="atlas-light">Victor Chua</p>
                  <p class="atlas-light">Charmaine Mendoza</p>
                  <p class="atlas-light">Dan Jethro Masacupan</p>
                  <p class="atlas-light">Simon Miguel Lopez</p>
                  <p class="atlas-light">Carlo Martin Ocampo</p>
                  <p class="atlas-light">Corazon Ericka Mae Itang</p>
                  <p class="atlas-light">Zildjian Acyatan</p>
                  <p class="atlas-light">Dianne Gole Cruz</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Laboratory Technician</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">labtech</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Project Staff/Bookkeeper</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState10 = true"
          (closed)="panelOpenState10 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState10 ? 'atlas-bold' : 'atlas-light'">Development of the Sample and Data Management System for the Philippine Biorepository Network</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Vanessa Joy Diamante</p>
                  <p class="atlas-light">Sam Claudermir Lee</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState11 = true"
          (closed)="panelOpenState11 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState11 ? 'atlas-bold' : 'atlas-light'">Genetic stock assessment of commercially valuable scallops (Pectinidae) in the Visayas Region: Species identification and population genomics for stock delineation</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Inggat Laya Casilagan</p>
                  <p class="atlas-light">Ahalnida Tambihasan</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState12 = true"
          (closed)="panelOpenState12 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState12 ? 'atlas-bold' : 'atlas-light'">Diversity, systematics, and molecular phylogeny of Philippines Dictyotales (Phaeophycea, Ochrophyta</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Eunize Joy Milante</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState13 = true"
          (closed)="panelOpenState13 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState13 ? 'atlas-bold' : 'atlas-light'">Impacts of Multiple Stressors on Hard and Soft Corals</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Katya Bonilla</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState14 = true"
          (closed)="panelOpenState14 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState14 ? 'atlas-bold' : 'atlas-light'">HABS Project 1: Development of Detection Tools for Algal Blooms to Enable Rapid Response: From Organisms to Environment</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Manuel Justin Custado</p>
                  <p class="atlas-light">Jenelyn Mendoza</p>
                  <p class="atlas-light">Alimuddin Arriesgado </p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState15 = true"
          (closed)="panelOpenState15 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState15 ? 'atlas-bold' : 'atlas-light'">HABS Project 3: Dynamics of protein and small molecule chemistry in HAB causative organisms</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Zabrina Bernice Malto</p>
                  <p class="atlas-light">Jeremiah Batucan</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState16 = true"
          (closed)="panelOpenState16 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState16 ? 'atlas-bold' : 'atlas-light'">Project 1: Spatio-temporal trends of pH, pCO2 and related parameters</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Edwin Dumalagan, Jr.</p>
                  <p class="atlas-light">Raffi Isah</p>
                  <p class="atlas-light">Ryan Carl Magyaya</p>
                  <p class="atlas-light">Natasha Charmaine Tamayo</p>
                  <p class="atlas-light">Jay Burce</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Laboratory Technician</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState17 = true"
          (closed)="panelOpenState17 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState17 ? 'atlas-bold' : 'atlas-light'">Project 2: Impacts of Ocean Acidification on the Base of the Marine Food Web and their Effects on Marine Products.</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Kriss Dianne Mendiola</p>
                  <p class="atlas-light">Patrick Lawrence Cadeliña</p>
                  <p class="atlas-light">Estrelita Flores</p>
                  <p class="atlas-light">Gianina Cassandra May Apego</p>
                  <p class="atlas-light">Blaire Padayhag</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState18 = true"
          (closed)="panelOpenState18 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState18 ? 'atlas-bold' : 'atlas-light'">Molecular mechanisms underlying Scylla serrata response to White Spot Syndrome Virus (WSSV) infection: Metagenomic and Transcriptomic approaches</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Gardel Xyza Libunao</p>
                  <p class="atlas-light">Angela Camille Aguila</p>
                  <p class="atlas-light">June Feliciano Ordoñez</p>
                  <p class="atlas-light">Dan Joseph Logronio</p>
                  <p class="atlas-light">Edgar Amar</p>
                  <p class="atlas-light">Christian Cordero</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState19 = true"
          (closed)="panelOpenState19 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState19 ? 'atlas-bold' : 'atlas-light'">HABS Project 4:Integrated harmful algal bloom detection and information system for adaptive responses</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Janine Novelero</p>
                  <p class="atlas-light">Julius Mendoza</p>
                  <p class="atlas-light">Rodrigo Narod Eco</p>
                  <p class="atlas-light">Andalus Julie Punongbayan</p>
                  <p class="atlas-light">Ma. Rica Teresa Dungog</p>
                  <p class="atlas-light">Jennifer Mary Maister</p>
                  <p class="atlas-light">Paul Andrew Gravoso</p>
                  <p class="atlas-light">Maria Ysabel Wang</p>
                  <p class="atlas-light">Aldwin Almo</p>
                  <p class="atlas-light">Anne Drew Carrillo</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Project Assistant</p>
                  <p class="atlas-light">Laboratory Technician</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState20 = true"
          (closed)="panelOpenState20 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState20 ? 'atlas-bold' : 'atlas-light'">Bookkeepers</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Kristine Bosuego</p>
                  <p class="atlas-light">Ericca Mae Caoile</p>
                  <p class="atlas-light">Marianne Niecel Vedasto</p>
                  <p class="atlas-light">Frederick Lapitan</p>
                  <p class="atlas-light">Jeramie Villegas</p>
                  <p class="atlas-light">Angelica De Roxas</p>
                  <p class="atlas-light">Jean Brimbuela</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                  <p class="atlas-light">Bookkeeper</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState21 = true"
          (closed)="panelOpenState21 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState21 ? 'atlas-bold' : 'atlas-light'">BML 9314-884-951-005-439</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Jossiphine Tugade</p>
                  <p class="atlas-light">Imelda Tobias</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">utility</p>
                  <p class="atlas-light">utility</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState22 = true"
          (closed)="panelOpenState22 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState22 ? 'atlas-bold' : 'atlas-light'">MSI IOB</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Jesus Abad</p>
                  <p class="atlas-light">Jonathan Olivar</p>
                  <p class="atlas-light">Helen Dayao</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">admin aide</p>
                  <p class="atlas-light">utility</p>
                  <p class="atlas-light">labtech</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState23 = true"
          (closed)="panelOpenState23 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState23 ? 'atlas-bold' : 'atlas-light'">Raising Initiatives and consciousness for healthy Ocean (RICH Ocean) at thr Puerto Galera Biodiversity and Environmental Research and Outreach Center</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Cariño Bayosa Aya</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState24 = true"
          (closed)="panelOpenState24 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState24 ? 'atlas-bold' : 'atlas-light'">Targeting Microbial Pathogens using Specialized Strategies and Bioactive Molecules of Shipworm Symbionts. Project 3: Discovery of Small Molecule Compounds from Shipworm Symbionts.</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Melfeb Chicote</p>
                  <p class="atlas-light">Jeremiah Batucan</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Lab Aide</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState25 = true"
          (closed)="panelOpenState25 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState25 ? 'atlas-bold' : 'atlas-light'">Targeting Microbial Pathogens using Specialized Strategies and Bioactive Molecules of Shipworm Symbionts. Project 4: Biofilm-degrading Enzymes from Shipworm Symbionts.</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Benedick Labaco</p>
                  <p class="atlas-light">John Aidan Resoles</p>
                  <p class="atlas-light">Richael Vargas</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Project Admin Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState26 = true"
          (closed)="panelOpenState26 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState26 ? 'atlas-bold' : 'atlas-light'">Culture Conditions and Environmental Effects on Metabolite Production, Dermal Morphing and Regeneration in Stichopus cf. horrens</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Rona Soy</p>
                  <p class="atlas-light">Glaiza Ibañez</p>
                  <p class="atlas-light">Francis Adolfo</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Lab Aide</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState27 = true"
          (closed)="panelOpenState27 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState27 ? 'atlas-bold' : 'atlas-light'">"Discovery of High Value Biomolecules from the Sea Cucumber Stichopus spp. Project Title:  Project 1. Characterization of High Value Biomolecules from the Sea Cucumber Stichopus spp."</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Mae Ann Bagnos Naval</p>
                  <p class="atlas-light">Vicenzo Paolo Torreno</p>
                  <p class="atlas-light">Darlene Monton</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Lab tech</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState28 = true"
          (closed)="panelOpenState28 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState28 ? 'atlas-bold' : 'atlas-light'">"Nutrient physiology of commercially important euchuematoids: two-phase cultivation strategy to optimize biomass and carrageenan yield and quality"</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Jerry Arboleda</p>
                  <p class="atlas-light">April MAe Tabonda</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Lab Aide</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState29 = true"
          (closed)="panelOpenState29 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState29 ? 'atlas-bold' : 'atlas-light'">Trace Metals and Nutrients from Aerosol Deposition: Impacts on Community  Sturcture of Harmful Algal Blooms (MEDIATE-HABs)</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Paolo Carlo Calalang</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">RA</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState30 = true"
          (closed)="panelOpenState30 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState30 ? 'atlas-bold' : 'atlas-light'">Macronutrient, Carbon Cycling and Aerosol Deposition: Impacts on Phytoplankton Community Structure and Toxin Production</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Richard Redil</p>
                  <p class="atlas-light">Dolly Manic</p>
                  <p class="atlas-light">Jessa Mae Laude</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState31 = true"
          (closed)="panelOpenState31 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState31 ? 'atlas-bold' : 'atlas-light'">Biological and Ecological Studies on Asparagopsis taxiformis (BEAT) for Culture Technology Development</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Julius Diyeng Canja</p>
                  <p class="atlas-light">Steffi Mari Arceta</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState32 = true"
          (closed)="panelOpenState32 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState32 ? 'atlas-bold' : 'atlas-light'">Undertstanding Physiological Vulnerability of Ulva spp: Implication to Geen Tide Blooms</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">Ivan Patrick Tualla</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">Research Assistant</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 staff-content" (opened)="panelOpenState33 = true"
          (closed)="panelOpenState33 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class" style="margin-bottom: none;">
            <mat-panel-title class="atlas-light panel-title2" style="color: #384e8a;"  [ngClass]="panelOpenState33 ? 'atlas-bold' : 'atlas-light'">UPGRADE CIA FCM 2020-678</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="regular-content2">
              <div class="left2">
                <div>
                  <p class="atlas-light">John Michael Aguilar</p>
                  <p class="atlas-light">Maria Anna Michaela Dela Cruz</p>
                  <p class="atlas-light">Laurice Beatrice Raphaelle dela Peña</p>
                  <p class="atlas-light">Rachel Francisco</p>
                  <p class="atlas-light">Mary Chris Lagumen</p>
                  <p class="atlas-light">Roy Oliver Corvera</p>
                  <p class="atlas-light">Ezekiel James Galanto</p>
                  <p class="atlas-light">Anabel Gammaru</p>
                  <p class="atlas-light">Leilani Solera</p>
                  <p class="atlas-light">Frederick Lapitan</p>
                  <p class="atlas-light">Mariel Jean Carreon</p>
                  <p class="atlas-light">Angelica De Roxas</p>
                  <p class="atlas-light">Jeffrey Idor</p>
                  <p class="atlas-light">Reynald Nietes</p>
                  <p class="atlas-light">Ricky Villaruel</p>
                  <p class="atlas-light">Rolando Servallos</p>
                  <p class="atlas-light">Jennieveive Babaan</p>
                  <p class="atlas-light">Mark John Manalo</p>
                  <p class="atlas-light">Martina Salazar</p>
                  <p class="atlas-light">Ignacio Luigi Catolico</p>
                  <p class="atlas-light">Raphael Joshua De Guzman</p>
                  <p class="atlas-light">Maida Biguerras</p>
                  <p class="atlas-light">Green Ann Cruz</p>
                  <p class="atlas-light">Denise Alcantara</p>
                  <p class="atlas-light">Ma. Yvvainne Sta. Maria</p>
                  <p class="atlas-light">Napo Cayabyab</p>
                  <p class="atlas-light">Exequiel Gabriel Dizon</p>
                  <p class="atlas-light">Adonis Gallentes</p>
                  <p class="atlas-light">Anne Drew Carillo</p>
                  <p class="atlas-light">Marry Rose Gabuyo</p>
                  <p class="atlas-light">Ma. Czarmayne Victoria Jude Escoro</p>
                  <p class="atlas-light">Rhea Mae Luciano</p>
                  <p class="atlas-light">Katya Bonilla</p>
                  <p class="atlas-light">Ma. Patricia Ilagan</p>
                  <p class="atlas-light">Alvin Baloloy</p>
                  <p class="atlas-light">Renalyn Seguerra</p>
                  <p class="atlas-light">Christian Firmanes</p>
                  <p class="atlas-light">Brian William Hingpit</p>
                  <p class="atlas-light">Jaysee Matillano</p>
                  <p class="atlas-light">Gerell Austria</p>
                  <p class="atlas-light">Krizia Meryll Ecube</p>
                  <p class="atlas-light">Aldwin Almo</p>
                  <p class="atlas-light">Rebecca Georgia Yu</p>
                  <p class="atlas-light">Patrick Lawrence Cadelina</p>
                  <p class="atlas-light">Avien Ynna Hasan</p>
                  <p class="atlas-light">Mia Judicpa</p>
                  <p class="atlas-light">Gaby Abrahan</p>
                  <p class="atlas-light">Kate Marriam Reodica</p>
                  <p class="atlas-light">Kayziel Martinez</p>
                  <p class="atlas-light">Noe Reyes</p>
                  <p class="atlas-light">Jherome Co</p>
                  <p class="atlas-light">Paul Andrew Gravoso</p>
                </div>

              </div>

              <div class="right2">
                <div>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Graphic Artist</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Project Assistant III</p>
                  <p class="atlas-light">Project Assistant III</p>
                  <p class="atlas-light">Project Development Officer I</p>
                  <p class="atlas-light">Quartermaster</p>
                  <p class="atlas-light">Oiler</p>
                  <p class="atlas-light">Chief Engineer  </p>
                  <p class="atlas-light">First Engineer</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Science Research Specialist II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Researcher II</p>
                  <p class="atlas-light">Project Assistant IV</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Science Research Specialist II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Liaison Officer</p>
                  <p class="atlas-light">Liaison Officer</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Science Research Specialist I</p>
                  <p class="atlas-light">Field Assistant</p>
                  <p class="atlas-light">Field Assistant</p>
                  <p class="atlas-light">Senior Science Research Specialist</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">University Research Associate I</p>
                  <p class="atlas-light">University Research Associate II</p>
                  <p class="atlas-light">Science Research Specialist II</p>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
  </mat-expansion-panel>
</div>
