<app-nav></app-nav>

<!--<div class="center-content2" id="content-desktop" *ngIf="charlonBool" style="margin-top: 1.5vw; ">
         <div class="box-content2" id="content-desktop">
          <video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1632913881/News/Features/charlon/updated-sep29-coral-1_copy_ippms9.mp4"></video>
        </div>

        </div>

        <div class="center-content2" id="content-mobile" *ngIf="charlonBool" style="margin-top: 1.5vw;">

        <div class="box-content7" id="content-mobile">
          <video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1632917274/News/Features/charlon/updated2-mobile-banner_dcjpyj.mp4"></video>
        </div>
        </div>-->
     
 

        
<div class="container  animate__animated animate__fadeIn animate__delay-1s">
  <div class="center-content2" id="content-desktop" *ngIf="charlonBool">
         <div class="box-content2" id="content-desktop">
          <!--<video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1632913881/News/Features/charlon/updated-sep29-coral-1_copy_ippms9.mp4"></video>-->
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657266439/News/Features/cucumber/Custom_Size_27_rtw7wc.jpg" alt="header" /> 
        </div>

       

        </div>

        <div class="center-content2" id="content-mobile" *ngIf="charlonBool">

        <div class="box-content7" id="content-mobile">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657085104/News/Features/cucumber/banner-mobile-final_q817qd.png" alt="header" /> 
        </div>

      
        </div>


  <p class="atlas-bold title" style="font:italic;margin: 0 9%">{{myArr[0].title}}</p>
  <p class="atlas-light date-name" style="font:italic; margin: 0 9%; margin-top: 5px">{{myArr[0].author}}</p>
  <p class="atlas-light date" style="color:gray !important; margin-top: 5px">{{myArr[0].date}}</p>

 

  <div style="display: grid; place-content: center;">
    <div class="bottom-content">
      <p class="atlas-bold location">{{myArr[0].location}}</p>
      
      <p class="atlas-light location-content">{{myArr[0].locationContent}}</p>
      

       

      <div style= "margin-top: 0vw;">
        <img class="fb" *ngIf="charlonBool" src="../../../../assets/photos/fblink.png">
        <img class="twitter"  *ngIf="charlonBool" src="../../../../assets/photos/twitter-link.png">
      </div>

      <div class="author">
          <p class="atlas-light location-content" *ngIf="charlonBool"><strong>By. Mia N. Judicpa & Gabrielle A. Abrahan</strong><br>July 4, 2022</p>
        </div>


      <p class="atlas-light location-content" *ngIf="charlonBool">As the gastronomic demand for our marine resources grows, our natural stock can barely keep up. Luckily, ecology experts work with modellers to explore different approaches in preserving the biodiversity of our oceans. In this feature, we take a look at how computational science can help us achieve sustainable trade of the famous <em>bêche-de-mer</em>, one of the most sought-after delicacies in the world.</p>

      <hr style="color: white; margin-top: 25px;">

       <p class="atlas-light location-content" *ngIf="charlonBool"><br>The sea cucumber craze has been around since the 1300s.<sup>1</sup> Only the affluent Chinese were able to sample its unique mouthfeel back in the day, but the appetite for it has since spread to other parts of the world. Nowadays, multiple kiosks and restaurants in East and Southeast Asia sell this curious delicacy.
</p>

       <div class="center-content" *ngIf="charlonBool">
         <div class="box-content6">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914763/News/Features/cucumber/dish_rmyvus.jpg" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool">Despite their chewy meat, sea cucumbers lack flavor. Chefs compensate for this by preparing them in sauces or broths that pack a punch.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool">Photo: Michelin Magazine
</p>
          </div>
        </div>
       </div>     

        <p class="atlas-light location-content3" *ngIf="charlonBool">Sold fresh or dried, sea cucumbers are used to embellish a dish or added as the main protein source. Despite being a prized ingredient, they actually have little flavor and are usually slow-cooked or braised with other savory ingredients. With market prices reaching tens of thousands of pesos,<sup>2</sup> sea cucumbers are some of the most expensive marine treats: the more eccentric the appearance, the higher the value.<sup>3</sup>
</p>

         <p class="atlas-light location-content" *ngIf="charlonBool">As the demand for sea cucumbers increases and their population in the intertidal zone is depleted, harvesters risk diving into deeper portions of the ocean to obtain them. Their numbers are dwindling, and sea cucumber experts around the world are scrambling to find ways to save them.</p>

         <p class="atlas-light location-content2" *ngIf="charlonBool">Earthworms of the sea</p>

         <p class="atlas-light location-content" *ngIf="charlonBool">Sea cucumbers or <em>holothurians</em> (Class Holothuroidea) belong to Phylum Echinodermata, alongside commonly known but equally bizarre-looking marine invertebrates like the starfish, sea urchin, sand dollar, and sea daisy. The name comes from the Greek words <em>echino</em> (“spiky”) and <em>derma</em> (“skin”) — the spiky skin of sea cucumbers is part of the reason why they are such a prized delicacy.</p>
      

         <div class="center-content10" *ngIf="charlonBool" id="content-desktop">
         <div class="box-contento">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657699919/News/Features/cucumber/Web_1920_1_qsvzni.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" > Echinoderms are known for their radial symmetries.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Graphics: Roy C. Corvera</p>
          </div>
        </div>
       </div>  

       <div class="center-content" *ngIf="charlonBool" id="content-mobile">
         <div class="box-content7">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657085104/News/Features/cucumber/phylum-chart-mobile_afdpxx.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" > Echinoderms are known for their radial symmetries.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Graphics: Roy C. Corvera</p>
          </div>
        </div>
       </div> 

       <p class="atlas-light location-content" *ngIf="charlonBool">Around 1,250 species<sup>4</sup> of sea cucumbers have been discovered worldwide. Most are found in the benthic zones of the Indian Ocean and the western Pacific region, sprawled anywhere from the seashore to seafloors as deep as six kilometers. </p>

       <p class="atlas-light location-content" *ngIf="charlonBool">Due to their sedentary lives in the benthos, most sea cucumbers feed on detritus, bacteria, and biomass that settle from the waters above. They break these sediments down into even smaller particles that bacteria can consume, resulting in a process that is similar to how earthworms digest and recycle organic material.</p>  


         <div class="center-content10" *ngIf="charlonBool" id="content-desktop">
         <div class="box-contento">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657699919/News/Features/cucumber/Web_1920_2_1_d0s1cw.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" >Sea cucumbers creep around the ocean floor, feeding on organic matter and excreting inorganic nitrogen and phosphorus.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Illustration: Roy C. Corvera</p>
          </div>
        </div>
       </div>  

        <!--<div class="center-content" *ngIf="charlonBool" id="content-mobile">
         <div class="box-content6-1">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914761/News/Features/cucumber/nutrient-cycling_tqbknf.png" alt="image" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Sea cucumbers creep around the ocean floor, feeding on organic matter and excreting inorganic nitrogen and phosphorus.</p>
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Illustration: Roy C. Corvera</p>
          </div>
        </div>
       </div>

      <div class="container5" id="content-mobile">
          <input type="checkbox" id="zoomCheck">
           <label for="zoomCheck">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914761/News/Features/cucumber/nutrient-cycling_tqbknf.png">
          </label>

         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Sea cucumbers creep around the ocean floor, feeding on organic matter and excreting inorganic nitrogen and phosphorus.</p>
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Illustration: Roy C. Corvera</p>
          </div>
        </div>
      </div>-->

      <div style="margin-top: 5vw" id="content-mobile">
        <button class="imgLink2" id="content-mobile">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657265755/News/Features/cucumber/nutrient-cycling-revised-2_bppja9.png"/>
        </button>
        <div class="box-content04" style="margin: 0 7%;">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Sea cucumbers creep around the ocean floor, feeding on organic matter and excreting inorganic nitrogen and phosphorus.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Illustration: Roy C. Corvera</p>
          </div>
        </div>
      </div>



          <!--<div class="w3-container3" id="content-mobile">
  

  <div class="pmodal3" style="width: 300px; margin-left: 30px;" id="content-mobile">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914761/News/Features/cucumber/nutrient-cycling_tqbknf.png"  style="width:100%;max-width:620px; margin-top:30px; max-height: 1000px;cursor:zoom-in"
  onclick="document.getElementById('modal03').style.display='block'">
  <div class="box-content01" >
          <div>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">The G.T. Velasquez Phycological Herbarium (MSI) has voucher specimens of seaweeds belonging to the phyla <em>Rhodophyta, Chlorophyta, Ochrophyta, and Cyanobacteria.</em></p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Graphics: Roy Oliver Corvera</p>
          </div>
        </div>
  </div>

  <div id="modal03" class="w3-modal" onclick="this.style.display='none'">
    <span draggable="false" class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content3 w3-animate-zoom">
      <img draggable="false" src="https://res.cloudinary.com/upmsi/image/upload/v1648540322/News/Features/herbarium/final-algae_div_Custom_Size_2_qrhjey.png" >
      <div class="modal-content">
      <div id="caption" id="content-desktop"> 
        <div class="box-content01" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">The G.T. Velasquez Phycological Herbarium (MSI) has voucher specimens of seaweeds belonging to the phyla <em>Rhodophyta, Chlorophyta, Ochrophyta, and Cyanobacteria.</em></p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Graphics: Roy Oliver Corvera</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>-->



       <p class="atlas-light location-content" *ngIf="charlonBool">Through the mechanisms of their digestion, sea cucumbers participate in the decomposition of organic matter and in nutrient cycling, both key elements to a healthy marine ecosystem. Research has shown how the absence of sandfish (<em>Holothuria scabra</em>) causes shallow coastal ecosystems to become stressed, as the sediments that sea cucumbers recycle typically act as buffers to sudden changes in organic matter levels.<sup>5</sup> As these ecosystems become stressed, their function and productivity are lowered. Another study has suggested that the removal of sea cucumbers from coral reefs increases the susceptibility of some corals to sediment-borne pathogens.<sup>6</sup>
</p>  

       <div class="center-content" *ngIf="charlonBool" id="content-desktop">
         <div class="box-content6">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657699918/News/Features/cucumber/Web_1920_3_mrhmzv.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" >The elongated bodies of sea cucumbers hold tube feet that resemble tentacles. These are used for feeding and locomotion.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div>  

       <!--<div class="container6" id="content-mobile">
          <input type="checkbox1" id="zoomCheck1">
           <label for="zoomCheck1">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914760/News/Features/cucumber/internal-anatomy_hfbzmh.png">
          </label>

          <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >The elongated bodies of sea cucumbers hold tube feet that resemble tentacles. These are used for feeding and locomotion.</p>
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
      </div>-->

      <!--<div class="container6" id="content-mobile">
          <input type="checkbox" id="zoomCheck">
           <label for="zoomCheck">
            <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914760/News/Features/cucumber/internal-anatomy_hfbzmh.png">
          </label>

         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Sea cucumbers creep around the ocean floor, feeding on organic matter and excreting inorganic nitrogen and phosphorus.</p>
           <p class="atlas-light photo-courtesy2" style= "color:gray; margin-top: 10px;" *ngIf="charlonBool" >Illustration: Roy C. Corvera</p>
          </div>
        </div>
      </div>-->

      <div style="margin-top: 5vw" id="content-mobile">
        <button class="imgLink" id="content-mobile">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914760/News/Features/cucumber/internal-anatomy_hfbzmh.png" alt="Internal anatomy of the CS"/>
        </button>
        <div class="box-content04" style="margin: 0 7%;">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >The elongated bodies of sea cucumbers hold tube feet that resemble tentacles. These are used for feeding and locomotion. </p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
      </div>




      
        <p class="atlas-light location-content2" *ngIf="charlonBool">Pricy cucumbers</p>

        <p class="atlas-light location-content" *ngIf="charlonBool">Sea cucumber trade is lucrative; most of the global stock is directed to China, Hong Kong, and Taiwan.<sup>1</sup> Its dried form, the <em>bêche-de-mer</em>, is the most popular, with China dominating the top spots for both manufacturing and consumption of the delicacy. In the Philippines, the sea cucumber (“<em>balat</em>” or “<em>balatan</em>”) can be added as the base meat to two beloved local dishes, <em>kinilaw</em> and <em>adobo</em>.</p>

        <p class="atlas-light location-content" *ngIf="charlonBool">The value of sea cucumbers is not limited to the exciting food experience; Chinese records dating back to the Ming dynasty talk about the medicinal properties of these so-called “<em>ginseng</em> of the sea.” With the Western market opening its doors to Eastern nutraceuticals, researchers have begun studying potential natural products and have identified several bioactive compounds with anticoagulant, antioxidant, anticancer, antimicrobial, or antiviral properties.</p>

        <p class="atlas-light location-content" *ngIf="charlonBool">Sea cucumber harvest is a crucial alternative source of income for many Philippine island and coastal communities, so experts place high importance on sustainable production and consumption. The ever-increasing demand for sea cucumbers gives rise to serial exploitation, whereby previously untouched resources can be exploited if the resources in one location are depleted.<sup>7</sup> This has caused their populations to collapse in many parts of the world, including the Philippines.</p>
      
        <div class="center-content" *ngIf="charlonBool">
         <div class="box-content6">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914766/News/Features/cucumber/IMG_9201_gitzgf.jpg" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" >Sandfish in one of the Bolinao Marine Laboratory (BML) hatchery tubs: Some sandfish have burrowed under the sand, hiding from either light or cold temperatures, depending on their age.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Photo: Roy C. Corvera</p>
          </div>
        </div>
       </div>  

        <p class="atlas-light location-content3" *ngIf="charlonBool">Ranches provide a way to grow and farm sea cucumbers without threatening their populations in the wild. But how do we choose where to set up these ranches?</p>

        <div class="center-content" *ngIf="charlonBool" id="content-mobile" >
         <div class="box-content6">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657522783/News/Features/cucumber/IMG_20200603_124807_dos041.jpg" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >At the sea ranch in Victory, Bolinao, cultured sandfish  juveniles are released in ocean nursery pens and then to the unenclosed area in the 5-hectare sea ranch where they are free-ranging. The sea ranch is guarded and managed by local community partners of MSI and harvested when they attain marketable size > 320 g.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Photo: Olivier Josh Caasi</p>
          </div>
        </div>
       </div>  

        <div class="center-content10 row" id="content-desktop" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contente column">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657522783/News/Features/cucumber/IMG_20200603_124807_dos041.jpg" />
         </div>
         <div class="box-content01 column2" >
          <div class="bx1">
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top:12vw;" *ngIf="charlonBool" >At the sea ranch in Victory, Bolinao, cultured sandfish  juveniles are released in ocean nursery pens and then to the unenclosed area in the 5-hectare sea ranch where they are free-ranging.  The sea ranch is guarded and managed by local community partners of the UP MSI. The sea cucumbers are harvested when they attain a marketable size of > 320 g.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Photo: Olivier Josh Caasi</p>
          </div>
        </div>
       </div>

       <!--<div class="center-content10" id="content-mobile" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contento">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657522783/News/Features/cucumber/IMG_20200603_124807_dos041.jpg" />
         </div>
         <div class="box-content01" style="margin: 0 14%">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 15px;"  *ngIf="charlonBool" >At the BML’s sea cucumber ranch in Pangasinan, sea cucumbers under the care of researchers and the community are placed in pens made from nets and bamboo stilts</p>
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >Photo: Olivier Josh Caasi</p>
          </div>
        </div>
       </div> -->

        <div class="center-content10 row" id="content-desktop" *ngIf="charlonBool" style="margin-top: 10px;">
         <div class="box-contente column">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914763/News/Features/cucumber/IMG_9387_efrguf.jpg" />
         </div>
         <div class="box-content01 column2" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top:15vw;" *ngIf="charlonBool" >Juvenile sandfish are laid out on a white slate, ready to be weighed and measured. </p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div>

       <div class="center-content10" id="content-mobile" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contente">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914763/News/Features/cucumber/IMG_9387_efrguf.jpg" />
         </div>
         <div class="box-content01" style="margin: 0 14%">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >Juvenile sandfish (<em>Holothuria scabra</em>) are laid out on a piece of white paper, ready to be weighed and measured. </p>
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 

       <div class="center-content10 row" id="content-desktop" *ngIf="charlonBool" style="margin-top: 10px;">
         <div class="box-contente column">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914764/News/Features/cucumber/IMG_9393_defdpo.jpg" />
         </div>
         <div class="box-content01 column2" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 13vw;" *ngIf="charlonBool" >The sandfish of the  BML are routinely weighed by researchers from the Inverts lab. </p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Photos: Roy C. Corvera</p>
          </div>
        </div>
       </div>

       <div class="center-content10" id="content-mobile" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contente">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914764/News/Features/cucumber/IMG_9393_defdpo.jpg" />
         </div>
         <div class="box-content01" style="margin: 0 14%">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >The sandfish of the  BML are routinely weighed by researchers from the Inverts lab.</p>
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >Photos: Roy C. Corvera</p>
          </div>
        </div>
       </div> 

       <p class="atlas-light location-content" *ngIf="charlonBool"><br>Dr. Marie Antonette Juinio-Meñez and other marine scientists worked with Josephine Dianne Deauna, a graduate of the MS Marine Science program of the UP Marine Science Institute (currently a PhD student in biological oceanography at the University of Hawai'i), to simulate the movement of sea cucumber larvae and determine which locations in western central Philippines are best for housing broodstock. Their paper, <a href="https://www.frontiersin.org/articles/10.3389/fmars.2020.571712/full"style="color:#6D439D;" target="_blank">“Identification of Priority Sites to Support Management of Commercially Important Sea Cucumber Species by Applying Infomap and Habitat Filters to Larval Dispersal Data,”</a> demonstrates a mathematical approach to conservation research, and how this method can optimize the conduct of field work.</p>
       

       <div class="center-content10 row" id *ngIf="charlonBool" style="margin-top: 10px;" id="content-desktop">
         <div class="box-contente column">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657597220/News/Features/cucumber/IMG_9419_1_fcnl1s.jpg" />
         </div>
         <div class="box-content01 column2" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 13vw;" *ngIf="charlonBool" >A researcher carefully scrapes off parts of the skin of a <em>Stichopus horrens</em> specimen. This skin sample will be submitted for DNA analysis.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div>

       <div class="center-content10" id="content-mobile" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contente">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657597220/News/Features/cucumber/IMG_9419_1_fcnl1s.jpg" />
         </div>
         <div class="box-content01" style="margin: 0 14%">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >A researcher carefully scrapes off parts of the skin of a <em>Stichopus horrens</em> specimen. This skin sample will be submitted for DNA analysis.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;"  *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 


       <div class="center-content10 row"  *ngIf="charlonBool" style="margin-top: 10px;"  id="content-desktop">
         <div class="box-contente column">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657530268/News/Features/cucumber/tomi-josh-inset_zi7qgz.png" />
         </div>
         <div class="box-content01 column2" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 12vw;" *ngIf="charlonBool" >Tomi Garpa and Josh Caasi, two researchers who specialize in marine invertebrates, hold out some of the juvenile sandfish under their care.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" >Photos: Roy C. Corvera</p>
          </div>
        </div>
       </div>

       <div class="center-content10" id="content-mobile" *ngIf="charlonBool" style="margin-top: 30px;">
         <div class="box-contente">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657530268/News/Features/cucumber/tomi-josh-inset_zi7qgz.png" />
         </div>
         <div class="box-content01" style="margin: 0 14%">
          <div >
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >Tomi Garpa and Josh Caasi, two researchers who specialize in marine invertebrates, hold out some of the juvenile sandfish under their care.</p>
           <p class="atlas-light photo-courtesy2" style= "color: #394e8a; margin-top: 10px;"  *ngIf="charlonBool" >Photos: Roy C. Corvera</p>
          </div>
        </div>
       </div> 

       <p class="atlas-light location-content2" *ngIf="charlonBool">Simulating larval travel</p>

        <p class="atlas-light location-content" *ngIf="charlonBool">Most sea cucumbers propagate through sexual reproduction. Both males and females release gametes into the surrounding water, and the sperm cells fertilize the egg cells upon encounter. The larvae formed by this spawning process are swept around by ocean currents until they acquire enough nutrients to grow and metamorphose into a mature state that can settle on the ocean floor (<em>settlement</em>). The sea cucumbers that manage to survive untimely death post-settlement are called “recruits.” </p>

        <p class="atlas-light location-content" *ngIf="charlonBool">Due to the sheer number of larvae produced during spawning season and the many factors affecting their travel in the water column, it is difficult to predict where matured sea cucumbers are located. Computational marine scientists can bypass this drawback by using models that mimic their ecological behavior. In this study, Deauna used a technique called <strong>biophysical modeling</strong>, through which she ran a simulation of larval travel with known ocean current and biological patterns.</p>

        <div class="atlas-light location-content boxed" *ngIf="charlonBool">
        <div class="text">
              <p>A biophysical model takes the physical properties of an ecosystem or defined location in the ocean and uses those properties to form a virtual diorama with the help of math translated into lines of code. Scientists can then observe how the model responds to changes in physical and/or biological factors.</p>
        </div>
      </div>

      <p class="atlas-light location-content2" *ngIf="charlonBool">Pursuing particles</p>

       <p class="atlas-light location-content" *ngIf="charlonBool">The team modeled the larval dispersal of two economically viable sea cucumber species in the Philippines, <em>Holothuria</em> scabra and <em>Stichopus horrens</em>. To effectively visualize the traversal of larvae, Deauna treated them as particles.</p>

       <div class="center-content" *ngIf="charlonBool" >
         <div class="box-content07">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656914761/News/Features/cucumber/S-horrens_iijgs6.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" ><em>Stichopus horrens</em> and <em>Holothuria scabra</em> are two species of sea cucumber that are being studied and farmed in the BML in Bolinao, Pangasinan.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 

      <p class="atlas-light location-content" *ngIf="charlonBool">The biophysical model was designed using the Connectivity Modeling System (CMS), an open-source software that tracks particles as they move randomly in the ocean. She considered these key factors: the recruitment behavior of sea cucumbers, ocean circulation, and geographical location.</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">The study’s <em>domain</em>, consisting of the coasts of Palawan, Panay, and Mindoro, was divided into 480 7 km<sup>2</sup> squares called <em>grid cells</em>. Twenty random locations were identified within each square as a release point for 1,000 particles, for a total of 20,000 particles released. This number was doubled during the months of April, May, and June to account for the spawning season. These <em>grid cells</em> were then grouped spatially to fit a 10 km radius (the standard size of a <em>marine protected area</em> or MPA), resulting in 127 locations or <em>nodes</em> that were considered for further analysis. </p>

      <p class="atlas-light location-content" *ngIf="charlonBool">Daily surface current data was obtained from a regional Hybrid Coordinate Ocean Model (HYCOM) model run of the Philippine archipelago.<sup>10</sup> Since ocean circulation is highly  affected by the seasonal climate, Deauna ran the model under four time periods (northeast monsoon, dry-transition, southwest monsoon, and early northeast monsoon) and observed which oceanographic features would dominate the domain during each period.</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">To understand the connections among geography, current patterns, and sea cucumber reproduction, the nodes were  grouped into <em>coherent regions</em> using  the <em>Infomap</em> algorithm. This technique identifies networks of nodes that have the highest probabilities of larval exchange (i.e., larvae released within a coherent region are not likely to settle outside of it.)</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">Ultimately, the domain was divided into three regions: southeastern Palawan (Group I); eastern Mindoro, western Panay, Romblon, Marinduque, and Magsaysay and Cuyo Islands (Group II); and western and northern Palawan, western Mindoro, and Agutayan (Group III). These groupings are a result of the seasonal fluctuations of the Mindoro Jet, the dominant hydrodynamic feature in the domain. It is strongest during the early northeast monsoon and weakens in this order: southwest monsoon (SWM), northeast monsoon (NEM), and dry transition season. Interestingly, the Mindoro Jet is weakest during the peak spawning season, allowing larvae to drift farther distances.</p>

      <div class="center-content" *ngIf="charlonBool" >
         <div class="box-content07">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1657695788/News/Features/cucumber/FIG2_PC-MOB_v2_rwoacn.png" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" >The 127 nodes in this study's domain (comprising Palawan, Panay, and Mindoro) were grouped into "coherent regions" — each region having the highest probability of larval exchange within (i.e., larvae released within a coherent region are not likely to settle outside of it.) Three groups were identified as a result. Habitat types present in the nodes were detected using satellite data. Nodes marked with an upright triangle had coral, mangrove, and seagrass; upside-down triangles represent corals and seagrass; diamonds represent mangroves and seagrass; the rectangle represents only seagrass; while circles represent nodes with none of the 3 habitat types.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 
      
      <p class="atlas-light location-content3" *ngIf="charlonBool">Generally, there is a high degree of larval exchange among nodes and even across the <em>coherent regions</em>. Sites were classified as either strong <em>sources</em> (where larvae originate) or <em>sinks</em>  (where larvae settle). Sites in Group II acted as strong larval sources during the NEM, while those in Group III were strong sources all year round. Most particles from Group II settled in sites within Group I and III. While all locations exhibited source and/or sink characteristics, Group II locations were the main sources and Group I locations, the main sinks. These patterns make sense if you look at the flow of the Mindoro Jet. </p>

      <div class="center-content" *ngIf="charlonBool" id="content-desktop">
         <div class="box-content07">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656986401/News/Features/cucumber/photo_6203813782577328182_y_adgzwb.jpg" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 20px;" *ngIf="charlonBool" >The dispersal behavior of the larval particles was mainly influenced by the seasonal fluctuations of the Mindoro Jet, the dominant hydrodynamic feature in the domain.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 

       <div class="center-content" *ngIf="charlonBool" id="content-mobile">
         <div class="box-content07">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1656986401/News/Features/cucumber/photo_6203813782577328203_y_d1xn6w.jpg" />
         </div>
         <div class="box-content04" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="charlonBool" ></p>
          </div>
        </div>
       </div> 

      <p class="atlas-light location-content2" *ngIf="charlonBool">Not all nodes are equal</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">The spawning and settlement processes for sandfish typically require seagrass and mangroves, while those for <em>S. horrens</em> need seagrass and corals. Within the domain, 41 nodes featured all three habitat types (seagrass, mangrove, and coral). Twenty-three had seagrass and coral, two had seagrass and mangrove, one had only seagrass, and the remaining 60 had none of the three habitat types. This means that, at a total node count of 64, more locations were suitable for <em>S. horrens</em>. After the simulation, it was also found that <em>S. horrens</em> was distributed throughout a larger area than the sandfish, which had only 43 nodes.</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">The nodes with suitable habitats were then ranked according to four indices that quantify larval settlement and recruitment. Highly-ranked sites were those that supplied the most larvae (to other sites) while receiving larvae from many other sources. Those sites could be prioritized for protection and broodstock collection, since the spawning adults in those locations were projected to contribute the most larvae to the domain and be genetically different from each other.</p>

       

      

      <p class="atlas-light location-content2" *ngIf="charlonBool">“Ecologically meaningful” management areas</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">Simulating how larval particles travel helped Deauna and her co-authors pinpoint sites in the western central Philippine region that fisherfolk and concerned institutions can prioritize for conservation and farming purposes. They were able to  classify sixteen sites around northern Palawan and western Panay as “high-priority.” Locating these sites is an initial step in maximizing strategies for the sustainable management and aquaculture of sea cucumbers. Commercial breeders of sea cucumbers can better manage their broodstock by taking into consideration areas where many sea cucumbers spawn, as well as where most larvae end up.</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">“Ideally, we would like to protect all 127 locations. Unfortunately, that’s not feasible, so we need to choose which ones to protect first,” Deauna said, emphasizing the importance of ranking the sites. “The locations highlighted in this study can be used by existing hatcheries to further optimize their farming, whether it be for releasing larvae or selecting broodstock.”</p>

      <p class="atlas-light location-content" *ngIf="charlonBool">She states that the information gathered from the study are just the results of a simulation, and that actual groundwork in confirming its findings and identifying compatible sites is paramount. “It’s baseline information, and only serves as a guide for further studies.”</p>
        
      
       <hr  *ngIf="charlonBool" style=" margin-top: 3vw;">

       <p class="atlas-light location-content"  style="font-size: 16px; margin-top: 3vw;  color:gray; " *ngIf="charlonBool">Acknowledgments</p>

       <p class="atlas-light location-content" style="font-size: 12px; margin-top: .5vw;  color:gray; " *ngIf="charlonBool">
        The authors would like to thank the Philippine Council for Agriculture, Aquatic and Natural Resources Research and Development of the Department of Science and Technology (DOST-PCAARD) for funding the study.
       

        <br><br> Writers: Mia N.  Judicpa, Gabrielle A. Abrahan <br>
        Graphics: Roy C. Corvera, Hannah Peña<br>
        Web Developer: Kate C. Reodica
</p>

       <p class="atlas-light location-content"  style="font-size: 16px; margin-top: 3vw; color:gray;" *ngIf="charlonBool">References:</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">1. Slater, M. (2015). Chapter 4: Use and exploitation of sea cucumbers. In <em>Echinoderm Aquaculture</em> (pp. 57-73). John Wiley & Sons, Inc. Retrieved 13 June 2022, from https://onlinelibrary.wiley.com/doi/book/10.1002/9781119005810.</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">2. Ledesma, R. Sandfish: <em>expensive, endangered, and ecologically essential – SEAFDEC/AQD</em>. Seafdec.org.ph. Retrieved 17 June 2022, from https://www.seafdec.org.ph/2020/sandfish-expensive-endangered-and-ecologically-essential/.</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">3. Chan, C. (2018). <em>All About Sea Cucumbers</em>. MICHELIN Guide. Retrieved 1 June 2022, from https://guide.michelin.com/en/article/features/ingredient-sea-cucumber.</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool"> 4. Sea Cucumbers | National Geographic. <em>National Geographic</em>. Retrieved 1 June 2022, from https://www.nationalgeographic.com/animals/invertebrates/facts/sea-cucumbers.</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">5. Lee, S., Ford, A., Mangubhai, S., Wild, C., & Ferse, S. (2018). Effects of sandfish (<em>Holothuria scabra</em>) removal on shallow-water sediments in Fiji. PeerJ, 6, e4773. https://doi.org/10.7717/peerj.4773</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">6. Grayson, N., Clements, C., Towner, A., Beatty, D., & Hay, M. (2022). Did the historic overharvesting of sea cucumbers make coral more susceptible to pathogens?. <em>Coral Reefs</em>, 41(2), 447-453. https://doi.org/10.1007/s00338-022-02227-w</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">7. Rawson, K., & Hoagland, P. (2019). Sea cucumbers in a pickle: the economic geography of the serial exploitation of sea cucumbers. <em>Ecology And Society</em>, 24(4), 35. https://doi.org/10.5751/es-11150-240435</p>

       <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">8. Business Insider, 2019.<em>Why Sea Cucumbers Are So Expensive | So Expensive</em>. [video] Available at: <https://youtu.be/sRH5KzNQxmc> [Accessed 31 May 2022].</p>

      <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">9. Miller, J., Pawson, D., Augustyn, A., Lotha, G., Rafferty, J., & Promeet, D. et al. (1998). <em>echinoderm | Definition, Characteristics, Species, & Facts</em>. Encyclopedia Britannica. Retrieved 1 June 2022, from https://www.britannica.com/animal/echinoderm.</p>

      <p class="atlas-light location-content" style="font-size: 10px; margin-top: .5vw; color:gray;" *ngIf="charlonBool">10. Manalaysay, D. (2017). <em>National Scale Hydrodynamic Model</em>. In Project 4, Watershed and Ocean Parameters for Assessment of Coral Reef Health. National Assessment of Coral Reef Environments Program. Terminal Report. Department of Science and Technology. Philippine Council for Agriculture, Aquatic and Natural Resources Research and Development.
</p>


</div>

</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreScicomm()">
    <p class="atlas-light"><span class="navi">MORE FEATURES</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>
</div>

<div class="container2  animate__animated animate__fadeIn animate__delay-1s">
<div class="footer" style="margin: 0 0% !important">
  <app-footer></app-footer>
</div>
</div>
