.container {
  margin-left: 4.5%;
  margin-right: 4.5%;

}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  margin-top: 5.564vw;
  height: 10.981vw;
}

.title{
  font-size: 2.123vw;
}

.content-p {
  font-size: 1.171vw;
  margin-top: 1.391vw;
  font-family: 'Atlas-light';
  line-height: 1.4;
}

.card {
  height: 17.496vw;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.318vw;
}

.card .left {
  width: 31%;
  margin: 0.586vw;
}

.card .right {
  width: 62.2%;
  /* border: 1px solid black; */
  margin-right: 2.928vw;
  font-size: 1.171vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  font-family: 'atlas-light';
  font-size: 1.171vw;
  margin-top: 1.098vw;
  line-height: 1.3;
}

.box-card { /* editted: removed margin-top;*/
  height: 55.124vw;
  margin-right: -3.7%;
  overflow: hidden;
}

.box-card-content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 1000px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .header {
    margin-top: 10%;
    height: 100%;
  }

  .title{
    font-size: 5vw;
  }

  .content-p {
    font-size: 4vw;
    margin-top: 3%;
    font-family: 'Atlas-light';
    line-height: 1.4;
  }

  .card {
    height: fit-content;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 5%;
  }

  .card .left {
    width: 85%;
    padding: 5% 0;
    height: 45vw;
  }

  .card .right {
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    margin-right: 0;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .card-content {
    font-family: 'atlas-light';
    font-size: 4vw;
    margin-top: 1.098vw;
    padding: 2% 10% 5% 10%;
    line-height: 1.3;
  }

  .title-text {
    padding: 0 10%;
  }

  .box-card { /* editted: removed margin-top;*/
    height: 115vw;
    margin-right: 0;
    overflow: hidden;
    margin-top: 5%;
  }

  .box-card-content {
    height: 100%;
    width: 100%;
    overflow-y: visible;
    padding-right: 0; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    overflow-x: hidden;
  }
}


