.news .first-content{
  margin-top: 2.928vw;
  height: 10.981vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-content .left-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.first-content .left-fc1 .news-left{
  width: 50%;
  /* background-image: url(../../../../assets/photos/acad2.JPG);
  background-repeat: no-repeat;
  background-size: cover; */
}


.left-fc1 .news-right{
  margin-left: 2.196vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-content .right-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.first-content .right-fc1 .news-left{
  width: 50%;
  background-image: url(https://dc585.4shared.com/img/fWQiXf1Wiq/s24/179b15f10a0/Training-02?async&rand=0.5410988799383196);
  background-repeat: no-repeat;
  background-size: cover;
}

.right-fc1 .news-right{
  margin-left: 2.196vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news .sec-content{
  margin-top: 3.660vw;
  height: 10.981vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-content .left-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.sec-content .left-fc1 .news-left{
  width: 50%;
  background-image: url(https://dc597.4shared.com/img/h6fwHC4Ciq/s24/179b15f2810/Training-07?async&rand=0.44334409385505436);
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-content .right-fc1{
  width: 47%;
  display: flex;
  flex-direction: row;
}

.sec-content .right-fc1 .news-left{
  width: 50%;
  background-image: url(https://dc585.4shared.com/img/rmFVZYEbiq/s24/179b15f4368/Training-12?async&rand=0.6929514896010747);
  background-repeat: no-repeat;
  background-size: cover;

}

/* news */
.news-box{
  margin: 0 9%;
}

.date-headline{
  display:flex;
  flex-direction: column;
}

.headline-text{
  color: #5da563;
  font-size: 1.171vw;
  line-height: 1.3;
}

.date-text{
  color: #94979c;
  font-size: 0.732vw;
  line-height: 1.3;
  margin-top: 5px;
}

.content-text{
  color: #4c515a;
  font-size: 1.025vw;
  line-height: 1.3;
  margin-top: 0.732vw;
}

.read-more{
  font-size: 1.171vw;
  margin-right: 1.464vw;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
