<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/trainings%2FTraining-01.png?alt=media&token=3c936ee9-35bc-4248-bafd-22325310bfef">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
            Hazard Detection and Mitigation Tools for Algal Blooms in Changing Marine Environment 1
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Integrated Harmful Algal Bloom Detection & Information system for adaptive responses
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
            Hazard Detection and Mitigation Tools for Algal Blooms in Changing Marine Environment 2
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Development of detection tools for algal blooms to rapid responses from organism to environment
        </p>

      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
            Training on Coastal Erosion Management
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Communication, Education, and Public Awareness (CEPA) and Policy review towards improving coastal erosion management in the Philippines
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
            Internal Training in the Use of ASV (Deployment & Retrieval and Sensor Integration Software)
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          An Autonomous Surface to Advance Marine and Environmental Health Research in the Philippines
        </p>

      </div>
    </div>
  </div>

</div>
