<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1627981890/Extension/02%20-%20Trainings/Training-01_tejahp.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Hazard Detection and Mitigation Tools for Algal Blooms in Changing Marine Environment 1
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Integrated Harmful Algal Bloom Detection & Information system for adaptive responses
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Hazard Detection and Mitigation Tools for Algal Blooms in Changing Marine Environment 2
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Development of detection tools for algal blooms to rapid responses from organism to environment
        </p>

      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Training on Coastal Erosion Management
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          Communication, Education, and Public Awareness (CEPA) and Policy review towards improving coastal erosion management in the Philippines
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Internal Training in the Use of ASV (Deployment & Retrieval and Sensor Integration Software)
          </p>

          <!-- <p class="atlas-light date-text">
            April 30, 2021
          </p> -->
        </div>

        <p class="atlas-light content-text">
          An Autonomous Surface to Advance Marine and Environmental Health Research in the Philippines
        </p>

      </div>
    </div>
  </div>

</div>
