<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"> 
        <script type="text/javascript" defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
         <script type="text/javascript" defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

        <body>
  

     
 

        
<div class="container  animate__animated animate__fadeIn animate__delay-1s">
  <div class="center-content2" id="content-desktop" *ngIf=" herbBool">
         <div class="box-content2" id="content-desktop">
          <!--<video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/image/upload/v1648101960/News/Features/herbarium/trial-banner_Size_8_lepvij.png"></video>-->
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1648101960/News/Features/herbarium/trial-banner_Size_8_lepvij.png" alt="header" /> 
        </div>

       

        </div>

        <div class="center-content2" id="content-mobile" *ngIf="herbBool">

        <div class="box-content7" id="content-mobile">
          <!--<video [muted]="true" autoplay playsinline loop src="https://res.cloudinary.com/upmsi/video/upload/v1646662751/News/Features/eddy/mar7-mobile-banner-1_q1emoh.mp4"></video>--> 
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1648101960/News/Features/herbarium/trial-banner_Size_8_lepvij.png" alt="header" />
        </div>


      
        </div>

        <div class="row">
  <div class="column">
    <h2></h2>
    <p></p>
  </div>
  <div class="column2" >
    <p class="atlas-light location-content" >FEATURE | SCICOMM </p>   
    <h2>Keepers of the Kelp</h2>

    <p class="atlas-light location-content" >These winds prevail during the northeast monsoon season, which we know locally as <em>Amihan</em>. It is one of the two seasons our country experiences annually. They visit us from November to late March, and are followed by the winds that blow during the southeast monsoon season, called <em>Habagat</em>, after the transition months of April–May.</p>
  </div>
</div>
 

    <div style="display: grid; place-content: center;">


    <div class="bottom-content">



      <!--<div class="center-content0">
      <div class="box-contentr">
      <img id="myImg" src="https://res.cloudinary.com/upmsi/image/upload/v1646621984/News/Features/eddy/P7040240_uzxrco.jpg" alt="Snow" style="width:100%;max-width:700px; max-height: 500px">

        The Modal 
        <div id="myModal" class="modal">
        <span class="close" onclick="document.querySelectorAll('myModal').style.display='none'">&times;</span>
        <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      </div>
      </div>-->

       <p class="atlas-light location-content">Many structures perished during World War II, including the Bureau of Science Herbarium.1 It was the first repository of plants in the country, established in 1908 by botanist and taxonomist Dr. Elmer Merrill. The herbarium housed more than a million specimens, some dating back to the 1700s. The fire took down the building and decades’ worth of field collection, preservation, and species identification.</p>


      <p class="atlas-light location-content">The herbarium, which was renamed to Philippine National Herbarium during the latter years, recovered with the help of other herbaria in Europe and the United States. Duplicates of the lost specimens were returned, as overseen by biologist Dr. Eduardo Quisumbing. Still, the loss of the largest collection at the time in Southeast Asia is a reminder of how integral herbaria are to the study of plants and related organisms, especially in a country with high biodiversity.</p>

       <hr style=" margin-top: 3vw;">

       <p class="atlas-light location-content2">Fast Facts</p>

       <p class="atlas-light location-content">◉ The MSI Herbarium was established as a tribute to National Scientist and Academician Dr. Gregorio T. Velasquez, who is also considered the <em>Father of Philippine Phycology</em>.<br>

       <span class="atlas-light location-content" style="margin-left: 15px;">○ It was put up in the 1970s by Dr. Gavino C. Trono, Jr., the <em>Father of Kappaphycus Farming</em></span>.</p>

  
      <div class="w3-container">
  

  <div class="pmodal" >
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1648533202/News/Features/herbarium/prof2_qcn01c.jpg" alt="Snow" style="width:100%;max-width:700px;margin-top: 20px; max-height: 500px;cursor:zoom-in"
  onclick="document.getElementById('modal01').style.display='block'">
  <div class="box-content01" >
          <div >
           <!--<p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="panayBool" >Many eddies, represented by these swirling patterns, form around the world. They are part of a large current system that transports nutrients and influences biological productivity.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="panayBool" ></p>-->
         
        <div class="column">
            <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px; margin-left: 8px;">A renowned seaweed biodiversity (taxonomy) scientist, National Scientist Gavino C. Trono, Jr. was also among the pioneers of tropical seaweed farming.</p>
        </div>
        <div class="column" >
           <p class="atlas-light location-content atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;margin-left: 8px;" >National Scientist Gregorio T. Velasquez, a specialist in blue-green algae, led  the advancement of phycological studies in the Philippines.
            </p>   
        </div>

          </div>
        </div>
</div>

  <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span draggable="false" class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img draggable="false" src="https://res.cloudinary.com/upmsi/image/upload/v1648533202/News/Features/herbarium/prof2_qcn01c.jpg" >
      <div class="modal-content">
      <div id="caption" id="content-desktop"> 
        <div class="box-content01" >
          <div >
           <!--<p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="panayBool" >Many eddies, represented by these swirling patterns, form around the world. They are part of a large current system that transports nutrients and influences biological productivity.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;" *ngIf="panayBool" ></p>-->
         
        <div class="column">
            <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;margin-left:-80px; margin-right: 20px;">A renowned seaweed biodiversity (taxonomy) scientist, National Scientist Gavino C. Trono, Jr. was also among the pioneers of tropical seaweed farming.</p>
        </div>
        <div class="column" >
           <p class="atlas-light location-content atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px; margin-left: 10px;  margin-bottom: 20px;" >National Scientist Gregorio T. Velasquez, a specialist in blue-green algae, led  the advancement of phycological studies in the Philippines.
            </p>   
        </div>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<p class="atlas-light location-content">◉ The Herbarium contains 55,000 specimens, with 18 seagrass species and 2000 algal species. Nineteen of these specimens are <em>type specimens.</em>.<br>

       <span class="atlas-light location-content" style="margin-left: 15px;">○ A type specimen is the specimen used by the taxonomist or biologist at the time the species was being described and named.</span></p>

  
<div class="w3-container">
  <div class="pmodal">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1648538417/News/Features/herbarium/T25106_Halymenia_sp02_edited_hvqf5q.jpg"  style="width:100%;max-width:700px; margin-top:30px; max-height: 500px;cursor:zoom-in"
  onclick="document.getElementById('modal02').style.display='block'">
  <div class="box-content01" >
          <div>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">One of the type specimens deposited at the MSI Herbarium is that of <em>Sargassum velasquezii</em>, which was first described in 1992 and formally named in 1994 by Dr. Gavino C. Trono, Jr. Like the MSI Herbarium, the seaweed was also named after Dr. Gregorio T. Velasquez.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Photo: Dr. Wilfred John Santiañez</p>
          </div>
        </div>
  </div>

  <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
    <span draggable="false" class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img draggable="false" src="https://res.cloudinary.com/upmsi/image/upload/v1648538417/News/Features/herbarium/T25106_Halymenia_sp02_edited_hvqf5q.jpg" >
      <div class="modal-content">
      <div id="caption" id="content-desktop"> 
        <div class="box-content01" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">One of the type specimens deposited at the MSI Herbarium is that of <em>Sargassum velasquezii</em>, which was first described in 1992 and formally named in 1994 by Dr. Gavino C. Trono, Jr. Like the MSI Herbarium, the seaweed was also named after Dr. Gregorio T. Velasquez.</p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Photo: Dr. Wilfred John Santiañez</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

  <p class="atlas-light location-content2">The Philippines, a center of biodiversity</p>

   <p class="atlas-light location-content">The United Nations Environment Programme identifies the Philippines as one of 18 mega-biodiverse countries. Its grasslands, tropical rainforests, freshwater and estuarine ecosystems, and open water contain two-thirds of the global biodiversity, with 70–80% of the world’s plant and animal species.<sup>2</sup></p>

   <div class="w3-container">
  <div class="pmodal3" style="width: 900px; margin-left:-100px;">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1648540322/News/Features/herbarium/final-algae_div_Custom_Size_2_qrhjey.png"  style="width:100%;max-width:900px; margin-top:30px; max-height: 450px;cursor:zoom-in"
  onclick="document.getElementById('modal03').style.display='block'">
  <div class="box-content01" >
          <div>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">The G.T. Velasquez Phycological Herbarium (MSI) has voucher specimens of seaweeds belonging to the phyla <em>Rhodophyta, Chlorophyta, Ochrophyta, and Cyanobacteria.</em></p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Graphics: Roy Oliver Corvera</p>
          </div>
        </div>
  </div>

  <div id="modal03" class="w3-modal" onclick="this.style.display='none'">
    <span draggable="false" class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content3 w3-animate-zoom">
      <img draggable="false" src="https://res.cloudinary.com/upmsi/image/upload/v1648540322/News/Features/herbarium/final-algae_div_Custom_Size_2_qrhjey.png" >
      <div class="modal-content">
      <!--<div id="caption" id="content-desktop"> 
        <div class="box-content01" >
          <div >
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">The G.T. Velasquez Phycological Herbarium (MSI) has voucher specimens of seaweeds belonging to the phyla <em>Rhodophyta, Chlorophyta, Ochrophyta, and Cyanobacteria.</em></p>
           <p class="atlas-light photo-courtesy2" style= "color:#394e8a; margin-top: 10px;">Graphics: Roy Oliver Corvera</p>
          </div>
        </div>
      </div>-->
      </div>
    </div>
  </div>
</div>

<div class="atlas-light location-content boxed">
        <div class="text">
          <p class="head"><strong>Curious about the collections?</strong></p>
              <p><br>The G.t Velazquez Phycology Herbarium serves many purposes; a gallery fo Philippines seaweeds and seagrasses, a repository for type and voucher specimens, and a tool for scientific pursuits.


              <br><br>Interested students and researchers can access the collections by emailing the MSI Herbarium Collections Manager at <u>msiadmin@msi.upd.edu.ph</u> and/or <u>herbarium@msi.upd.edu.ph</u>

               <br><br>Access to and use of the <em>herbarium, its collections, and facilities are all subject to the MSI Collections Access Regulations</em>
            </p>
        </div>
      </div>

      

      <main>
          <section class="no-parallax">
            <h1>No Parallac effect : herbarium text</h1>
          </section>
          <section class="parallax bg">
            <p class="location-content3">The Philippines is home to five percent of the world’s flora and has the fifth highest number of plant species. Located within the Coral Triangle of the western Pacific Ocean, the marine biodiversity of this archipelago consists of 468 hard corals, 1755 reef fishes, 820 species of algae, and 19 species of seagrass.3<br><br>

            The Philippines is home to five percent of the world’s flora and has the fifth highest number of plant species. Located within the Coral Triangle of the western Pacific Ocean, the marine biodiversity of this archipelago consists of 468 hard corals, 1755 reef fishes, 820 species of algae, and 19 species of seagrass.3</p>


           
          </section>

          <section class="parallax bg">
            

            <p class="location-content3">Threats to this rich biodiversity come in both natural and anthropogenic forms. Specifically, pollution, climate change, unsustainable culture practices and destructive fishing methods, eutrophication from surrounding mariculture sites, and even coastal development are all possible causes of biodiversity loss.4</p>
          </section>
          <section class="no-parallax">
            <p> No effect again </p>
         </section>
      </main>
      

        

        
  </div>
</div>
</div>





<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" (click)="moreScicomm()">
    <p class="atlas-light"><span class="navi">MORE FEATURES</span> <span class="arrow">&rarr;</span></p>
  </span>
</div>

<div class="container2  animate__animated animate__fadeIn animate__delay-1s">
<div class="footer" style="margin: 0 0% !important">
  <app-footer></app-footer>
</div>
</div>

<script type="text/javascript"  src="http://www.amazingdg.com/_client/a/javascript/javascript.js">
// Get the modal
var modal = document.querySelectorAll("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  modalImg.alt = this.alt;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>

</body>
</html>


