<app-nav></app-nav>
<hr style="margin: 15px 120px 30px 120px">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="director">
    <div class="atlas-blackReg title">
      <p>ABOUT THE DIRECTOR</p>
    </div>
    <div style="height: 90%; display: flex; flex-direction: row;">
      <div class="image-container">
        <img src="../../../assets/photos/about2.png" height="320px" width="320px"/>
      </div>
      <div class="image-content atlas-bold">
        <span>Laura T. David, Ph.D.</span>
        <span>Professor</span>
        <span>The Marine Science Institute Director</span>
      </div>
    </div>
  </div>

  <div class="director-content">
    <div class="director-info">
      <div class="education">
        <div>
          <span class="atlas-bold" style=" color: #384e8a;">Education:</span>
          <div class="atlas-light" style="display: flex; flex-direction: column; margin-top: 20px; line-height: 1.5;">
            <span>Ph.D. Physical Oceanography</span>
            <span>University of South Carolina, U.S.A.</span>
          </div>
        </div>
        <div>
          <div>
            <span class="atlas-bold" style=" color: #384e8a;">Links/Website:</span>
            <span class="atlas-light" style="color: #5da563"> Google Scholar Citations</span>
          </div>
          <div style="margin-top: 20px;">
            <span class="atlas-bold" style=" color: #384e8a;">Contact:</span>
            <span class="atlas-light" style="color: #5da563"> ltdavid@msi.upd.edu.ph</span>
          </div>
        </div>
      </div>

      <div class="research-interest">
        <div>
          <span class="atlas-bold" style=" color: #384e8a;">Reasearch Interests:</span>
          <div class="atlas-light" style="margin-top: 20px; line-height: 1.5;">
            <span>Coastal Oceanography, remote sensing of coastal and marine environment, ocean
              energy, coastal ecosystems and climate change, climate
              change adaptation and disaster risk reduction management,
              science communication on biodiversity, interconnectivity and climate resilience.
            </span>
          </div>
        </div>
      </div>

      <div class="selected-publications">
        <div>
          <span class="atlas-bold" style=" color: #384e8a;">Selected Publications:</span>
          <div class="atlas-light" style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span>
              Yñiguez AT, Maister J, Villanoy CL, Deauna JD, Peñaflor E, Almo A, <span style="font-weight: bold;">David LT</span>, Benico GA, Hibay E, Mora I, Arcamo S, Relox J, Azanza RV.
              “Insights into the dynamics of harmful algal blooms in a tropical estuary through an integrated hydrodynamic-Pyrodinium-shellfish model”
              Harmful Algae 80:1-14.2018.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Naval PCJ, <span class="atlas-bold">David LT</span>. “FishDrop: Estimation of reef fish population density and biomass using stereo cameras” In Techno-Ocean 2016:
              Return to the Oceans (pp. 527–531).2017.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Delfino RJ, Carlos C, <span class="atlas-bold">David LT</span>, Lasco RD, Juanico DE. “Perceptions of Typhoon Haiyan-affected communities about the resilience and
              storm protection function of mangrove ecosystems in Leyte and Eastern Samar, Philippines” Climate Disaster and Development Journal 1:16-
              23.2016.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Carlo Carlos, Rafaela Jane Delfino, Dranreb Earl Juanico, <span class="atlas-bold">Laura T. David</span>, Rodel Lasco et al. “Vegetation resistance and regeneration
              potential of Rhizophora, Sonneratia, and Avicennia in the Typhoon Haiyan-affected mangroves in the Philippines: Implication on Rehabilitation
              practices” Climate Disaster and Development Journal Vol.1, pp. 1-8. 2016.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Rafaela Jane P. Delfino, Carlo M. Carlos, <span class="atlas-bold">Laura T. David</span>, Rodel D. Lasco, Drandreb Earl O. Juanico et al. “Perceptions of Typhoon Haiyanaffected communities about the resilience
              and storm protection function of mangrove ecosystems in Leyte and Eastern Samar, Philippines”
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Climate Disaster and Development Journal Vol. 1. pp 16-23. 2016.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span class="atlas-light">
              Licuanan, Wilfredo Y., Maricar S. Samson, Samuel S. Mamauag, <span class="atlas-bold">Laura T. David</span>, Roselle Borja-del Rosario, Miledel Christine C. Quibilan,
              Fernando P. Siringan et al. “IC-SEA Change: A participatory tool for rapid assessment of vulnerability of tropical coastal communities to climate
              change impacts.” Ambio (2015): 1-19.
            </span>
          </div>
        </div>
      </div>

      <div style="text-decoration: underline; float: right; color: #5da563; font-size: 18px;">READ MORE</div>
      <div class="selected-publications">
        <div>
          <span class="atlas-bold" style=" color: #384e8a;">Books:</span>
          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span>
              <span class="atlas-bold">David, L. T</span>., dela Cruz, T. L. P., Gonzales, R. D., Magdaraog, S. R. T., and Pernia, E. E. 2014. Ahon: A Primer on Climate Resilience. University
              of the Philippines Diliman: Quezon City, Philippines. pp 37.
            </span>
          </div>

          <div style="margin-top: 20px; line-height: 1.5; text-indent: 30px;">
            <span>
              Heenan, A., Pomeroy, R., Brainard, R., Amri, A.,. Alino, P., Armada, N., Bell, J., Cheung, W., <span class="atlas-bold">David, L.</span>, Guieb, R., Green, S., Jompa, J., Leonardo,
              T., Logan C., Mamauag, S., Munday, P., Parker, B., Shackeroff, J., and Yasin, Z., Incorporating climate change and ocean acidification into an
              ecosystem approach to fisheries management (EAFM) plan. Publication. Honolulu, Hawaii: The USAID Coral Triangle Support Partnership,
              (2013): 66 pp.
            </span>
          </div>
        </div>
      </div>

      <div class="selected-publications">
        <div>
          <span class="atlas-bold" style=" color: #384e8a;">Graduated Advisees (past 10 years):</span>
          <div class="students">
            <div style="width: 12%; color: #5da563; font-style: italic;" class="atlas-bold">
              Ph.D. Students
            </div>
            <div style="width: 88%;">
              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Eileen Penaflor</span>
                <span style="color: #384e8a;">Dissertation Topic: Investigating physical parameters associated with massive coral bleaching events in the Coral
                  Triangle, 2015</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Victor Ticzon</span>
                <span style="color: #384e8a;">Dissertation Topic: Microhabitat use of juvenile reef fish and its implications in the use of remote sensing techniques in
                  delineating optimal reef fish habitats, 2013</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Lualhati Lachica-Aliño</span>
                <span style="color: #384e8a;">Dissertation Topic: Aspects of the trawl fisheries in Ragay Gulf, Philippines, 2009</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Mary Bernadette De Venecia</span>
                <span style="color: #384e8a;">Dissertation Topic: Evaluating Age-Based Techniques in Understanding Rhizome Growth Dynamics of Enhalus acoroides
                  (L.f.) Royle in a Muddy Environment, 2008</span>
              </div>
            </div>
          </div>


          <div class="students">
            <div style="width: 12%; color: #5da563; font-style: italic;" class="atlas-bold">
              MS Students
            </div>
            <div style="width: 88%;">
              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Yannek Meunier</span>
                <span style="color: #384e8a;">Thesis: The Kuroshio in the Luzon Strait, 2008</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Napo Cayabyab</span>
                <span style="color: #384e8a;">Thesis: Early history of tropical seagrasses Enhalus Acoroides (L.f.) Royle and Thalasia Hemprichii (Ehrenb.) Aschers. Of Café
                  Bolinao (NW Philippines), 2006</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Bella Shiela Albasin</span>
                <span style="color: #384e8a;">Thesis: Spatio-temporal Characterization of Seagrass Sites as Dugong Habitat in Green Island Bay, Roxas, Palawan, 2010</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Aldwin Almo</span>
                <span style="color: #384e8a;">Thesis: Geospatial techniques for harmful algal bloom detection in Philippine waters using moderate resolution imaging
                  spectroradiometer (MODIS), 2016</span>

                  <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Jonathan Patrick Yan (co-adviser)</span>
                <span style="color: #384e8a;">Thesis: Geometric morphometric analysis of select Philippine pomacentridae, 2013</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Lambert Anthony Meñez (co-adviser)</span>
                <span style="color: #384e8a;">Thesis: Influence of surface and deep-water mass sources on the hydrographic character of Philippine inland seas, 2003</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Charina Lyn Repollo (co-adviser)</span>
                <span style="color: #384e8a;">Thesis: Dispersal model of condensate from Malampaya deep water gasproduction, 2005</span>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; display: flex; flex-direction: column;">
                <span class="atlas-bold" style="color: #384e8a;">Ronald Allan Cruz (co-adviser)</span>
                <span style="color: #384e8a;">Thesis: Shell geometric morphometrics and design pattern analysis for species discrimination in Conus (Gastropoda:
                  Conidae), 2009</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
<div style="margin-top: 50px;">
  <app-footer></app-footer>
</div>

