.container .title{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #384e8a;
}

.container .content{
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 50px 120px 0 120px;
}

.content .left-content{
  height: 100%;
  margin-left: 120px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .right-content{
  background-image: url(../../../assets/photos/acad1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.left-content p{
  color: #4c515a;
  font-size: 15px;
  line-height: 1.5;
  padding-right: 100px;
}

.content2{
  height: 500px;
  background-color: #384e8a;
  display: flex;
  flex-direction: row;
  margin: 50px 120px 0 120px;
}

.content2 .left{
  width: 50%;
}

.content2 .right{
  height: 100%;
  width: 50%;
  padding-top: 70px;
  padding-right: 110px;
  display: flex;
  flex-direction: column;
}

.content2 .title2{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}


.content3{
  height: 500px;
  background-color: #384e8a;
  display: flex;
  flex-direction: row;
  margin: 50px 120px 0 120px;
}

.content3 .left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.content3 .right{
  height: 100%;
  width: 50%;
  background-image: url(../../../assets/photos/acad2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content3 .title2{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}
