<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content">
    <div class="left-content">
      <span class="atlas-blackReg title">ACADEMICS</span>
      <div>
        <p>
          The Institute grants <span class="atlas-bold" style="color: black;">M.S.</span> and <span class="atlas-bold" style="color: black;">Ph.D.</span> degrees in <span class="atlas-bold" style="color: black;">Marine
          Science with specializations in Marine Biology, Marine
          Physical Science, or Marine Biotechnology.</span> MSI also offers
          the <span class="atlas-bold" style="color: black;">Professional Masters in Tropical Marine Ecosystems
          Management (PM-TMEM) program</span> for managers and
          practitioners, with its initial focus on Marine Protected Areas
          (MPAs).
        </p>

        <p>
          These graduate programs provide students with
          opportunities for advanced multidisciplinary training enriched
          with integrated research, development and extension.
          Research assistantships in various projects are available to
          students. A limited number of scholarships are available
          through special grants.
        </p>
      </div>
    </div>
    <div class="right-content">

    </div>
  </div>

  <div class="content2">
    <div class="left">

    </div>

    <div class="right">
      <span class="atlas-bold title2">COURSES OFFERED</span>
      <div style="color: white; line-height: 1.5; margin-top: 20px; font-weight: 100">
        As the country’s leading academic institution in Marine Science
        studies and discipline, the University of the Philippines Marine
        Science Institute (UP MSI) offers a wide array of courses— from
        undergraduate to graduate courses; from electives to core courses,
        the UP MSI has put in place strategies to promote, support,
        contribute and integrate values in its institutional processes and
        practices for its students to flourish in their respective fields,
        whether it be in marine engineering, hazards, research, or the
        academe.
      </div>
      <div style="text-decoration: underline; color: white; margin-top: 15px; font-weight: 100; display: flex; flex-direction: row; justify-content: flex-end;">
        LIST OF COURSES
      </div>

    </div>
  </div>

  <div class="content3">
    <div class="left">
      <span class="atlas-bold title2">DOWNLOADABLE FORMS</span>
      <span class="atlas-bold" style="color: white;">Download forms in PDF file</span>
      <ul style="color: white; font-weight: 100; margin-top: 30px; margin-left: 20px; line-height: 1.5;">
        <li>Academic Calendar (A.Y. 2020-2021)</li>
        <li>Graduate Enrollment Confirmation</li>
        <li>Agreement Form Completion of Requirements</li>
        <li>Declaration as a Transfer Student Form</li>
        <li>Expression of Interest for Admission Form</li>
        <li>Recommendation Form from the Director</li>
        <li>Reconsideration Request Form</li>
      </ul>
      <div style="text-decoration: underline; color: white; margin-top: 15px; font-weight: 100; display: flex; flex-direction: row; justify-content: flex-end;">
        LIST OF COURSES
      </div>

    </div>

    <div class="right">

    </div>
  </div>

</div>
<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
