<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content">
    <div class="left-content">
      <span class="atlas-blackReg title" style="color: white;">ACADEMICS</span>
      <div>
        <p class="atlas-light context">
         The UP MSI fosters aspiring marine scientists and professionals through advanced, multidisciplinary graduate programs. For research-oriented students, UP MSI grants M.S. and Ph.D. degrees in Marine Science with different specializations.
         <!-- edited4 -->
        </p>
      </div>
      <div class="list-courses-b">
        <button class="learn-more" routerLink="msi-academics">LEARN MORE</button>
      </div>
    </div>
    <div class="right-content">

    </div>
  </div>

  <div class="content2">
    <div class="left">

    </div>

    <div class="right">
      <span class="atlas-blackReg title2">COURSES OFFERED</span>
      <div class="atlas-light context">
        The UP Marine Science Institute graduate curriculum trains prospective marine scientists in the major divisions of marine science: marine biology, marine physical sciences and marine biotechnology. Core courses include Ocean Physics and Chemistry, the four disciplines of Oceanography, and Marine Biotechnology.
      </div>
      <div class="list-courses-a">
        <button class="learn-more" [routerLink]="['/Academics/courses-offered']">LEARN MORE</button>
      </div>


    </div>
  </div>

  <div class="content3">
    <div class="left">
      <span class="atlas-blackReg title2">DOWNLOADABLE FORMS</span>
      <div class="atlas-light context">
        <p>Visit the Downloadable Forms page to access important permits and documents. Forms for application in graduate programs, enrollment, requests, proposal and defense colloquia, and graduation are available here.</p>
      </div>
      <div class="list-courses-b">
        <button class="learn-more" [routerLink]="['/Academics/downloadable-forms']">LEARN MORE</button>
      </div>



    </div>

    <div class="right">

    </div>
  </div>

</div>

<div class="footer">
  <app-footer></app-footer>
</div>
