.container{
  margin-left: 120px;
}

.container .title{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #384e8a;
}

.container .content{
  height: 400px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.content .left-content{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.content .right-content{
  background-image: url(../../../assets/photos/acad1.JPG);
  height: 100%;
  width: 50%;
}

.left-content p{
  color: #4c515a;
  font-size: 15px;
  line-height: 1.5;
  padding-right: 100px;
}
