.container{
  /* height: 100vh; */
  background-color: white;
}


/* Logo and nav CSS Section */
.container .top-container{
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 999;
  position: relative;
}

.top-container .top-content{
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.top-container .search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Nav CSS Section */
.top-container .nav-container{
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.nav-container button{
  color: #4c515a;
  border-radius: 0%;
}

.nav-container button:hover{
  background-color: #00a562;
  color: white;
}

.home{
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  min-width: 200px;
}

.dropdown-menu #sub-down{
  display: none;
  margin-top: -50px;
  position: absolute;
  margin-left: 200px;
  min-width: 200px;
}

.dropdown-menu span{
  display: block;
  cursor: pointer;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #00a562;
  padding: 18px 16px;
}

.dropdown-menu span:hover{
  background-color:rgb(3, 189, 115);
  color: white;

}

.home:hover .dropdown-menu{
  display: block;
}

.dropdown-menu .sub-menu:hover #sub-down{
  display: block;
}

.home:hover .menu-button{
  background-color: transparent;
}

