<div class="container">
  <div class="top-container animate__animated animate__fadeIn">
    <div class="top-content">
      <div class="search-container">
        <img src="../assets/photos/UPMSI.png" alt="UPMSI LOGO" height="100px">

        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text">
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="nav-container">
        <div class="menu-button">
          <button mat-button [routerLink]="['/Home']" [style.backgroundColor]="home ? 'white' : ''" [style.color]="home ? '#00a562' : ''">HOME</button>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [routerLink]="['/About']" [style.backgroundColor]="about ? 'white' : '' || hoverAbout ? '#00a562' : ''" [style.color]="about ? '#00a562' : ''|| hoverAbout ? 'white' : ''">ABOUT</button>
          </div>
          <div (mouseover)="hoverAbout=true" (mouseleave)="hoverAbout=false" class="dropdown-menu">
            <span>About MSI</span>
            <span [routerLink]="['/About/About-the-director']">About the Director</span>
            <div class="sub-menu">
              <span>Faculty</span>
              <p id="sub-down">
                <span>Residents</span>
                <span>Professors Emeriti</span>
                <span>Retired</span>
              </p>
            </div>

            <span>Admin</span>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [routerLink]="['/News']" [style.backgroundColor]="news ? 'white' : '' || hoverNews ? '#00a562' : ''" [style.color]="news ? '#00a562' : ''|| hoverNews ? 'white' : ''">NEWS</button>
          </div>
          <div (mouseover)="hoverNews=true" (mouseleave)="hoverNews=false" class="dropdown-menu">
            <span>Announcement</span>
            <span>Vacancies/Opportunities</span>
            <span style="line-height: 1.3;">Research Projects/Highlights</span>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [routerLink]="['/Education']" [style.backgroundColor]="education ? 'white' : '' || hoverAcademics ? '#00a562' : ''" [style.color]="education ? '#00a562' : ''|| hoverAcademics ? 'white' : ''">ACADEMICS</button>
          </div>
          <div (mouseover)="hoverAcademics=true" (mouseleave)="hoverAcademics=false" class="dropdown-menu">
            <span style="line-height: 1.3;">M.5., Phd, Professional Masters Overview</span>
            <span>Course Offered</span>
            <span>Downloadable Forms</span>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
           <button mat-button [routerLink]="['/Research']" [style.backgroundColor]="research ? 'white' : '' || hoverResearch ? '#00a562' : ''" [style.color]="research ? '#00a562' : ''|| hoverResearch ? 'white' : ''">RESEARCH</button>
          </div>
          <div (mouseover)="hoverResearch=true" (mouseleave)="hoverResearch=false" class="dropdown-menu">
            <span>Areas of Reseach</span>
            <span>Laboratories</span>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [style.backgroundColor]="facilities ? 'white' : '' || hoverFacilities ? '#00a562' : ''" [style.color]="facilities ? '#00a562' : ''|| hoverFacilities ? 'white' : ''">FACILITIES</button>
          </div>
          <div (mouseover)="hoverFacilities=true" (mouseleave)="hoverFacilities=false" class="dropdown-menu">
            <span>Bolinao Marine Lab</span>
            <span>Puerto Galera Station</span>
            <span>Pag-Asa Marine Station</span>
            <div class="sub-menu">
              <span>Floating Assets</span>
              <p id="sub-down">
                <span>RV Panata</span>
                <span>RV Kalayaan</span>
                <span>RV Mandaragat</span>
                <span>Speedboats and NARFleet</span>
              </p>
            </div>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [routerLink]="['/Extension']" [style.backgroundColor]="extension ? 'white' : '' || hoverExtension ? '#00a562' : ''" [style.color]="extension ? '#00a562' : ''|| hoverExtension ? 'white' : ''">EXTENSION</button>
          </div>
          <div (mouseover)="hoverExtension=true" (mouseleave)="hoverExtension=false" class="dropdown-menu">
            <span>Trainings</span>
            <span>Community Outreach</span>
            <span>Gallery</span>
          </div>
        </div>

        <div class="home">
          <div class="menu-button">
            <button mat-button [routerLink]="['/Resources']"  [style.backgroundColor]="resources ? 'white' : '' || hoverResources ? '#00a562' : ''" [style.color]="resources ? '#00a562' : ''|| hoverResources ? 'white' : ''">RESOURCES</button>
          </div>
          <div (mouseover)="hoverResources=true" (mouseleave)="hoverResources=false" class="dropdown-menu">
            <span>Publications</span>
            <span>Library</span>
            <span>Museums/Exhibits</span>
            <span>Research Equipment</span>
            <span>Repository Herbarium</span>
          </div>
        </div>

        <button mat-button [routerLink]="['/Contact']" [style.backgroundColor]="contact ? 'white' : ''" [style.color]="contact ? '#00a562' : ''">CONTACT</button>
      </div>
      <hr style="margin-top: 15px; margin-bottom: 30px;">
    </div>
  </div>
