<div class="container">
  <div class="top-container animate__animated animate__fadeIn">
    <div class="top-content">
      <div class="search-container">
        <img src="../assets/photos/UPMSI.png" alt="UPMSI LOGO" height="100px">

        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text">
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="nav-container">
        <button mat-button [routerLink]="['/Home']" [style.color]="home ? '#00a562' : ''">HOME</button>
        <button mat-button [routerLink]="['/About']" [style.color]="about ? '#00a562' : ''">ABOUT</button>
        <button mat-button [routerLink]="['/News']" [style.color]="news ? '#00a562' : ''">NEWS</button>
        <button mat-button [routerLink]="['/Education']" [style.color]="education ? '#00a562' : ''">ACADEMICS</button>
        <button mat-button>RESEARCH</button>
        <button mat-button>FACILITIES</button>
        <button mat-button [routerLink]="['/Extension']" [style.color]="extension ? '#00a562' : ''">EXTENSION</button>
        <button mat-button>RESOURCES</button>
        <button mat-button [routerLink]="['/Contact']" [style.color]="contact ? '#00a562' : ''">CONTACT</button>
      </div>
      <hr style="margin-top: 15px; margin-bottom: 30px;">
    </div>
  </div>
