<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left">
        <img src="../../../assets/photos/acad2.JPG">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Place Your Headline Text Here
          </p>

          <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p>
        </div>

        <p class="atlas-light content-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sequi illo blanditiis, vel autem error.
        </p>

        <div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Place Your Headline Text Here
          </p>

          <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p>
        </div>

        <p class="atlas-light content-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sequi illo blanditiis, vel autem error.
        </p>

        <div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Place Your Headline Text Here
          </p>

          <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p>
        </div>

        <p class="atlas-light content-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sequi illo blanditiis, vel autem error.
        </p>

        <div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text">
            Place Your Headline Text Here
          </p>

          <p class="atlas-light date-text">
            Feb 17, 2020, 10:04 AM by Yvette Geroleo
          </p>
        </div>

        <p class="atlas-light content-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sequi illo blanditiis, vel autem error.
        </p>

        <div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>
      </div>
    </div>
  </div>

</div>
