<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1644400743/News/Features/kig/thumbnail-1_lwwpci.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
             The First Of Many: UP MSI’s Most Important Expedition Yet  
          </p>

          <p class="atlas-light date-text">

          </p>
        </div>

        <p class="atlas-light content-text">
          A new year of Science is to be kicked off with the UP Marine Science Institute’s (UP MSI) first research expedition to Pag-asa...
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
           UP MSI, MERF host short courses on skills development for Philippine Coast Guard
          </p>

          <p class="atlas-light date-text">
            
          </p>
        </div>

        <p class="atlas-light content-text">
          The UP Marine Science Institute (UP MSI) and the Marine Environment and Resources Foundation, Inc....
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>


  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
           A Revived Pag-asa Island Research Station Strengthens Philippine Marine Scientific Research in the West Philippine Sea
          </p>

          <p class="atlas-light date-text">
            
          </p>
        </div>

        <p class="atlas-light content-text">
          ears of neglect have led to the facility becoming run-down. The Upgrade CIA program...
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
             "UP MSI WPS expeditions 2021
          </p>

          <p class="atlas-light date-text">
           
          </p>
        </div>

        <p class="atlas-light content-text">
           Learn more about the latest explorations of the blue planet deep under our very own seas.
        </p>

      </div>
    </div>
  </div>

</div>
