<div class="news">
  <div class="first-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent()">
        <img src="https://res.cloudinary.com/upmsi/image/upload/v1663816990/News/News%20Icons/1_3_i2eeud.png">
      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent()">
            Conotoxin research wins 2022 Golden Goose Award
 
          </p>

          <p class="atlas-light date-text">

          </p>
        </div>

        <p class="atlas-light content-text">
       UP MSI Scientist Dr. Lourdes J. Cruz and fellow conotoxin researchers have been awarded the 2022 Golden Goose Award.
        </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent1()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent1()">
          The Case For Marine Scientific Research in the Philippines
          </p>

          <p class="atlas-light date-text">
            
          </p>
        </div>

        <p class="atlas-light content-text">
       Experts discussed challenges and opportunities in the approval process and framework for marine scientific research (MSR)...
            </p>

        <!--<div class="read-more" style="color: #384e8a;">
          <p (click)="newsContent()">Read more</p>
        </div>-->
      </div>
    </div>
  </div>


  <div class="sec-content">
    <div class="left-fc1">
      <div class="news-left" (click)="newsContent2()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent2()">
           The First of Many: A Research Expedition Beyond Science
          </p>

          <p class="atlas-light date-text">
            
          </p>
        </div>

        <p class="atlas-light content-text">
          A new year of Science is to be kicked off with the UP Marine Science Institute’s (UP MSI) first research...    
        </p>

      </div>
    </div>
    <div class="right-fc1">
      <div class="news-left" (click)="newsContent3()">

      </div>
      <div class="news-right">
        <div class="date-headline">
          <p class="atlas-bold headline-text" (click)="newsContent3()">
             The UP Marine Science Institute (UP MSI) and the Marine Environment and Resources Foundation, Inc....
          </p>

          <p class="atlas-light date-text">
           
          </p>
        </div>

        <p class="atlas-light content-text">
           The UP Marine Science Institute (UP MSI) and the Marine Environment and Resources Foundation, Inc....
        </p>

      </div>
    </div>
  </div>

</div>
