<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">

<div class="container animate__animated animate__fadeIn animate__delay-1s atlas-light">
  <div class="content1">
    <p class="atlas-blackReg title">PUBLICATIONS</p>

    <div class="publi-container">

    <carousel
    [margin]="margin"
    [freeScroll]="false"
    [transitionTimingFunction]="'ease-in-out'"
    [transitionDuration]="'1000'"
    [height]="'100%'"
    [cellsToShow]="3"
    [cellsToScroll]="2"
    [cellWidth]="'30%'"
    [arrowsOutside]="true"
    [objectFit]="'cover'"
    [overflowCellsLimit]="1"
    [dots]="false"
    >
    <div class="carousel-cell" *ngFor="let item of publication">
      <div class="publi-content">
       <div class="atlas-bold header" style="color: #5ca361;">{{item.title}}</div>
       <div class="sub" style="color: #5ca361;">{{item.date}}</div>
       <div class="body" style="line-height: 1.3;">{{item.content}}</div>
     </div>
    </div>

    </carousel>

    </div>
    <div class="read-more" routerLink="/Resources/publication">
      Read More Publications
    </div>

    <div class="content2">
      <div class="content2-left">

      </div>

      <div class="content2-right">
        <div style="display: flex; flex-direction: column; line-height: 1.2;">
          <span class="atlas-bold title-content" style="color: white;" routerLink="/Resources/library">LIBRARY</span>
        </div>
        <div class="context">
          The UPMSI Library maintains and monitors a collection of books, scientific publications, theses and dissertations, audio-visual and cartographic materials, and reprints.
        </div>

        <div style="display: flex; flex-direction: column; line-height: 1.2;" class="content2-p">
          <span class="atlas-bold title-content" style="color: white;" routerLink="/Resources/museum-&-exhibits">MUSEUM & EXHIBITS</span>
        </div>
        <div class="context" style="color: white; line-height: 1.5;">
          One of the UPMSI objectives is to spread information and awareness about coastal and marine environments. The museum located within the UPMSI building complex showcases fish and corals and other invertebrates.
        </div>

      </div>
    </div>

    <div class="content3">
      <div class="content3-left">
        <div style="display: flex; flex-direction: column; line-height: 1.2;" class="content2-p">
          <span class="atlas-bold title-content" style="color: white;" routerLink="/Resources/collections">Marine Natural Products Legacy Collection</span>
        </div>
        <div style="color: white; line-height: 1.5;" class="context">
          The UPMSI houses several exhibits that showcase marine flora and fauna collections. The exhibits feature locally- and internationally-procured specimens of fish, seaweeds, sea grass, corals, and microbes.
        </div>

      </div>

      <div class="content3-right">

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
