.container .title{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #394e8a;
  margin-left: 120px;
  margin-right: 120px;
}

.publi-container{
  height: 100%;
  margin-left: 120px;
  margin-right: 120px;

}

.publi-content{
  height: 100%;
  border-right: 1px solid black;
  width: 350px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px
}

.content2{
  height: 500px;
  margin: 50px 120px 0 120px;
  display: flex;
  flex-direction: row;
}

.content2-left{
  width: 45%;
  background-image: url(../../../assets/photos/library.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2-right{
  width: 50%;
  background-color: #394e8a;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3{
  height: 500px;
  margin: 50px 120px 0 120px;
  display: flex;
  flex-direction: row;
}

.content3-left{
  width: 55%;
  background-color: #5ca361;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3-right{
  width: 45%;
  justify-content: center;background-image: url(../../../assets/photos/r3.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

