<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">

  <div class="facilities-next" (click)="gotoBML()">
    <span >
      <p class="atlas-light"><span class="back-arrow">&larr;</span> <span class="navi"> Back</span></p>
    </span>
  </div>

  <p class="atlas-blackReg title" style="color: #394e8a;">COMPONENTS</p>
  <p class="atlas-light sub-title">This facility will focus on two main themes: Biodiversity and Ecosystem Health; and Disaster Risk Reduction and Management. Each theme would have research, education, and outreach components.</p>

  <div class="box-card">
    <div class="box-card-content">
      <div class="card">

        <img src="https://dc585.4shared.com/img/hHe_3pvsea/s24/179ace8f1d0/07-components-research?async&rand=0.5256393509065986"/>

        <div class="right">
          <div>
            <p class="card-title atlas-bold" style="color: #384e8a;">RESEARCH</p> <!-- edited: added acrd-title -->

            <div class="card-content atlas-light" [ngClass]="{'limitTextHeight': isReadMore}">
              <p *ngIf="isReadMore">{{ "Puerto Galera is a prime spot for research for biodiversity and a variety of terrestrial and aquatic ecosystems, as well as conservation and management initiatives. It is also nearby to indigenous cultures. Long‐term monitoring program is established that enables better understanding and management of the health of the ecosystems of Puerto Galera. " | slice:0:348}}...</p>
              <p *ngIf="!isReadMore">Puerto Galera is a prime spot for research for biodiversity and a variety of terrestrial and aquatic ecosystems, as well as conservation and management initiatives. It is also nearby to indigenous cultures. Long‐term monitoring program is established that enables better understanding and management of the health of the ecosystems of Puerto Galera. <p>
                 <!-- edited the slice count (348) ^^ -->
              <p *ngIf="!isReadMore" style="margin-top: 6.5%;">These monitoring programs are undertaken in upland, lowland and aquatic ecosystems (e.g. rivers, coral reefs, mangrove forests, and seagrass meadows); facilitating a ridge‐to‐reef approach. These would continue and can expand on existing efforts on monitoring and assessment. Information from this are critical in coming up with effective management plans and determining anthropogenic impacts and management effectiveness. A Disaster Risk Reduction and Management (DRRM) research program can also be developed there that looks into:</p> <!-- edited: added another <p> -->

              <!--<p *ngIf="!isReadMore" style="margin-top: 2.5%;" class="blackItalic">A Disaster Risk Reduction and Management (DRRM) research program can also be developed there that looks into:</p> edited: remove this <p> -->



              <div *ngIf="!isReadMore">
                <ul>
                  <li>
                    <span>
                      Ecosystem vulnerability and resilience
                    </span>
                  </li>

                  <li>
                    <span>
                      Climate impacts on ecosystems and biodiversity
                    </span>
                  </li>

                  <li>
                    <span>
                      Decision support systems for environmental management
                    </span>
                  </li>
                  <li>
                    <span>
                      Early warning systems for communities
                    </span>
                  </li>

                  <li>
                    <span>
                      Renewable energy for local communities
                    </span>
                  </li>

                  <li>
                    <span>
                      Modelling of environmental systems
                    </span>
                  </li>

                  <li>
                    <span>
                      Community adaptation to disasters and climate change
                    </span>
                  </li>

                </ul>
              </div>

              <p *ngIf="!isReadMore" style="margin-top: 2.5%;" class="atlas-light">The site can also be an attractive venue for national and international researchers and educators to conduct their own <br> studies and classes.</p>
            </div>
          </div>

          <div *ngIf="isReadMore" class="read-more">
            <p class="atlas-light" style="color: #384e8a;" (click)="showText()">READ MORE</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-puerto-outreach></app-puerto-outreach>

</div>
<div class="footer">
  <app-footer></app-footer>
</div>

