* {
  font-size: 1.171vw;
}

.bottom {
  padding-bottom: 6%;
}

.title {
  font-size: 1.830vw;
  margin-top: 4.978vw;
}

.sub-title {
  margin-top: 1.318vw;
  line-height: 1.4;
}

.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

.footer{
  margin-top: 9%;
}

.facilities-next{
  color: #384e8a;
  margin-top: 2.196vw;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.back-arrow {
  font-size: 2vw;
  text-decoration: none !important;
}

.navi:hover{
  text-decoration: underline;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.box-card {
  margin-top: 2.123vw;
  height: 100%;
}

.box-card-content {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  background-color: #F5F5F5;
  margin-bottom: 1.318vw;
  padding-left: 1.464vw;
}

.card img {
  float: left;
  padding-right: 1.464vw;
  padding-bottom: 0.732vw;
  width: 27.818vw;
  height: 16vw;
  object-fit: cover;
  margin-top: 1.464vw;

  margin-left: 2.5%;
}

.right {
  padding: 2.196vw 0; /*edited */
  margin-left: 2.5%;
  margin-right: 2.928vw;
}

/*edited: added css */
.card-title{
  margin-top: 1.318vw;
}

.card-content {
  line-height: 1.5;
  margin-top: 0.732vw /*edited*/
}

.read-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: -4%; /*edited */
}

.limitTextHeight {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight2 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight3 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight4 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight5 {
  height: 13.543vw;
  overflow: hidden;
}


ul {
  margin: 0 10%;
  font-size: 1.171vw;
  font-family: 'atlas-light';
}

li {
  margin-top: 1.464vw;
  line-height: .5; /*edited */
  color: #384e8a;
}

li span {
  color: black;
}

@media (max-width: 768px) {
  * {
    font-size:  4vw;
  }

  .title {
    font-size: 5vw;
    margin-top: 4.947916vw;
    line-height: 1.2;
  }

  .sub-title {
    margin-top: 1.302083vw;
  }

  .container{
    margin-top: 1.40625vw
  }

  .facilities-next{
    margin-top:  2.1875vw
  }

  .arrow {
    font-size:  6vw;
    margin-top: 0.3125vw
  }

  .back-arrow {
    font-size: 7vw;
    text-decoration: none !important;
  }

  .hr-line{
    margin: 1.302083vw 9% 1.302083vw 9%;
  }

  .box-card {
    margin-top:  2.5vw;
  }

  .card {
    margin-bottom: 1.5625vw;
    padding-left:  4.739583vw;
  }

  .card img {
    padding-right: 2.3vw;
    padding-bottom: 0.885416vw;
    padding-top: 2vw;
    width:  90%;
    height: 40vw;
    margin-top: 1.66vw;
    float: none;
  }

  .right {
    padding: 1.66vw 0;
    margin-right:  3.385416vw;
    width: 90%;
  }

  .read-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 4%; /*edited */
    margin-bottom: 4%;
  }

  ul {
    margin: 0 10%;
    font-size: 1.171vw;
    font-family: 'atlas-light';
  }


li {
  margin-top: 2vw;
  line-height: 1.5; /*edited */
  color: #384e8a;
}


  .card-content {
    margin-top: 1.09375vw;
  }

  .limitTextHeight, .limitTextHeight2, .limitTextHeight3, .limitTextHeight4, .limitTextHeight5 {
    height: 100%;
  }
}
