
<div class="container">
  <div class="ship-content">
    <div class="ship1">
      <img src="https://dc585.4shared.com/img/FUuW2Fbsiq/s24/179ace995e0/01-panata?async&rand=0.9007100777802093">
      <p class="atlas-blackReg title">MY PANATA</p>
      <p class="atlas-light content">Of the three UP MSI vessels, RV Panata has participated in the most number of projects and expeditions. It has set sail in the West Philippine Sea (2019 & 2021), the Visayan Sea (2019), and the Tubbataha Reef (2019 & 2021).</p>
    </div>

    <div class="ship2">
      <img src="https://dc585.4shared.com/img/5MRyBmzBea/s24/179b0f8a5e0/02-kalayaan?async&rand=0.05712721073731131">
      <p class="atlas-blackReg title">RV KALAYAAN</p>
      <p class="atlas-light content">The compact RV Kalayaan is the main vessel used by the Bolinao Marine Laboratory. It explores the waters of Pangasinan for sample collection and field experiments.</p>
    </div>

    <div class="ship3">
      <img src="https://dc585.4shared.com/img/dmr9-Ueeea/s24/179ace99db0/03-mandaragat?async&rand=0.1313189254355187">
      <p class="atlas-blackReg title">RV MANDARAGAT</p>
      <p class="atlas-light content">RV Mandaragat is a specialized boat used primarily to transport the clay dispersal unit that controls harmful algal bloom (HAB) phenomena by removing HAB cells.</p>
    </div>
  </div>

  <div class="specification">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 grad-offering1" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
        <mat-panel-title class="atlas-light panel-title">SPECIFICATIONS</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="regular-content">
          <div class="content1">
            <div>
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">MY PANATA</p>
            </div>

            <div>
              <p class="atlas-bold">Motor Yacht “Eagle V”</p>
              <p class="atlas-light">Name of ship</p>
            </div>

            <div>
              <p class="atlas-bold">Research Vessel</p>
              <p class="atlas-light">Type of ship</p>
            </div>

            <div>
              <p class="atlas-bold">Navotas</p>
              <p class="atlas-light">Homeport</p>
            </div>

            <div>
              <p class="atlas-bold">Philippines</p>
              <p class="atlas-light">Flag</p>
            </div>

          </div>

          <div class="content2">
            <div>
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">RV KALAYAAN</p>
            </div>

            <div>
              <p class="atlas-bold">Brand:  Yamaha, FR 25</p>
              <p class="atlas-light">Name of ship</p>
            </div>

            <div>
              <p class="atlas-bold">Research Vessel</p>
              <p class="atlas-light">Type of ship</p>
            </div>

            <div>
              <p class="atlas-bold">BML</p>
              <p class="atlas-light">Homeport</p>
            </div>

            <div>
              <p class="atlas-bold">Philippines</p>
              <p class="atlas-light">Flag</p>
            </div>

          </div>

          <div class="content3">
            <div>
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">RV MANDARAGAT</p>
            </div>

            <div>
              <p class="atlas-light">In Progress</p>
            </div>

          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
          (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
        <mat-panel-title class="atlas-light panel-title">CREW</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="regular-content2">
          <div class="content4">
            <div>
              <p class="atlas-bold">BAGTONG, Leonardo S.</p>
              <p class="atlas-light">Boatswain</p>
            </div>

            <div>
              <p class="atlas-bold">CRUZ, Edgardo</p>
              <p class="atlas-light">Shipmaster</p>
            </div>

            <div>
              <p class="atlas-bold">IDOR, JEFFREY</p>
              <p class="atlas-light">Seaman</p>
            </div>

            <div>
              <p class="atlas-bold">MAALIHAN, Reyan</p>
              <p class="atlas-light">Second Mate</p>
            </div>

            <div>
              <p class="atlas-bold">MANALO, Michael C.</p>
              <p class="atlas-light">Quartermaster</p>
            </div>
          </div>

          <div class="content4">
            <div>
              <p class="atlas-bold">NEPUMOCENO, John Rey</p>
              <p class="atlas-light">Cook II</p>
            </div>

            <div>
              <p class="atlas-bold">NIETES, Reynald</p>
              <p class="atlas-light">Marine Engineman 1</p>
            </div>

            <div>
              <p class="atlas-bold">QUINDOY, Abraham Jr</p>
              <p class="atlas-light">First Mate</p>
            </div>

            <div>
              <p class="atlas-bold">VILLARUEL, Ricky</p>
              <p class="atlas-light">First Engineer</p>
            </div>

            <div>
              <p class="atlas-bold">SERVALLOS, Rollando</p>
              <p class="atlas-light">Chief Engineer</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <div>
      <!--<a href="https://narfleet.herokuapp.com/" target="_blank">  </a>
        edited: ^^ do not remove, just hide for now to make it not clickable -->

        <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
          <span style="margin-top: 8px;">
            <p class="atlas-light">Visit the NARFleet Site</p>
          </span>
          <mat-icon class="arrow" >arrow_forward</mat-icon>
        </div>

    </div>
  </div>
</div>
