.container {
  margin: 0 4.5%
}

.ship-content {
  height: 100%;
  margin-top: 2.855vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.660vw;
}

.ship1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 22.328vw !important;
  width: 22.328vw !important;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  color: #384e8a;
  font-size: 1.537vw;
  margin-top: 1.464vw;
}

.content {
  margin-top: 0.732vw;
  line-height: 1.4;
  text-align: center;
  font-size: 1.098vw;
}

.panel-title{
  color: white;
  padding: 1.098vw 0;
  font-size: 1.025vw;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
  margin-bottom: -1.464vw !important;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
  border-width: 0 0.146vw 0.146vw 0 !important;
  padding: 0.220vw !important;
}


.specific-class{
  border-radius: 3.660vw;
}

.grad-offering{
  background-color: #fafafa;
  margin-top: 3.294vw !important;
  padding: 0 11.464vw; /* added */
}

.grad-offering1{
  background-color: #fafafa;
  margin-top: 1.464vw !important;
  padding: 0 11.464vw; /* added */
}


.closed-main-head{
  background-color: #384e8a;
  border-radius: 3.660vw;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1.464vw;
  font-size: 1.025vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.regular-content .left div{
  margin-top: 0.732vw;
  line-height: 1.4;
}

.specification {
   margin-top: 2.196vw;
}

.content1 {
  border-right: 0.073vw solid #5da563;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content1 div:nth-child(n+2) {
  margin-top: 1.098vw;
}

.content2 {
  border-right: 0.073vw solid #5da563;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content2 div:nth-child(n+2) {
  margin-top: 1.098vw;
}

.content3 div:nth-child(n+2){
  margin-top: 1.098vw;
}

/* edited : added css */;
.content4 div:nth-child(n+2){
  margin-top: 1.098vw;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}


.content4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.regular-content2{
  display: flex;
  flex-direction: row;
  margin-top: 1.464vw;
  font-size: 1.025vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
  margin-top: 3%;
}

.context {
  line-height: 1.4;
}

@media (max-width: 756px) {
  *{
    font-size: 2.5vw;
  }


.container {
  margin: 5% 0% 0% 0%;
}


  .ship-content {
    margin-top: 4vw;
    column-gap: 4vw;
    row-gap: 5vw;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }

  img {
    height: 45vw !important;
    width: 45vw !important;
  }

  .title {
    font-size: 5vw;
    margin-top: 4vw;
  }

  .content {
    margin-top: 2vw;
    font-size: 4vw;
  }

  .panel-title{
    color: #fff;
    padding: 3vw 0;
    font-size: 3vw;
  }

  .specific-class{
    border-radius: 5vw;

  }

  ::ng-deep .specific-class > .mat-expansion-indicator:after {
    color: white;
    border-width: 0 .35vw .35vw 0 !important;
    height: .9vw;
    width: .9vw;
    padding: 0.220vw !important;
  }

  .grad-offering{
   margin-top: 6vw !important;
   padding: 0 1.0416vw;
  }

  .grad-offering1{
    margin-top:  5vw !important;
    padding: 0 1.0416vw;
  }


  .closed-main-head{
    border-radius:  5vw;
  }

  .regular-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1.464vw;
    font-size: 1.025vw !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .regular-content .left div{
    margin-top: 0.625vw;
  }

  .specification {
     margin-top: 1.822916vw;
  }

  .content1 div:nth-child(n+2) {
    margin-top: 0.9375vw;
  }

  .content2 div:nth-child(n+2) {
    margin-top: 0.9375vw;
  }

  .content3 div:nth-child(n+2){
    margin-top: 0.9375vw;
  }

  .arrow{
    font-size: 7vw;
  }

  .arrow-text{
    font-size: 4vw;
  }

  .more-vacancies{
    margin-left: 9%;
    margin-right: 0;
    height: 20vw;
    margin-top: 0;
    margin-bottom: 0;
  }

}
