.container {
  margin: 0 4.5%
}

.ship-content {
  height: 100%;
  margin-top: 39px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.ship1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ship3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 305px !important;
  width: 305px !important;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  color: #384e8a;
  font-size: 21px;
  margin-top: 20px;
}

.content {
  margin-top: 10px;
  line-height: 1.4;
  text-align: center;
}

.panel-title{
  color: white;
  padding: 15px 0;
  font-size: 16px;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
  margin-bottom: -20px !important;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 50px;
}

.grad-offering{
  background-color: #fafafa;
  margin-top: 45px !important;
}

.grad-offering1{
  background-color: #fafafa;
  margin-top: 20px !important;
}


.closed-main-head{
  background-color: #384e8a;
  border-radius: 50px;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.regular-content .left div{
  margin-top: 10px;
  line-height: 1.4;
}

.specification {
   margin-top: 30px;
}

.content1 {
  border-right: 1px solid #5da563;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content1 div:nth-child(n+2) {
  margin-top: 15px;
}

.content2 {
  border-right: 1px solid #5da563;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content2 div:nth-child(n+2) {
  margin-top: 15px;
}

.content3 div:nth-child(n+2){
  margin-top: 15px;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.more-vacancies{
  color: #384e8a;
  margin-top: 39px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 120px;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

.arrow{
  font-size: 30px;
  margin-left: 10px;
}

@media (min-width: 1600px) {
  *{
    font-size: 19px;
  }

  .ship-content {
    margin-top: 46px;
    column-gap: 59px;
  }

  img {
    height: 357px;
    width: 357px;
  }

  .title {
    font-size: 25px;
    margin-top: 23px;
  }

  .content {
    margin-top: 12px;
  }

  .panel-title{
    padding: 18px 0;
    font-size: 19px;
  }

  .specific-class{
    border-radius: 59px;
  }

  .grad-offering{
    margin-top: 43px !important;
  }

  .grad-offering1{
    margin-top: 23px !important;
  }


  .closed-main-head{
    border-radius: 59px;
  }

  .regular-content{
    margin-top: 23px;
    font-size: 19px;
  }

  .regular-content .left div{
    margin-top: 12px;
  }

  .specification {
     margin-top: 35px;
  }

  .content1 div:nth-child(n+2) {
    margin-top: 18px;
  }

  .content2 div:nth-child(n+2) {
    margin-top: 18px;
  }

  .content3 div:nth-child(n+2){
    margin-top: 18px;
  }

  .more-vacancies{
    margin-top: 46px;
    height: 141px;
  }

  .arrow{
    font-size: 35px;
    margin-left: 12px;
  }
}

@media (min-width: 1900px) {
  *{
    font-size: 23px;
  }

  .ship-content {
    margin-top: 55px;
    column-gap: 70px;
  }

  img {
    height: 424px;
    width: 424px;
  }

  .title {
    font-size: 30px;
    margin-top: 27px;
  }

  .content {
    margin-top: 14px;
  }

  .panel-title{
    padding: 21px 0;
    font-size: 23px;
  }

  .specific-class{
    border-radius: 70px;
  }

  .grad-offering{
    margin-top: 51px !important;
  }

  .grad-offering1{
    margin-top: 27px !important;
  }


  .closed-main-head{
    border-radius: 70px;
  }

  .regular-content{
    margin-top: 27px;
    font-size: 23px;
  }

  .regular-content .left div{
    margin-top: 14px;
  }

  .specification {
     margin-top: 42px;
  }

  .content1 div:nth-child(n+2) {
    margin-top: 21px;
  }

  .content2 div:nth-child(n+2) {
    margin-top: 21px;
  }

  .content3 div:nth-child(n+2){
    margin-top: 21px;
  }

  .more-vacancies{
    margin-top: 55px;
    height: 167px;
  }

  .arrow{
    font-size: 42px;
    margin-left: 14px;
  }
}
