
<div class="container">
  <div class="ship-content">
    <div class="ship1">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146633/Facilities/4%20Floating%20Assets/01-panata_oiaspw.png">
      <p class="atlas-blackReg title">MY PANATA</p>
      <p class="atlas-light content">Of the three UP MSI vessels, RV Panata has participated in the most number of projects and expeditions. It has set sail in the West Philippine Sea (2019 & 2021), the Visayan Sea (2019), and the Tubbataha Reef (2019 & 2021).</p>
    </div>

    <div class="ship2">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146633/Facilities/4%20Floating%20Assets/02-kalayaan_xppbso.png">
      <p class="atlas-blackReg title">RV KALAYAAN</p>
      <p class="atlas-light content">The compact RV Kalayaan is the main vessel used by the Bolinao Marine Laboratory. It explores the waters of Pangasinan for sample collection and field experiments.</p>
    </div>

    <div class="ship3">
      <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146637/Facilities/4%20Floating%20Assets/03-mandaragat_yot5qy.png">
      <p class="atlas-blackReg title">RV MANDARAGAT</p>
      <p class="atlas-light content">RV Mandaragat is a specialized boat used primarily to transport the clay dispersal unit that controls harmful algal bloom (HAB) phenomena by removing HAB cells.</p>
    </div>
  </div>

  <div class="specification">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 grad-offering1" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
        <mat-panel-title class="atlas-light panel-title">SPECIFICATIONS</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="regular-content">
          <div class="content1">
            <div>
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">MY PANATA</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Motor Yacht “Eagle V”</p>
              <p class="atlas-light">Name of ship</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Research Vessel</p>
              <p class="atlas-light">Type of ship</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Navotas</p>
              <p class="atlas-light">Homeport</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Philippines</p>
              <p class="atlas-light">Flag</p>
            </div>

          </div>

          <div class="content2">
            <div>
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">RV KALAYAAN</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Brand:  Yamaha, FR 25</p>
              <p class="atlas-light">Name of ship</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Research Vessel</p>
              <p class="atlas-light">Type of ship</p>
            </div>

            <div class="context">
              <p class="atlas-bold">BML</p>
              <p class="atlas-light">Homeport</p>
            </div>

            <div class="context">
              <p class="atlas-bold">Philippines</p>
              <p class="atlas-light">Flag</p>
            </div>

          </div>

          <div class="content3">
            <div class="context">
              <p class="atlas-blackReg" style="margin-bottom: 1.5%; color: #384e8a;">RV MANDARAGAT</p>
            </div>

            <div>
              <p class="atlas-light">In Progress</p>
            </div>

          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
          (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
        <mat-panel-title class="atlas-light panel-title">CREW</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="regular-content2">
          <div class="content4">
            <div class="context"> <!-- edited9 : changed all names and positions of crew -->
              <p class="atlas-bold">Capt. Edgardo B. Cruz</p>
              <p class="atlas-light">Master</p>
            </div>

            <div class="context">
              <p class="atlas-bold">C/O Abraham Q. Quindoy Jr.</p>
              <p class="atlas-light">Chief Officer</p>
            </div>

            <div class="context">
              <p class="atlas-bold">2/O Reyan S. Maalihan</p>
              <p class="atlas-light">Second Officer</p>
            </div>

            <div class="context">
              <p class="atlas-bold">2/E Ricky I Villaruel</p>
              <p class="atlas-light">Second Engineer</p>
            </div>

            <div class="context">
              <p class="atlas-bold">A/B1 Michael C. Manalo</p>
              <p class="atlas-light">Able Bodied Seaman</p>
            </div>
          </div>

          <div class="content4">
            <div class="context">
              <p class="atlas-bold">BSN. Leonardo S. Bagtong</p>
              <p class="atlas-light">Buson</p>
            </div>

            <div class="context">
              <p class="atlas-bold">A/B2 Jeffrey S. Idor</p>
              <p class="atlas-light">Able Bodied Seaman</p>
            </div>

            <div class="context">
              <p class="atlas-bold">OLR Reynald P. Nietes</p>
              <p class="atlas-light">Oiler</p>
            </div>

            <div class="context">
              <p class="atlas-bold">John Rey M. Nepumoceno</p>
              <p class="atlas-light">Chief Cook</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <div>
      <!--<a href="https://narfleet.herokuapp.com/" target="_blank">  </a>
        edited: ^^ do not remove, just hide for now to make it not clickable -->

        <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
          <span class="arrow-text" routerLink="/Academics/courses-offered">
            <p class="atlas-light"><span class="navi">Visit the NARFleet Site</span> <span class="arrow">&rarr;</span></p>
          </span>
        </div>

    </div>
  </div>
</div>
