.container{
  margin: 0 120px;
}

.content-header{
  height: 450px;
  position: relative;
  /* background-image: url("../../../../assets/photos/coursesheader.png");
  background-size: cover;
  background-repeat: no-repeat; */
}

mat-expansion-panel{
  margin-bottom: -20px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 8px;
  left: 16px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
  gap: 20px;
}

.title{
  font-size: 20px;
}

mat-expansion-panel{
  border-color: white;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 50px;
}

.grad-offering{
  margin-top: 50px;
  padding: 0 130px;
}

.core-courses{
  height: 100%;
  margin-left: 20px;
  border-left: 3px solid #5ca361;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.core-content{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.core-courses div{
  margin-left: 20px;
}

.closed-main-head{
  background-color: #394e8a;
  border-radius: 50px;
}
