<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content-header">
    <img src="../../../../assets/photos/coursesheader.png">
    <div class="left-content">
      <p class="atlas-blackReg title">MSI COURSES OFFERED</p>
      <p class="atlas-light" style="line-height: 1.4;">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquid voluptate modi ex, nulla labore velit repellat tempore facilis sunt odio aliquam id excepturi? Sit omnis eligendi eaque officiis quos.
      </p>
    </div>
  </div>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#5ca361' : '#394e8a'">
        <mat-panel-title class="atlas-light" style="color: white;">GRADUATE OFFERING</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0 top-10" (opened)="panelOpenState1 = true"
              (closed)="panelOpenState1 = false" hideToggle>
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState1 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState1 ? '#394e8a' : 'black'">COURSES OFFERED FOR FIRST SEMESTER</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0 top-neg20" hideToggle (opened)="panelOpenState2 = true"
                (closed)="panelOpenState2 = false" hideToggle>
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState2 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState2 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0 top-neg10"(opened)="panelOpenState3 = true"
                (closed)="panelOpenState3 = false" hideToggle>
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState3 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState3 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>

               <mat-expansion-panel class="mat-elevation-z0 top-neg10"(opened)="panelOpenState4 = true"
                (closed)="panelOpenState4 = false" hideToggle>
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState4 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState4 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 top-10" hideToggle (opened)="panelOpenState6 = true"
            (closed)="panelOpenState6 = false ">
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title [class]="panelOpenState6 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState6 ? '#394e8a' : 'black'">COURSES OFFERED PREVIOUSLY</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0 top-neg20" hideToggle (opened)="panelOpenState7 = true"
              (closed)="panelOpenState7 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState7 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState7 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState8 = true"
              (closed)="panelOpenState8 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState8 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState8 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

             <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState9 = true"
              (closed)="panelOpenState9 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState9 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState9 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 top-10" hideToggle (opened)="panelOpenState10 = true"
            (closed)="panelOpenState10 = false ">
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title [class]="panelOpenState10 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState10 ? '#394e8a' : 'black'">COURSES WITHOUT REGULAR FACULTY</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0 top-neg20" hideToggle (opened)="panelOpenState11 = true"
              (closed)="panelOpenState11 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState11 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState11 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState12 = true"
              (closed)="panelOpenState12 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState12 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState12 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

             <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState13 = true"
              (closed)="panelOpenState13 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState13 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState13 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>


      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState14 = true"
          (closed)="panelOpenState14 = false">
        <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState14 ? '#5ca361' : '#394e8a'">
        <mat-panel-title class="atlas-light" style="color: white;">PROFESSIONAL IN MASTERS IN TROPICAL MARINE ECOSYSTEM MANAGEMENT (PM-TMEM)</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0 top-10" hideToggle (opened)="panelOpenState15 = true"
              (closed)="panelOpenState15 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState15 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState15 ? '#394e8a' : 'black'">COURSES OFFERED FOR FIRST SEMESTER</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0 top-neg20" hideToggle (opened)="panelOpenState16 = true"
                (closed)="panelOpenState16 = false">
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState16 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState16 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState17 = true"
                (closed)="panelOpenState17 = false">
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState17 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState17 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>

               <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState18 = true"
                (closed)="panelOpenState18 = false">
              <mat-expansion-panel-header class="specific-class">
              <mat-panel-title [class]="panelOpenState18 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState18 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="core-courses">
                <div class="core-content">
                  <p style="font-weight: bold;">MS 201</p>
                  <p>Ocean Physics and Chemistry</p>
                  <p>CBJaraula/LTDavid</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 210</p>
                  <p>Physical Oceanography</p>
                  <p>CVillanoy/LTDavid/IRodriguez</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Chemical Oceanography</p>
                  <p>MSDMcGlone/GSJacinto</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 220</p>
                  <p>Biological Oceanography</p>
                  <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
                </div>

                <div class="core-content">
                  <p style="font-weight: bold;">MS 270</p>
                  <p>Biochemistry of Marine Organisms</p>
                  <p>GPConcepcion/AOLluisma/CGConaco</p>
                </div>
              </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 top-10" hideToggle (opened)="panelOpenState19 = true"
            (closed)="panelOpenState19 = false ">
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title [class]="panelOpenState19 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState19 ? '#394e8a' : 'black'">COURSES OFFERED PREVIOUSLY</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0 top-neg20" hideToggle (opened)="panelOpenState20 = true"
              (closed)="panelOpenState20 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState20 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState20 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState21 = true"
              (closed)="panelOpenState21 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState21 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState21 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

             <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState22 = true"
              (closed)="panelOpenState22 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState22 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState22 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0 top-10" hideToggle (opened)="panelOpenState23 = true"
            (closed)="panelOpenState23 = false ">
          <mat-expansion-panel-header class="specific-class">
          <mat-panel-title [class]="panelOpenState23 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState23 ? '#394e8a' : 'black'">COURSES WITHOUT REGULAR FACULTY</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0 top-neg20" (opened)="panelOpenState24 = true"
              (closed)="panelOpenState24 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState24 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState24 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>CORE COURSES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState25 = true"
              (closed)="panelOpenState25 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState25 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState25 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>ELECTIVES</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>

             <mat-expansion-panel class="mat-elevation-z0 top-neg10"hideToggle (opened)="panelOpenState26 = true"
              (closed)="panelOpenState26 = false">
            <mat-expansion-panel-header class="specific-class">
            <mat-panel-title [class]="panelOpenState26 ? 'atlas-bold' : 'atlas-light'" [style.color]="panelOpenState26 ? '#394e8a' : 'black'"><mat-icon class="fiber-manual">fiber_manual_record</mat-icon>SEMINAR</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="core-courses">
              <div class="core-content">
                <p style="font-weight: bold;">MS 201</p>
                <p>Ocean Physics and Chemistry</p>
                <p>CBJaraula/LTDavid</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 210</p>
                <p>Physical Oceanography</p>
                <p>CVillanoy/LTDavid/IRodriguez</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Chemical Oceanography</p>
                <p>MSDMcGlone/GSJacinto</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 220</p>
                <p>Biological Oceanography</p>
                <p>MHTYap/DFLOnda (Bio Oce)/MRoleda (Physio)/CGConaco (Microbial)</p>
              </div>

              <div class="core-content">
                <p style="font-weight: bold;">MS 270</p>
                <p>Biochemistry of Marine Organisms</p>
                <p>GPConcepcion/AOLluisma/CGConaco</p>
              </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>


      </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
