.container{
  margin: 0 9%;
}

ul {
  margin: 0 1.7%;
  font-size: 16px;
  font-family: 'atlas-light';
}

li {
  margin-top: 20px;
  line-height: 1.5;
  color: #384e8a;
}

li span {
  color: #666666;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content {
  color: #5da563;
  font-size: 14px;
  margin-top: 20px;
}

.banner {
  width: 100%;
  height: 500px;
  margin-top: 40px;
  position: relative;
}

.banner-content {
  color: #666666;
  margin-top: 10px;
  line-height: 1.4;
}

.visit {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: #384e8a;
  cursor: pointer;
}

.hr-line {
  margin: 15px 9% 30px 9%;
}

.facilities-next{
  color: #384e8a;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start ;
  cursor: pointer;
}

.navi:hover{
  text-decoration: underline;
}

.next{
  color: #384e8a;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.arrow {
  font-size: 35px;
  margin-top: 3px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  line-height: 1.2;
  margin-top: 40px;
  color: #384e8a;
  font-size: 30px;
  text-transform: uppercase;
}

.lab-title {
  line-height: 1.2;
  color: white;
  font-size: 30px;
}

.lab-content {
  color: white;
  margin-top: 10px;
  line-height: 1.4;
}

.lab-cite {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: italic; /* edited */
}

.lab-context {
  color: #ffffff;
  margin-top: 10px;
  line-height: 1.3;
}

.lab-highlight{
  margin-top: 26px;
  height: 420px;
  display: flex;
  flex-direction: row;
}

.lab-highlight .left{
  width: 60%;
}

.lab-highlight .right{
  width: 40%;
  background-color: #384e8a;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlights-content{
  margin-top: 5px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.highlights-content .top{
  height: 100%;
}

.highlights-content .top img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.arrow-forward {
  font-size: 40px;
}

.right-bottom-logo {
  position: absolute;
  height: 100px;
  width: 100px;
  object-fit: cover;
  right: 3%;
  bottom: 5%;
}

.right-bottom-logo2 {
  position: absolute;
  height: 60px;
  width: 180px;
  object-fit: cover;
  right: 3%;
  bottom: 5%;
}

@media (min-width: 1600px) {
  ul {
    font-size: 19px;
  }

  li {
    margin-top: 23px;
  }

  .right-bottom-logo {
    height: 117px;
    width: 117px;
  }

  .content {
    font-size: 16px;
    margin-top: 23px;
  }

  .banner {
    height: 586px;
    margin-top: 47px;
  }

  .banner-content {
    margin-top: 12px;
    font-size: 19px;
  }

  .visit {
    margin-top: 47px;
    font-size: 19px;
  }

  .hr-line {
    margin: 18px 9% 35px 9%;
  }

  .facilities-next{
    margin-top: 35px;
    font-size: 19px;
  }

  .next{
    margin-top: 35px;
    font-size: 19px;
  }

  .arrow {
    font-size: 41px;
    margin-top: 4px;
  }

  .title{
    margin-top: 47px;
    font-size: 35px;
  }

  .lab-title {
    font-size: 35px;
  }

  .lab-content {
    margin-top: 12px;
    font-size: 19px;
  }

  .lab-cite {
    margin-top: 23px;
    font-size: 19px;
  }

  .lab-context {
    margin-top: 12px;
    font-size: 19px;
  }

  .lab-highlight{
    margin-top: 30px;
    height: 491px;
  }

  .lab-highlight .right{
    padding: 0 59px;
  }

  .highlights-content{
    margin-top: 6px;
    height: 234px;
    width: 351px;
  }

  .arrow-forward {
    font-size: 47px;
  }

  .right-bottom-logo2 {
    height: 70px;
    width: 211px;
  }
}

@media (min-width: 1900px) {
  ul {
    font-size: 23px;
  }

  li {
    margin-top: 27px;
  }

  .right-bottom-logo {
    height: 139px;
    width: 139px;
  }

  .right-bottom-logo2 {
    height: 83px;
    width: 251px;
  }

  .content {
    font-size: 19px;
    margin-top: 27px;
  }

  .banner {
    height: 696px;
    margin-top: 56px;
  }

  .banner-content {
    margin-top: 14px;
    font-size: 23px;
  }

  .visit {
    margin-top: 56px;
    font-size: 23px;
  }

  .hr-line {
    margin: 21px 9% 41px 9%;
  }

  .facilities-next{
    margin-top: 41px;
    font-size: 23px;
  }

  .next{
    margin-top: 41px;
    font-size: 23px;
  }

  .arrow {
    font-size: 49px;
    margin-top: 5px;
  }

  .title{
    margin-top: 56px;
    font-size: 41px;
  }

  .lab-title {
    font-size: 41px;
  }

  .lab-content {
    margin-top: 14px;
    font-size: 23px;
  }

  .lab-cite {
    margin-top: 27px;
    font-size: 23px;
  }

  .lab-context {
    margin-top: 14px;
    font-size: 23px;
  }

  .lab-highlight{
    margin-top: 36px;
    height: 583px;
  }

  .lab-highlight .right{
    padding: 0 70px;
  }

  .highlights-content{
    margin-top: 7px;
    height: 278px;
    width: 416px;
  }

  .arrow-forward {
    font-size: 56px;
  }
}
