<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">

  <div class="facilities-next" (click)="gotoResearch()">
    <mat-icon style="font-size: 35px; margin-top: 3px;">arrow_back</mat-icon>
    <span class="navi" style="line-height: 1.3;">
      <p class="atlas-bold">RESEARCH</p>
      <p class="atlas-light">Laboratories</p>
    </span>
  </div>

  <div class="content atlas-light">
    <p style="color: #5da563; font-size: 14px; margin-top: 20px;">Viewing: Biological Oceanography and Modeling of Ecosystem Laboratory</p>
  </div>

  <div style="width: 100%; height: 500px; margin-top: 40px;">
    <img src="../../../../assets/photos/biological-lab/biological3.JPG">
  </div>

  <div class="title atlas-blackReg">
    Biological Oceanography and Modeling of Ecosystem Laboratory
  </div>

  <p class="atlas-light" style="color: #666666; margin-top: 10px; line-height: 1.4;">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores omnis harum consectetur mollitia sapiente, impedit voluptas molestias deserunt fuga vel tempore aliquid dolor sunt fugiat magni assumenda tenetur a facilis voluptate repellendus earum officiis? Aperiam dolorem, officiis beatae, quisquam aliquam temporibus hic ullam nobis, accusantium sapiente quam iure unde suscipit?
  </p>

  <span style="margin-top: 40px; display: flex; justify-content: flex-end; text-decoration: underline; color: #384e8a; cursor: pointer;">VISIT OUR FULL SITE</span>

  <p class="atlas-blackReg" style="line-height: 1.2;
  margin-top: 30px;
  color: #384e8a;
  font-size: 30px;">Gallery</p>

  <div class="gallery">
    <img src="../../../../assets/photos/biological-lab/biological2.JPG">
    <img src="../../../../assets/photos/biological-lab/biological.jpg">
    <img src="../../../../assets/photos/biological-lab/biological4.JPG">
  </div>

  <div class="profile">
    <div class="left">
      <img src="../../../../assets/photos/biological-lab/profile.png">
    </div>

    <div class="right">
      <p class="atlas-blackReg" style="line-height: 1.2;
      color: #384e8a;
      font-size: 30px;">Principal Investigator</p>

      <p class="atlas-bold" style="margin-top: 15px; color: #384e8a; font-size: 20px;">Aletta Concepcion T. Yñguez, Ph.D.</p>

      <p class="atlas-light" style="color: #666666; margin-top: 15px; line-height: 1.4;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eum commodi voluptatum obcaecati porro nihil iusto sunt labore pariatur repellendus consequuntur aperiam quam totam, tempora, fugit exercitationem tempore doloribus dicta eius officia, minus ut. Harum possimus veniam autem eum totam culpa dolorem, quo minus fugit quod maiores fuga sit molestiae quasi? Aut, repellat explicabo? Harum itaque minus vitae non nisi!
      </p>
    </div>
  </div>

  <div class="lab-highlight">
    <div class="left">
      <img src="../../../../assets/photos/sampleImage1.jpg">
    </div>

    <div class="right">
      <p class="atlas-blackReg" style="line-height: 1.2;
      color: white;
      font-size: 30px;">Lab Highlight</p>

    <p class="atlas-bold" style="color: white; margin-top: 10px;">Lorem ipsum dolor</p>

    <div style="margin-top: 5px; display: flex; flex-direction: row; justify-content: space-between;">
      <p class="atlas-light" style="color: #ffffff;">Loerm ipsum</p>
      <p class="atlas-light" style="color: #ffffff;">March 2021</p>
    </div>

    <p class="atlas-light" style="color: #ffffff; margin-top: 20px; line-height: 1.3;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, consequatur repellendus officia corporis consectetur dolorem amet perspiciatis! Nobis voluptatem distinctio similique laborum repellendus. Sapiente placeat itaque ab quasi expedita minus.</p>

    </div>
  </div>

  <p class="atlas-blackReg" style="line-height: 1.2;
  margin-top: 30px;
  color: #384e8a;
  font-size: 30px;">Contact Us</p>

  <div class="contact">
    <div class="left">
      <img src="../../../../assets/photos/biological-lab/biome.png">
    </div>

    <div class="right">
      <p class="atlas-bold">Rm. 343/344</p>
      <p class="atlas-bold">Velasquez St., Marine Science Institute University of the</p>
      <p class="atlas-bold">Philippines Diliman, Quezon City 1101, Philippines</p>

      <p class="atlas-bold" style="margin-top: 25px;">Email: cconaco@msi.upd.edu.ph</p>
      <p class="atlas-bold">Tel: +63 2 636-9355</p>
      <p class="atlas-bold">Fax: +63 2 924-7678</p>
    </div>
  </div>

  <div class="contact">
    <div class="left">
    </div>

    <div class="right">
      <img src="../../../../assets/photos/fb.png" style="margin-left: -20px; cursor: pointer;">
      <img src="../../../../assets/photos/twitter.png" style="margin-left: -5px; cursor: pointer;">
      <img src="../../../../assets/photos/insta.png" style="cursor: pointer;">
    </div>
  </div>

  <div class="next">
    <mat-icon style="font-size: 40px;">arrow_forward</mat-icon>
    <span class="navi" style="line-height: 1.3;">
      <p class="atlas-bold">Next</p>
      <p class="atlas-light">Marine Biochemistry Laboratory</p>
    </span>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
