<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">

  <div class="facilities-next" (click)="gotoResearch()">
    <mat-icon class="arrow">arrow_back</mat-icon>
    <span class="navi" style="padding-left: 2%; line-height: 1.3;">
      <p class="atlas-bold">RESEARCH</p>
      <p class="atlas-light">Laboratories</p>
    </span>
  </div>

  <div class="content atlas-light">
    <p>Viewing: {{myArr[0].viewing}}</p>
  </div>

  <div class="banner">
    <img [src]="myArr[0].photoBanner">
    <img [src]="myArr[0].bannerLogo" *ngIf="!algaeBool" class="right-bottom-logo"/>
    <img [src]="myArr[0].bannerLogo2" *ngIf="algaeBool" class="right-bottom-logo2"/>
  </div>

  <div class="title atlas-blackReg" style="text-transform: uppercase;">
    {{myArr[0].title}}
  </div>

  <p class="atlas-light banner-content">
    {{myArr[0].content}}
  </p>

  <span class="visit">VISIT OUR FULL SITE</span>

  <!--  -->
  <app-labpage-gallery></app-labpage-gallery>

  <div class="lab-highlight">
    <div class="left">
      <img [src]="myArr[0].labHighBanner">
    </div>

    <div class="right">
      <p class="atlas-blackReg lab-title">Highlight</p>

    <p class="atlas-bold lab-content">{{myArr[0].labHighlight}}</p>

    <div class="lab-cite">
      <p class="atlas-light" style="color: #ffffff; line-height: 1.3;">{{myArr[0].labAuthor}}</p>
      <p class="atlas-light" style="color: #ffffff;">{{myArr[0].labDate}}</p>
    </div>

    <p class="atlas-light lab-context">{{myArr[0].labContent}}</p>

    <p class="atlas-bold lab-content">{{myArr[0].labHighlight2}}</p>

    <div class="lab-cite">
      <p class="atlas-light" style="color: #ffffff; line-height: 1.3;">{{myArr[0].labAuthor2}}</p>
      <p class="atlas-light" style="color: #ffffff;">{{myArr[0].labDate2}}</p>
    </div>
    </div>
  </div>

  <app-labpage-contact></app-labpage-contact>

  <!-- <div class="next">
    <mat-icon class="arrow-forward">arrow_forward</mat-icon>
    <span class="navi" style="padding-left: 2%; line-height: 1.3;">
      <p class="atlas-bold">Next</p>
      <p class="atlas-light">Marine Biochemistry Laboratory</p>
    </span>
  </div> -->
</div>

<div style="margin-top: 9%;">
  <app-footer></app-footer>
</div>
