<app-nav></app-nav>
<hr class=" animate__animated animate__fadeIn animate__delay-1s hr-line">
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <p class="atlas-bold title">VACANCIES AND OPPORTUNITIES</p>

  <div class="center-box">
    <div class="box-content">
      <p class="atlas-bold">Interested candidates may apply by submitting the following by <span class="date">April 17, 2020</span></p>
      <ul class="indent-content">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quos.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi distinctio veritatis illo libero modi quibusdam!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quos.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eligendi eius saepe quam, alias ducimus similique temporibus adipisci voluptates delectus.</li>
      </ul>

      <div class="send-to-email">
        <em>Applications should be sent by e-mail to:</em>
        <div class="indent-content">
          <p>Dr. LAURA T. DAVID</p>
          <p>Director</p>
          <p>Marine Science Institute</p>
          <p>University of the Philippines</p>
          <p>Email: <span class="atlas-bold" style="color: #394e8a;">msiadmin@msi.edu.ph</span></p>
        </div>
    </div>
    <p class="justified-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nesciunt, aperiam provident voluptate, voluptates harum saepe voluptas adipisci nostrum nihil laudantium quibusdam hic! Numquam reiciendis perspiciatis sapiente quas, earum magni atque quasi odit tempora illo voluptas itaque a dolore, repudiandae deleniti, ducimus exercitationem excepturi quae voluptate voluptatem dicta? Deleniti, ducimus.</p>
    </div>
  </div>

  <div class="bottom-content">
    <p class="atlas-bold" style="color: #394e8a;">JOB OPPORTUNITIES FACULTY POSITIONS AVAILABLE MARINE SCIENTIST</p>

    <p class="atlas-light job-context">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo cumque non labore similique atque facere porro a temporibus dolorem dolores animi consequatur ipsum, ullam reprehenderit odio eligendi dignissimos itaque harum saepe reiciendis! Ea distinctio dolor impedit quia, a animi magnam dicta corporis quasi. Ipsum unde aliquam voluptatibus omnis. Temporibus nihil sit nisi minus recusandae architecto voluptatibus, praesentium, hic modi, reprehenderit perspiciatis a adipisci animi laudantium aperiam! Eos esse quos cupiditate ad voluptates eum commodi, labore tempore sunt explicabo iste fugit? Facere minus optio ducimus similique eum assumenda dolorum, libero voluptatem eveniet temporibus, ad quidem tenetur accusantium consequatur voluptatum, suscipit sed!</p>
  </div>

  <div class="atlas-bold download-forms">
    <p>Download Endorsement Letter Template</p>
    <p>Download Resume Template</p>
  </div>

</div>
<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s" (click)="moreVancancies()">
  <mat-icon class="arrow">arrow_forward</mat-icon>
  <span style="margin-top: 8px;">
    <p class="atlas-light">MORE VACANCIES AND OPPORTUNITIES</p>
  </span>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
