.container{
  margin: 0 120px;
}

.box-content{
  border: 1px solid #384e8a;
  height: 100%;
  width: 560px;
  padding: 20px 20px 0 20px;
  font-size: 14px;
  line-height: 1.5;
}

.bottom-content{
  margin-top: 50px;
  padding: 0 100px;
}

.more-vacancies{
  color: #384e8a;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  gap: 8px;
}

.more-vacancies:hover{
  text-decoration: underline;
}
