.container{
  margin: 0 9%;
  margin-top: 2.928vw;
}

.box-content{
  height: 100%;
  width: 51.245vw;
  display: flex;
  flex-direction: column;
}

.box-content img {
  height: 27.818vw;
}

.bottom-content{
  margin-top: 2.928vw;
  width: 51.245vw;
  font-size: 1.171vw;
}

.fb{
  height: 2.562vw !important;
  width: 2.562vw !important;
  cursor: pointer;
  position: absolute;
  margin-top: -1.098vw;
  margin-left: -4.026vw;
}

.twitter{
  height: 2.562vw !important;
  width: 2.562vw !important;
  cursor: pointer;
  position: absolute;
  margin-top: 1.977vw;
  margin-left: -4.026vw;
}

.btn {
  background-color: #394e8a;
  border: none;
   border-radius: 10px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #394e8a;
}

.dl{
display: flex;
align-items: center;
justify-content: center;
margin-top: 15px;
}

img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

 .pdf{
  height: 700px;
  width: 51.245vw;
  display: flex;
  flex-direction: column;
  }

  .box-content{
  height: 100%;
  width: 51.245vw;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.center-content3{
  place-content: center;
  margin-top: 4.392vw;
  width: 100%;
  padding-bottom: 50%;
}

.box-content2{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.box-content2 img {
  height: 60.818vw;
}

  .box-content5{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: center;
  margin-bottom: none;
}

.box-content5 video {
  height: 45.818vw;
  width: 97.718vw;
}

.box-content4b{
  display: left;
  flex-direction: left;
  text-align: left;
  margin-left: 8.2vw;
}

.mob4{
  width: 90%;
  height: 100%;
  float: left;
  line-height: 1.4;
}

.subtitle{
  font-size: 20px;
}

a{
text-decoration: underline;
}

hr { 
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


.img-container{
  margin-top: 3.660vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.928vw;
}

.img-content{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.left{
  width: 100%;
  height: 15.373vw;
}

.right{
  width: 100%;
  margin-top: 1.464vw;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.title{
  font-size: 2.928vw;
  color: #394e8a;
}

.date{
  color: #394e8a;
  margin-top: 1.245vw;
  font-size: 1.171vw;
}

.date-name{
  color: #394e8a;
  margin-top: 0.512vw;
  font-size: 1.171vw;
}

.center-content{
  display: grid;
  place-content: center;
  margin-top: 4.392vw;
}

.center-content2{
  display: grid;
  place-content: center;
  margin-top: 4.392vw;
}

.center-content4{
  display: grid;
  place-content: center;
  margin-top: 4.392vw;
}

.photo-box{
  height: 100%;
  background-color: #394e8a;
  color: white;
  padding: 1.464vw;
  padding-top: .001vw !important; 
  padding-bottom: 2vw !important;
}


.photo-content{
  line-height: 1.3;
  font-size: 1.171vw;
  margin-bottom: 2.196vw;
  margin-top: 1.196vw;
}


.photo-courtesy{
  font-size: 1.025vw;
}

.location-content{
  margin-top: 2.196vw;
  line-height: 1.5;
}

.location-content3{
  margin-top: 2.196vw;
  line-height: 1.5;
}

.location-content2{
  margin-top: 2.196vw;
  line-height: 1.5;
}

.news{
  margin-top: 3.660vw;
  font-size: 2.196vw;
  color: #394e8a;
}

.news-title{
  font-size: 1.171vw;
}

.news-content{
  color: #4c515a;
  margin-top: 0.732vw;
  padding-right: 0.732vw;
  font-size: 1.025vw;
}

.footer{
  margin-top: 9%;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 1.171vw;
  margin-bottom: -7%;
}

@media (max-width: 768px) {
  .container{
    margin: 0 9%;
    margin-top: 6%;
  }

  .box-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .box-content img {
    height: 52vw;
  }

  .bottom-content{
    margin-top: 6vw!important;
    width: 100%;
    font-size: 4vw;
    margin: 0 8%;
  }

  .fb{
    display: none;
  }

  .twitter{
    display: none;
  }

  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .pdf{
  width:330px; 
  height:300px; 
  display: flex;
align-items: center;
justify-content: center;
  }


  .img-container{
    margin-top: 6.5vw;
    display: flex;
    flex-direction: column;
  }

  .img-content{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .img-content:nth-child(n+2) {
    margin-top: 10%;
  }

  .left{
    width: 100%;
    height: 50vw;
  }

  .right{
    width: 100%;
    margin-top: 1.464vw;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
  }

  .hr-line{
    margin: 4.5% 9% 2% 9%;
  }

  .title{
    font-size: 5vw;
    color: #394e8a;
  }

  .date{
    color: #394e8a;
    margin-top: 3%;
    font-size: 4vw;
  }

  .date-name{
    color: #394e8a;
    margin-top: 1.5%;
    font-size: 4vw;
  }

  .center-content{
    display: grid;
    place-content: center;
    margin-top: 4.392vw;
  }

  .center-content2{
    display: grid;
    place-content: center;
    margin-top: 8.392vw;
    margin: 0 7%;
  }


  .center-content2{
    display: grid;
    place-content: center;
    margin-bottom: 10.392vw;
  }

   .center-content4{
    display: grid;
    place-content: center;
    margin-top: 5.392vw;
    margin-bottom: 5.392vw;
  }

  .photo-box{
    height: 100%;
    background-color: #394e8a;
    color: white;padding: 7%;
  }

  .photo-content{
    line-height: 1.3;
    font-size: 4vw;
    margin-bottom: 2.196vw;
  }

  .photo-courtesy{
    font-size: 3vw;
    margin-top: 7%;
  }

  .location-content{
    margin-top: 2.196vw;
    line-height: 1.5; 
      }

   .location-content2{
    margin-top: 2.196vw;
    line-height: 1.5;
    margin: 0 7%;
  }

  .location-content3{
    margin-top: 5.196vw;
    margin-bottom: 3.196vw;
    line-height: 1.5; 
    font-size: 5vw !important;
     }


  .news{
    margin-top: 7.660vw;
    font-size: 5vw;
    color: #394e8a;
  }

  .news-title{
    font-size: 4vw;
    margin-top: 3%;
  }

  .news-content{
    color: #4c515a;
    margin-top: 2%;
    padding-right: 0;
    font-size: 4vw;
  }

  .footer{
    margin-top: 9%;
  }

  .arrow{
    font-size: 7vw;
  }

  .arrow-text{
    font-size: 4vw;
  }

  .more-vacancies{
    margin-left: 9%;
    margin-right: 9%;
    height: 15vw;
    margin-top: 2%;
    margin-bottom: -3%;
  }

  .box-content5{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: center;
  margin-bottom: none;
  margin-top: 3vw;
}

.box-content5 video {
  height: 47vw;
  width: 97vw;
}

.box-content4b{
  display: left;
  flex-direction: left;
  text-align: left;
  margin: 0 7%;
}

.mob4{
  width: 100%;
  height: 100%;
  line-height: 1.4;
}

.subtitle{
  font-size: 4vw;

}

.box-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;

  }

  .box-content img {
    height: 52vw;
  }

  .center-content3{
  place-content: center;
  padding-top: 5.392vw;
  width: 100%;
  padding-bottom: 40%;
}

.box-content2{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.box-content2 img {
  height: 60.818vw;
}

.location2{
  margin: 0 7%L;
}
}
