<app-nav></app-nav>

<div class="container">
  <div class="content-header">
    <img src="https://dc697.4shared.com/img/lJLiDeRBiq/s24/179c041d350/01-banner?async&rand=0.6332133231729">
    <div class="left-content">
      <p class="atlas-blackReg title">PUBLICATIONS</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The UPMSI is a prolific research institution that prides itself in quality scientific output. With focus on the core research areas of marine biological diversity & tropical ecosystems, archipelagic oceanography, marine biotechnology, and climate change, the various research groups of the institute communicate their contributions by publishing in ISI- and SCOPUS-listed scientific journals and attending relevant conferences. Take a look at the most recent publications of the UPMSI, dating back to 2017.

      </p>
    </div>
  </div>

  <app-publication-list></app-publication-list>



</div>

<div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
  <span class="arrow-text" routerLink="/Resources/library">
    <p class="atlas-light">TO LIBRARY</p>
  </span>
  <mat-icon class="arrow" style="padding-left: .5%;" routerLink="/Resources/library">arrow_forward</mat-icon>
</div>

<div>
  <app-footer></app-footer>
</div>


