<app-nav></app-nav>
<div class="container">
  <div class="content-header">
    <img src="https://dc628.4shared.com/img/nlAcAH5Qiq/s24/179c042d520/01-banner?async&rand=0.05593078786381822">
    <div class="left-content">
      <p class="atlas-blackReg title">THE G.T. VELASQUEZ PHYCOLOGICAL HERBARIUM</p> <!-- EDITED -->
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        Established in the early 1970s, the G.T. Velasquez Phycological Herbarium is witness to the diversity of Philippine seaweeds and seagrass. It was built through the efforts of Dr. Gavino Trono, Jr. as a tribute to the late National Scientist Dr. Gregorio T. Velasquez. With over 55,000 voucher specimens, the Herbarium is the largest collection of marine macrobenthic algae and seagrass both in the Philippines and in the ASEAN region.
      </p>
    </div>
  </div>

  <div class="what-we-do">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="atlas-blackReg title" style="color: #384e8a; margin-bottom: 2.5%;">THE FACILITY</p> <!-- edited : removed read more and adjusted the texts -->
      <p class="right-content-p">Dr. Velasquez’ legacy revolves around promoting awareness and conservation of algae. The Herbarium aims to implement that through education, archiving, research, and resource management. It showcases the collection of Philippine seaweeds and seagrass to foreign and local visitors, serves as a depository for type specimens and voucher specimens published in the literature, and services the needs of individuals doing in-depth taxonomic and biodiversity studies. Of the 55,000 voucher specimens, 93% were obtained locally, while 7% were collected from other countries. These specimens belong to 500 genera of 2,100 species.  The Herbarium </p>
    </div>
  </div>
  <div class="bottom-content-container">
    <div class="bottom-content">
      <p class="atlas-light"> comprises 46% Rhodophyceae, 20% Chlorophyceae, 18%  Phaeophyceae  comprises 46% Rhodophyceae, 20% Chlorophyceae, 18% Phaeophyceae, 9% Cyanophyceae, and 7% minor groups.</p>
    </div>
    <br />
    <div class="bottom-content">
      <p class="atlas-light">A number of specimens were collected before the twentieth century. 290 collections are dated before the 1900s. The oldest collection, dated 1750, features the coralline alga Lithothamnion conchatum obtained from Dillon's Beach in Marine County, California, USA.</p>
    </div>
    <br />
  </div>


  <div class="the-founder">
    <div class="left-image"></div>
    <div class="right-content">
      <div>
       <p class="atlas-blackReg title" style="color: #384e8a;">ABOUT DR. VELASQUEZ</p>
        <!-- <p class="atlas-bold sub-title" style="color: #384e8a;">JOSELYN O. RAZAL</p> -->
        <p class="right-content-p atlas-light">Dr. Gregorio T. Velasquez was a Professor Emeritus of Botany of the University of the Philippines. He led the scientific progress of Philippine phycology with his dedication to collecting and archiving freshwater and marine algae. His 1986 publication, Blue green algae of the Philippines, contains descriptions and geographical and ecological distributions of 162 species and varieties of cyanophytes. His body of work includes 42 basic and 77 scientific papers on the subject.</p>
        <p class="right-content-p atlas-light">The multi-awarded academician served as Chairman for Biological Sciences of the National Research Council of the Philippines and Department Chairman of the Department of Botany in the University of the Philippines. In 1982, he was recognized as a National Scientist.</p>

      </div>
    </div>
  </div>

    <div class="content-header-contact">
      <div class="bml-complex">
        <img src="https://dc570.4shared.com/img/fuh3b6A0ea/s24/179d48c7f40/04-footer3x?async&rand=0.4353156387519883">
        <div class="right-content1 row">
          <div class="column">
              <p class="atlas-blackReg title" style="color: #394e8a;">CONTACT US</p>
              <div class="contact-marg" style="color: black;">
                <p class="atlas-light">MSI Library Facebook Page</p>
              </div>
              <div class="contact-marg" style="color: black;">
                <p class="atlas-light"><span class="atlas-bold">Email:</span> library@msi.upd.edu.ph</p>
                <p class="atlas-light"><span class="atlas-bold">Tel No:</span> (632) 8981-8500 loc 2913</p>
              </div>
           </div>

        </div>

      </div>
    </div>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" routerLink="/Resources/collections/RVA-Marine-Microalgal-Culture-collection-RVA-MMCC">
      <p class="atlas-light"><span class="navi" style="text-transform: uppercase;">TO RVA-Marine Microalgal Culture Collection</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>

</div>

<div class="footer">
  <app-footer></app-footer>
</div>


