* {
  font-size: 16px;
}

.bottom {
  padding-bottom: 6%;
}

.title {
  font-size: 25px;
  margin-top: 68px;
}

.sub-title {
  margin-top: 18px;
}

.container{
  margin: 0 9%;
  margin-top: 20px;
}

.footer{
  margin-top: 9%;
}

.facilities-next{
  color: #384e8a;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.navi {
  margin-top: 1%;
}

.navi:hover{
  text-decoration: underline;
}

.arrow {
  font-size: 35px;
  margin-top: 3px;
}

.hr-line{
  margin: 15px 9% 30px 9%;
}

.box-card {
  margin-top: 29px;
  height: 100%;
}

.box-card-content {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  background-color: #F5F5F5;
  margin-bottom: 18px;
  padding-left: 56px;
}

.card img {
  float: left;
  padding-right: 35px;
  padding-bottom: 10px;
  width: 380px;
  height: 220px;
  object-fit: cover;
  margin-top: 20px;
}

.right {
  padding: 20px 0;
  margin-right: 40px;
}

.card-content {
  line-height: 1.5;
  margin-top: 15px;
}

.read-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: -1%;
}

.limitTextHeight {
  height: 185px;
  overflow: hidden;
}

.limitTextHeight2 {
  height: 185px;
  overflow: hidden;
}

.limitTextHeight3 {
  height: 185px;
  overflow: hidden;
}

.limitTextHeight4 {
  height: 185px;
  overflow: hidden;
}

.limitTextHeight5 {
  height: 185px;
  overflow: hidden;
}

@media (min-width: 1600px) {
  * {
    font-size: 19px;
  }

  .title {
    font-size: 29px;
    margin-top: 80px;
  }

  .sub-title {
    margin-top: 21px;
  }

  .container{
    margin-top: 23px;
  }

  .facilities-next{
    margin-top: 35px;
  }

  .arrow {
    font-size: 41px;
    margin-top: 5px;
  }

  .hr-line{
    margin: 21px 9% 41px 9%;
  }

  .box-card {
    margin-top: 40px;
  }

  .card {
    margin-bottom: 25px;
    padding-left: 77px;
  }

  .card img {
    padding-right: 48px;
    padding-bottom: 14px;
    width: 445px;
    height: 258px;
    margin-top: 27px;
  }

  .right {
    padding: 27px 0;
    margin-right: 55px;
  }

  .card-content {
    margin-top: 18px;
  }

  .limitTextHeight, .limitTextHeight2, .limitTextHeight3, .limitTextHeight4, .limitTextHeight5 {
    height: 217px;
  }
}


@media (min-width: 1900px) {
  * {
    font-size: 23px;
  }

  .title {
    font-size: 34px;
    margin-top: 95px;
  }

  .sub-title {
    margin-top: 25px;
  }

  .container{
    margin-top: 27px;
  }

  .facilities-next{
    margin-top: 42px;
  }

  .arrow {
    font-size: 49px;
    margin-top: 6px;
  }

  .hr-line{
    margin: 25px 9% 49px 9%;
  }

  .box-card {
    margin-top: 48px;
  }

  .card {
    margin-bottom: 30px;
    padding-left: 91px;
  }

  .card img {
    padding-right: 57px;
    padding-bottom: 17px;
    width: 528px;
    height: 306px;
    margin-top: 32px;
  }

  .right {
    padding: 32px 0;
    margin-right: 65px;
  }

  .card-content {
    margin-top: 21px;
  }

  .limitTextHeight, .limitTextHeight2, .limitTextHeight3, .limitTextHeight4, .limitTextHeight5 {
    height: 258px;
  }
}
