* {
  font-size: 1.171vw;
}

.card-content p {
  font-family: 'atlas-light';
}

.bottom {
  padding-bottom: 6%;
}

.title {
  font-size: 1.830vw;
  margin-top: 4.978vw;
}

.sub-title {
  margin-top: 1.318vw;
}

.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

.footer{
  margin-top: 9%;
}

.facilities-next{
  color: #384e8a;
  margin-top: 2.196vw;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.back-arrow {
  font-size: 2vw;
  text-decoration: none !important;
}

.navi:hover{
  text-decoration: underline;
}


.hr-line{
  margin: 1.098vw 9% 2.196vw 9%;
}

.box-card {
  margin-top: 2.123vw;
  height: 100%;
}

.box-card-content {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  background-color: #F5F5F5;
  margin-bottom: 1.318vw;
  padding-left: 4.100vw;
}

.card img {
  float: left;
  padding-right: 2.562vw;
  padding-bottom: 0.732vw;
  width: 27.818vw;
  height: 17.5vw;
  object-fit: cover;
  margin-top: 1.464vw;
}

.right {
  padding: 1.464vw 0;
  margin-right: 2.928vw;
}

.card-content {
  line-height: 1.5;
  margin-top: 1.098vw;
}

.read-more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: -1%;
}

.limitTextHeight {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight2 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight3 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight4 {
  height: 13.543vw;
  overflow: hidden;
}

.limitTextHeight5 {
  height: 13.543vw;
  overflow: hidden;
}

