.title{
  font-size: 25px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container{
  width: 1000px !important;
  margin-bottom: -2%;
}

.border-green{
  color: #394e8a;
  border-left: 4px solid #5ca361;
  padding-left: 20px;
}

.box-card {
  margin-top: 20px;
  height: 100%;
}

.box-card-content {
  height: 100%;
  width: 100%;
}

.card {
  height: 239px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.card .left {
  width: 31%;
  margin: 8px;
}

.card .right {
  width: 62.2%;
  margin-right: 40px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  font-family: 'atlas-light';
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.3;
}

@media (min-width: 1600px) {
  * {
    font-size: 19px;
  }

  .title{
    font-size: 29px;
  }

  .container{
    width: 1171px !important;
  }

  .box-card {
    margin-top: 34px;
  }

  .card {
    height: 280px;
    margin-bottom: 21px;
  }

  .card .left {
    margin: 9px;
  }

  .card .right {
    margin-right: 47px;
    font-size: 19px;
  }

  .card-content {
    font-size: 19px;
    margin-top: 18px;
  }
}

@media (min-width: 1900px) {
  * {
    font-size: 23px;
  }

  .title{
    font-size: 34px;
  }

  .container{
    width: 1391px !important;
  }

  .box-card {
    margin-top: 40px;
  }

  .card {
    height: 333px;
    margin-bottom: 25px;
  }

  .card .left {
    margin: 11px;
  }

  .card .right {
    margin-right: 56px;
    font-size: 23px;
  }

  .card-content {
    font-size: 23px;
    margin-top: 21px;
  }
}
