/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.backdropBackground {
  background-color: black;
  opacity: 0.8 !important;
}
.mat-dialog-container {
  padding: 0px !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}

.cdk-overlay-container {
  z-index: 999999 !important;
}

mat-expansion-panel-header {
  height: 100% !important;
}

.custom-nav-class{
  z-index: 9999999999;
}

dialog::backdrop {
  background: rgba(0, 0, 0) !important;
}

@font-face{
  font-family: 'atlas-light';
  src: url("https://res.cloudinary.com/dqs7gg03v/raw/upload/v1623321704/Fonts/AtlasGrotesk-Light_jom77u.otf");
  font-weight: 100;
}

@font-face{
  font-family: 'atlas-bold';
  src: url("https://res.cloudinary.com/dqs7gg03v/raw/upload/v1623321704/Fonts/AtlasGrotesk-Bold_mocbtm.otf");
}

@font-face{
  font-family: 'atlas-blackReg';
  src: url("https://res.cloudinary.com/dqs7gg03v/raw/upload/v1623321704/Fonts/Atlas_Grotesk_Web_Black_Regular_t0wgrn.ttf");
}

@font-face{
  font-family: 'Atlas Grotesk LC Web Reg Italic';
  src: url("https://res.cloudinary.com/dqs7gg03v/raw/upload/v1623321702/Fonts/Atlas_Grotesk_LC_Web_Reg_Italic_dgzcsg.ttf");
}

.blackItalic {
  font-family: 'Atlas Grotesk LC Web Reg Italic';
}

.atlas-light{
  font-family: 'atlas-light';
}

.atlas-bold{
  font-family: 'atlas-bold';
}

.atlas-blackReg{
  font-family: 'atlas-blackReg';
}

/*---- Owl Carousel Style ----*/

.owl-theme .owl-dots{
  text-align: center;
  position: relative;
  top: -5vw;
}

 .owl-theme .owl-dots .owl-dot {
   display: inline-block;
   zoom: 1;
 }

 .owl-theme .owl-dots .owl-dot span {
   width: 1.17vw;
   height: 1.17vw;
   margin: 2% .5vw;
   background: #9c9595;
   display: block;
   backface-visibility: visible;
   transition: opacity .2s ease;
   border-radius: 30px;
 }

 .owl-theme .owl-dots .owl-dot.active span{
  background: #ebebec;
 }

 .owl-theme .owl-dots .owl-dot:hover span {
   background: rgb(190, 181, 168);
 }

 @media (max-width: 576px) {
  .owl-theme .owl-dots{
    text-align: center;
    position: relative;
    top: -7vw;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 1.5vw;
    height: 1.5vw;
    margin: 3% 1vw;
  }
 }

