* {
  font-size: 1.171vw;
}

.container{
  margin: 0 9%;
  margin-top: 1.464vw;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 1.830vw;
}

.box-content{
  height: 21.962vw;
  width: 73.206vw;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
}

.highlights-content{
  margin-top: 0.366vw;
  height: 20.498vw;
  width: 21.962vw;
  display: flex;
  flex-direction: column;
}

.highlights-content .top{
  height: 60%;
}

.highlights-content .top img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.left{
  width: 50%;
  overflow: hidden;
}

.left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.left img:hover{
  transform: scale(1.1);
}

.right{
  width: 50%;
  margin-left: 2.196vw;
}


.bottom-content{
  margin-top: 1.464vw;
  margin-bottom: -1.830vw;
  line-height: 1.5;
  height: 100%;
  width: 73.206vw;
}


.read-more{
  color: #394e8a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
}

.read-more:hover{
  text-decoration: underline;
}


.center-box{
  display: grid;
  place-content: center;
  margin-top: 5.124vw;
}

.center-box2{
  display: grid;
  place-content: center;
  margin-top: 1.464vw;
}

.date{
  color: #394e8a;
  margin-top: 0.366vw;
  padding-right: 1.464vw;
  border-right: 3px solid #5ca361;
}

.location{
  color: #394e8a;
  margin-top: 0.366vw;
  padding-left: 1.464vw;
}

.history-content{
  font-size: 1.171vw;
  margin-top: 1.098vw;
}

.bottom-context{
  line-height: 1.4;
  margin-top: 0.732vwv;
}

.top-15{
  margin-top: 10.366vw;
}

.onek-wid2{
  width: 73.206vw !important;
  height: 20.498vw;
}


.top-10{
  margin-top: 0.732vwv;
}

.font-14{
  font-size: 1.025vw;
}

.arrow{
  font-size: 2vw;
  padding-left: .5vw;
  text-decoration: none !important;
}

.navi:hover {
  text-decoration: underline;
}

.more-vacancies{
  color: #384e8a;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  height: 8.785vw;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  width: 73.206vw;
  font-size: 1.171vw;
}

