img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 1.830vw;
}

.bml-complex{
  height: 21.962vw;
  overflow: hidden;
}

.bml-complex img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.bml-complex img:hover{
  transform: scale(1.1);
}

.bml-complex .right-content{
  position: absolute;
  z-index: 1;
  left: 1.464vw;
  bottom: 12%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.content-header2{
  position: relative;
  width: 73.206vw !important;
}

.bml-border{
  padding-left: 1.464vw;
  margin-top: 5.124vw;
}

.top-15{
  margin-top: 1.098vw;
}

.position{
  margin-top: 1.464vw;
  margin-left: 1.830vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-more{
  width: 18.302vw;
  font-size: 1.171vw;
  padding-top: 0.732vw 2.928vw;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5da563;
  color: white;
}
