<div class="content-header2">
  <div class="bml-complex">
    <img src="https://dc585.4shared.com/img/IqWAWgSaea/s24/179ace95b48/05-objectives?async&rand=0.1239422971111126">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-blackReg title">OBJECTIVES</p>
        <p class="atlas-light top-15" style="line-height: 1.4;">The main objective of this project then is to repair, refurbish and upgrade the existing marine laboratory in Pagasa Island, the westernmost territory of the country. Specifically, we aim to provide facilities for all visiting scientists by having basic equipment for both lab and field works, improve conditions for living that would allow scientists and researchers to stay on the island for longer periods of studies, establish a strong presence of science work in Pagasa and nearby waters of KIG, and help the locals of Pagasa understand their environment through scientific studies.</p>
      </div>
    </div>
  </div>
  <p class="atlas-light mobile-bml" style="line-height: 1.4;">The main objective of this project then is to repair, refurbish and upgrade the existing marine laboratory in Pagasa Island, the westernmost territory of the country. Specifically, we aim to provide facilities for all visiting scientists by having basic equipment for both lab and field works, improve conditions for living that would allow scientists and researchers to stay on the island for longer periods of studies, establish a strong presence of science work in Pagasa and nearby waters of KIG, and help the locals of Pagasa understand their environment through scientific studies.</p>
</div>


