<div class="content-header2">
  <div class="bml-complex">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/pag-asa%2F05-objectives.png?alt=media&token=1df9ddb1-f77b-423c-b45f-01da4b1441d7">
    <div class="right-content">
      <div class="bml-border">
        <p class="atlas-blackReg title">OBJECTIVES</p>
        <p class="atlas-light top-15" style="line-height: 1.4;">The main objective of this project then is to repair, refurbish and upgrade the existing marine laboratory in Pag-asa Island, the westernmost territory of the country. Specifically, we aim to provide facilities for all visiting scientists by having basic equipment for both lab and field works, improve conditions for living that would allow scientists and researchers to stay on the island for longer periods of studies, establish a strong presence of science work in Pag-asa and nearby waters of KIG, and help the locals of Pag-asa understand their environment through scientific studies.</p>
      </div>
    </div>
  </div>
</div>
