
<div class="container">
  <div class="img-bg animate__animated animate__fadeIn animate__delay-1s">
    <div class="slider">
      <div class="sliderchild">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="imagecon overlay">
              <!-- kate : changed all 4 "img src" -->
                <img src="https://res.cloudinary.com/upmsi/image/upload/v1648628767/News/Features/herbarium/T23036_Udotea_geppii_edited_xrmkgr.jpg" style="opacity: 95%;">
                <div class="left-content img-container">
                  <div class="boxed">
                  <div class="img-content">
                    <p class="atlas-light">The fan-shaped and calcified green seaweed <em>Udotea geppiorum</em> is typically found in sandy substrates.</p>
                  </div>
                </div>
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648628740/News/Features/herbarium/DSC02396_y9nwiv.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">The green seaweed <em>Caulerpa lentillifera</em>, locally known as ‘lato’ or ‘ar-arusip’, is an economically important species that is widely consumed as salad in the Philippines. The species is typically harvested from the wild but is also cultivated in several areas in the country such as in Mactan, Cebu.</p>
                  </div>
                </div>
            </div>
          </ng-template>
         <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630519/News/Features/herbarium/DSC02386_um3pok.jpg">
              <div class="left-content img-container" >
                  <div class="img-content">
                    <p class="atlas-light"><em>Codium</em> species, locally known as ‘popoklo’, are known for their spongy texture. Popoklo are considered to be food delicacy  and are consumed raw or in salad especially in northern Philippines.</p>
                  </div>
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630516/News/Features/herbarium/T23011_Asparagopsis_taxiformis_edited_qwu1wm.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">Economically important red seaweed Asparagopsis taxiformis, a species that produce bioactives that can significantly reduce the amount of methane belched by cows. The species is currently being developed for mass production as feed additive.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630538/News/Features/herbarium/T24618_Halymenia_durvillei_specimen_a6w3v4.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">The red seaweed <em>Halymenia durvillei</em> is common in rocky areas in many tropical reefs including the Philippines. It is known to produce high-value natural products such as carrageenan and pigments r-phycoerythrin and r-phycocyanin. Due to its economic potential a culture technology for the species was recently developed by Dr. Gavino C. Trono Jr. and his team.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630510/News/Features/herbarium/T25993_Porphyra_crispata_edited_xljqgc.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">A <em>pedazo</em> made from wild-harvested and dried red seaweed <em>Phycocalidia</em>, locally known as gamet. Gamet is an economically important species in the Philippines, with a relatively narrow distribution range in the country – that is, it is only known to occur naturally in the rocky and wave-swept coastal regions of northern Philippines.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630517/News/Features/herbarium/T23530_Gracilaria_sullivanii_specimen_bupv1d.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light"><em>Gracilaria sullivanii</em>, a Philippine endemic, belongs to a group of seaweeds that are known to produce agar and agarose, both of which are commercially important derivatives with wide applications and use in various industries.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630512/News/Features/herbarium/T24395_Padina_australis_edited_y3bsrs.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">The fan-shaped <em>Padina australis</em> is among the few brown seaweeds known to have calcification (accumulation of calcium salts) on its thallus.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648632340/News/Features/herbarium/T24092_Lobophora_variegata_specimen_1_qwvpls.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">Brown seaweeds from the genus Lobophora are ecologically important species in tropical reef ecosystems. Recent studies on Lobophora suggested that the diversity of the genus is grossly underestimated, including those in the Philippines.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630512/News/Features/herbarium/T24876_Sargassum_currimaoense_edited_jhqcy8.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light"><em>Sargassum currimaoense</em> an endemic brown seaweed species that was discovered and described by Dr. Gavino C. Trono, Jr. in 1994.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630518/News/Features/herbarium/DSC02331_niidqk.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">Locally known as ‘balbalolang’, <em>Hydroclathrus tenuis</em> is a food species  that widely distributed in the Indo-Pacific Ocean. The species is known to occur seasonally, sometimes in forming blooms, on shallow intertidal reefs or seagrass beds.</p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648632798/News/Features/herbarium/unnamed_uxwyop.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light"><em>Scinaia sp.</em></p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630517/News/Features/herbarium/T23435_Titanophora_weberae_edited_be6oaq.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">T<em>Titanophora weberae</em></p>
                  </div>
                </div>
            </div>
          </ng-template>  
           <ng-template carouselSlide>
            <div class="imagecon">
              <img src="https://res.cloudinary.com/upmsi/image/upload/v1648630508/News/Features/herbarium/T25981_Zellera_tawallina_specimen_gmvztg.jpg">
              <div class="left-content img-container">
                  <div class="img-content">
                    <p class="atlas-light">T<em>Zellera tawallina</em></p>
                  </div>
                </div>
            </div>
          </ng-template>  
          
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
