* {
  font-size: 1.171vw;
}

.contact{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2.196vw; /*edited*/
}

.contact .left{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .left2{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .left3{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .left img{
  height: 14.641vw;
  width: 14.641vw;
  object-fit: cover;
}

.contact .left2 img{
  height: 5.857vw;
  width: 14.641vw;
  object-fit: cover;
}

.contact .left3 img{
  height: 7.321vw;
  width: 14.641vw;
  object-fit: cover;
}


.contact .right{
  width: 80%;
  margin-left: 3.660vw;
  line-height: 1.5;
  color: #384e8a;
  margin-top: 1.464vw; /*added*/
}

.contact .right img:nth-child(n+2) {
  padding-left: 0.878vw !important;
}

.contact .right img{
  height: 2.928vw;
  width: 2.928vw;
}

.title {
  line-height: 1.2;
  margin-top: 3.294vw;
  color: #384e8a;
  font-size: 2.196vw;
}

.email {
  margin-top: 2.928vw;
}

.soc-logos {
  margin-left: -0.732vw;
  margin-top: 3.148vw;
}

@media (max-width: 756px) {
  * {
    font-size:4vw;
  }

  .contact{
    margin-top: 1.927083vw; /*edited*/
    flex-direction: column;
  }

  .contact .left{
    width: 100%;
    display: block;
  }

  .contact .left img{
    height: 35vw;
    width: 35vw;
    margin-top: 3%;
  }

  .contact .left2 img{
    height: 21vw;
    width: 55vw;
  }

  .contact .left3 img{
    height: 30vw;
    width: 40vw;
  }

  .contact .right{
    margin-left: 0;
    margin-top:  2.083vw; /*added*/
  }

  .contact .right img:nth-child(n+2) {
    padding-left: 0.885416vw !important;
  }

  .contact .right img{
    height: 2.9166vw;
    width:  2.9166vw;
  }

  .title {
    margin-top: 10vw;
    font-size: 5vw;
  }

  .email {
    margin-top: 2.9166vw;
  }

  .soc-logos {
    margin-left: -0.72916vw;
    margin-top: 3.072916vw;
  }
}

