<div class="container">
  <div class="top">
    <img [src]="imgSrc">
  </div>
  <div class="right">
    <div class="content">
      <p class="atlas-bold" style="color: #394e8a; font-size: 16px;">Sample Title</p>
      <p class="atlas-light" style="font-size: 14px; margin-top: 10px; line-height: 1.3;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero suscipit iste porro minima molestias velit soluta debitis deleniti repudiandae ipsum ullam, harum sapiente dolor quibusdam quisquam quaerat quae cum earum. Magni nesciunt aliquam enim quaerat eos quasi optio exercitationem officia fugit deleniti iste natus officiis porro minus maxime cupiditate ut, in expedita recusandae deserunt. Officiis, saepe eum nihil illo cupiditate corporis ex! Cupiditate debitis, alias fuga porro vitae assumenda. Illum.</p>
    </div>

    <p class="atlas-light" style="padding: 0 30px 20px 30px; font-size: 14px;">Photo by: Marine Science Institute</p>
  </div>
</div>
