.container{
  display: flex;
  flex-direction: column;
  height: 610px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top{
  height: 60%;
}
.right{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content{
  padding: 20px 30px 0 30px;
}

.title{
  color: #394e8a; font-size: 16px;
}

.context{
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.3;
}

.photo-by{
  padding: 0 30px 20px 30px;
  font-size: 14px;
}


@media (min-width: 1466px){
  .container{
    display: flex;
    flex-direction: column;
    height: 710px;
  }

  .content{
    padding: 25px 35px 0 35px;
  }

  .title{
    font-size: 18px;
  }

  .context{
    font-size: 16px;
    margin-top: 15px;
  }

  .photo-by{
    padding: 0 35px 25px 35px;
    font-size: 16px;
  }
}

@media (min-width: 1666px){
  .container{
    display: flex;
    flex-direction: column;
    height: 810px;
  }

  .content{
    padding: 30px 40px 0 40px;
  }

  .title{
    font-size: 20px;
  }

  .context{
    font-size: 18px;
    margin-top: 20px;
  }

  .photo-by{
    padding: 0 40px 30px 40px;
    font-size: 18px;
  }
}

@media (min-width: 1866px){
  .container{
    height: 910px;
  }

  .content{
    padding: 35px 45px 0 45px;
  }

  .title{
    font-size: 22px;
  }

  .context{
    font-size: 20px;
    margin-top: 25px;
  }

  .photo-by{
    padding: 0 45px 35px 45px;
    font-size: 20px;
  }
}

@media (min-width: 2066px){
  .container{
    height: 1010px;
  }

  .content{
    padding: 40px 50px 0 50px;
  }

  .title{
    font-size: 24px;
  }

  .context{
    font-size: 22px;
    margin-top: 30px;
  }

  .photo-by{
    padding: 0 50px 40px 50px;
    font-size: 22px;
  }
}

@media (min-width: 2266px){
  .container{
    height: 1110px;
  }

  .content{
    padding: 45px 55px 0 55px;
  }

  .title{
    font-size: 26px;
  }

  .context{
    font-size: 24px;
    margin-top: 35px;
  }

  .photo-by{
    padding: 0 55px 45px 55px;
    font-size: 24px;
  }
}

@media (min-width: 2466px){
  .container{
    height: 1210px;
  }

  .content{
    padding: 50px 60px 0 50px;
  }

  .title{
    font-size: 28px;
  }

  .context{
    font-size: 26px;
    margin-top: 40px;
  }

  .photo-by{
    padding: 0 60px 50px 60px;
    font-size: 26px;
  }
}

@media (min-width: 2560px){
  .container{
    height: 1310px;
  }

  .content{
    padding: 55px 60px 0 55px;
  }

  .title{
    font-size: 30px;
  }

  .context{
    font-size: 28px;
    margin-top: 45px;
  }

  .photo-by{
    padding: 0 65px 55px 65px;
    font-size: 28px;
  }
}
