<div class="container">
  <div class="top">
    <img [src]="imgSrc">
  </div>
  <div class="right">
    <div class="content">
      <p class="atlas-bold title">Sample Title</p>
      <p class="atlas-light context">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero suscipit iste porro minima molestias velit soluta debitis deleniti repudiandae ipsum ullam, harum sapiente dolor quibusdam quisquam quaerat quae cum earum. Magni nesciunt aliquam enim quaerat eos quasi optio exercitationem officia fugit deleniti iste natus officiis porro minus maxime cupiditate ut, in expedita recusandae deserunt. Officiis, saepe eum nihil illo cupiditate corporis ex! Cupiditate debitis, alias fuga porro vitae assumenda. Illum.</p>
    </div>

    <p class="atlas-light photo-by">Photo by: Marine Science Institute</p>
  </div>
</div>
