<app-nav></app-nav>
<div class="animate__animated animate__fadeIn animate__delay-1s">

  <div class="content">
    <div class="content-left">
      <span class="inter-bold title">
        Faculty
      </span>
      <div class="img-float"></div>
      <p style="font-size: 20px;" class="inter-medium">
        Regular
      </p>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Porfirio M. Aliño</p>
        <span class="inter-medium">Research Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Patrick C. Cabaitan</p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Cecilia G. Conaco</p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Laura T. David</p>
        <span class="inter-medium">Professor, Director</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Rachel June Ravago- Gotanco</p>
        <span class="inter-medium">Associate Professor, Deputy Director for Instruction</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Gil S. Jacinto</p>
        <span class="inter-medium">Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Caroline Marie B. Jaraula</p>
        <span class="inter-medium">Assistant Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Arturo O. Lluisma</p>
        <div style="line-height: 1.5; display: flex; flex-direction: column;">
          <span class="inter-medium">Research Professor</span>
          <span class="inter-medium">Program Director, Bioinformatics Program and Core Facility, Philippine Genome Center</span>
        </div>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Marie Antonette Juinio-Meñez</p>
        <span class="inter-medium">Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Deo Florence L. Onda</p>
        <span class="inter-medium">Associate Professor, Deputy Director for Research</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Cecilia G. Conaco</p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Ma. Josefa R. Pante</p>
        <span class="inter-medium">Research Associate Professor, Deputy Director for Bolinao Marine Laboratory</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Lilibeth A. Salvador- Reyes</p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Irene B. Rodriguez </p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Maria Vanessa B. Rodriguez</p>
        <span class="inter-medium">Assistant Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Michael Y. Roleda</p>
        <span class="inter-medium">Professor, Deputy Director for Facilities and Resources</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Wilfred John E. Santiañez</p>
        <span class="inter-medium">Assistant Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Fernando P. Siringan</p>
        <span class="inter-medium">Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Cesar L. Villanoy</p>
        <span class="inter-medium">Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Maria Helena T. Yap</p>
        <span class="inter-medium">Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Aletta T. Yñiguez</p>
        <span class="inter-medium">Associate Professor</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Eizadora T. Yu</p>
        <span class="inter-medium">Professor</span>
      </div>


      <p style="font-size: 20px;" class="inter-medium">
        Professors Emeriti
      </p>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Edgardo D. Gomez</p>
        <span class="inter-medium">Professor Emeritus and National Scientist</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Rhodora V. Azanza </p>
        <div style="line-height: 1.5; display: flex; flex-direction: column;">
          <span class="inter-medium">Professor Emeritus</span>
          <span class="inter-medium">President, National Academy of Science and Technology (NAST)</span>
        </div>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Edgardo D. Gomez</p>
        <span class="inter-medium">Professor Emeritus and National Scientist</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Lourdes J. Cruz</p>
        <span class="inter-medium">Professor Emeritus and National Scientist</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Gisela P. Concepcion.</p>
        <span class="inter-medium">Professor Emeritust</span>
      </div>

      <div style="line-height: 1.5;">
        <p class="inter-medium" style="color: #264d8e;">Maria Lourdes San Diego-McGlone</p>
        <span class="inter-medium">Professor Emeritust</span>
      </div>

      <p style="font-size: 20px;" class="inter-medium">
        Adjunct Professors
      </p>

      <div style="line-height: 1.5; display: flex; flex-direction: column; margin-top: 30px;">
        <span class="inter-medium">Margo Haygood</span>
        <span class="inter-medium">Adjunct Professor</span>
        <span class="inter-medium">Scripps Institution of Oceanography, University of California, San Diego </span>
      </div>

      <div style="line-height: 1.5; display: flex; flex-direction: column; margin-top: 30px;">
        <span class="inter-medium">Wilfredo Roehl Y. Licuanan</span>
        <span class="inter-medium">Professor</span>
        <span class="inter-medium">De La Salle University</span>
      </div>

      <div style="line-height: 1.5; display: flex; flex-direction: column; margin-top: 30px;">
        <span class="inter-medium">Baldomero M. Olivera</span>
        <span class="inter-medium">Distinguished Professor of Biology</span>
        <span class="inter-medium">University of Utah</span>
      </div>

      <div style="line-height: 1.5; display: flex; flex-direction: column; margin-top: 30px;">
        <span class="inter-medium">Eduardo E. Padlan</span>
        <span class="inter-medium">Research Physicist (retired)</span>
        <span class="inter-medium">US National Institutes of Health</span>
      </div>

      <div style="line-height: 1.5; display: flex; flex-direction: column; margin-top: 30px;">
        <span class="inter-medium">Wolfgang Reichardt</span>
        <span class="inter-medium">Visiting Scientist</span>
      </div>
    </div>
    <div class="content-right"></div>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
