<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content-header">
    <img src="../../../../assets/photos/about/faculty-banner.png">
    <div class="left-content">
      <p class="atlas-blackReg title">MSI FACULTY</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The faculty of the Marine Science Institute (MSI) are composed of residents, professors emeriti, and retired professors. As the University’s center for marine research, faculty members not only teach, but also conduct research across different marine specializations, including marine biology, marine chemistry, physical oceanography, marine genealogy,  and other related disciplines. They are lauded as among the best in the country, both in the academe and research community.
      </p>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">RESIDENT PROFESSORS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div *ngFor="let item of residentProf1" (click)="openDialog(item.name)">
            <p class="atlas-bold">{{item.name}}</p>
            <p class="atlas-light">{{item.label1}}</p>
            <p class="atlas-light">{{item.label2}}</p>
            <p class="atlas-light">{{item.label3}}</p>
            <p class="atlas-light">{{item.label4}}</p>
          </div>


        </div>

        <div class="right">
          <div *ngFor="let item of residentProf2" (click)="openDialog(item.name)">
            <p class="atlas-bold">{{item.name}}</p>
            <p class="atlas-light">{{item.label1}}</p>
            <p class="atlas-light">{{item.label2}}</p>
            <p class="atlas-light">{{item.label3}}</p>
            <p class="atlas-light">{{item.label4}}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">NATIONAL SCIENTISTS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div *ngFor="let item of nationalScientist">
            <div (click)="openDialog(item.name)">
              <p class="atlas-bold">{{item.name}}</p>
            </div>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState2 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">PROFESSORS EMERITI</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div *ngFor="let item of emeriti">
            <div (click)="openDialog(item.name)">
              <p class="atlas-bold">{{item.name}}</p>
            </div>
          </div>
        </div>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0 grad-offering" (opened)="panelOpenState3 = true"
        (closed)="panelOpenState3 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState3 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">ADJUNCT PROFESSOR</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">Wolfgang Reichardt</p>
            <p class="atlas-light">Visiting Scientist</p>
          </div>

        </div>
      </div>
    </mat-expansion-panel>


  </mat-accordion>

  <div class="where-next " (click)="gotoAdmin()">
    <span style="margin-top: 6px;">
      <p class="atlas-light" style="text-decoration: underline;">TO ADMINISTRATIVE OFFICE</p>
    </span>
    <mat-icon class="arrow">arrow_forward</mat-icon>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
