<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content-header">
    <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623341779/About/faculty/faculty-banner_qxm8bz.png">
    <div class="left-content">
      <p class="atlas-blackReg title">MSI FACULTY</p>
      <p class="atlas-light banner-content" style="line-height: 1.3;">
        The faculty of the UP Marine Science Institute (UP MSI) is composed of residents, professors emeriti, and retired professors. Several notable faculty have been lauded as National Scientists and academicians of the National Academy of Science and Technology (NAST). As the University’s center for marine research, faculty members not only teach, but also conduct research across different marine specializations, including marine biology, marine chemistry, physical oceanography, marine geology, and other related disciplines. They are considered to be among the best in the country, both in the academe and research community.
      </p>
    </div>
  </div>

  <p class="atlas-light mobile-content-banner">
    The faculty of the UP Marine Science Institute (UP MSI) is composed of residents, professors emeriti, and retired professors. Several notable faculty have been lauded as National Scientists and academicians of the National Academy of Science and Technology (NAST). As the University’s center for marine research, faculty members not only teach, but also conduct research across different marine specializations, including marine biology, marine chemistry, physical oceanography, marine geology, and other related disciplines. They are considered to be among the best in the country, both in the academe and research community.
  </p>

  <mat-accordion>
    <mat-expansion-panel id="panel-1" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">RESIDENT PROFESSORS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div *ngFor="let item of residentProf1" (click)="openDialog(item.name)">
            <p class="atlas-bold">{{item.name}}</p>
            <p class="atlas-light">{{item.label1}}</p>
            <p class="atlas-light">{{item.label2}}</p>
            <p class="atlas-light">{{item.label3}}</p>
            <p class="atlas-light">{{item.label4}}</p>
          </div>


        </div>

        <div class="right">
          <div *ngFor="let item of residentProf2" (click)="openDialog(item.name)">
            <p class="atlas-bold">{{item.name}}</p>
            <p class="atlas-light">{{item.label1}}</p>
            <p class="atlas-light">{{item.label2}}</p>
            <p class="atlas-light">{{item.label3}}</p>
            <p class="atlas-light">{{item.label4}}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="scrollUp($event)" id="panel-3" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState2 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">PROFESSORS EMERITI</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left2">
          <div *ngFor="let item of emeriti">
            <div (click)="openDialog(item.name)">
              <p class="atlas-bold">{{item.name}}</p>
            </div>
          </div>
        </div>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="scrollUp($event)" id="panel-2" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState1 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">NATIONAL SCIENTISTS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left2">
          <div *ngFor="let item of nationalScientist">
            <div (click)="openDialog(item.name)">
              <p class="atlas-bold">{{item.name}}</p>
            </div>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="scrollUp($event)" id="panel-5" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState4 = true"
        (closed)="panelOpenState4 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState4 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">RETIRED PROFESSORS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left2" style="margin-bottom: -2%;">
          <div>
            <div>
              <p class="atlas-bold">Miguel D. Fortes, Ph.D.</p>
            </div>
            <div>
              <p class="atlas-bold">Edna Ganzon-Fortes, Ph.D.</p>
            </div>
            <div (click)="openDialog('Gil S. Jacinto, Ph.D.')">
              <p class="atlas-bold">Gil S. Jacinto, Ph.D.</p>
            </div>
            <div>
              <p class="atlas-bold">Marco Nemesio E. Montaño, Ph.D.</p>
            </div>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="scrollUp($event)" id="panel-4" class="mat-elevation-z0 grad-offering" (opened)="panelOpenState3 = true"
        (closed)="panelOpenState3 = false">
      <mat-expansion-panel-header class="specific-class" [style.backgroundColor]="panelOpenState3 ? '#394e8a' : '#5ca361'">
      <mat-panel-title class="atlas-light panel-title">ADJUNCT PROFESSOR</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="regular-content">
        <div class="left">
          <div>
            <p class="atlas-bold">Wolfgang Reichardt</p>
            <p class="atlas-light">Visiting Scientist</p>
          </div>

        </div>
      </div>
    </mat-expansion-panel>


  </mat-accordion>

  <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s">
    <span class="arrow-text" routerLink="/About/admin">
      <p class="atlas-light"><span class="navi">TO ADMINISTRATIVE OFFICE</span> <span class="arrow">&rarr;</span></p>
    </span>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>
