.content{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content .content-left{
  width: 100%;
}

.content-left .title{
  font-size: 32px;
  color: #264d8e;
  height: 15%;
}

.content-left p{
  width: 100%;
  margin-top: 30px;
  line-height: 1.5;
}

/* .content .content-right{
  width: 40%;
  background-image: url(../../../assets/photos/news1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.img-float{
  height: 350px;
  width: 40%;
  background-image: url(../../../../assets/photos/news1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
