.container{
  margin: 0 120px;
  margin-top: 20px;
}

.content-header{
  height: 270px;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


mat-expansion-panel{
  margin-bottom: -20px;
}

.left-content{
  position: absolute;
  z-index: 1;
  bottom: 8px;
  left: 20px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  color: white;
  gap: 8px;
}

.title{
  font-size: 25px;
}

.panel-title{
  color: white;
  padding: 15px 0;
  font-size: 14px;
}

mat-expansion-panel{
  border-color: white;
  background-color: #fafafa;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.specific-class{
  border-radius: 50px;
}

.grad-offering{
  margin-top: 50px !important;
  padding: 0 170px;
}

.core-courses{
  height: 100%;
  margin-left: 20px;
  border-left: 3px solid #5da563;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.core-content{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.core-courses div{
  margin-left: 20px;
}

.closed-main-head{
  background-color: #384e8a;
  border-radius: 50px;
}

.regular-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.left{
  width: 50%;
}

.left div{
  margin-top: 10px
}

.right div{
  margin-top: 10px
}


.right{
  width: 50%;
}

.banner-content{
  font-size: 16px;
}

.where-next{
  font-size: 16px;
  text-align: end;
  color: #394e8a;
  margin-top: 100px;
}

.next-nav{
  text-align: end;
  color: #394e8a;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1466px){
  .container{
    margin: 0 130px;
    margin-top: 25px;
  }

  .content-header{
    height: 310px;
  }

  .title{
    font-size: 28px;
  }

  .left-content{
    width: 570px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .banner-content{
    font-size: 18px;
  }

  .grad-offering{
    margin-top: 60px !important;
    padding: 0 180px;
  }

  .panel-title{
    padding: 17px 5px;
    font-size: 16px;
  }

  mat-expansion-panel{
    margin-bottom: -25px;
  }

  .where-next{
    font-size: 18px;
    margin-top: 110px;
  }

  .next-nav{
    font-size: 18px;
    margin-top: 12px;
  }

  .regular-content{
    margin-left: 5px;
    font-size: 16px;
    margin-top: 16px;
  }

  .left div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .right div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@media (min-width: 1666px){
  .container{
    margin: 0 140px;
    margin-top: 30px;
  }

  .content-header{
    height: 350px;
  }

  .title{
    font-size: 31px;
  }

  .left-content{
    width: 640px;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .banner-content{
    font-size: 20px;
  }

  .grad-offering{
    margin-top: 70px !important;
    padding: 0 190px;
  }

  .panel-title{
    padding: 19px 15px;
    font-size: 18px;
  }

  mat-expansion-panel{
    margin-bottom: -30px;
  }

  .where-next{
    font-size: 20px;
    margin-top: 120px;
  }

  .next-nav{
    font-size: 20px;
    margin-top: 14px;
  }

  .regular-content{
    margin-left: 25px;
    font-size: 18px;
    margin-top: 16px;
  }

  .left div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .right div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@media (min-width: 1866px){
  .container{
    margin: 0 150px;
    margin-top: 35px;
  }

  .content-header{
    height: 390px;
  }

  .title{
    font-size: 34px;
  }

  .left-content{
    width: 710px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  .banner-content{
    font-size: 22px;
  }

  .grad-offering{
    margin-top: 80px !important;
    padding: 0 200px;
  }

  .panel-title{
    padding: 21px 20px;
    font-size: 20px;
  }

  mat-expansion-panel{
    margin-bottom: -35px;
  }

  .where-next{
    font-size: 22px;
    margin-top: 130px;
  }

  .next-nav{
    font-size: 22px;
    margin-top: 16px;
  }

  .regular-content{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 18px;
  }

  .left div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .right div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

@media (min-width: 2066px){
  .container{
    margin: 0 160px;
    margin-top: 40px;
  }

  .content-header{
    height: 430px;
  }

  .title{
    font-size: 37px;
  }

  .left-content{
    width: 780px;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .banner-content{
    font-size: 24px;
  }

  .grad-offering{
    margin-top: 90px !important;
    padding: 0 210px;
  }

  .panel-title{
    padding: 23px 25px;
    font-size: 22px;
  }

  mat-expansion-panel{
    margin-bottom: -40px;
  }

  .where-next{
    font-size: 24px;
    margin-top: 140px;
  }

  .next-nav{
    font-size: 24px;
    margin-top: 18px;
  }

  .regular-content{
    margin-left: 35px;
    font-size: 22px;
    margin-top: 21px;
  }

  .left div{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .right div{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

@media (min-width: 2266px){
  .container{
    margin: 0 170px;
    margin-top: 45px;
  }

  .content-header{
    height: 470px;
  }

  .title{
    font-size: 40px;
  }

  .left-content{
    width: 850px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }

  .banner-content{
    font-size: 26px;
  }

  .grad-offering{
    margin-top: 100px !important;
    padding: 0 220px;
  }

  .panel-title{
    padding: 25px 30px;
    font-size: 24px;
  }

  mat-expansion-panel{
    margin-bottom: -45px;
  }

  .where-next{
    font-size: 26px;
    margin-top: 150px;
  }

  .next-nav{
    font-size: 26px;
    margin-top: 20px;
  }

  .regular-content{
    margin-left: 40px;
    font-size: 24px;
    margin-top: 24px;
  }

  .left div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .right div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}

@media (min-width: 2466px){
  .container{
    margin: 0 180px;
    margin-top: 50px;
  }

  .content-header{
    height: 500px;
  }

  .title{
    font-size: 43px;
  }

  .left-content{
    width: 920px;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .banner-content{
    font-size: 28px;
  }

  .grad-offering{
    margin-top: 110px !important;
    padding: 0 230px;
  }

  .panel-title{
    padding: 27px 35px;
    font-size: 26px;
  }

  mat-expansion-panel{
    margin-bottom: -50px;
  }

  .where-next{
    font-size: 28px;
    margin-top: 160px;
  }

  .next-nav{
    font-size: 28px;
    margin-top: 22px;
  }

  .regular-content{
    margin-left: 45px;
    font-size: 26px;
    margin-top: 27px;
  }

  .left div{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .right div{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

}

@media (min-width: 2560px){
  .container{
    margin: 0 190px;
    margin-top: 55px;
  }

  .content-header{
    height: 540px;
  }

  .title{
    font-size: 46px;
  }

  .left-content{
    width: 990px;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
  }

  .banner-content{
    font-size: 30px;
  }

  .grad-offering{
    margin-top: 120px !important;
    padding: 0 240px;
  }

  .panel-title{
    padding: 30px 40px;
    font-size: 28px;
  }

  mat-expansion-panel{
    margin-bottom: -55px;
  }

  .where-next{
    font-size: 30px;
    margin-top: 170px;
  }

  .next-nav{
    font-size: 30px;
    margin-top: 24px;
  }

  .regular-content{
    margin-left: 50px;
    font-size: 28px;
    margin-top: 30px;
  }

  .left div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .right div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
