<div class="container">
  <div class="atlas-blackReg title border-green">LOCATION</div>
  <p class="atlas-light" style="line-height: 1.4; margin-top: 1.7%;">The location is the unused land of the University of the Philippines in Puerto Galera, Oriental Mindoro that is centrally located close to the port of Puerto Galera.</p>

  <div class="bml-complex">
    <img src="https://res.cloudinary.com/dqs7gg03v/image/upload/v1623688647/Facilities/Puerto-galera/10-footer-PG-station_flajr6.png">
    <div class="right-content1">
      <p class="atlas-blackReg title">FACULTY IN-CHARGE</p>
      <div class="contact-marg">
        <div style="display: flex;">
          <p class="atlas-light border-green2" style="cursor: pointer;" (click)="openDialog('Aletta T. Yñiguez, Ph.D.')">Dr. Aletta T. Yñiguez</p>
          <p class="atlas-light left-20">atyniguez@msi.upd.edu.ph</p>
        </div>
      </div>
      <p class="atlas-blackReg title" style="margin-top: 7%;">EXPLORE FURTHER</p>
      <div class="contact-marg">
        <p class="atlas-light">PG Station Facebook Page</p>
      </div>
    </div>
  </div>

</div>

