<div class="container">
  <div class="atlas-blackReg title border-green">LOCATION</div>
  <p class="atlas-light" style="line-height: 1.4; margin-top: 1.7%;">The location is the unused land of the University of the Philippines in Puerto Galera, Mindoro Occidental that is centrally located close to the port of Puerto Galera.</p>

  <div class="bml-complex">
    <img src="https://firebasestorage.googleapis.com/v0/b/upmsi-d03af.appspot.com/o/facilities%2Fpuerto%2F06-location.jpg?alt=media&token=1f35ca9e-c9db-41dd-8362-3a28a0c52873">

  </div>
</div>
