.title{
  font-size: 1.830vw;
}

.container{
  width: 73.206vw !important;
  position: relative;
}

.border-green{
  color: #394e8a;
  border-left: 0.293vw solid #5ca361;
  padding-left: 1.464vw;
}

.border-green2{
  border-right: 0.220vw solid #5ca361;
  padding-right: 1.464vw;
}

.left-20 {
  padding-left: 1.464vw;
}

.bml-complex{
  height: 21.962vw;
  margin-top: 2.196vw;
  overflow: hidden;
}

.bml-complex img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /*transition: transform .5s ease; commented out */
}

.content-header-contact{
  height: 16.105vw;
  position: relative;
  width: 73.206vw;
}

.contact-marg{
  margin-top: 1.464vw;
}


.bml-complex .right-content1{
  position: absolute;
  z-index: 1;
  left: 3.660vw;
  top: 45%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
}
