.container{
  margin: 0 120px;
  margin-top: 20px;
  font-size: 16px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-size: 25px;
}

.box-content{
  height: 300px;
  width: 1000px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
}

.highlights-content{
  margin-top: 5px;
  height: 280px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.highlights-content .top{
  height: 60%;
}

.highlights-content .top img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.left{
  width: 50%;
  overflow: hidden;
}

.left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.left img:hover{
  transform: scale(1.1);
}

.right{
  width: 50%;
  margin-left: 30px;
}


.bottom-content{
  margin-top: 20px;
  margin-bottom: -25px;
  line-height: 1.5;
  height: 100%;
  width: 1000px;
}


.more-vacancies{
  color: #384e8a;
  margin-top: 150px;
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.arrow{
  font-size: 30px;
  margin-left: 10px;
}


.read-more{
  color: #394e8a;
  cursor: pointer;
}

.read-more:hover{
  text-decoration: underline;
}

.footer{
  margin-top: 120px;
}

.center-box{
  display: grid;
  place-content: center;
  margin-top: 70px;
}

.center-box2{
  display: grid;
  place-content: center;
  margin-top: 20px;
}

.date{
  color: #394e8a;
  margin-top: 5px;
  padding-right: 20px;
  border-right: 3px solid #5ca361;
}

.location{
  color: #394e8a;
  margin-top: 5px;
  padding-left: 20px;
}

.history-content{
  font-size: 16px;
  margin-top: 15px;
}

.bottom-context{
  line-height: 1.4;
  margin-top: 10px;
}

.top-15{
  margin-top: 15px;
}

.onek-wid2{
  width: 1000px !important;
  height: 280px;
}

.highlights-marg{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 20px;
}

.highlights-title{
  color: #394e8a;
  border-left: 3px solid #5ca361;
  padding-left: 10px;
}

.top-10{
  margin-top: 10px;
}

.font-14{
  font-size: 14px;
}
@media (min-width: 1466px){
  .container{
    margin: 0 130px;
    margin-top: 25px;
    font-size: 18px;
  }

  .title{
    font-size: 28px;
  }

  .footer{
    margin-top: 130px;
  }

  .box-content{
    height: 350px;
    width: 1120px;
  }

  .right{
    margin-left: 35px;
  }

  .date{
    margin-top: 7px;
    padding-right: 25px;
    border-right: 4px solid #5ca361;
  }

  .location{
    margin-top: 7px;
    padding-left: 25px;
  }

  .history-content{
    font-size: 18px;
    margin-top: 20px;
  }

  .bottom-content{
    margin-top: 25px;
    width: 1120px;
  }

  .bottom-context{
    line-height: 1.4;
    margin-top: 10px;
  }

  .top-15{
    margin-top: 20px;
  }

  .highlights-content{
    margin-top: 7px;
    height: 340px;
    width: 350px;
  }

  .onek-wid2{
    width: 1120px !important;
    height: 350px;
  }

  .highlights-marg{
    margin-bottom: 15px;
    margin-top: 25px;
  }

  .highlights-title{
    border-left: 4px solid #5ca361;
    padding-left: 15px;
  }

  .top-10{
    margin-top: 15px;
  }

  .font-14{
    font-size: 16px;
  }

  .more-vacancies{
    margin-top: 160px;
    width: 1120px;
  }

  .arrow{
    font-size: 32px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 80px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 30px;
  }
}


@media (min-width: 1666px){
  .container{
    margin: 0 140px;
    margin-top: 30px;
    font-size: 20px;
  }

  .title{
    font-size: 31px;
  }

  .footer{
    margin-top: 140px;
  }

  .box-content{
    height: 400px;
    width: 1240px;
  }

  .right{
    margin-left: 40px;
  }

  .date{
    margin-top: 9px;
    padding-right: 30px;
    border-right: 4px solid #5ca361;
  }

  .location{
    margin-top: 9px;
    padding-left: 30px;
  }

  .history-content{
    font-size: 20px;
    margin-top: 25px;
  }

  .bottom-content{
    margin-top: 30px;
    width: 1240px;
  }

  .bottom-context{
    margin-top: 15px;
  }

  .top-15{
    margin-top: 25px;
  }


  .highlights-content{
    margin-top: 9px;
    height: 400px;
    width: 400px;
  }

  .onek-wid2{
    width: 1240px !important;
    height: 400px;
  }

  .highlights-marg{
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .highlights-title{
    border-left: 4px solid #5ca361;
    padding-left: 20px;
  }

  .top-10{
    margin-top: 20px;
  }

  .font-14{
    font-size: 18px;
  }

  .more-vacancies{
    margin-top: 170px;
    width: 1240px;
  }

  .arrow{
    font-size: 34px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 90px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 40px;
  }
}

@media (min-width: 1866px){
  .container{
    margin: 0 150px;
    margin-top: 35px;
    font-size: 22px;
  }

  .title{
    font-size: 34px;
  }

  .footer{
    margin-top: 150px;
  }

  .box-content{
    height: 450px;
    width: 1360px;
  }

  .right{
    margin-left: 45px;
  }

  .date{
    margin-top: 11px;
    padding-right: 35px;
    border-right: 5px solid #5ca361;
  }

  .location{
    margin-top: 11px;
    padding-left: 35px;
  }

  .history-content{
    font-size: 22px;
    margin-top: 30px;
  }

  .bottom-content{
    margin-top: 35px;
    width: 1360px;
  }

  .bottom-context{
    margin-top: 20px;
  }

  .top-15{
    margin-top: 30px;
  }

  .highlights-content{
    margin-top: 11px;
    height: 440px;
    width: 450px;
  }

  .onek-wid2{
    width: 1360px !important;
    height: 450px;
  }

  .highlights-marg{
    margin-bottom: 25px;
    margin-top: 35px;
  }

  .highlights-title{
    border-left: 5px solid #5ca361;
    padding-left: 25px;
  }

  .top-10{
    margin-top: 25px;
  }

  .font-14{
    font-size: 20px;
  }

  .more-vacancies{
    margin-top: 180px;
    width: 1360px;
  }

  .arrow{
    font-size: 36px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 100px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 50px;
  }
}


@media (min-width: 2066px){
  .container{
    margin: 0 160px;
    margin-top: 40px;
    font-size: 24px;
  }

  .title{
    font-size: 37px;
  }

  .footer{
    margin-top: 160px;
  }

  .box-content{
    height: 500px;
    width: 1480px;
  }

  .right{
    margin-left: 50px;
  }

  .date{
    margin-top: 13px;
    padding-right: 40px;
    border-right: 5px solid #5ca361;
  }

  .location{
    margin-top: 13px;
    padding-left: 40px;
  }

  .history-content{
    font-size: 24px;
    margin-top: 35px;
  }

  .bottom-content{
    margin-top: 40px;
    width: 1480px;
  }

  .bottom-context{
    margin-top: 25px;
  }

  .top-15{
    margin-top: 35px;
  }

  .highlights-content{
    margin-top: 13px;
    height: 480px;
    width: 500px;
  }

  .onek-wid2{
    width: 1480px !important;
    height: 500px;
  }

  .highlights-marg{
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .highlights-title{
    border-left: 5px solid #5ca361;
    padding-left: 30px;
  }

  .top-10{
    margin-top: 30px;
  }

  .font-14{
    font-size: 22px;
  }

  .more-vacancies{
    margin-top: 190px;
    width: 1480px;
  }

  .arrow{
    font-size: 38px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 110px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 60px;
  }
}


@media (min-width: 2266px){
  .container{
    margin: 0 170px;
    margin-top: 45px;
    font-size: 26px;
  }

  .title{
    font-size: 40px;
  }

  .footer{
    margin-top: 170px;
  }

  .box-content{
    height: 550px;
    width: 1600px;
  }

  .right{
    margin-left: 55px;
  }

  .date{
    margin-top: 15px;
    padding-right: 45px;
    border-right: 6px solid #5ca361;
  }

  .location{
    margin-top: 15px;
    padding-left: 45px;
  }

  .history-content{
    font-size: 26px;
    margin-top: 40px;
  }

  .bottom-content{
    margin-top: 45px;
    width: 1600px;
  }

  .bottom-context{
    margin-top: 30px;
  }

  .top-15{
    margin-top: 40px;
  }

  .highlights-content{
    margin-top: 15px;
    height: 520px;
    width: 550px;
  }

  .onek-wid2{
    width: 1600px !important;
    height: 560px;
  }

  .highlights-marg{
    margin-bottom: 35px;
    margin-top: 45px;
  }

  .highlights-title{
    border-left: 6px solid #5ca361;
    padding-left: 35px;
  }

  .top-10{
    margin-top: 35px;
  }

  .font-14{
    font-size: 24px;
  }

  .more-vacancies{
    margin-top: 200px;
    width: 1600px;
  }

  .arrow{
    font-size: 40px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 120px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 70px;
  }
}


@media (min-width: 2466px){
  .container{
    margin: 0 180px;
    margin-top: 50px;
    font-size: 28px;
  }

  .title{
    font-size: 43px;
  }

  .footer{
    margin-top: 180px;
  }

  .box-content{
    height: 600px;
    width: 1720px;
  }

  .right{
    margin-left: 60px;
  }

  .date{
    margin-top: 20px;
    padding-right: 50px;
    border-right: 7px solid #5ca361;
  }

  .location{
    margin-top: 20px;
    padding-left: 50px;
  }

  .history-content{
    font-size: 28px;
    margin-top: 45px;
  }

  .bottom-content{
    margin-top: 50px;
    width: 1720px;
  }

  .bottom-context{
    margin-top: 35px;
  }

  .top-15{
    margin-top: 45px;
  }

  .highlights-content{
    margin-top: 17px;
    height: 560px;
    width: 600px;
  }

  .onek-wid2{
    width: 1720px !important;
    height: 600px;
  }

  .highlights-marg{
    margin-bottom: 40px;
    margin-top: 50px;
  }

  .highlights-title{
    border-left: 7px solid #5ca361;
    padding-left: 40px;
  }

  .top-10{
    margin-top: 40px;
  }

  .font-14{
    font-size: 26px;
  }

  .more-vacancies{
    margin-top: 210px;
    width: 1720px;
  }

  .arrow{
    font-size: 42px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 130px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 80px;
  }
}


@media (min-width: 2560px){
  .container{
    margin: 0 190px;
    margin-top: 55px;
    font-size: 30px;
  }

  .title{
    font-size: 47px;
  }

  .footer{
    margin-top: 190px;
  }

  .box-content{
    height: 650px;
    width: 1840px;
  }

  .right{
    margin-left: 65px;
  }

  .date{
    margin-top: 25px;
    padding-right: 55px;
    border-right: 8px solid #5ca361;
  }

  .location{
    margin-top: 25px;
    padding-left: 55px;
  }

  .history-content{
    font-size: 30px;
    margin-top: 50px;
  }

  .bottom-content{
    margin-top: 55px;
    width: 1840px;
  }

  .bottom-context{
    margin-top: 40px;
  }

  .top-15{
    margin-top: 50px;
  }

  .highlights-content{
    margin-top: 19px;
    height: 600px;
    width: 650px;
  }

  .onek-wid2{
    width: 1840px !important;
    height: 640px;
  }

  .highlights-marg{
    margin-bottom: 45px;
    margin-top: 55px;
  }

  .highlights-title{
    border-left: 8px solid #5ca361;
    padding-left: 45px;
  }

  .top-10{
    margin-top: 45px;
  }

  .font-14{
    font-size: 28px;
  }

  .more-vacancies{
    margin-top: 220px;
    width: 1840px;
  }

  .arrow{
    font-size: 44px;
  }

  .center-box{
    display: grid;
    place-content: center;
    margin-top: 140px;
  }

  .center-box2{
    display: grid;
    place-content: center;
    margin-top: 90px;
  }
}
