<app-nav></app-nav>
<div class="animate__animated animate__fadeIn animate__delay-1s">

  <div class="content">
    <div class="content-left">
      <span class="inter-bold title">
        Bolinao Marine Laboratory
      </span>
      <div class="img-float"></div>
      <p class="inter-medium">
        Welcome to the UP Marine Science Institute's Bolinao Marine Laboratory
      </p>

      <p class="inter-medium">
        MThe Bolinao Marine Laboratory (BML) is the official marine station of the Marine
        Science Institute (MSI), University of the Philippines, Diliman. It is located in Bolinao,
        Pangasinan, Northwest of the Philippines. BML serves as a research base for the scientific
        activities of MSI’s senior staff, visiting scientists, graduate students, and other
        collaborating institutions. It is the focal point for coastal-based resource management
        activities involving the municipality of Bolinao and its adjacent areas.
      </p>

      <ul style="margin-left: 20px; margin-top: 30px; line-height: 1.3;">
        <li><strong style="color: #264d8e;">Bolinao Environment.</strong> The marine habitats and their threats.</li>
        <li><strong style="color: #264d8e;">Scientist in Action.</strong> A glimpse of the researchers and their science.</li>
      </ul>
    </div>
    <div class="content-right"></div>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
