<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <app-bolinao-header></app-bolinao-header>

  <div>
    <div class="center-box">
      <div class="box-content">
        <div class="left">
          <img src="https://res.cloudinary.com/upmsi/image/upload/v1628934170/Facilities/1%20Bolinao%20Marine%20Laboratory%20-%20Elements-20210527T051358Z-001/3-the-facility_sbvunx.jpg">
        </div>

        <div class="right"  style="display: flex; flex-direction: column; justify-content: space-between;">
          <div>

            <p class="atlas-blackReg title" style="color: #394e8a;">THE FACILITY</p>
            <div style="display: flex;">
              <p class="atlas-light date">1976-PRESENT</p>
              <p class="atlas-light location">BOLINAO, PANGASINAN</p>

            </div>
            <p class="atlas-light history-content">Bolinao’s rich marine ecosystem was surveyed as early as 1976 as part of a nationwide assessment of the status of Philippine reefs. The five-hectare site of the BML was donated by the Municipality of Bolinao to the University of the Philippines on November 9, 1983.</p>
            <p class="atlas-light font-16" style="margin-top: 2.7%;">Aside from the main laboratory building, BML also has a spacious dive locker, an administration building, two dormitories, one single housing unit, and 3 duplex units.</p>

          </div>
          <p class="atlas-bold read-more"(click)="readMore = true" *ngIf="!readMore">READ MORE</p>

        </div>

      </div>
    </div>

    <div style="display: grid; place-content: center;" *ngIf="readMore">
      <div class="bottom-content">
        <p class="atlas-light">In addition, an extensive hatchery facility serves as the site for various research activities. The Bolinao Marine Laboratory maintains outdoor culture facilities and experimental areas with flow-through seawater and continuous aeration, as well as facilities for micro-algae culture and temperature-controlled experiments.</p>
      </div>
      <br />
      <div class="bottom-content">
        <p class="atlas-light">Laboratories are equipped with analytical instruments and microscopes, microbiology and molecular biology facilities, scuba diving equipment, and small watercraft for fieldwork. The BML campus also has an on-site library, classrooms, conference facilities, and housing for students and researchers.</p>
      </div>
      <br />
      <div class="bottom-content">
        <p class="atlas-light">BML operations are partly supported by the University of the Philippines Diliman and by the research projects conducted on-site that receive funding from various local and international agencies. Regular maintenance of the BML campus is supported by fees from accommodations and rentals of equipment and facilities.</p>
      </div>
    </div>

    <div class="center-box">
      <app-bolinao-facilities></app-bolinao-facilities>
    </div>

    <div class="center-box">
      <app-bolinao-complex></app-bolinao-complex>
    </div>

    <div class="center-box">
      <div class="box-content">
        <div class="left">
          <img src="../../../../assets/photos/BML-photos/7-highlights.jpg">
        </div>

        <div class="right">

            <p class="atlas-blackReg title" style="color: #394e8a;">HIGHLIGHTS</p>
                <div style="display: flex;">
                  <p class="atlas-light highlight-envi">ENVIRONMENT</p>
                  <p class="atlas-light highlight-proj">PROJECT HIGHLIGHTS</p>

                </div>

            <p class="atlas-bold font-16" style="color: #394e8a;">Giant Clams live in fields at the Bolinao Marine Laboratory</p>
            <p class="atlas-light font-16" style="margin-top: 10px;">More commonly known as “taklobo” in Filipino, giant clams (Tridacna Gigas) with electric green, brown, and violet colors that are impossible to miss are being grown in the waters surrounding Silaqui Island, the northernmost tip of the town of Bolinao, Pangasinan.</p>
        </div>

      </div>
    </div>


    <div class="center-box2">
      <div class="onek-wid2">
        <div class="highlights-marg">
          <p class="atlas-bold highlights-title">HIGHLIGHTS PREVIEW</p> &nbsp;
        </div>
        <carousel
        [freeScroll]="true"
        [transitionTimingFunction]="'ease-in-out'"
        [transitionDuration]="'1000'"
        [height]="'100%'"
        [cellsToShow]="2"
        [cellsToScroll]="2"
        [cellWidth]="'100%'"
        [arrowsOutside]="true"
        [objectFit]="'cover'"
        [overflowCellsLimit]="1"
        [dots]="false"
        >

        <div class="carousel-cell" *ngFor="let item of photos1">

          <div class="highlights-content" (click)="openDialog(item.image, item['title'])">
            <div class="top">
              <img [src]="item.image" alt="">
            </div>
            <div class="top-10">
              <p class="atlas-light font-14 top-15" style="color: #394e8a;">{{item.lab}}</p>
              <p class="atlas-bold top-15" style="color: #394e8a; ">{{item.title}}</p>
            </div>
          </div>
        </div>

        </carousel>
      </div>
    </div>



    <div class="center-box">
      <app-bolinao-contact></app-bolinao-contact>
    </div>

    <div style="display: grid; place-content: center;">
      <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s" >
        <span class="arrow-text" (click)="gotoFacilities()">
          <p class="atlas-light"><span class="navi">TO PUERTO GALERA STATION</span> <span class="arrow">&rarr;</span></p>
        </span>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
