/* .container{
  height: 300px;
  width: 400px;
  background-color: black;
}

@media (max-width: 1920px){
  .container{
    background-color: red;
  }
}

@media (max-width: 1822px){
  .container{
    background-color: violet;
  }
}

@media (max-width: 1440px){
  .container{
    background-color: blue;
  }
}


@media (max-width: 1366px){
  .container{
    background-color: green;
  }
}
 */
