<app-nav></app-nav>
<div class="container animate__animated animate__fadeIn animate__delay-1s">
  <div class="content-header">
    <img src="../../../../assets/photos/BML-banner.jpg">
    <div class="left-content">
      <div>
        <p class="atlas-blackReg title">BOLINAO MARINE LABORATORY</p>
        <p class="atlas-bold">UP Marine Science Institute, Luciente I, Bolinao Panggasinan</p>
      </div>
      <p class="atlas-light" style="line-height: 1.4;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit est laborum aliquam quo natus porro
         culpa quod aut dolores fugit nostrum libero inventore accusamus quos assumenda nulla distinctio,
         quasi cum ducimus esse amet id tempora eveniet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci assumenda ex amet? Sit et voluptatem vero, quia est quo dolores beatae perspiciatis cumque optio soluta laboriosam, explicabo porro consequatur minima!
      </p>
    </div>
  </div>

  <div>
    <div style="display: grid; place-content: center; margin-top: 50px;">
      <div class="box-content">
        <div class="left">
          <img src="../../../../assets/photos/bolinao.jpg">
        </div>

        <div class="right">
          <p class="atlas-bold title" style="color: #394e8a;">HISTORY</p>
          <p class="atlas-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum illo ad minus labore perspiciatis, consequuntur distinctio eos nemo, aliquam rerum tempore doloribus unde? Eligendi at ullam ut aliquam. Sapiente, est atque? Ipsum aspernatur id vitae cum distinctio. Voluptatibus debitis placeat est ex labore quae repellat fuga earum, officiis consequuntur.</p>
          <p class="atlas-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure facilis et adipisci quaerat est laboriosam, temporibus doloremque hic fugit impedit itaque eaque similique quod nihil fugiat reprehenderit blanditiis quam aperiam ut deserunt molestias in consequatur! Earum exercitationem natus ullam perspiciatis. Quo dicta ad cum, repellat natus perspiciatis? Suscipit delectus ducimus minima velit accusantium, sed neque, illum sit illo quod repellendus excepturi recusandae commodi est. Culpa et aperiam, ea tempora nam unde qui obcaecati tempore temporibus, quasi exercitationem necessitatibus reprehenderit. obcaecati tempore temporibus, quasi exercitationem necessitatibus reprehenderit.
            <span class="atlas-bold" style="text-decoration: underline; color: #394e8a; cursor: pointer;" (click)="readMore = true" *ngIf="!readMore"> read more</span>
          </p>
        </div>

      </div>
    </div>
    <div style="display: grid; place-content: center;" *ngIf="readMore">
      <div class="bottom-content">
        <p class="atlas-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam voluptas placeat quae voluptatum commodi nostrum repudiandae debitis ducimus suscipit beatae animi, dolorum doloremque magnam cumque fugit nisi sint quia omnis id tempore ratione ipsum rerum eligendi! Libero similique voluptatem laborum eligendi provident, quaerat voluptatibus quos est commodi amet sequi animi!</p>
      </div>
    </div>

    <div style="display: grid; place-content: center;">
      <div class="facilities">
        <div class="faci-content">
          <div style="height: 146px;">
            <img src="../../../../assets/photos/r2.JPG">
          </div>
          <p class="atlas-bold" style="margin-top: 20px; color: #394e8a; margin-bottom: -5px;">{{faciContent[0].title}}</p>

          <p class="atlas-light" style="line-height: 1.3;">{{faciContent[0].content| slice:0:200}}<span style="cursor: pointer;">...</span></p>

        </div>

        <div class="faci-content">
          <div style="height: 146px;">
            <img src="../../../../assets/photos/r1.JPG">
          </div>
          <p class="atlas-bold" style="margin-top: 20px; color: #394e8a; margin-bottom: -5px;">{{faciContent[1].title}}</p>

          <p class="atlas-light" style="line-height: 1.3;">{{faciContent[1].content| slice:0:200}}<span style="cursor: pointer;">...</span></p>
        </div>

        <div class="faci-content">
          <div style="height: 146px;">
            <img src="../../../../assets/photos/r2.JPG">
          </div>
          <p class="atlas-bold" style="margin-top: 20px; color: #394e8a; margin-bottom: -5px;">{{faciContent[2].title}}</p>

          <p class="atlas-light" style="line-height: 1.3;">{{faciContent[2].content| slice:0:200}}<span style="cursor: pointer;">...</span></p>
        </div>
      </div>


    </div>

    <div style="display: grid; place-content: center; margin-top: 20px;">
      <div style="width: 820px;">
        <div style="display: flex; flex-direction: row; margin-bottom: 10px; margin-top: 20px;">
          <p class="atlas-bold title" (click)="allPhotos($event, photos1)" style="color: #394e8a;">FACILITIES</p> &nbsp;
          <p class="atlas-light" style="font-size: 15px; align-self: flex-end; margin-bottom: 3px;">({{photos1.length}} photos)</p>
        </div>
        <carousel
        [margin]="20"
        [freeScroll]="false"
        [transitionTimingFunction]="'ease-in-out'"
        [transitionDuration]="'1000'"
        [cellsToShow]="3"
        [cellsToScroll]="1"
        [cellWidth]="'100%'"
        [arrowsOutside]="true"
        [objectFit]="'cover'"
        [overflowCellsLimit]="1"
        [dots]="false"
        >
          <div class="carousel-cell" *ngFor="let item of photos1">
            <img [src]="item.image" alt="sample" (click)="openDialog(item.image)" matTooltip="Short info here" matTooltipPosition="below">
          </div>
        </carousel>
      </div>
    </div>

    <div style="display: grid; place-content: center;">
      <div class="content-header" style="width: 820px; height: 350px; margin-top: 50px;">
        <img src="../../../../assets/photos/contact-banner.jpg">
        <div class="left-content">
          <p class="atlas-bold title">CONTACT DETAILS</p>
          <p class="atlas-light">(075) 649 5740</p>
          <p class="atlas-light">bml@msi.edu.ph</p>
          <p class="atlas-light">fb/upbolinaomarinelab/</p>
        </div>
      </div>
    </div>

    <div style="display: grid; place-content: center;">
      <div class="more-vacancies animate__animated animate__fadeIn animate__delay-1s" (click)="gotoFacilities()">
        <mat-icon style="font-size: 30px;">arrow_forward</mat-icon>
        <span style="margin-top: 8px; text-decoration: underline;">
          <p class="atlas-light">MORE FACILITIES</p>
        </span>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 70px;">
  <app-footer></app-footer>
</div>
