<div class="content-header-contact">
  <div class="bml-complex">
    <img src="https://res.cloudinary.com/upmsi/image/upload/v1628146310/Facilities/1%20Bolinao%20Marine%20Laboratory%20-%20Elements-20210527T051358Z-001/7-contact-footer_pu6ahd.jpg">
    <div class="right-content1">
      <p class="atlas-blackReg title">EXPLORE FURTHER</p>
      <div class="contact-marg"  style="line-height: 1.5;">
        <a href="https://www.facebook.com/upbolinaomarinelab/" target="_blank" style="cursor: pointer;"><p class="atlas-light">BML Facebook Page</p></a>
        <a href="https://sites.google.com/a/msi.upd.edu.ph/bml/" target="_blank" style="cursor: pointer;"><p class="atlas-light">BML Website</p></a>
      </div>
      <div class="contact-marg">
        <p class="atlas-light"><span class="atlas-bold">Email:</span> bml@msi.upd.edu.ph</p>
        <p class="atlas-light"><span class="atlas-bold">Tel No:</span> (075)-649-5740</p>
      </div>
    </div>
  </div>
</div>
