<div class="content-header-contact">
  <div class="bml-complex">
    <img src="../../../../assets/photos/BML-photos/10-contacts.jpg">
    <div class="right-content1">
      <p class="atlas-blackReg title">EXPLORE FURTHER</p>
      <div class="contact-marg">
        <p class="atlas-bold">CONTACT US</p>
        <p class="atlas-light">(075) 649 5740</p>
        <p class="atlas-light">bml@msi.edu.ph</p>
        <p class="atlas-light">fb/upbolinaomarinelab/</p>
      </div>
    </div>
  </div>
</div>
