<div class="container">
  <div class="atlas-blackReg title border-green">INFRASTRACTURES AND FACILITIES</div>

  <div class="box-card">
    <div class="box-card-content">
      <div class="card" *ngFor="let item of instituteCont">
        <div class="left">
          <img [src]="item.img" />
        </div>
        <div class="right">
          <p class="atlas-bold" style="color: #384e8a;">{{item.title}}</p>
          <p class="card-content">{{item.content}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
